*.suo
*.user
*.ide-wal
*.lock
*.ide
*.ide-shm
*.zip
*.xml
*.crdata
_ReSharper.*
bin
obj
packages
ServerConfigZolian.json
Data
Data\*
game
game\*
Staging
Staging\*
*.vs
*.vs\*
.vs
vs
.git
git\*
*.7z
*.txt
