USE [ZolianAbilities]
GO
ALTER TABLE [dbo].[Skills] DROP CONSTRAINT [FK__Skills__Predicat__20ACD28B]
GO
ALTER TABLE [dbo].[Skills] DROP CONSTRAINT [DF__Skills__MaxLevel__23893F36]
GO
ALTER TABLE [dbo].[Skills] DROP CONSTRAINT [DF__Skills__MissAnim__22951AFD]
GO
ALTER TABLE [dbo].[Skills] DROP CONSTRAINT [DF__Skills__TargetAn__21A0F6C4]
GO
ALTER TABLE [dbo].[Skills] DROP CONSTRAINT [DF__Skills__LevelRat__1FB8AE52]
GO
ALTER TABLE [dbo].[Skills] DROP CONSTRAINT [DF__Skills__Sound__1EC48A19]
GO
ALTER TABLE [dbo].[Skills] DROP CONSTRAINT [DF__Skills__Cooldown__1DD065E0]
GO
ALTER TABLE [dbo].[Skills] DROP CONSTRAINT [DF__Skills__Icon__1CDC41A7]
GO
/****** Object:  Table [dbo].[Skills]    Script Date: 5/4/2023 1:14:35 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Skills]') AND type in (N'U'))
DROP TABLE [dbo].[Skills]
GO
/****** Object:  Table [dbo].[Skills]    Script Date: 5/4/2023 1:14:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skills](
	[SkillId] [int] NOT NULL,
	[Icon] [int] NOT NULL,
	[ScriptName] [varchar](20) NOT NULL,
	[Pane] [varchar](10) NOT NULL,
	[Cooldown] [int] NOT NULL,
	[Sound] [int] NOT NULL,
	[PostAttribute] [varchar](15) NOT NULL,
	[LevelRate] [decimal](6, 2) NOT NULL,
	[PredicateId] [int] NULL,
	[TargetAnimation] [int] NOT NULL,
	[MissAnimation] [int] NOT NULL,
	[MaxLevel] [int] NOT NULL,
	[FailMsg] [varchar](40) NULL,
	[NpcKey] [varchar](30) NULL,
	[SkillScope] [varchar](10) NOT NULL,
	[Description] [varchar](100) NULL,
	[DamageMod] [varchar](20) NULL,
 CONSTRAINT [PK__Skills__DFA091877C16AC27] PRIMARY KEY CLUSTERED 
(
	[SkillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Skills] SET (LOCK_ESCALATION = AUTO)
GO
INSERT [dbo].[Skills] ([SkillId], [Icon], [ScriptName], [Pane], [Cooldown], [Sound], [PostAttribute], [LevelRate], [PredicateId], [TargetAnimation], [MissAnimation], [MaxLevel], [FailMsg], [NpcKey], [SkillScope], [Description], [DamageMod]) VALUES (1, 1, N'Assail', N'Tools', 1, 1, N'Both', CAST(864.00 AS Decimal(6, 2)), 1, 0, 337, 100, N'', N'Neal', N'Assail', N'Basic attack, hitting 1 tile in front of you (Spacebar)', N'STR')
INSERT [dbo].[Skills] ([SkillId], [Icon], [ScriptName], [Pane], [Cooldown], [Sound], [PostAttribute], [LevelRate], [PredicateId], [TargetAnimation], [MissAnimation], [MaxLevel], [FailMsg], [NpcKey], [SkillScope], [Description], [DamageMod]) VALUES (2, 42, N'Ambush', N'Skills', 8, 126, N'BreakInvisible', CAST(108.00 AS Decimal(6, 2)), 2, 252, 337, 100, N'You can''t do that', N'Dredrick', N'Ability', N'Maneuver around your target and attack from behind', N'STR, DEX')
INSERT [dbo].[Skills] ([SkillId], [Icon], [ScriptName], [Pane], [Cooldown], [Sound], [PostAttribute], [LevelRate], [PredicateId], [TargetAnimation], [MissAnimation], [MaxLevel], [FailMsg], [NpcKey], [SkillScope], [Description], [DamageMod]) VALUES (3, 59, N'Claw Fist', N'Skills', 30, 21, N'None', CAST(100.00 AS Decimal(6, 2)), 3, 0, 337, 100, N'Failed', N'Dredrick', N'Ability', N'Concentrating Chi in your fists, it enhances your attacks by 1.3x', N'None')
GO
ALTER TABLE [dbo].[Skills] ADD  CONSTRAINT [DF__Skills__Icon__1CDC41A7]  DEFAULT ((0)) FOR [Icon]
GO
ALTER TABLE [dbo].[Skills] ADD  CONSTRAINT [DF__Skills__Cooldown__1DD065E0]  DEFAULT ((0)) FOR [Cooldown]
GO
ALTER TABLE [dbo].[Skills] ADD  CONSTRAINT [DF__Skills__Sound__1EC48A19]  DEFAULT ((0)) FOR [Sound]
GO
ALTER TABLE [dbo].[Skills] ADD  CONSTRAINT [DF__Skills__LevelRat__1FB8AE52]  DEFAULT ((0.00001)) FOR [LevelRate]
GO
ALTER TABLE [dbo].[Skills] ADD  CONSTRAINT [DF__Skills__TargetAn__21A0F6C4]  DEFAULT ((0)) FOR [TargetAnimation]
GO
ALTER TABLE [dbo].[Skills] ADD  CONSTRAINT [DF__Skills__MissAnim__22951AFD]  DEFAULT ((337)) FOR [MissAnimation]
GO
ALTER TABLE [dbo].[Skills] ADD  CONSTRAINT [DF__Skills__MaxLevel__23893F36]  DEFAULT ((100)) FOR [MaxLevel]
GO
ALTER TABLE [dbo].[Skills]  WITH CHECK ADD  CONSTRAINT [FK__Skills__Predicat__20ACD28B] FOREIGN KEY([PredicateId])
REFERENCES [dbo].[SkillsPrerequisites] ([PredicateId])
GO
ALTER TABLE [dbo].[Skills] CHECK CONSTRAINT [FK__Skills__Predicat__20ACD28B]
GO
