USE [ZolianAbilities]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] DROP CONSTRAINT [DF__SpellsPre__Stage__21C0F255]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] DROP CONSTRAINT [DF__SpellsPre__Spell__20CCCE1C]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] DROP CONSTRAINT [DF__SpellsPre__Skill__1FD8A9E3]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] DROP CONSTRAINT [DF__SpellsPrer__Gold__1EE485AA]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] DROP CONSTRAINT [DF__SpellsPre__Exper__1DF06171]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] DROP CONSTRAINT [DF__SpellsPre__Dexte__1CFC3D38]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] DROP CONSTRAINT [DF__SpellsPre__Const__1C0818FF]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] DROP CONSTRAINT [DF__SpellsPre__Wisdo__1B13F4C6]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] DROP CONSTRAINT [DF__SpellsPre__Intel__1A1FD08D]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] DROP CONSTRAINT [DF__SpellsPre__Stren__192BAC54]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] DROP CONSTRAINT [DF__SpellsPre__Item5__1837881B]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] DROP CONSTRAINT [DF__SpellsPre__Item4__174363E2]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] DROP CONSTRAINT [DF__SpellsPre__Item3__164F3FA9]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] DROP CONSTRAINT [DF__SpellsPre__Item2__155B1B70]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] DROP CONSTRAINT [DF__SpellsPre__Item1__1466F737]
GO
/****** Object:  Table [dbo].[SpellsPrerequisites]    Script Date: 5/4/2023 1:14:35 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SpellsPrerequisites]') AND type in (N'U'))
DROP TABLE [dbo].[SpellsPrerequisites]
GO
/****** Object:  Table [dbo].[SpellsPrerequisites]    Script Date: 5/4/2023 1:14:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpellsPrerequisites](
	[PredicateId] [int] NOT NULL,
	[Item1Name] [varchar](30) NULL,
	[Item1Qty] [int] NOT NULL,
	[Item2Name] [varchar](30) NULL,
	[Item2Qty] [int] NOT NULL,
	[Item3Name] [varchar](30) NULL,
	[Item3Qty] [int] NOT NULL,
	[Item4Name] [varchar](30) NULL,
	[Item4Qty] [int] NOT NULL,
	[Item5Name] [varchar](30) NULL,
	[Item5Qty] [int] NOT NULL,
	[DisplayName] [varchar](30) NOT NULL,
	[PrimaryClass] [varchar](10) NOT NULL,
	[SecondaryClass] [varchar](10) NOT NULL,
	[Race] [varchar](9) NULL,
	[Strength] [int] NOT NULL,
	[Intelligence] [int] NOT NULL,
	[Wisdom] [int] NOT NULL,
	[Constitution] [int] NOT NULL,
	[Dexterity] [int] NOT NULL,
	[Level] [int] NOT NULL,
	[Experience] [bigint] NOT NULL,
	[Gold] [int] NOT NULL,
	[SkillLevel] [int] NOT NULL,
	[SkillRequired] [varchar](30) NULL,
	[SpellLevel] [int] NOT NULL,
	[SpellRequired] [varchar](30) NULL,
	[Stage] [varchar](10) NOT NULL,
 CONSTRAINT [PK__SpellsPr__A98E6BBF34560FC8] PRIMARY KEY CLUSTERED 
(
	[PredicateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] SET (LOCK_ESCALATION = AUTO)
GO
INSERT [dbo].[SpellsPrerequisites] ([PredicateId], [Item1Name], [Item1Qty], [Item2Name], [Item2Qty], [Item3Name], [Item3Qty], [Item4Name], [Item4Qty], [Item5Name], [Item5Qty], [DisplayName], [PrimaryClass], [SecondaryClass], [Race], [Strength], [Intelligence], [Wisdom], [Constitution], [Dexterity], [Level], [Experience], [Gold], [SkillLevel], [SkillRequired], [SpellLevel], [SpellRequired], [Stage]) VALUES (1, N'', 0, N'', 0, N'', 0, N'', 0, N'', 0, N'Dion', N'Monk', N'Monk', N'UnDecided', 0, 25, 8, 0, 0, 11, 0, 5000, 0, N'', 0, N'', N'Class')
INSERT [dbo].[SpellsPrerequisites] ([PredicateId], [Item1Name], [Item1Qty], [Item2Name], [Item2Qty], [Item3Name], [Item3Qty], [Item4Name], [Item4Qty], [Item5Name], [Item5Qty], [DisplayName], [PrimaryClass], [SecondaryClass], [Race], [Strength], [Intelligence], [Wisdom], [Constitution], [Dexterity], [Level], [Experience], [Gold], [SkillLevel], [SkillRequired], [SpellLevel], [SpellRequired], [Stage]) VALUES (2, N'', 0, N'', 0, N'', 0, N'', 0, N'', 0, N'Aite', N'Cleric', N'Cleric', N'UnDecided', 5, 33, 33, 5, 5, 28, 0, 120000, 20, N'Assail', 50, N'Spectral Shield', N'Class')
INSERT [dbo].[SpellsPrerequisites] ([PredicateId], [Item1Name], [Item1Qty], [Item2Name], [Item2Qty], [Item3Name], [Item3Qty], [Item4Name], [Item4Qty], [Item5Name], [Item5Qty], [DisplayName], [PrimaryClass], [SecondaryClass], [Race], [Strength], [Intelligence], [Wisdom], [Constitution], [Dexterity], [Level], [Experience], [Gold], [SkillLevel], [SkillRequired], [SpellLevel], [SpellRequired], [Stage]) VALUES (3, N'', 0, N'', 0, N'', 0, N'', 0, N'', 0, N'Ao Ard Cradh', N'Cleric', N'Cleric', N'UnDecided', 37, 52, 60, 17, 37, 89, 0, 500000, 0, N'', 60, N'Ao Mor Cradh', N'Class')
GO
ALTER TABLE [dbo].[SpellsPrerequisites] ADD  CONSTRAINT [DF__SpellsPre__Item1__1466F737]  DEFAULT ((0)) FOR [Item1Qty]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] ADD  CONSTRAINT [DF__SpellsPre__Item2__155B1B70]  DEFAULT ((0)) FOR [Item2Qty]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] ADD  CONSTRAINT [DF__SpellsPre__Item3__164F3FA9]  DEFAULT ((0)) FOR [Item3Qty]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] ADD  CONSTRAINT [DF__SpellsPre__Item4__174363E2]  DEFAULT ((0)) FOR [Item4Qty]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] ADD  CONSTRAINT [DF__SpellsPre__Item5__1837881B]  DEFAULT ((0)) FOR [Item5Qty]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] ADD  CONSTRAINT [DF__SpellsPre__Stren__192BAC54]  DEFAULT ((0)) FOR [Strength]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] ADD  CONSTRAINT [DF__SpellsPre__Intel__1A1FD08D]  DEFAULT ((0)) FOR [Intelligence]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] ADD  CONSTRAINT [DF__SpellsPre__Wisdo__1B13F4C6]  DEFAULT ((0)) FOR [Wisdom]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] ADD  CONSTRAINT [DF__SpellsPre__Const__1C0818FF]  DEFAULT ((0)) FOR [Constitution]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] ADD  CONSTRAINT [DF__SpellsPre__Dexte__1CFC3D38]  DEFAULT ((0)) FOR [Dexterity]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] ADD  CONSTRAINT [DF__SpellsPre__Exper__1DF06171]  DEFAULT ((0)) FOR [Level]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] ADD  CONSTRAINT [DF__SpellsPrer__Gold__1EE485AA]  DEFAULT ((0)) FOR [Gold]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] ADD  CONSTRAINT [DF__SpellsPre__Skill__1FD8A9E3]  DEFAULT ((0)) FOR [SkillLevel]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] ADD  CONSTRAINT [DF__SpellsPre__Spell__20CCCE1C]  DEFAULT ((0)) FOR [SpellLevel]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] ADD  CONSTRAINT [DF__SpellsPre__Stage__21C0F255]  DEFAULT ((0)) FOR [Stage]
GO
