USE [ZolianAbilities]
GO
ALTER TABLE [dbo].[Spells] DROP CONSTRAINT [FK__Spells__Predicat__2E26C93A]
GO
ALTER TABLE [dbo].[Spells] DROP CONSTRAINT [DF__Spells__ManaCost__35C7EB02]
GO
ALTER TABLE [dbo].[Spells] DROP CONSTRAINT [DF__Spells__MaxLevel__34D3C6C9]
GO
ALTER TABLE [dbo].[Spells] DROP CONSTRAINT [DF__Spells__Animatio__33DFA290]
GO
ALTER TABLE [dbo].[Spells] DROP CONSTRAINT [DF__Spells__TargetAn__32EB7E57]
GO
ALTER TABLE [dbo].[Spells] DROP CONSTRAINT [DF__Spells__MaxLines__31F75A1E]
GO
ALTER TABLE [dbo].[Spells] DROP CONSTRAINT [DF__Spells__MinLines__310335E5]
GO
ALTER TABLE [dbo].[Spells] DROP CONSTRAINT [DF__Spells__BaseLine__300F11AC]
GO
ALTER TABLE [dbo].[Spells] DROP CONSTRAINT [DF__Spells__Element__2F1AED73]
GO
ALTER TABLE [dbo].[Spells] DROP CONSTRAINT [DF__Spells__LevelRat__2D32A501]
GO
ALTER TABLE [dbo].[Spells] DROP CONSTRAINT [DF__Spells__Sound__2C3E80C8]
GO
ALTER TABLE [dbo].[Spells] DROP CONSTRAINT [DF__Spells__Cooldown__2B4A5C8F]
GO
ALTER TABLE [dbo].[Spells] DROP CONSTRAINT [DF__Spells__Icon__2A563856]
GO
/****** Object:  Table [dbo].[Spells]    Script Date: 5/4/2023 1:14:35 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Spells]') AND type in (N'U'))
DROP TABLE [dbo].[Spells]
GO
/****** Object:  Table [dbo].[Spells]    Script Date: 5/4/2023 1:14:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Spells](
	[SpellId] [int] NOT NULL,
	[Icon] [int] NOT NULL,
	[ScriptName] [varchar](20) NOT NULL,
	[Pane] [varchar](10) NOT NULL,
	[Cooldown] [int] NOT NULL,
	[Sound] [int] NOT NULL,
	[PostAttribute] [varchar](15) NOT NULL,
	[LevelRate] [decimal](6, 2) NOT NULL,
	[PredicateId] [int] NULL,
	[Element] [varchar](7) NOT NULL,
	[BaseLines] [int] NOT NULL,
	[MinLines] [int] NOT NULL,
	[MaxLines] [int] NOT NULL,
	[TargetAnimation] [int] NOT NULL,
	[Animation] [int] NOT NULL,
	[MaxLevel] [int] NOT NULL,
	[ManaCost] [int] NOT NULL,
	[NpcKey] [varchar](30) NULL,
	[SpellScope] [varchar](15) NOT NULL,
	[Description] [varchar](100) NULL,
	[DamageMod] [varchar](40) NULL,
 CONSTRAINT [PK__Spells__52BE41BEDFF35065] PRIMARY KEY CLUSTERED 
(
	[SpellId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Spells] SET (LOCK_ESCALATION = AUTO)
GO
INSERT [dbo].[Spells] ([SpellId], [Icon], [ScriptName], [Pane], [Cooldown], [Sound], [PostAttribute], [LevelRate], [PredicateId], [Element], [BaseLines], [MinLines], [MaxLines], [TargetAnimation], [Animation], [MaxLevel], [ManaCost], [NpcKey], [SpellScope], [Description], [DamageMod]) VALUES (1, 40, N'Beag Srad', N'Spells', 1, 79, N'BreakInvisible', CAST(50.00 AS Decimal(6, 2)), 49, N'Fire', 0, 0, 9, 0, 12, 100, 25, N'Dar', N'ChooseTarget', N'Minor single target fire based spell', N'Exponent: 20 Mana: 25')
INSERT [dbo].[Spells] ([SpellId], [Icon], [ScriptName], [Pane], [Cooldown], [Sound], [PostAttribute], [LevelRate], [PredicateId], [Element], [BaseLines], [MinLines], [MaxLines], [TargetAnimation], [Animation], [MaxLevel], [ManaCost], [NpcKey], [SpellScope], [Description], [DamageMod]) VALUES (2, 46, N'Beag Sal', N'Spells', 1, 79, N'BreakInvisible', CAST(50.00 AS Decimal(6, 2)), 48, N'Water', 0, 0, 9, 0, 9, 100, 25, N'Dar', N'ChooseTarget', N'Minor single target water based spell', N'Exponent: 20 Mana: 25')
INSERT [dbo].[Spells] ([SpellId], [Icon], [ScriptName], [Pane], [Cooldown], [Sound], [PostAttribute], [LevelRate], [PredicateId], [Element], [BaseLines], [MinLines], [MaxLines], [TargetAnimation], [Animation], [MaxLevel], [ManaCost], [NpcKey], [SpellScope], [Description], [DamageMod]) VALUES (3, 43, N'Beag Athar', N'Spells', 1, 93, N'BreakInvisible', CAST(50.00 AS Decimal(6, 2)), 44, N'Wind', 0, 0, 9, 0, 15, 100, 25, N'Dar', N'ChooseTarget', N'Minor single target wind based spell', N'Exponent: 20 Mana: 25')
GO
ALTER TABLE [dbo].[Spells] ADD  CONSTRAINT [DF__Spells__Icon__2A563856]  DEFAULT ((0)) FOR [Icon]
GO
ALTER TABLE [dbo].[Spells] ADD  CONSTRAINT [DF__Spells__Cooldown__2B4A5C8F]  DEFAULT ((0)) FOR [Cooldown]
GO
ALTER TABLE [dbo].[Spells] ADD  CONSTRAINT [DF__Spells__Sound__2C3E80C8]  DEFAULT ((0)) FOR [Sound]
GO
ALTER TABLE [dbo].[Spells] ADD  CONSTRAINT [DF__Spells__LevelRat__2D32A501]  DEFAULT ((0.00001)) FOR [LevelRate]
GO
ALTER TABLE [dbo].[Spells] ADD  CONSTRAINT [DF__Spells__Element__2F1AED73]  DEFAULT ('None') FOR [Element]
GO
ALTER TABLE [dbo].[Spells] ADD  CONSTRAINT [DF__Spells__BaseLine__300F11AC]  DEFAULT ((1)) FOR [BaseLines]
GO
ALTER TABLE [dbo].[Spells] ADD  CONSTRAINT [DF__Spells__MinLines__310335E5]  DEFAULT ((0)) FOR [MinLines]
GO
ALTER TABLE [dbo].[Spells] ADD  CONSTRAINT [DF__Spells__MaxLines__31F75A1E]  DEFAULT ((9)) FOR [MaxLines]
GO
ALTER TABLE [dbo].[Spells] ADD  CONSTRAINT [DF__Spells__TargetAn__32EB7E57]  DEFAULT ((0)) FOR [TargetAnimation]
GO
ALTER TABLE [dbo].[Spells] ADD  CONSTRAINT [DF__Spells__Animatio__33DFA290]  DEFAULT ((337)) FOR [Animation]
GO
ALTER TABLE [dbo].[Spells] ADD  CONSTRAINT [DF__Spells__MaxLevel__34D3C6C9]  DEFAULT ((100)) FOR [MaxLevel]
GO
ALTER TABLE [dbo].[Spells] ADD  CONSTRAINT [DF__Spells__ManaCost__35C7EB02]  DEFAULT ((250)) FOR [ManaCost]
GO
ALTER TABLE [dbo].[Spells]  WITH CHECK ADD  CONSTRAINT [FK__Spells__Predicat__2E26C93A] FOREIGN KEY([PredicateId])
REFERENCES [dbo].[SpellsPrerequisites] ([PredicateId])
GO
ALTER TABLE [dbo].[Spells] CHECK CONSTRAINT [FK__Spells__Predicat__2E26C93A]
GO
