USE [ZolianPlayers]
GO
/****** Object:  StoredProcedure [dbo].[SelectPlayer]    Script Date: 5/4/2023 1:28:31 AM ******/
DROP PROCEDURE [dbo].[SelectPlayer]
GO
/****** Object:  StoredProcedure [dbo].[SelectPlayer]    Script Date: 5/4/2023 1:28:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelectPlayer]
@Name NVARCHAR (12)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT [Serial],
           [Created],
           [Username],
           [PasswordAttempts],
           [Hacked],
           [LoggedIn],
           [LastLogged],
           [LastIP],
           [LastAttemptIP],
           [X],
           [Y],
           [CurrentMapId],
           [OffenseElement],
           [DefenseElement],
           [SecondaryOffensiveElement],
           [SecondaryDefensiveElement],
           [Direction],
           [CurrentHp],
           [BaseHp],
           [CurrentMp],
           [BaseMp],
           [_ac],
           [_Regen],
           [_Dmg],
           [_Hit],
           [_Mr],
           [_Str],
           [_Int],
           [_Wis],
           [_Con],
           [_Dex],
           [_Luck],
           [AbpLevel],
           [AbpNext],
           [AbpTotal],
           [ExpLevel],
           [ExpNext],
           [ExpTotal],
           [Stage],
           [Path],
           [PastClass],
           [Race],
           [Afflictions],
           [Gender],
           [HairColor],
           [HairStyle],
           [OldColor],
           [OldStyle],
           [NameColor],
           [ProfileMessage],
           [Nation],
           [Clan],
           [ClanRank],
           [ClanTitle],
           [AnimalForm],
           [MonsterForm],
           [ActiveStatus],
           [Flags],
           [CurrentWeight],
           [World],
           [Lantern],
           [Invisible],
           [Resting],
           [FireImmunity],
           [WaterImmunity],
           [WindImmunity],
           [EarthImmunity],
           [LightImmunity],
           [DarkImmunity],
           [PoisonImmunity],
           [EnticeImmunity],
           [PartyStatus],
           [RaceSkill],
           [RaceSpell],
           [GameMaster],
           [ArenaHost],
           [Developer],
           [Ranger],
           [Knight],
           [GoldPoints],
           [StatPoints],
           [GamePoints],
           [BankedGold],
           [ArmorImg],
           [HelmetImg],
           [ShieldImg],
           [WeaponImg],
           [BootsImg],
           [HeadAccessory1Img],
           [HeadAccessory2Img],
           [OverCoatImg],
           [BootColor],
           [OverCoatColor],
           [Pants],
           [Aegis],
           [Bleeding],
           [Spikes],
           [Rending],
           [Reaping],
           [Vampirism],
           [Haste],
           [Gust],
           [Quake],
           [Rain],
           [Flame],
           [Dusk],
           [Dawn]
    FROM   [ZolianPlayers].[dbo].[Players]
    WHERE  Username = @Name;
END

GO
