USE [ZolianMaps]
GO
/****** Object:  Table [dbo].[Maps]    Script Date: 5/23/2023 9:06:40 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Maps]') AND type in (N'U'))
DROP TABLE [dbo].[Maps]
GO
/****** Object:  Table [dbo].[Maps]    Script Date: 5/23/2023 9:06:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Maps](
	[Id] [int] NOT NULL,
	[MapId] [int] NOT NULL,
	[Flags] [varchar](20) NOT NULL,
	[Music] [int] NOT NULL,
	[mRows] [int] NOT NULL,
	[mCols] [int] NOT NULL,
	[ScriptKey] [varchar](20) NULL,
	[Name] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Maps] SET (LOCK_ESCALATION = AUTO)
GO
INSERT [dbo].[Maps] ([Id], [MapId], [Flags], [Music], [mRows], [mCols], [ScriptKey], [Name]) VALUES (0, 0, N'Default', 4, 20, 20, N'Generic Area', N'Crypt Chief Room')
INSERT [dbo].[Maps] ([Id], [MapId], [Flags], [Music], [mRows], [mCols], [ScriptKey], [Name]) VALUES (1, 1, N'Default', 2, 50, 50, N'Generic Area', N'Mileth Crypt 1')
INSERT [dbo].[Maps] ([Id], [MapId], [Flags], [Music], [mRows], [mCols], [ScriptKey], [Name]) VALUES (2, 2, N'Default', 2, 50, 50, N'Generic Area', N'Mileth Crypt 2-1')
GO
