USE [ZolianMaps]
GO
ALTER TABLE [dbo].[Warps] DROP CONSTRAINT [DF_Warps_PortalKey]
GO
/****** Object:  Table [dbo].[Warps]    Script Date: 5/4/2023 1:15:19 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Warps]') AND type in (N'U'))
DROP TABLE [dbo].[Warps]
GO
/****** Object:  Table [dbo].[Warps]    Script Date: 5/4/2023 1:15:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Warps](
	[Id] [int] NOT NULL,
	[CurrentArea] [int] NOT NULL,
	[NextArea] [int] NOT NULL,
	[CALocationX_1] [int] NOT NULL,
	[CALocationY_1] [int] NOT NULL,
	[CALocationX_2] [int] NULL,
	[CALocationY_2] [int] NULL,
	[CALocationX_3] [int] NULL,
	[CALocationY_3] [int] NULL,
	[CALocationX_4] [int] NULL,
	[CALocationY_4] [int] NULL,
	[CALocationX_5] [int] NULL,
	[CALocationY_5] [int] NULL,
	[CALocationX_6] [int] NULL,
	[CALocationY_6] [int] NULL,
	[CALocationX_7] [int] NULL,
	[CALocationY_7] [int] NULL,
	[NALocationX_1] [int] NULL,
	[NALocationY_1] [int] NULL,
	[LevelRequired] [int] NOT NULL,
	[WarpType] [varchar](5) NOT NULL,
	[PortalKey] [int] NOT NULL,
 CONSTRAINT [PK_Warps] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Warps] SET (LOCK_ESCALATION = AUTO)
GO
INSERT [dbo].[Warps] ([Id], [CurrentArea], [NextArea], [CALocationX_1], [CALocationY_1], [CALocationX_2], [CALocationY_2], [CALocationX_3], [CALocationY_3], [CALocationX_4], [CALocationY_4], [CALocationX_5], [CALocationY_5], [CALocationX_6], [CALocationY_6], [CALocationX_7], [CALocationY_7], [NALocationX_1], [NALocationY_1], [LevelRequired], [WarpType], [PortalKey]) VALUES (1, 3014, 502, 9, 21, 10, 21, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 28, 2, 1, N'Map', 0)
INSERT [dbo].[Warps] ([Id], [CurrentArea], [NextArea], [CALocationX_1], [CALocationY_1], [CALocationX_2], [CALocationY_2], [CALocationX_3], [CALocationY_3], [CALocationX_4], [CALocationY_4], [CALocationX_5], [CALocationY_5], [CALocationX_6], [CALocationY_6], [CALocationX_7], [CALocationY_7], [NALocationX_1], [NALocationY_1], [LevelRequired], [WarpType], [PortalKey]) VALUES (2, 502, 3014, 28, 0, 29, 0, 30, 0, 0, 0, 0, 0, 0, 0, 0, 0, 10, 20, 1, N'Map', 0)
INSERT [dbo].[Warps] ([Id], [CurrentArea], [NextArea], [CALocationX_1], [CALocationY_1], [CALocationX_2], [CALocationY_2], [CALocationX_3], [CALocationY_3], [CALocationX_4], [CALocationY_4], [CALocationX_5], [CALocationY_5], [CALocationX_6], [CALocationY_6], [CALocationX_7], [CALocationY_7], [NALocationX_1], [NALocationY_1], [LevelRequired], [WarpType], [PortalKey]) VALUES (3, 502, 183, 24, 8, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 6, 13, 1, N'Map', 0)
GO
ALTER TABLE [dbo].[Warps] ADD  CONSTRAINT [DF_Warps_PortalKey]  DEFAULT ((0)) FOR [PortalKey]
GO
