USE [ZolianMundanes]
GO
ALTER TABLE [dbo].[Tutorial] DROP CONSTRAINT [DF__Tutorial__Direct__00DF2177]
GO
ALTER TABLE [dbo].[Tutorial] DROP CONSTRAINT [DF__Tutorial__Y__7FEAFD3E]
GO
ALTER TABLE [dbo].[Tutorial] DROP CONSTRAINT [DF__Tutorial__X__7EF6D905]
GO
ALTER TABLE [dbo].[Tutorial] DROP CONSTRAINT [DF__Tutorial__Enable__7E02B4CC]
GO
ALTER TABLE [dbo].[Tutorial] DROP CONSTRAINT [DF__Tutorial__Enable__7D0E9093]
GO
ALTER TABLE [dbo].[Tutorial] DROP CONSTRAINT [DF__Tutorial__Enable__7C1A6C5A]
GO
ALTER TABLE [dbo].[Tutorial] DROP CONSTRAINT [DF__Tutorial__Image__7B264821]
GO
ALTER TABLE [dbo].[TempleofLight] DROP CONSTRAINT [DF__TempleofL__Direc__5E8A0973]
GO
ALTER TABLE [dbo].[TempleofLight] DROP CONSTRAINT [DF__TempleofLight__Y__5D95E53A]
GO
ALTER TABLE [dbo].[TempleofLight] DROP CONSTRAINT [DF__TempleofLight__X__5CA1C101]
GO
ALTER TABLE [dbo].[TempleofLight] DROP CONSTRAINT [DF__TempleofL__Enabl__5BAD9CC8]
GO
ALTER TABLE [dbo].[TempleofLight] DROP CONSTRAINT [DF__TempleofL__Enabl__5AB9788F]
GO
ALTER TABLE [dbo].[TempleofLight] DROP CONSTRAINT [DF__TempleofL__Enabl__59C55456]
GO
ALTER TABLE [dbo].[TempleofLight] DROP CONSTRAINT [DF__TempleofL__Image__58D1301D]
GO
ALTER TABLE [dbo].[Tagor] DROP CONSTRAINT [DF__Tagor__Direction__477199F1]
GO
ALTER TABLE [dbo].[Tagor] DROP CONSTRAINT [DF__Tagor__Y__467D75B8]
GO
ALTER TABLE [dbo].[Tagor] DROP CONSTRAINT [DF__Tagor__X__4589517F]
GO
ALTER TABLE [dbo].[Tagor] DROP CONSTRAINT [DF__Tagor__EnableSpe__44952D46]
GO
ALTER TABLE [dbo].[Tagor] DROP CONSTRAINT [DF__Tagor__EnableTur__43A1090D]
GO
ALTER TABLE [dbo].[Tagor] DROP CONSTRAINT [DF__Tagor__EnableWal__42ACE4D4]
GO
ALTER TABLE [dbo].[Tagor] DROP CONSTRAINT [DF__Tagor__Image__41B8C09B]
GO
ALTER TABLE [dbo].[Rucesion] DROP CONSTRAINT [DF__Rucesion__Direct__29E1370A]
GO
ALTER TABLE [dbo].[Rucesion] DROP CONSTRAINT [DF__Rucesion__Y__28ED12D1]
GO
ALTER TABLE [dbo].[Rucesion] DROP CONSTRAINT [DF__Rucesion__X__27F8EE98]
GO
ALTER TABLE [dbo].[Rucesion] DROP CONSTRAINT [DF__Rucesion__Enable__2704CA5F]
GO
ALTER TABLE [dbo].[Rucesion] DROP CONSTRAINT [DF__Rucesion__Enable__2610A626]
GO
ALTER TABLE [dbo].[Rucesion] DROP CONSTRAINT [DF__Rucesion__Enable__251C81ED]
GO
ALTER TABLE [dbo].[Rucesion] DROP CONSTRAINT [DF__Rucesion__Image__24285DB4]
GO
ALTER TABLE [dbo].[Rionnag] DROP CONSTRAINT [DF__Rionnag__Directi__5A846E65]
GO
ALTER TABLE [dbo].[Rionnag] DROP CONSTRAINT [DF__Rionnag__Y__59904A2C]
GO
ALTER TABLE [dbo].[Rionnag] DROP CONSTRAINT [DF__Rionnag__X__589C25F3]
GO
ALTER TABLE [dbo].[Rionnag] DROP CONSTRAINT [DF__Rionnag__EnableS__57A801BA]
GO
ALTER TABLE [dbo].[Rionnag] DROP CONSTRAINT [DF__Rionnag__EnableT__56B3DD81]
GO
ALTER TABLE [dbo].[Rionnag] DROP CONSTRAINT [DF__Rionnag__EnableW__55BFB948]
GO
ALTER TABLE [dbo].[Rionnag] DROP CONSTRAINT [DF__Rionnag__Image__54CB950F]
GO
ALTER TABLE [dbo].[Piet] DROP CONSTRAINT [DF__Piet__Direction__16CE6296]
GO
ALTER TABLE [dbo].[Piet] DROP CONSTRAINT [DF__Piet__Y__15DA3E5D]
GO
ALTER TABLE [dbo].[Piet] DROP CONSTRAINT [DF__Piet__X__14E61A24]
GO
ALTER TABLE [dbo].[Piet] DROP CONSTRAINT [DF__Piet__EnableSpee__13F1F5EB]
GO
ALTER TABLE [dbo].[Piet] DROP CONSTRAINT [DF__Piet__EnableTurn__12FDD1B2]
GO
ALTER TABLE [dbo].[Piet] DROP CONSTRAINT [DF__Piet__EnableWalk__1209AD79]
GO
ALTER TABLE [dbo].[Piet] DROP CONSTRAINT [DF__Piet__Image__11158940]
GO
ALTER TABLE [dbo].[Mileth] DROP CONSTRAINT [DF__Mileth__Directio__114A936A]
GO
ALTER TABLE [dbo].[Mileth] DROP CONSTRAINT [DF__Mileth__Y__10566F31]
GO
ALTER TABLE [dbo].[Mileth] DROP CONSTRAINT [DF__Mileth__X__0F624AF8]
GO
ALTER TABLE [dbo].[Mileth] DROP CONSTRAINT [DF__Mileth__EnableSp__0E6E26BF]
GO
ALTER TABLE [dbo].[Mileth] DROP CONSTRAINT [DF__Mileth__EnableTu__0D7A0286]
GO
ALTER TABLE [dbo].[Mileth] DROP CONSTRAINT [DF__Mileth__EnableWa__0C85DE4D]
GO
ALTER TABLE [dbo].[Mileth] DROP CONSTRAINT [DF__Mileth__Image__0B91BA14]
GO
ALTER TABLE [dbo].[Mehadi] DROP CONSTRAINT [DF__Mehadi__Directio__6319B466]
GO
ALTER TABLE [dbo].[Mehadi] DROP CONSTRAINT [DF__Mehadi__Y__6225902D]
GO
ALTER TABLE [dbo].[Mehadi] DROP CONSTRAINT [DF__Mehadi__X__61316BF4]
GO
ALTER TABLE [dbo].[Mehadi] DROP CONSTRAINT [DF__Mehadi__EnableSp__603D47BB]
GO
ALTER TABLE [dbo].[Mehadi] DROP CONSTRAINT [DF__Mehadi__EnableTu__5F492382]
GO
ALTER TABLE [dbo].[Mehadi] DROP CONSTRAINT [DF__Mehadi__EnableWa__5E54FF49]
GO
ALTER TABLE [dbo].[Mehadi] DROP CONSTRAINT [DF__Mehadi__Image__5D60DB10]
GO
ALTER TABLE [dbo].[Generic] DROP CONSTRAINT [DF__Generic__Directi__4D5F7D71]
GO
ALTER TABLE [dbo].[Generic] DROP CONSTRAINT [DF__Generic__Y__4C6B5938]
GO
ALTER TABLE [dbo].[Generic] DROP CONSTRAINT [DF__Generic__X__4B7734FF]
GO
ALTER TABLE [dbo].[Generic] DROP CONSTRAINT [DF__Generic__EnableS__4A8310C6]
GO
ALTER TABLE [dbo].[Generic] DROP CONSTRAINT [DF__Generic__EnableT__498EEC8D]
GO
ALTER TABLE [dbo].[Generic] DROP CONSTRAINT [DF__Generic__EnableW__489AC854]
GO
ALTER TABLE [dbo].[Generic] DROP CONSTRAINT [DF__Generic__Image__47A6A41B]
GO
ALTER TABLE [dbo].[Arena] DROP CONSTRAINT [DF__Arena__Direction__3CF40B7E]
GO
ALTER TABLE [dbo].[Arena] DROP CONSTRAINT [DF__Arena__Y__3BFFE745]
GO
ALTER TABLE [dbo].[Arena] DROP CONSTRAINT [DF__Arena__X__3B0BC30C]
GO
ALTER TABLE [dbo].[Arena] DROP CONSTRAINT [DF__Arena__EnableSpe__3A179ED3]
GO
ALTER TABLE [dbo].[Arena] DROP CONSTRAINT [DF__Arena__EnableTur__39237A9A]
GO
ALTER TABLE [dbo].[Arena] DROP CONSTRAINT [DF__Arena__EnableWal__382F5661]
GO
ALTER TABLE [dbo].[Arena] DROP CONSTRAINT [DF__Arena__Image__373B3228]
GO
ALTER TABLE [dbo].[Abel] DROP CONSTRAINT [DF__Abel__Direction__339FAB6E]
GO
ALTER TABLE [dbo].[Abel] DROP CONSTRAINT [DF__Abel__Y__32AB8735]
GO
ALTER TABLE [dbo].[Abel] DROP CONSTRAINT [DF__Abel__X__31B762FC]
GO
ALTER TABLE [dbo].[Abel] DROP CONSTRAINT [DF__Abel__EnableSpee__30C33EC3]
GO
ALTER TABLE [dbo].[Abel] DROP CONSTRAINT [DF__Abel__EnableTurn__2FCF1A8A]
GO
ALTER TABLE [dbo].[Abel] DROP CONSTRAINT [DF__Abel__EnableWalk__2EDAF651]
GO
ALTER TABLE [dbo].[Abel] DROP CONSTRAINT [DF__Abel__Image__2DE6D218]
GO
/****** Object:  Table [dbo].[Tutorial]    Script Date: 6/3/2023 11:04:01 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Tutorial]') AND type in (N'U'))
DROP TABLE [dbo].[Tutorial]
GO
/****** Object:  Table [dbo].[TempleofLight]    Script Date: 6/3/2023 11:04:01 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TempleofLight]') AND type in (N'U'))
DROP TABLE [dbo].[TempleofLight]
GO
/****** Object:  Table [dbo].[Tagor]    Script Date: 6/3/2023 11:04:01 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Tagor]') AND type in (N'U'))
DROP TABLE [dbo].[Tagor]
GO
/****** Object:  Table [dbo].[Rucesion]    Script Date: 6/3/2023 11:04:01 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Rucesion]') AND type in (N'U'))
DROP TABLE [dbo].[Rucesion]
GO
/****** Object:  Table [dbo].[Rionnag]    Script Date: 6/3/2023 11:04:01 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Rionnag]') AND type in (N'U'))
DROP TABLE [dbo].[Rionnag]
GO
/****** Object:  Table [dbo].[Piet]    Script Date: 6/3/2023 11:04:01 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Piet]') AND type in (N'U'))
DROP TABLE [dbo].[Piet]
GO
/****** Object:  Table [dbo].[Mileth]    Script Date: 6/3/2023 11:04:01 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Mileth]') AND type in (N'U'))
DROP TABLE [dbo].[Mileth]
GO
/****** Object:  Table [dbo].[Mehadi]    Script Date: 6/3/2023 11:04:01 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Mehadi]') AND type in (N'U'))
DROP TABLE [dbo].[Mehadi]
GO
/****** Object:  Table [dbo].[Generic]    Script Date: 6/3/2023 11:04:01 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Generic]') AND type in (N'U'))
DROP TABLE [dbo].[Generic]
GO
/****** Object:  Table [dbo].[Arena]    Script Date: 6/3/2023 11:04:01 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Arena]') AND type in (N'U'))
DROP TABLE [dbo].[Arena]
GO
/****** Object:  Table [dbo].[Abel]    Script Date: 6/3/2023 11:04:01 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Abel]') AND type in (N'U'))
DROP TABLE [dbo].[Abel]
GO
/****** Object:  Table [dbo].[Abel]    Script Date: 6/3/2023 11:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Abel](
	[MundaneId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ScriptKey] [varchar](20) NOT NULL,
	[EnableWalking] [bit] NOT NULL,
	[EnableTurning] [bit] NOT NULL,
	[EnableSpeech] [bit] NOT NULL,
	[SpeechOne] [varchar](80) NULL,
	[SpeechTwo] [varchar](80) NULL,
	[SpeechThree] [varchar](80) NULL,
	[SpeechFour] [varchar](80) NULL,
	[SpeechFive] [varchar](80) NULL,
	[X] [int] NOT NULL,
	[Y] [int] NOT NULL,
	[AreaId] [int] NOT NULL,
	[Direction] [int] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[DefaultStock1] [varchar](30) NULL,
	[DefaultStock2] [varchar](30) NULL,
	[DefaultStock3] [varchar](30) NULL,
	[DefaultStock4] [varchar](30) NULL,
	[DefaultStock5] [varchar](30) NULL,
	[DefaultStock6] [varchar](30) NULL,
	[DefaultStock7] [varchar](30) NULL,
	[DefaultStock8] [varchar](30) NULL,
	[DefaultStock9] [varchar](30) NULL,
	[DefaultStock10] [varchar](30) NULL,
	[DefaultStock11] [varchar](30) NULL,
	[DefaultStock12] [varchar](30) NULL,
	[DefaultStock13] [varchar](30) NULL,
	[DefaultStock14] [varchar](30) NULL,
	[DefaultStock15] [varchar](30) NULL,
	[DefaultStock16] [varchar](30) NULL,
	[DefaultStock17] [varchar](30) NULL,
	[DefaultStock18] [varchar](30) NULL,
	[DefaultStock19] [varchar](30) NULL,
	[DefaultStock20] [varchar](30) NULL,
	[DefaultStock21] [varchar](30) NULL,
	[DefaultStock22] [varchar](30) NULL,
	[DefaultStock23] [varchar](30) NULL,
	[DefaultStock24] [varchar](30) NULL,
	[DefaultStock25] [varchar](30) NULL,
	[DefaultStock26] [varchar](30) NULL,
	[DefaultStock27] [varchar](30) NULL,
	[DefaultStock28] [varchar](30) NULL,
	[DefaultStock29] [varchar](30) NULL,
	[DefaultStock30] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MundaneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Abel] SET (LOCK_ESCALATION = AUTO)
GO
/****** Object:  Table [dbo].[Arena]    Script Date: 6/3/2023 11:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Arena](
	[MundaneId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ScriptKey] [varchar](20) NOT NULL,
	[EnableWalking] [bit] NOT NULL,
	[EnableTurning] [bit] NOT NULL,
	[EnableSpeech] [bit] NOT NULL,
	[SpeechOne] [varchar](80) NULL,
	[SpeechTwo] [varchar](80) NULL,
	[SpeechThree] [varchar](80) NULL,
	[SpeechFour] [varchar](80) NULL,
	[SpeechFive] [varchar](80) NULL,
	[X] [int] NOT NULL,
	[Y] [int] NOT NULL,
	[AreaId] [int] NOT NULL,
	[Direction] [int] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[DefaultStock1] [varchar](30) NULL,
	[DefaultStock2] [varchar](30) NULL,
	[DefaultStock3] [varchar](30) NULL,
	[DefaultStock4] [varchar](30) NULL,
	[DefaultStock5] [varchar](30) NULL,
	[DefaultStock6] [varchar](30) NULL,
	[DefaultStock7] [varchar](30) NULL,
	[DefaultStock8] [varchar](30) NULL,
	[DefaultStock9] [varchar](30) NULL,
	[DefaultStock10] [varchar](30) NULL,
	[DefaultStock11] [varchar](30) NULL,
	[DefaultStock12] [varchar](30) NULL,
	[DefaultStock13] [varchar](30) NULL,
	[DefaultStock14] [varchar](30) NULL,
	[DefaultStock15] [varchar](30) NULL,
	[DefaultStock16] [varchar](30) NULL,
	[DefaultStock17] [varchar](30) NULL,
	[DefaultStock18] [varchar](30) NULL,
	[DefaultStock19] [varchar](30) NULL,
	[DefaultStock20] [varchar](30) NULL,
	[DefaultStock21] [varchar](30) NULL,
	[DefaultStock22] [varchar](30) NULL,
	[DefaultStock23] [varchar](30) NULL,
	[DefaultStock24] [varchar](30) NULL,
	[DefaultStock25] [varchar](30) NULL,
	[DefaultStock26] [varchar](30) NULL,
	[DefaultStock27] [varchar](30) NULL,
	[DefaultStock28] [varchar](30) NULL,
	[DefaultStock29] [varchar](30) NULL,
	[DefaultStock30] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MundaneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Generic]    Script Date: 6/3/2023 11:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Generic](
	[MundaneId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ScriptKey] [varchar](20) NOT NULL,
	[EnableWalking] [bit] NOT NULL,
	[EnableTurning] [bit] NOT NULL,
	[EnableSpeech] [bit] NOT NULL,
	[SpeechOne] [varchar](80) NULL,
	[SpeechTwo] [varchar](80) NULL,
	[SpeechThree] [varchar](80) NULL,
	[SpeechFour] [varchar](80) NULL,
	[SpeechFive] [varchar](80) NULL,
	[X] [int] NOT NULL,
	[Y] [int] NOT NULL,
	[AreaId] [int] NOT NULL,
	[Direction] [int] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[DefaultStock1] [varchar](30) NULL,
	[DefaultStock2] [varchar](30) NULL,
	[DefaultStock3] [varchar](30) NULL,
	[DefaultStock4] [varchar](30) NULL,
	[DefaultStock5] [varchar](30) NULL,
	[DefaultStock6] [varchar](30) NULL,
	[DefaultStock7] [varchar](30) NULL,
	[DefaultStock8] [varchar](30) NULL,
	[DefaultStock9] [varchar](30) NULL,
	[DefaultStock10] [varchar](30) NULL,
	[DefaultStock11] [varchar](30) NULL,
	[DefaultStock12] [varchar](30) NULL,
	[DefaultStock13] [varchar](30) NULL,
	[DefaultStock14] [varchar](30) NULL,
	[DefaultStock15] [varchar](30) NULL,
	[DefaultStock16] [varchar](30) NULL,
	[DefaultStock17] [varchar](30) NULL,
	[DefaultStock18] [varchar](30) NULL,
	[DefaultStock19] [varchar](30) NULL,
	[DefaultStock20] [varchar](30) NULL,
	[DefaultStock21] [varchar](30) NULL,
	[DefaultStock22] [varchar](30) NULL,
	[DefaultStock23] [varchar](30) NULL,
	[DefaultStock24] [varchar](30) NULL,
	[DefaultStock25] [varchar](30) NULL,
	[DefaultStock26] [varchar](30) NULL,
	[DefaultStock27] [varchar](30) NULL,
	[DefaultStock28] [varchar](30) NULL,
	[DefaultStock29] [varchar](30) NULL,
	[DefaultStock30] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MundaneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Generic] SET (LOCK_ESCALATION = AUTO)
GO
/****** Object:  Table [dbo].[Mehadi]    Script Date: 6/3/2023 11:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mehadi](
	[MundaneId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ScriptKey] [varchar](20) NOT NULL,
	[EnableWalking] [bit] NOT NULL,
	[EnableTurning] [bit] NOT NULL,
	[EnableSpeech] [bit] NOT NULL,
	[SpeechOne] [varchar](80) NULL,
	[SpeechTwo] [varchar](80) NULL,
	[SpeechThree] [varchar](80) NULL,
	[SpeechFour] [varchar](80) NULL,
	[SpeechFive] [varchar](80) NULL,
	[X] [int] NOT NULL,
	[Y] [int] NOT NULL,
	[AreaId] [int] NOT NULL,
	[Direction] [int] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[DefaultStock1] [varchar](30) NULL,
	[DefaultStock2] [varchar](30) NULL,
	[DefaultStock3] [varchar](30) NULL,
	[DefaultStock4] [varchar](30) NULL,
	[DefaultStock5] [varchar](30) NULL,
	[DefaultStock6] [varchar](30) NULL,
	[DefaultStock7] [varchar](30) NULL,
	[DefaultStock8] [varchar](30) NULL,
	[DefaultStock9] [varchar](30) NULL,
	[DefaultStock10] [varchar](30) NULL,
	[DefaultStock11] [varchar](30) NULL,
	[DefaultStock12] [varchar](30) NULL,
	[DefaultStock13] [varchar](30) NULL,
	[DefaultStock14] [varchar](30) NULL,
	[DefaultStock15] [varchar](30) NULL,
	[DefaultStock16] [varchar](30) NULL,
	[DefaultStock17] [varchar](30) NULL,
	[DefaultStock18] [varchar](30) NULL,
	[DefaultStock19] [varchar](30) NULL,
	[DefaultStock20] [varchar](30) NULL,
	[DefaultStock21] [varchar](30) NULL,
	[DefaultStock22] [varchar](30) NULL,
	[DefaultStock23] [varchar](30) NULL,
	[DefaultStock24] [varchar](30) NULL,
	[DefaultStock25] [varchar](30) NULL,
	[DefaultStock26] [varchar](30) NULL,
	[DefaultStock27] [varchar](30) NULL,
	[DefaultStock28] [varchar](30) NULL,
	[DefaultStock29] [varchar](30) NULL,
	[DefaultStock30] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MundaneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Mehadi] SET (LOCK_ESCALATION = AUTO)
GO
/****** Object:  Table [dbo].[Mileth]    Script Date: 6/3/2023 11:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mileth](
	[MundaneId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ScriptKey] [varchar](20) NOT NULL,
	[EnableWalking] [bit] NOT NULL,
	[EnableTurning] [bit] NOT NULL,
	[EnableSpeech] [bit] NOT NULL,
	[SpeechOne] [varchar](80) NULL,
	[SpeechTwo] [varchar](80) NULL,
	[SpeechThree] [varchar](80) NULL,
	[SpeechFour] [varchar](80) NULL,
	[SpeechFive] [varchar](80) NULL,
	[X] [int] NOT NULL,
	[Y] [int] NOT NULL,
	[AreaId] [int] NOT NULL,
	[Direction] [int] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[DefaultStock1] [varchar](30) NULL,
	[DefaultStock2] [varchar](30) NULL,
	[DefaultStock3] [varchar](30) NULL,
	[DefaultStock4] [varchar](30) NULL,
	[DefaultStock5] [varchar](30) NULL,
	[DefaultStock6] [varchar](30) NULL,
	[DefaultStock7] [varchar](30) NULL,
	[DefaultStock8] [varchar](30) NULL,
	[DefaultStock9] [varchar](30) NULL,
	[DefaultStock10] [varchar](30) NULL,
	[DefaultStock11] [varchar](30) NULL,
	[DefaultStock12] [varchar](30) NULL,
	[DefaultStock13] [varchar](30) NULL,
	[DefaultStock14] [varchar](30) NULL,
	[DefaultStock15] [varchar](30) NULL,
	[DefaultStock16] [varchar](30) NULL,
	[DefaultStock17] [varchar](30) NULL,
	[DefaultStock18] [varchar](30) NULL,
	[DefaultStock19] [varchar](30) NULL,
	[DefaultStock20] [varchar](30) NULL,
	[DefaultStock21] [varchar](30) NULL,
	[DefaultStock22] [varchar](30) NULL,
	[DefaultStock23] [varchar](30) NULL,
	[DefaultStock24] [varchar](30) NULL,
	[DefaultStock25] [varchar](30) NULL,
	[DefaultStock26] [varchar](30) NULL,
	[DefaultStock27] [varchar](30) NULL,
	[DefaultStock28] [varchar](30) NULL,
	[DefaultStock29] [varchar](30) NULL,
	[DefaultStock30] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MundaneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Mileth] SET (LOCK_ESCALATION = AUTO)
GO
/****** Object:  Table [dbo].[Piet]    Script Date: 6/3/2023 11:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Piet](
	[MundaneId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ScriptKey] [varchar](20) NOT NULL,
	[EnableWalking] [bit] NOT NULL,
	[EnableTurning] [bit] NOT NULL,
	[EnableSpeech] [bit] NOT NULL,
	[SpeechOne] [varchar](80) NULL,
	[SpeechTwo] [varchar](80) NULL,
	[SpeechThree] [varchar](80) NULL,
	[SpeechFour] [varchar](80) NULL,
	[SpeechFive] [varchar](80) NULL,
	[X] [int] NOT NULL,
	[Y] [int] NOT NULL,
	[AreaId] [int] NOT NULL,
	[Direction] [int] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[DefaultStock1] [varchar](30) NULL,
	[DefaultStock2] [varchar](30) NULL,
	[DefaultStock3] [varchar](30) NULL,
	[DefaultStock4] [varchar](30) NULL,
	[DefaultStock5] [varchar](30) NULL,
	[DefaultStock6] [varchar](30) NULL,
	[DefaultStock7] [varchar](30) NULL,
	[DefaultStock8] [varchar](30) NULL,
	[DefaultStock9] [varchar](30) NULL,
	[DefaultStock10] [varchar](30) NULL,
	[DefaultStock11] [varchar](30) NULL,
	[DefaultStock12] [varchar](30) NULL,
	[DefaultStock13] [varchar](30) NULL,
	[DefaultStock14] [varchar](30) NULL,
	[DefaultStock15] [varchar](30) NULL,
	[DefaultStock16] [varchar](30) NULL,
	[DefaultStock17] [varchar](30) NULL,
	[DefaultStock18] [varchar](30) NULL,
	[DefaultStock19] [varchar](30) NULL,
	[DefaultStock20] [varchar](30) NULL,
	[DefaultStock21] [varchar](30) NULL,
	[DefaultStock22] [varchar](30) NULL,
	[DefaultStock23] [varchar](30) NULL,
	[DefaultStock24] [varchar](30) NULL,
	[DefaultStock25] [varchar](30) NULL,
	[DefaultStock26] [varchar](30) NULL,
	[DefaultStock27] [varchar](30) NULL,
	[DefaultStock28] [varchar](30) NULL,
	[DefaultStock29] [varchar](30) NULL,
	[DefaultStock30] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MundaneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rionnag]    Script Date: 6/3/2023 11:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rionnag](
	[MundaneId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ScriptKey] [varchar](20) NOT NULL,
	[EnableWalking] [bit] NOT NULL,
	[EnableTurning] [bit] NOT NULL,
	[EnableSpeech] [bit] NOT NULL,
	[SpeechOne] [varchar](80) NULL,
	[SpeechTwo] [varchar](80) NULL,
	[SpeechThree] [varchar](80) NULL,
	[SpeechFour] [varchar](80) NULL,
	[SpeechFive] [varchar](80) NULL,
	[X] [int] NOT NULL,
	[Y] [int] NOT NULL,
	[AreaId] [int] NOT NULL,
	[Direction] [int] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[DefaultStock1] [varchar](30) NULL,
	[DefaultStock2] [varchar](30) NULL,
	[DefaultStock3] [varchar](30) NULL,
	[DefaultStock4] [varchar](30) NULL,
	[DefaultStock5] [varchar](30) NULL,
	[DefaultStock6] [varchar](30) NULL,
	[DefaultStock7] [varchar](30) NULL,
	[DefaultStock8] [varchar](30) NULL,
	[DefaultStock9] [varchar](30) NULL,
	[DefaultStock10] [varchar](30) NULL,
	[DefaultStock11] [varchar](30) NULL,
	[DefaultStock12] [varchar](30) NULL,
	[DefaultStock13] [varchar](30) NULL,
	[DefaultStock14] [varchar](30) NULL,
	[DefaultStock15] [varchar](30) NULL,
	[DefaultStock16] [varchar](30) NULL,
	[DefaultStock17] [varchar](30) NULL,
	[DefaultStock18] [varchar](30) NULL,
	[DefaultStock19] [varchar](30) NULL,
	[DefaultStock20] [varchar](30) NULL,
	[DefaultStock21] [varchar](30) NULL,
	[DefaultStock22] [varchar](30) NULL,
	[DefaultStock23] [varchar](30) NULL,
	[DefaultStock24] [varchar](30) NULL,
	[DefaultStock25] [varchar](30) NULL,
	[DefaultStock26] [varchar](30) NULL,
	[DefaultStock27] [varchar](30) NULL,
	[DefaultStock28] [varchar](30) NULL,
	[DefaultStock29] [varchar](30) NULL,
	[DefaultStock30] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MundaneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Rionnag] SET (LOCK_ESCALATION = AUTO)
GO
/****** Object:  Table [dbo].[Rucesion]    Script Date: 6/3/2023 11:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rucesion](
	[MundaneId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ScriptKey] [varchar](20) NOT NULL,
	[EnableWalking] [bit] NOT NULL,
	[EnableTurning] [bit] NOT NULL,
	[EnableSpeech] [bit] NOT NULL,
	[SpeechOne] [varchar](80) NULL,
	[SpeechTwo] [varchar](80) NULL,
	[SpeechThree] [varchar](80) NULL,
	[SpeechFour] [varchar](80) NULL,
	[SpeechFive] [varchar](80) NULL,
	[X] [int] NOT NULL,
	[Y] [int] NOT NULL,
	[AreaId] [int] NOT NULL,
	[Direction] [int] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[DefaultStock1] [varchar](30) NULL,
	[DefaultStock2] [varchar](30) NULL,
	[DefaultStock3] [varchar](30) NULL,
	[DefaultStock4] [varchar](30) NULL,
	[DefaultStock5] [varchar](30) NULL,
	[DefaultStock6] [varchar](30) NULL,
	[DefaultStock7] [varchar](30) NULL,
	[DefaultStock8] [varchar](30) NULL,
	[DefaultStock9] [varchar](30) NULL,
	[DefaultStock10] [varchar](30) NULL,
	[DefaultStock11] [varchar](30) NULL,
	[DefaultStock12] [varchar](30) NULL,
	[DefaultStock13] [varchar](30) NULL,
	[DefaultStock14] [varchar](30) NULL,
	[DefaultStock15] [varchar](30) NULL,
	[DefaultStock16] [varchar](30) NULL,
	[DefaultStock17] [varchar](30) NULL,
	[DefaultStock18] [varchar](30) NULL,
	[DefaultStock19] [varchar](30) NULL,
	[DefaultStock20] [varchar](30) NULL,
	[DefaultStock21] [varchar](30) NULL,
	[DefaultStock22] [varchar](30) NULL,
	[DefaultStock23] [varchar](30) NULL,
	[DefaultStock24] [varchar](30) NULL,
	[DefaultStock25] [varchar](30) NULL,
	[DefaultStock26] [varchar](30) NULL,
	[DefaultStock27] [varchar](30) NULL,
	[DefaultStock28] [varchar](30) NULL,
	[DefaultStock29] [varchar](30) NULL,
	[DefaultStock30] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MundaneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tagor]    Script Date: 6/3/2023 11:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tagor](
	[MundaneId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ScriptKey] [varchar](20) NOT NULL,
	[EnableWalking] [bit] NOT NULL,
	[EnableTurning] [bit] NOT NULL,
	[EnableSpeech] [bit] NOT NULL,
	[SpeechOne] [varchar](80) NULL,
	[SpeechTwo] [varchar](80) NULL,
	[SpeechThree] [varchar](80) NULL,
	[SpeechFour] [varchar](80) NULL,
	[SpeechFive] [varchar](80) NULL,
	[X] [int] NOT NULL,
	[Y] [int] NOT NULL,
	[AreaId] [int] NOT NULL,
	[Direction] [int] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[DefaultStock1] [varchar](30) NULL,
	[DefaultStock2] [varchar](30) NULL,
	[DefaultStock3] [varchar](30) NULL,
	[DefaultStock4] [varchar](30) NULL,
	[DefaultStock5] [varchar](30) NULL,
	[DefaultStock6] [varchar](30) NULL,
	[DefaultStock7] [varchar](30) NULL,
	[DefaultStock8] [varchar](30) NULL,
	[DefaultStock9] [varchar](30) NULL,
	[DefaultStock10] [varchar](30) NULL,
	[DefaultStock11] [varchar](30) NULL,
	[DefaultStock12] [varchar](30) NULL,
	[DefaultStock13] [varchar](30) NULL,
	[DefaultStock14] [varchar](30) NULL,
	[DefaultStock15] [varchar](30) NULL,
	[DefaultStock16] [varchar](30) NULL,
	[DefaultStock17] [varchar](30) NULL,
	[DefaultStock18] [varchar](30) NULL,
	[DefaultStock19] [varchar](30) NULL,
	[DefaultStock20] [varchar](30) NULL,
	[DefaultStock21] [varchar](30) NULL,
	[DefaultStock22] [varchar](30) NULL,
	[DefaultStock23] [varchar](30) NULL,
	[DefaultStock24] [varchar](30) NULL,
	[DefaultStock25] [varchar](30) NULL,
	[DefaultStock26] [varchar](30) NULL,
	[DefaultStock27] [varchar](30) NULL,
	[DefaultStock28] [varchar](30) NULL,
	[DefaultStock29] [varchar](30) NULL,
	[DefaultStock30] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MundaneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TempleofLight]    Script Date: 6/3/2023 11:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TempleofLight](
	[MundaneId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ScriptKey] [varchar](20) NOT NULL,
	[EnableWalking] [bit] NOT NULL,
	[EnableTurning] [bit] NOT NULL,
	[EnableSpeech] [bit] NOT NULL,
	[SpeechOne] [varchar](80) NULL,
	[SpeechTwo] [varchar](80) NULL,
	[SpeechThree] [varchar](80) NULL,
	[SpeechFour] [varchar](80) NULL,
	[SpeechFive] [varchar](80) NULL,
	[X] [int] NOT NULL,
	[Y] [int] NOT NULL,
	[AreaId] [int] NOT NULL,
	[Direction] [int] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[DefaultStock1] [varchar](30) NULL,
	[DefaultStock2] [varchar](30) NULL,
	[DefaultStock3] [varchar](30) NULL,
	[DefaultStock4] [varchar](30) NULL,
	[DefaultStock5] [varchar](30) NULL,
	[DefaultStock6] [varchar](30) NULL,
	[DefaultStock7] [varchar](30) NULL,
	[DefaultStock8] [varchar](30) NULL,
	[DefaultStock9] [varchar](30) NULL,
	[DefaultStock10] [varchar](30) NULL,
	[DefaultStock11] [varchar](30) NULL,
	[DefaultStock12] [varchar](30) NULL,
	[DefaultStock13] [varchar](30) NULL,
	[DefaultStock14] [varchar](30) NULL,
	[DefaultStock15] [varchar](30) NULL,
	[DefaultStock16] [varchar](30) NULL,
	[DefaultStock17] [varchar](30) NULL,
	[DefaultStock18] [varchar](30) NULL,
	[DefaultStock19] [varchar](30) NULL,
	[DefaultStock20] [varchar](30) NULL,
	[DefaultStock21] [varchar](30) NULL,
	[DefaultStock22] [varchar](30) NULL,
	[DefaultStock23] [varchar](30) NULL,
	[DefaultStock24] [varchar](30) NULL,
	[DefaultStock25] [varchar](30) NULL,
	[DefaultStock26] [varchar](30) NULL,
	[DefaultStock27] [varchar](30) NULL,
	[DefaultStock28] [varchar](30) NULL,
	[DefaultStock29] [varchar](30) NULL,
	[DefaultStock30] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MundaneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TempleofLight] SET (LOCK_ESCALATION = AUTO)
GO
/****** Object:  Table [dbo].[Tutorial]    Script Date: 6/3/2023 11:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tutorial](
	[MundaneId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ScriptKey] [varchar](20) NOT NULL,
	[EnableWalking] [bit] NOT NULL,
	[EnableTurning] [bit] NOT NULL,
	[EnableSpeech] [bit] NOT NULL,
	[SpeechOne] [varchar](80) NULL,
	[SpeechTwo] [varchar](80) NULL,
	[SpeechThree] [varchar](80) NULL,
	[SpeechFour] [varchar](80) NULL,
	[SpeechFive] [varchar](80) NULL,
	[X] [int] NOT NULL,
	[Y] [int] NOT NULL,
	[AreaId] [int] NOT NULL,
	[Direction] [int] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[DefaultStock1] [varchar](30) NULL,
	[DefaultStock2] [varchar](30) NULL,
	[DefaultStock3] [varchar](30) NULL,
	[DefaultStock4] [varchar](30) NULL,
	[DefaultStock5] [varchar](30) NULL,
	[DefaultStock6] [varchar](30) NULL,
	[DefaultStock7] [varchar](30) NULL,
	[DefaultStock8] [varchar](30) NULL,
	[DefaultStock9] [varchar](30) NULL,
	[DefaultStock10] [varchar](30) NULL,
	[DefaultStock11] [varchar](30) NULL,
	[DefaultStock12] [varchar](30) NULL,
	[DefaultStock13] [varchar](30) NULL,
	[DefaultStock14] [varchar](30) NULL,
	[DefaultStock15] [varchar](30) NULL,
	[DefaultStock16] [varchar](30) NULL,
	[DefaultStock17] [varchar](30) NULL,
	[DefaultStock18] [varchar](30) NULL,
	[DefaultStock19] [varchar](30) NULL,
	[DefaultStock20] [varchar](30) NULL,
	[DefaultStock21] [varchar](30) NULL,
	[DefaultStock22] [varchar](30) NULL,
	[DefaultStock23] [varchar](30) NULL,
	[DefaultStock24] [varchar](30) NULL,
	[DefaultStock25] [varchar](30) NULL,
	[DefaultStock26] [varchar](30) NULL,
	[DefaultStock27] [varchar](30) NULL,
	[DefaultStock28] [varchar](30) NULL,
	[DefaultStock29] [varchar](30) NULL,
	[DefaultStock30] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MundaneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tutorial] SET (LOCK_ESCALATION = AUTO)
GO
ALTER TABLE [dbo].[Abel] ADD  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[Abel] ADD  DEFAULT ((0)) FOR [EnableWalking]
GO
ALTER TABLE [dbo].[Abel] ADD  DEFAULT ((0)) FOR [EnableTurning]
GO
ALTER TABLE [dbo].[Abel] ADD  DEFAULT ((0)) FOR [EnableSpeech]
GO
ALTER TABLE [dbo].[Abel] ADD  DEFAULT ((0)) FOR [X]
GO
ALTER TABLE [dbo].[Abel] ADD  DEFAULT ((0)) FOR [Y]
GO
ALTER TABLE [dbo].[Abel] ADD  DEFAULT ((0)) FOR [Direction]
GO
ALTER TABLE [dbo].[Arena] ADD  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[Arena] ADD  DEFAULT ((0)) FOR [EnableWalking]
GO
ALTER TABLE [dbo].[Arena] ADD  DEFAULT ((0)) FOR [EnableTurning]
GO
ALTER TABLE [dbo].[Arena] ADD  DEFAULT ((0)) FOR [EnableSpeech]
GO
ALTER TABLE [dbo].[Arena] ADD  DEFAULT ((0)) FOR [X]
GO
ALTER TABLE [dbo].[Arena] ADD  DEFAULT ((0)) FOR [Y]
GO
ALTER TABLE [dbo].[Arena] ADD  DEFAULT ((0)) FOR [Direction]
GO
ALTER TABLE [dbo].[Generic] ADD  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[Generic] ADD  DEFAULT ((0)) FOR [EnableWalking]
GO
ALTER TABLE [dbo].[Generic] ADD  DEFAULT ((0)) FOR [EnableTurning]
GO
ALTER TABLE [dbo].[Generic] ADD  DEFAULT ((0)) FOR [EnableSpeech]
GO
ALTER TABLE [dbo].[Generic] ADD  DEFAULT ((0)) FOR [X]
GO
ALTER TABLE [dbo].[Generic] ADD  DEFAULT ((0)) FOR [Y]
GO
ALTER TABLE [dbo].[Generic] ADD  DEFAULT ((0)) FOR [Direction]
GO
ALTER TABLE [dbo].[Mehadi] ADD  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[Mehadi] ADD  DEFAULT ((0)) FOR [EnableWalking]
GO
ALTER TABLE [dbo].[Mehadi] ADD  DEFAULT ((0)) FOR [EnableTurning]
GO
ALTER TABLE [dbo].[Mehadi] ADD  DEFAULT ((0)) FOR [EnableSpeech]
GO
ALTER TABLE [dbo].[Mehadi] ADD  DEFAULT ((0)) FOR [X]
GO
ALTER TABLE [dbo].[Mehadi] ADD  DEFAULT ((0)) FOR [Y]
GO
ALTER TABLE [dbo].[Mehadi] ADD  DEFAULT ((0)) FOR [Direction]
GO
ALTER TABLE [dbo].[Mileth] ADD  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[Mileth] ADD  DEFAULT ((0)) FOR [EnableWalking]
GO
ALTER TABLE [dbo].[Mileth] ADD  DEFAULT ((0)) FOR [EnableTurning]
GO
ALTER TABLE [dbo].[Mileth] ADD  DEFAULT ((0)) FOR [EnableSpeech]
GO
ALTER TABLE [dbo].[Mileth] ADD  DEFAULT ((0)) FOR [X]
GO
ALTER TABLE [dbo].[Mileth] ADD  DEFAULT ((0)) FOR [Y]
GO
ALTER TABLE [dbo].[Mileth] ADD  DEFAULT ((0)) FOR [Direction]
GO
ALTER TABLE [dbo].[Piet] ADD  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[Piet] ADD  DEFAULT ((0)) FOR [EnableWalking]
GO
ALTER TABLE [dbo].[Piet] ADD  DEFAULT ((0)) FOR [EnableTurning]
GO
ALTER TABLE [dbo].[Piet] ADD  DEFAULT ((0)) FOR [EnableSpeech]
GO
ALTER TABLE [dbo].[Piet] ADD  DEFAULT ((0)) FOR [X]
GO
ALTER TABLE [dbo].[Piet] ADD  DEFAULT ((0)) FOR [Y]
GO
ALTER TABLE [dbo].[Piet] ADD  DEFAULT ((0)) FOR [Direction]
GO
ALTER TABLE [dbo].[Rionnag] ADD  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[Rionnag] ADD  DEFAULT ((0)) FOR [EnableWalking]
GO
ALTER TABLE [dbo].[Rionnag] ADD  DEFAULT ((0)) FOR [EnableTurning]
GO
ALTER TABLE [dbo].[Rionnag] ADD  DEFAULT ((0)) FOR [EnableSpeech]
GO
ALTER TABLE [dbo].[Rionnag] ADD  DEFAULT ((0)) FOR [X]
GO
ALTER TABLE [dbo].[Rionnag] ADD  DEFAULT ((0)) FOR [Y]
GO
ALTER TABLE [dbo].[Rionnag] ADD  DEFAULT ((0)) FOR [Direction]
GO
ALTER TABLE [dbo].[Rucesion] ADD  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[Rucesion] ADD  DEFAULT ((0)) FOR [EnableWalking]
GO
ALTER TABLE [dbo].[Rucesion] ADD  DEFAULT ((0)) FOR [EnableTurning]
GO
ALTER TABLE [dbo].[Rucesion] ADD  DEFAULT ((0)) FOR [EnableSpeech]
GO
ALTER TABLE [dbo].[Rucesion] ADD  DEFAULT ((0)) FOR [X]
GO
ALTER TABLE [dbo].[Rucesion] ADD  DEFAULT ((0)) FOR [Y]
GO
ALTER TABLE [dbo].[Rucesion] ADD  DEFAULT ((0)) FOR [Direction]
GO
ALTER TABLE [dbo].[Tagor] ADD  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[Tagor] ADD  DEFAULT ((0)) FOR [EnableWalking]
GO
ALTER TABLE [dbo].[Tagor] ADD  DEFAULT ((0)) FOR [EnableTurning]
GO
ALTER TABLE [dbo].[Tagor] ADD  DEFAULT ((0)) FOR [EnableSpeech]
GO
ALTER TABLE [dbo].[Tagor] ADD  DEFAULT ((0)) FOR [X]
GO
ALTER TABLE [dbo].[Tagor] ADD  DEFAULT ((0)) FOR [Y]
GO
ALTER TABLE [dbo].[Tagor] ADD  DEFAULT ((0)) FOR [Direction]
GO
ALTER TABLE [dbo].[TempleofLight] ADD  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[TempleofLight] ADD  DEFAULT ((0)) FOR [EnableWalking]
GO
ALTER TABLE [dbo].[TempleofLight] ADD  DEFAULT ((0)) FOR [EnableTurning]
GO
ALTER TABLE [dbo].[TempleofLight] ADD  DEFAULT ((0)) FOR [EnableSpeech]
GO
ALTER TABLE [dbo].[TempleofLight] ADD  DEFAULT ((0)) FOR [X]
GO
ALTER TABLE [dbo].[TempleofLight] ADD  DEFAULT ((0)) FOR [Y]
GO
ALTER TABLE [dbo].[TempleofLight] ADD  DEFAULT ((0)) FOR [Direction]
GO
ALTER TABLE [dbo].[Tutorial] ADD  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[Tutorial] ADD  DEFAULT ((0)) FOR [EnableWalking]
GO
ALTER TABLE [dbo].[Tutorial] ADD  DEFAULT ((0)) FOR [EnableTurning]
GO
ALTER TABLE [dbo].[Tutorial] ADD  DEFAULT ((0)) FOR [EnableSpeech]
GO
ALTER TABLE [dbo].[Tutorial] ADD  DEFAULT ((0)) FOR [X]
GO
ALTER TABLE [dbo].[Tutorial] ADD  DEFAULT ((0)) FOR [Y]
GO
ALTER TABLE [dbo].[Tutorial] ADD  DEFAULT ((0)) FOR [Direction]
GO
