USE [Zolian]
GO
ALTER TABLE [dbo].[Shields] DROP CONSTRAINT [DF__Shields__SpellMa__6D181FEC]
GO
ALTER TABLE [dbo].[Shields] DROP CONSTRAINT [DF__Shields__SpellMi__6C23FBB3]
GO
ALTER TABLE [dbo].[Shields] DROP CONSTRAINT [DF__Shields__SpellSt__6B2FD77A]
GO
ALTER TABLE [dbo].[Shields] DROP CONSTRAINT [DF__Shields__SpellSc__6A3BB341]
GO
ALTER TABLE [dbo].[Shields] DROP CONSTRAINT [DF__Shields__Regen__69478F08]
GO
ALTER TABLE [dbo].[Shields] DROP CONSTRAINT [DF__Shields__Dmg__68536ACF]
GO
ALTER TABLE [dbo].[Shields] DROP CONSTRAINT [DF__Shields__Hit__675F4696]
GO
ALTER TABLE [dbo].[Shields] DROP CONSTRAINT [DF__Shields__MagicRe__666B225D]
GO
ALTER TABLE [dbo].[Shields] DROP CONSTRAINT [DF__Shields__Dexteri__6576FE24]
GO
ALTER TABLE [dbo].[Shields] DROP CONSTRAINT [DF__Shields__Constit__6482D9EB]
GO
ALTER TABLE [dbo].[Shields] DROP CONSTRAINT [DF__Shields__Wisdom__638EB5B2]
GO
ALTER TABLE [dbo].[Shields] DROP CONSTRAINT [DF__Shields__Intelli__629A9179]
GO
ALTER TABLE [dbo].[Shields] DROP CONSTRAINT [DF__Shields__Strengt__61A66D40]
GO
ALTER TABLE [dbo].[Shields] DROP CONSTRAINT [DF__Shields__ArmorCl__60B24907]
GO
ALTER TABLE [dbo].[Shields] DROP CONSTRAINT [DF__Shields__MP__5FBE24CE]
GO
ALTER TABLE [dbo].[Shields] DROP CONSTRAINT [DF__Shields__HP__5ECA0095]
GO
ALTER TABLE [dbo].[Shields] DROP CONSTRAINT [DF__Shields__Color__5DD5DC5C]
GO
ALTER TABLE [dbo].[Shields] DROP CONSTRAINT [DF__Shields__StageRe__5CE1B823]
GO
ALTER TABLE [dbo].[Shields] DROP CONSTRAINT [DF__Shields__DropRat__5BED93EA]
GO
ALTER TABLE [dbo].[Shields] DROP CONSTRAINT [DF__Shields__LevelRe__5AF96FB1]
GO
ALTER TABLE [dbo].[Shields] DROP CONSTRAINT [DF__Shields__Class__5A054B78]
GO
ALTER TABLE [dbo].[Shields] DROP CONSTRAINT [DF__Shields__Worth__5911273F]
GO
ALTER TABLE [dbo].[Shields] DROP CONSTRAINT [DF__Shields__Enchant__581D0306]
GO
ALTER TABLE [dbo].[Shields] DROP CONSTRAINT [DF__Shields__CarryWe__5728DECD]
GO
ALTER TABLE [dbo].[Shields] DROP CONSTRAINT [DF__Shields__Flags__5634BA94]
GO
ALTER TABLE [dbo].[Shields] DROP CONSTRAINT [DF__Shields__Display__5540965B]
GO
ALTER TABLE [dbo].[Shields] DROP CONSTRAINT [DF__Shields__Image__544C7222]
GO
/****** Object:  Table [dbo].[Shields]    Script Date: 5/4/2023 1:13:03 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Shields]') AND type in (N'U'))
DROP TABLE [dbo].[Shields]
GO
/****** Object:  Table [dbo].[Shields]    Script Date: 5/4/2023 1:13:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shields](
	[WeaponId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[OffHandImage] [int] NULL,
	[DisplayImage] [int] NOT NULL,
	[ScriptName] [varchar](20) NULL,
	[Flags] [varchar](40) NOT NULL,
	[Gender] [varchar](10) NOT NULL,
	[SecondaryOffensiveElement] [varchar](15) NOT NULL,
	[SecondaryDefensiveElement] [varchar](15) NOT NULL,
	[CarryWeight] [int] NOT NULL,
	[Enchantable] [bit] NOT NULL,
	[MaxDurability] [int] NOT NULL,
	[Worth] [int] NOT NULL,
	[EquipmentSlot] [int] NOT NULL,
	[NpcKey] [varchar](30) NULL,
	[Class] [varchar](12) NOT NULL,
	[LevelRequired] [int] NOT NULL,
	[DmgMin] [int] NOT NULL,
	[DmgMax] [int] NOT NULL,
	[DropRate] [decimal](3, 2) NOT NULL,
	[StageRequired] [varchar](12) NOT NULL,
	[HasPants] [bit] NOT NULL,
	[Color] [varchar](15) NOT NULL,
	[WeaponScript] [varchar](20) NULL,
	[Name] [varchar](30) NOT NULL,
	[GroupIn] [varchar](15) NULL,
	[HP] [int] NOT NULL,
	[MP] [int] NOT NULL,
	[ArmorClass] [int] NOT NULL,
	[Strength] [int] NOT NULL,
	[Intelligence] [int] NOT NULL,
	[Wisdom] [int] NOT NULL,
	[Constitution] [int] NOT NULL,
	[Dexterity] [int] NOT NULL,
	[MagicResistance] [int] NOT NULL,
	[Hit] [int] NOT NULL,
	[Dmg] [int] NOT NULL,
	[Regen] [int] NOT NULL,
	[SpellLinesModifier] [int] NOT NULL,
	[IsPositiveSpellLines] [int] NOT NULL,
	[SpellMinValue] [int] NOT NULL,
	[SpellMaxValue] [int] NOT NULL,
 CONSTRAINT [PK__Shields__541D0AF130BD9F08] PRIMARY KEY CLUSTERED 
(
	[WeaponId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Shields] SET (LOCK_ESCALATION = AUTO)
GO
ALTER TABLE [dbo].[Shields] ADD  CONSTRAINT [DF__Shields__Image__544C7222]  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[Shields] ADD  CONSTRAINT [DF__Shields__Display__5540965B]  DEFAULT ((0)) FOR [DisplayImage]
GO
ALTER TABLE [dbo].[Shields] ADD  CONSTRAINT [DF__Shields__Flags__5634BA94]  DEFAULT ((0)) FOR [Flags]
GO
ALTER TABLE [dbo].[Shields] ADD  CONSTRAINT [DF__Shields__CarryWe__5728DECD]  DEFAULT ((0)) FOR [CarryWeight]
GO
ALTER TABLE [dbo].[Shields] ADD  CONSTRAINT [DF__Shields__Enchant__581D0306]  DEFAULT ((0)) FOR [Enchantable]
GO
ALTER TABLE [dbo].[Shields] ADD  CONSTRAINT [DF__Shields__Worth__5911273F]  DEFAULT ((0)) FOR [Worth]
GO
ALTER TABLE [dbo].[Shields] ADD  CONSTRAINT [DF__Shields__Class__5A054B78]  DEFAULT ((0)) FOR [Class]
GO
ALTER TABLE [dbo].[Shields] ADD  CONSTRAINT [DF__Shields__LevelRe__5AF96FB1]  DEFAULT ((1)) FOR [LevelRequired]
GO
ALTER TABLE [dbo].[Shields] ADD  CONSTRAINT [DF__Shields__DropRat__5BED93EA]  DEFAULT ((1.00)) FOR [DropRate]
GO
ALTER TABLE [dbo].[Shields] ADD  CONSTRAINT [DF__Shields__StageRe__5CE1B823]  DEFAULT ((0)) FOR [StageRequired]
GO
ALTER TABLE [dbo].[Shields] ADD  CONSTRAINT [DF__Shields__Color__5DD5DC5C]  DEFAULT ((0)) FOR [Color]
GO
ALTER TABLE [dbo].[Shields] ADD  CONSTRAINT [DF__Shields__HP__5ECA0095]  DEFAULT ((0)) FOR [HP]
GO
ALTER TABLE [dbo].[Shields] ADD  CONSTRAINT [DF__Shields__MP__5FBE24CE]  DEFAULT ((0)) FOR [MP]
GO
ALTER TABLE [dbo].[Shields] ADD  CONSTRAINT [DF__Shields__ArmorCl__60B24907]  DEFAULT ((0)) FOR [ArmorClass]
GO
ALTER TABLE [dbo].[Shields] ADD  CONSTRAINT [DF__Shields__Strengt__61A66D40]  DEFAULT ((0)) FOR [Strength]
GO
ALTER TABLE [dbo].[Shields] ADD  CONSTRAINT [DF__Shields__Intelli__629A9179]  DEFAULT ((0)) FOR [Intelligence]
GO
ALTER TABLE [dbo].[Shields] ADD  CONSTRAINT [DF__Shields__Wisdom__638EB5B2]  DEFAULT ((0)) FOR [Wisdom]
GO
ALTER TABLE [dbo].[Shields] ADD  CONSTRAINT [DF__Shields__Constit__6482D9EB]  DEFAULT ((0)) FOR [Constitution]
GO
ALTER TABLE [dbo].[Shields] ADD  CONSTRAINT [DF__Shields__Dexteri__6576FE24]  DEFAULT ((0)) FOR [Dexterity]
GO
ALTER TABLE [dbo].[Shields] ADD  CONSTRAINT [DF__Shields__MagicRe__666B225D]  DEFAULT ((0)) FOR [MagicResistance]
GO
ALTER TABLE [dbo].[Shields] ADD  CONSTRAINT [DF__Shields__Hit__675F4696]  DEFAULT ((0)) FOR [Hit]
GO
ALTER TABLE [dbo].[Shields] ADD  CONSTRAINT [DF__Shields__Dmg__68536ACF]  DEFAULT ((0)) FOR [Dmg]
GO
ALTER TABLE [dbo].[Shields] ADD  CONSTRAINT [DF__Shields__Regen__69478F08]  DEFAULT ((0)) FOR [Regen]
GO
ALTER TABLE [dbo].[Shields] ADD  CONSTRAINT [DF__Shields__SpellSc__6A3BB341]  DEFAULT ((0)) FOR [SpellLinesModifier]
GO
ALTER TABLE [dbo].[Shields] ADD  CONSTRAINT [DF__Shields__SpellSt__6B2FD77A]  DEFAULT ((0)) FOR [IsPositiveSpellLines]
GO
ALTER TABLE [dbo].[Shields] ADD  CONSTRAINT [DF__Shields__SpellMi__6C23FBB3]  DEFAULT ((0)) FOR [SpellMinValue]
GO
ALTER TABLE [dbo].[Shields] ADD  CONSTRAINT [DF__Shields__SpellMa__6D181FEC]  DEFAULT ((0)) FOR [SpellMaxValue]
GO
