USE [ZolianMonsters]
GO
ALTER TABLE [dbo].[Mileth] DROP CONSTRAINT [DF__Mileth__Level__0E04126B]
GO
ALTER TABLE [dbo].[Mileth] DROP CONSTRAINT [DF__Mileth__CastSpee__0A338187]
GO
ALTER TABLE [dbo].[Mileth] DROP CONSTRAINT [DF__Mileth__AttackSp__093F5D4E]
GO
ALTER TABLE [dbo].[Mileth] DROP CONSTRAINT [DF__Mileth__IgnoreCo__0662F0A3]
GO
ALTER TABLE [dbo].[Mileth] DROP CONSTRAINT [DF__Mileth__EngagedS__084B3915]
GO
ALTER TABLE [dbo].[Mileth] DROP CONSTRAINT [DF__Mileth__Movement__075714DC]
GO
ALTER TABLE [dbo].[Mileth] DROP CONSTRAINT [DF__Mileth__SpawnRat__056ECC6A]
GO
ALTER TABLE [dbo].[Mileth] DROP CONSTRAINT [DF__Mileth__SpawnMax__047AA831]
GO
ALTER TABLE [dbo].[Mileth] DROP CONSTRAINT [DF__Mileth__SpawnSiz__038683F8]
GO
ALTER TABLE [dbo].[Mileth] DROP CONSTRAINT [DF__Mileth__DefenseE__0C1BC9F9]
GO
ALTER TABLE [dbo].[Mileth] DROP CONSTRAINT [DF__Mileth__OffenseE__0B27A5C0]
GO
ALTER TABLE [dbo].[Mileth] DROP CONSTRAINT [DF__Mileth__DefinedY__02925FBF]
GO
ALTER TABLE [dbo].[Mileth] DROP CONSTRAINT [DF__Mileth__DefinedX__019E3B86]
GO
ALTER TABLE [dbo].[Mileth] DROP CONSTRAINT [DF__Mileth__ImageVar__00AA174D]
GO
ALTER TABLE [dbo].[Mileth] DROP CONSTRAINT [DF__Mileth__Image__7FB5F314]
GO
/****** Object:  Table [dbo].[Mileth]    Script Date: 5/4/2023 1:16:19 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Mileth]') AND type in (N'U'))
DROP TABLE [dbo].[Mileth]
GO
/****** Object:  Table [dbo].[Mileth]    Script Date: 5/4/2023 1:16:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mileth](
	[MonsterId] [int] NOT NULL,
	[DropOne] [varchar](20) NULL,
	[DropTwo] [varchar](20) NULL,
	[DropThree] [varchar](20) NULL,
	[DropFour] [varchar](20) NULL,
	[ScriptName] [varchar](20) NOT NULL,
	[BaseName] [varchar](30) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[Type] [varchar](8) NOT NULL,
	[MonType] [varchar](20) NULL,
	[AreaId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ImageVariance] [int] NOT NULL,
	[SpawnType] [varchar](10) NOT NULL,
	[DefinedX] [int] NOT NULL,
	[DefinedY] [int] NOT NULL,
	[ElementType] [varchar](10) NOT NULL,
	[OffenseElement] [varchar](8) NOT NULL,
	[DefenseElement] [varchar](8) NOT NULL,
	[SpawnSize] [int] NOT NULL,
	[SpawnMax] [int] NOT NULL,
	[SpawnRate] [int] NOT NULL,
	[Mood] [varchar](15) NOT NULL,
	[MovementSpeed] [int] NOT NULL,
	[EngagedSpeed] [int] NOT NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[IgnoreCollision] [bit] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[AttackSpeed] [int] NOT NULL,
	[CastSpeed] [int] NOT NULL,
	[LootType] [varchar](15) NOT NULL,
	[Level] [int] NOT NULL,
	[AssailOne] [varchar](20) NULL,
	[AssailTwo] [varchar](20) NULL,
	[AssailThree] [varchar](20) NULL,
	[AssailFour] [varchar](20) NULL,
	[AssailFive] [varchar](20) NULL,
	[SpellOne] [varchar](20) NULL,
	[SpellTwo] [varchar](20) NULL,
	[SpellThree] [varchar](20) NULL,
	[SpellFour] [varchar](20) NULL,
	[SpellFive] [varchar](20) NULL,
	[AbilityOne] [varchar](20) NULL,
	[AbilityTwo] [varchar](20) NULL,
	[AbilityThree] [varchar](20) NULL,
	[AbilityFour] [varchar](20) NULL,
	[AbilityFive] [varchar](20) NULL,
 CONSTRAINT [PK__Mileth__DC154026FD6521FC] PRIMARY KEY CLUSTERED 
(
	[MonsterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Mileth] SET (LOCK_ESCALATION = AUTO)
GO
ALTER TABLE [dbo].[Mileth] ADD  CONSTRAINT [DF__Mileth__Image__7FB5F314]  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[Mileth] ADD  CONSTRAINT [DF__Mileth__ImageVar__00AA174D]  DEFAULT ((0)) FOR [ImageVariance]
GO
ALTER TABLE [dbo].[Mileth] ADD  CONSTRAINT [DF__Mileth__DefinedX__019E3B86]  DEFAULT ((0)) FOR [DefinedX]
GO
ALTER TABLE [dbo].[Mileth] ADD  CONSTRAINT [DF__Mileth__DefinedY__02925FBF]  DEFAULT ((0)) FOR [DefinedY]
GO
ALTER TABLE [dbo].[Mileth] ADD  CONSTRAINT [DF__Mileth__OffenseE__0B27A5C0]  DEFAULT ((0)) FOR [OffenseElement]
GO
ALTER TABLE [dbo].[Mileth] ADD  CONSTRAINT [DF__Mileth__DefenseE__0C1BC9F9]  DEFAULT ((0)) FOR [DefenseElement]
GO
ALTER TABLE [dbo].[Mileth] ADD  CONSTRAINT [DF__Mileth__SpawnSiz__038683F8]  DEFAULT ((0)) FOR [SpawnSize]
GO
ALTER TABLE [dbo].[Mileth] ADD  CONSTRAINT [DF__Mileth__SpawnMax__047AA831]  DEFAULT ((20)) FOR [SpawnMax]
GO
ALTER TABLE [dbo].[Mileth] ADD  CONSTRAINT [DF__Mileth__SpawnRat__056ECC6A]  DEFAULT ((1)) FOR [SpawnRate]
GO
ALTER TABLE [dbo].[Mileth] ADD  CONSTRAINT [DF__Mileth__Movement__075714DC]  DEFAULT ((1800)) FOR [MovementSpeed]
GO
ALTER TABLE [dbo].[Mileth] ADD  CONSTRAINT [DF__Mileth__EngagedS__084B3915]  DEFAULT ((900)) FOR [EngagedSpeed]
GO
ALTER TABLE [dbo].[Mileth] ADD  CONSTRAINT [DF__Mileth__IgnoreCo__0662F0A3]  DEFAULT ((0)) FOR [IgnoreCollision]
GO
ALTER TABLE [dbo].[Mileth] ADD  CONSTRAINT [DF__Mileth__AttackSp__093F5D4E]  DEFAULT ((1000)) FOR [AttackSpeed]
GO
ALTER TABLE [dbo].[Mileth] ADD  CONSTRAINT [DF__Mileth__CastSpee__0A338187]  DEFAULT ((5000)) FOR [CastSpeed]
GO
ALTER TABLE [dbo].[Mileth] ADD  CONSTRAINT [DF__Mileth__Level__0E04126B]  DEFAULT ((1)) FOR [Level]
GO
