USE [ZolianMonsters]
GO
ALTER TABLE [dbo].[EasternWoods] DROP CONSTRAINT [DF__EasternWo__Level__4830B400]
GO
ALTER TABLE [dbo].[EasternWoods] DROP CONSTRAINT [DF__EasternWo__CastS__4460231C]
GO
ALTER TABLE [dbo].[EasternWoods] DROP CONSTRAINT [DF__EasternWo__Attac__436BFEE3]
GO
ALTER TABLE [dbo].[EasternWoods] DROP CONSTRAINT [DF__EasternWo__Ignor__408F9238]
GO
ALTER TABLE [dbo].[EasternWoods] DROP CONSTRAINT [DF__EasternWo__Engag__4277DAAA]
GO
ALTER TABLE [dbo].[EasternWoods] DROP CONSTRAINT [DF__EasternWo__Movem__4183B671]
GO
ALTER TABLE [dbo].[EasternWoods] DROP CONSTRAINT [DF__EasternWo__Spawn__3F9B6DFF]
GO
ALTER TABLE [dbo].[EasternWoods] DROP CONSTRAINT [DF__EasternWo__Spawn__3EA749C6]
GO
ALTER TABLE [dbo].[EasternWoods] DROP CONSTRAINT [DF__EasternWo__Spawn__3DB3258D]
GO
ALTER TABLE [dbo].[EasternWoods] DROP CONSTRAINT [DF__EasternWo__Defen__46486B8E]
GO
ALTER TABLE [dbo].[EasternWoods] DROP CONSTRAINT [DF__EasternWo__Offen__45544755]
GO
ALTER TABLE [dbo].[EasternWoods] DROP CONSTRAINT [DF__EasternWo__Defin__3CBF0154]
GO
ALTER TABLE [dbo].[EasternWoods] DROP CONSTRAINT [DF__EasternWo__Defin__3BCADD1B]
GO
ALTER TABLE [dbo].[EasternWoods] DROP CONSTRAINT [DF__EasternWo__Image__3AD6B8E2]
GO
ALTER TABLE [dbo].[EasternWoods] DROP CONSTRAINT [DF__EasternWo__Image__39E294A9]
GO
/****** Object:  Table [dbo].[EasternWoods]    Script Date: 5/4/2023 1:16:19 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EasternWoods]') AND type in (N'U'))
DROP TABLE [dbo].[EasternWoods]
GO
/****** Object:  Table [dbo].[EasternWoods]    Script Date: 5/4/2023 1:16:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EasternWoods](
	[MonsterId] [int] NOT NULL,
	[DropOne] [varchar](20) NULL,
	[DropTwo] [varchar](20) NULL,
	[DropThree] [varchar](20) NULL,
	[DropFour] [varchar](20) NULL,
	[ScriptName] [varchar](20) NOT NULL,
	[BaseName] [varchar](30) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[Type] [varchar](8) NOT NULL,
	[MonType] [varchar](20) NULL,
	[AreaId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ImageVariance] [int] NOT NULL,
	[SpawnType] [varchar](10) NOT NULL,
	[DefinedX] [int] NOT NULL,
	[DefinedY] [int] NOT NULL,
	[ElementType] [varchar](10) NOT NULL,
	[OffenseElement] [varchar](8) NOT NULL,
	[DefenseElement] [varchar](8) NOT NULL,
	[SpawnSize] [int] NOT NULL,
	[SpawnMax] [int] NOT NULL,
	[SpawnRate] [int] NOT NULL,
	[Mood] [varchar](15) NOT NULL,
	[MovementSpeed] [int] NOT NULL,
	[EngagedSpeed] [int] NOT NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[IgnoreCollision] [bit] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[AttackSpeed] [int] NOT NULL,
	[CastSpeed] [int] NOT NULL,
	[LootType] [varchar](15) NOT NULL,
	[Level] [int] NOT NULL,
	[AssailOne] [varchar](20) NULL,
	[AssailTwo] [varchar](20) NULL,
	[AssailThree] [varchar](20) NULL,
	[AssailFour] [varchar](20) NULL,
	[AssailFive] [varchar](20) NULL,
	[SpellOne] [varchar](20) NULL,
	[SpellTwo] [varchar](20) NULL,
	[SpellThree] [varchar](20) NULL,
	[SpellFour] [varchar](20) NULL,
	[SpellFive] [varchar](20) NULL,
	[AbilityOne] [varchar](20) NULL,
	[AbilityTwo] [varchar](20) NULL,
	[AbilityThree] [varchar](20) NULL,
	[AbilityFour] [varchar](20) NULL,
	[AbilityFive] [varchar](20) NULL,
 CONSTRAINT [PK__EasternW__DC154026E6D9E83D] PRIMARY KEY CLUSTERED 
(
	[MonsterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EasternWoods] SET (LOCK_ESCALATION = AUTO)
GO
ALTER TABLE [dbo].[EasternWoods] ADD  CONSTRAINT [DF__EasternWo__Image__39E294A9]  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[EasternWoods] ADD  CONSTRAINT [DF__EasternWo__Image__3AD6B8E2]  DEFAULT ((0)) FOR [ImageVariance]
GO
ALTER TABLE [dbo].[EasternWoods] ADD  CONSTRAINT [DF__EasternWo__Defin__3BCADD1B]  DEFAULT ((0)) FOR [DefinedX]
GO
ALTER TABLE [dbo].[EasternWoods] ADD  CONSTRAINT [DF__EasternWo__Defin__3CBF0154]  DEFAULT ((0)) FOR [DefinedY]
GO
ALTER TABLE [dbo].[EasternWoods] ADD  CONSTRAINT [DF__EasternWo__Offen__45544755]  DEFAULT ((0)) FOR [OffenseElement]
GO
ALTER TABLE [dbo].[EasternWoods] ADD  CONSTRAINT [DF__EasternWo__Defen__46486B8E]  DEFAULT ((0)) FOR [DefenseElement]
GO
ALTER TABLE [dbo].[EasternWoods] ADD  CONSTRAINT [DF__EasternWo__Spawn__3DB3258D]  DEFAULT ((0)) FOR [SpawnSize]
GO
ALTER TABLE [dbo].[EasternWoods] ADD  CONSTRAINT [DF__EasternWo__Spawn__3EA749C6]  DEFAULT ((20)) FOR [SpawnMax]
GO
ALTER TABLE [dbo].[EasternWoods] ADD  CONSTRAINT [DF__EasternWo__Spawn__3F9B6DFF]  DEFAULT ((1)) FOR [SpawnRate]
GO
ALTER TABLE [dbo].[EasternWoods] ADD  CONSTRAINT [DF__EasternWo__Movem__4183B671]  DEFAULT ((1800)) FOR [MovementSpeed]
GO
ALTER TABLE [dbo].[EasternWoods] ADD  CONSTRAINT [DF__EasternWo__Engag__4277DAAA]  DEFAULT ((900)) FOR [EngagedSpeed]
GO
ALTER TABLE [dbo].[EasternWoods] ADD  CONSTRAINT [DF__EasternWo__Ignor__408F9238]  DEFAULT ((0)) FOR [IgnoreCollision]
GO
ALTER TABLE [dbo].[EasternWoods] ADD  CONSTRAINT [DF__EasternWo__Attac__436BFEE3]  DEFAULT ((1000)) FOR [AttackSpeed]
GO
ALTER TABLE [dbo].[EasternWoods] ADD  CONSTRAINT [DF__EasternWo__CastS__4460231C]  DEFAULT ((5000)) FOR [CastSpeed]
GO
ALTER TABLE [dbo].[EasternWoods] ADD  CONSTRAINT [DF__EasternWo__Level__4830B400]  DEFAULT ((1)) FOR [Level]
GO
