USE [ZolianMonsters]
GO
ALTER TABLE [dbo].[Abel] DROP CONSTRAINT [DF__Abel__Level__75586032]
GO
ALTER TABLE [dbo].[Abel] DROP CONSTRAINT [DF__Abel__CastSpeed__727BF387]
GO
ALTER TABLE [dbo].[Abel] DROP CONSTRAINT [DF__Abel__AttackSpee__7187CF4E]
GO
ALTER TABLE [dbo].[Abel] DROP CONSTRAINT [DF__Abel__IgnoreColl__6EAB62A3]
GO
ALTER TABLE [dbo].[Abel] DROP CONSTRAINT [DF__Abel__EngagedSpe__7093AB15]
GO
ALTER TABLE [dbo].[Abel] DROP CONSTRAINT [DF__Abel__MovementSp__6F9F86DC]
GO
ALTER TABLE [dbo].[Abel] DROP CONSTRAINT [DF__Abel__SpawnRate__6DB73E6A]
GO
ALTER TABLE [dbo].[Abel] DROP CONSTRAINT [DF__Abel__SpawnMax__6CC31A31]
GO
ALTER TABLE [dbo].[Abel] DROP CONSTRAINT [DF__Abel__SpawnSize__6BCEF5F8]
GO
ALTER TABLE [dbo].[Abel] DROP CONSTRAINT [DF__Abel__DefenseEle__74643BF9]
GO
ALTER TABLE [dbo].[Abel] DROP CONSTRAINT [DF__Abel__OffenseEle__737017C0]
GO
ALTER TABLE [dbo].[Abel] DROP CONSTRAINT [DF__Abel__DefinedY__6ADAD1BF]
GO
ALTER TABLE [dbo].[Abel] DROP CONSTRAINT [DF__Abel__DefinedX__69E6AD86]
GO
ALTER TABLE [dbo].[Abel] DROP CONSTRAINT [DF__Abel__ImageVaria__68F2894D]
GO
ALTER TABLE [dbo].[Abel] DROP CONSTRAINT [DF__Abel__Image__67FE6514]
GO
/****** Object:  Table [dbo].[Abel]    Script Date: 5/4/2023 1:16:19 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Abel]') AND type in (N'U'))
DROP TABLE [dbo].[Abel]
GO
/****** Object:  Table [dbo].[Abel]    Script Date: 5/4/2023 1:16:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Abel](
	[MonsterId] [int] NOT NULL,
	[DropOne] [varchar](20) NULL,
	[DropTwo] [varchar](20) NULL,
	[DropThree] [varchar](20) NULL,
	[DropFour] [varchar](20) NULL,
	[ScriptName] [varchar](20) NOT NULL,
	[BaseName] [varchar](30) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[Type] [varchar](8) NOT NULL,
	[MonType] [varchar](20) NULL,
	[AreaId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ImageVariance] [int] NOT NULL,
	[SpawnType] [varchar](10) NOT NULL,
	[DefinedX] [int] NOT NULL,
	[DefinedY] [int] NOT NULL,
	[ElementType] [varchar](10) NOT NULL,
	[OffenseElement] [varchar](8) NOT NULL,
	[DefenseElement] [varchar](8) NOT NULL,
	[SpawnSize] [int] NOT NULL,
	[SpawnMax] [int] NOT NULL,
	[SpawnRate] [int] NOT NULL,
	[Mood] [varchar](15) NOT NULL,
	[MovementSpeed] [int] NOT NULL,
	[EngagedSpeed] [int] NOT NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[IgnoreCollision] [bit] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[AttackSpeed] [int] NOT NULL,
	[CastSpeed] [int] NOT NULL,
	[LootType] [varchar](15) NOT NULL,
	[Level] [int] NOT NULL,
	[AssailOne] [varchar](20) NULL,
	[AssailTwo] [varchar](20) NULL,
	[AssailThree] [varchar](20) NULL,
	[AssailFour] [varchar](20) NULL,
	[AssailFive] [varchar](20) NULL,
	[SpellOne] [varchar](20) NULL,
	[SpellTwo] [varchar](20) NULL,
	[SpellThree] [varchar](20) NULL,
	[SpellFour] [varchar](20) NULL,
	[SpellFive] [varchar](20) NULL,
	[AbilityOne] [varchar](20) NULL,
	[AbilityTwo] [varchar](20) NULL,
	[AbilityThree] [varchar](20) NULL,
	[AbilityFour] [varchar](20) NULL,
	[AbilityFive] [varchar](20) NULL,
 CONSTRAINT [PK__Abel__DC154026C8657769] PRIMARY KEY CLUSTERED 
(
	[MonsterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Abel] ADD  CONSTRAINT [DF__Abel__Image__67FE6514]  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[Abel] ADD  CONSTRAINT [DF__Abel__ImageVaria__68F2894D]  DEFAULT ((0)) FOR [ImageVariance]
GO
ALTER TABLE [dbo].[Abel] ADD  CONSTRAINT [DF__Abel__DefinedX__69E6AD86]  DEFAULT ((0)) FOR [DefinedX]
GO
ALTER TABLE [dbo].[Abel] ADD  CONSTRAINT [DF__Abel__DefinedY__6ADAD1BF]  DEFAULT ((0)) FOR [DefinedY]
GO
ALTER TABLE [dbo].[Abel] ADD  CONSTRAINT [DF__Abel__OffenseEle__737017C0]  DEFAULT ('None') FOR [OffenseElement]
GO
ALTER TABLE [dbo].[Abel] ADD  CONSTRAINT [DF__Abel__DefenseEle__74643BF9]  DEFAULT ('None') FOR [DefenseElement]
GO
ALTER TABLE [dbo].[Abel] ADD  CONSTRAINT [DF__Abel__SpawnSize__6BCEF5F8]  DEFAULT ((0)) FOR [SpawnSize]
GO
ALTER TABLE [dbo].[Abel] ADD  CONSTRAINT [DF__Abel__SpawnMax__6CC31A31]  DEFAULT ((20)) FOR [SpawnMax]
GO
ALTER TABLE [dbo].[Abel] ADD  CONSTRAINT [DF__Abel__SpawnRate__6DB73E6A]  DEFAULT ((1)) FOR [SpawnRate]
GO
ALTER TABLE [dbo].[Abel] ADD  CONSTRAINT [DF__Abel__MovementSp__6F9F86DC]  DEFAULT ((2000)) FOR [MovementSpeed]
GO
ALTER TABLE [dbo].[Abel] ADD  CONSTRAINT [DF__Abel__EngagedSpe__7093AB15]  DEFAULT ((1500)) FOR [EngagedSpeed]
GO
ALTER TABLE [dbo].[Abel] ADD  CONSTRAINT [DF__Abel__IgnoreColl__6EAB62A3]  DEFAULT ((0)) FOR [IgnoreCollision]
GO
ALTER TABLE [dbo].[Abel] ADD  CONSTRAINT [DF__Abel__AttackSpee__7187CF4E]  DEFAULT ((1000)) FOR [AttackSpeed]
GO
ALTER TABLE [dbo].[Abel] ADD  CONSTRAINT [DF__Abel__CastSpeed__727BF387]  DEFAULT ((10000)) FOR [CastSpeed]
GO
ALTER TABLE [dbo].[Abel] ADD  CONSTRAINT [DF__Abel__Level__75586032]  DEFAULT ((1)) FOR [Level]
GO
