USE [ZolianMonsters]
GO
ALTER TABLE [dbo].[WesternWoodlands] DROP CONSTRAINT [DF__WesternWo__Level__1372D2FE]
GO
ALTER TABLE [dbo].[WesternWoodlands] DROP CONSTRAINT [DF__WesternWo__CastS__127EAEC5]
GO
ALTER TABLE [dbo].[WesternWoodlands] DROP CONSTRAINT [DF__WesternWo__Attac__118A8A8C]
GO
ALTER TABLE [dbo].[WesternWoodlands] DROP CONSTRAINT [DF__WesternWo__Ignor__10966653]
GO
ALTER TABLE [dbo].[WesternWoodlands] DROP CONSTRAINT [DF__WesternWo__Engag__0FA2421A]
GO
ALTER TABLE [dbo].[WesternWoodlands] DROP CONSTRAINT [DF__WesternWo__Movem__0EAE1DE1]
GO
ALTER TABLE [dbo].[WesternWoodlands] DROP CONSTRAINT [DF__WesternWo__Spawn__0DB9F9A8]
GO
ALTER TABLE [dbo].[WesternWoodlands] DROP CONSTRAINT [DF__WesternWo__Spawn__0CC5D56F]
GO
ALTER TABLE [dbo].[WesternWoodlands] DROP CONSTRAINT [DF__WesternWo__Spawn__0BD1B136]
GO
ALTER TABLE [dbo].[WesternWoodlands] DROP CONSTRAINT [DF__WesternWo__Defen__0ADD8CFD]
GO
ALTER TABLE [dbo].[WesternWoodlands] DROP CONSTRAINT [DF__WesternWo__Offen__09E968C4]
GO
ALTER TABLE [dbo].[WesternWoodlands] DROP CONSTRAINT [DF__WesternWo__Defin__08F5448B]
GO
ALTER TABLE [dbo].[WesternWoodlands] DROP CONSTRAINT [DF__WesternWo__Defin__08012052]
GO
ALTER TABLE [dbo].[WesternWoodlands] DROP CONSTRAINT [DF__WesternWo__Image__070CFC19]
GO
ALTER TABLE [dbo].[WesternWoodlands] DROP CONSTRAINT [DF__WesternWo__Image__0618D7E0]
GO
/****** Object:  Table [dbo].[WesternWoodlands]    Script Date: 5/4/2023 1:16:19 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WesternWoodlands]') AND type in (N'U'))
DROP TABLE [dbo].[WesternWoodlands]
GO
/****** Object:  Table [dbo].[WesternWoodlands]    Script Date: 5/4/2023 1:16:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WesternWoodlands](
	[MonsterId] [int] NOT NULL,
	[DropOne] [varchar](20) NULL,
	[DropTwo] [varchar](20) NULL,
	[DropThree] [varchar](20) NULL,
	[DropFour] [varchar](20) NULL,
	[ScriptName] [varchar](20) NOT NULL,
	[BaseName] [varchar](30) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[Type] [varchar](8) NOT NULL,
	[MonType] [varchar](20) NULL,
	[AreaId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ImageVariance] [int] NOT NULL,
	[SpawnType] [varchar](10) NOT NULL,
	[DefinedX] [int] NOT NULL,
	[DefinedY] [int] NOT NULL,
	[ElementType] [varchar](10) NOT NULL,
	[OffenseElement] [varchar](8) NOT NULL,
	[DefenseElement] [varchar](8) NOT NULL,
	[SpawnSize] [int] NOT NULL,
	[SpawnMax] [int] NOT NULL,
	[SpawnRate] [int] NOT NULL,
	[Mood] [varchar](15) NOT NULL,
	[MovementSpeed] [int] NOT NULL,
	[EngagedSpeed] [int] NOT NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[IgnoreCollision] [bit] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[AttackSpeed] [int] NOT NULL,
	[CastSpeed] [int] NOT NULL,
	[LootType] [varchar](15) NOT NULL,
	[Level] [int] NOT NULL,
	[AssailOne] [varchar](20) NULL,
	[AssailTwo] [varchar](20) NULL,
	[AssailThree] [varchar](20) NULL,
	[AssailFour] [varchar](20) NULL,
	[AssailFive] [varchar](20) NULL,
	[SpellOne] [varchar](20) NULL,
	[SpellTwo] [varchar](20) NULL,
	[SpellThree] [varchar](20) NULL,
	[SpellFour] [varchar](20) NULL,
	[SpellFive] [varchar](20) NULL,
	[AbilityOne] [varchar](20) NULL,
	[AbilityTwo] [varchar](20) NULL,
	[AbilityThree] [varchar](20) NULL,
	[AbilityFour] [varchar](20) NULL,
	[AbilityFive] [varchar](20) NULL,
 CONSTRAINT [PK__WesternW__DC1540268935CC11] PRIMARY KEY CLUSTERED 
(
	[MonsterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WesternWoodlands] ADD  CONSTRAINT [DF__WesternWo__Image__0618D7E0]  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[WesternWoodlands] ADD  CONSTRAINT [DF__WesternWo__Image__070CFC19]  DEFAULT ((0)) FOR [ImageVariance]
GO
ALTER TABLE [dbo].[WesternWoodlands] ADD  CONSTRAINT [DF__WesternWo__Defin__08012052]  DEFAULT ((0)) FOR [DefinedX]
GO
ALTER TABLE [dbo].[WesternWoodlands] ADD  CONSTRAINT [DF__WesternWo__Defin__08F5448B]  DEFAULT ((0)) FOR [DefinedY]
GO
ALTER TABLE [dbo].[WesternWoodlands] ADD  CONSTRAINT [DF__WesternWo__Offen__09E968C4]  DEFAULT ('None') FOR [OffenseElement]
GO
ALTER TABLE [dbo].[WesternWoodlands] ADD  CONSTRAINT [DF__WesternWo__Defen__0ADD8CFD]  DEFAULT ('None') FOR [DefenseElement]
GO
ALTER TABLE [dbo].[WesternWoodlands] ADD  CONSTRAINT [DF__WesternWo__Spawn__0BD1B136]  DEFAULT ((0)) FOR [SpawnSize]
GO
ALTER TABLE [dbo].[WesternWoodlands] ADD  CONSTRAINT [DF__WesternWo__Spawn__0CC5D56F]  DEFAULT ((20)) FOR [SpawnMax]
GO
ALTER TABLE [dbo].[WesternWoodlands] ADD  CONSTRAINT [DF__WesternWo__Spawn__0DB9F9A8]  DEFAULT ((1)) FOR [SpawnRate]
GO
ALTER TABLE [dbo].[WesternWoodlands] ADD  CONSTRAINT [DF__WesternWo__Movem__0EAE1DE1]  DEFAULT ((2000)) FOR [MovementSpeed]
GO
ALTER TABLE [dbo].[WesternWoodlands] ADD  CONSTRAINT [DF__WesternWo__Engag__0FA2421A]  DEFAULT ((1500)) FOR [EngagedSpeed]
GO
ALTER TABLE [dbo].[WesternWoodlands] ADD  CONSTRAINT [DF__WesternWo__Ignor__10966653]  DEFAULT ((0)) FOR [IgnoreCollision]
GO
ALTER TABLE [dbo].[WesternWoodlands] ADD  CONSTRAINT [DF__WesternWo__Attac__118A8A8C]  DEFAULT ((1000)) FOR [AttackSpeed]
GO
ALTER TABLE [dbo].[WesternWoodlands] ADD  CONSTRAINT [DF__WesternWo__CastS__127EAEC5]  DEFAULT ((10000)) FOR [CastSpeed]
GO
ALTER TABLE [dbo].[WesternWoodlands] ADD  CONSTRAINT [DF__WesternWo__Level__1372D2FE]  DEFAULT ((1)) FOR [Level]
GO
