USE [ZolianMonsters]
GO
ALTER TABLE [dbo].[WesternWoodlands] DROP CONSTRAINT [DF__WesternWo__Level__1372D2FE]
GO
ALTER TABLE [dbo].[WesternWoodlands] DROP CONSTRAINT [DF__WesternWo__CastS__127EAEC5]
GO
ALTER TABLE [dbo].[WesternWoodlands] DROP CONSTRAINT [DF__WesternWo__Attac__118A8A8C]
GO
ALTER TABLE [dbo].[WesternWoodlands] DROP CONSTRAINT [DF__WesternWo__Ignor__10966653]
GO
ALTER TABLE [dbo].[WesternWoodlands] DROP CONSTRAINT [DF__WesternWo__Engag__0FA2421A]
GO
ALTER TABLE [dbo].[WesternWoodlands] DROP CONSTRAINT [DF__WesternWo__Movem__0EAE1DE1]
GO
ALTER TABLE [dbo].[WesternWoodlands] DROP CONSTRAINT [DF__WesternWo__Spawn__0DB9F9A8]
GO
ALTER TABLE [dbo].[WesternWoodlands] DROP CONSTRAINT [DF__WesternWo__Spawn__0CC5D56F]
GO
ALTER TABLE [dbo].[WesternWoodlands] DROP CONSTRAINT [DF__WesternWo__Spawn__0BD1B136]
GO
ALTER TABLE [dbo].[WesternWoodlands] DROP CONSTRAINT [DF__WesternWo__Defen__0ADD8CFD]
GO
ALTER TABLE [dbo].[WesternWoodlands] DROP CONSTRAINT [DF__WesternWo__Offen__09E968C4]
GO
ALTER TABLE [dbo].[WesternWoodlands] DROP CONSTRAINT [DF__WesternWo__Defin__08F5448B]
GO
ALTER TABLE [dbo].[WesternWoodlands] DROP CONSTRAINT [DF__WesternWo__Defin__08012052]
GO
ALTER TABLE [dbo].[WesternWoodlands] DROP CONSTRAINT [DF__WesternWo__Image__070CFC19]
GO
ALTER TABLE [dbo].[WesternWoodlands] DROP CONSTRAINT [DF__WesternWo__Image__0618D7E0]
GO
ALTER TABLE [dbo].[Wastelands] DROP CONSTRAINT [DF__Wasteland__Level__793DFFAF]
GO
ALTER TABLE [dbo].[Wastelands] DROP CONSTRAINT [DF__Wasteland__CastS__756D6ECB]
GO
ALTER TABLE [dbo].[Wastelands] DROP CONSTRAINT [DF__Wasteland__Attac__74794A92]
GO
ALTER TABLE [dbo].[Wastelands] DROP CONSTRAINT [DF__Wasteland__Ignor__719CDDE7]
GO
ALTER TABLE [dbo].[Wastelands] DROP CONSTRAINT [DF__Wasteland__Engag__73852659]
GO
ALTER TABLE [dbo].[Wastelands] DROP CONSTRAINT [DF__Wasteland__Movem__72910220]
GO
ALTER TABLE [dbo].[Wastelands] DROP CONSTRAINT [DF__Wasteland__Spawn__70A8B9AE]
GO
ALTER TABLE [dbo].[Wastelands] DROP CONSTRAINT [DF__Wasteland__Spawn__6FB49575]
GO
ALTER TABLE [dbo].[Wastelands] DROP CONSTRAINT [DF__Wasteland__Spawn__6EC0713C]
GO
ALTER TABLE [dbo].[Wastelands] DROP CONSTRAINT [DF__Wasteland__Defen__7755B73D]
GO
ALTER TABLE [dbo].[Wastelands] DROP CONSTRAINT [DF__Wasteland__Offen__76619304]
GO
ALTER TABLE [dbo].[Wastelands] DROP CONSTRAINT [DF__Wasteland__Defin__6DCC4D03]
GO
ALTER TABLE [dbo].[Wastelands] DROP CONSTRAINT [DF__Wasteland__Defin__6CD828CA]
GO
ALTER TABLE [dbo].[Wastelands] DROP CONSTRAINT [DF__Wasteland__Image__6BE40491]
GO
ALTER TABLE [dbo].[Wastelands] DROP CONSTRAINT [DF__Wasteland__Image__6AEFE058]
GO
ALTER TABLE [dbo].[Tutorial] DROP CONSTRAINT [DF__Tutorial__Level__2AD55B43]
GO
ALTER TABLE [dbo].[Tutorial] DROP CONSTRAINT [DF__Tutorial__CastSp__2704CA5F]
GO
ALTER TABLE [dbo].[Tutorial] DROP CONSTRAINT [DF__Tutorial__Attack__2610A626]
GO
ALTER TABLE [dbo].[Tutorial] DROP CONSTRAINT [DF__Tutorial__Ignore__2334397B]
GO
ALTER TABLE [dbo].[Tutorial] DROP CONSTRAINT [DF__Tutorial__Engage__251C81ED]
GO
ALTER TABLE [dbo].[Tutorial] DROP CONSTRAINT [DF__Tutorial__Moveme__24285DB4]
GO
ALTER TABLE [dbo].[Tutorial] DROP CONSTRAINT [DF__Tutorial__SpawnR__22401542]
GO
ALTER TABLE [dbo].[Tutorial] DROP CONSTRAINT [DF__Tutorial__SpawnM__214BF109]
GO
ALTER TABLE [dbo].[Tutorial] DROP CONSTRAINT [DF__Tutorial__SpawnS__2057CCD0]
GO
ALTER TABLE [dbo].[Tutorial] DROP CONSTRAINT [DF__Tutorial__Defens__28ED12D1]
GO
ALTER TABLE [dbo].[Tutorial] DROP CONSTRAINT [DF__Tutorial__Offens__27F8EE98]
GO
ALTER TABLE [dbo].[Tutorial] DROP CONSTRAINT [DF__Tutorial__Define__1F63A897]
GO
ALTER TABLE [dbo].[Tutorial] DROP CONSTRAINT [DF__Tutorial__Define__1E6F845E]
GO
ALTER TABLE [dbo].[Tutorial] DROP CONSTRAINT [DF__Tutorial__ImageV__1D7B6025]
GO
ALTER TABLE [dbo].[Tutorial] DROP CONSTRAINT [DF__Tutorial__Image__1C873BEC]
GO
ALTER TABLE [dbo].[Tagor] DROP CONSTRAINT [DF__Tagor__Level__63C3BFDC]
GO
ALTER TABLE [dbo].[Tagor] DROP CONSTRAINT [DF__Tagor__CastSpeed__62CF9BA3]
GO
ALTER TABLE [dbo].[Tagor] DROP CONSTRAINT [DF__Tagor__AttackSpe__61DB776A]
GO
ALTER TABLE [dbo].[Tagor] DROP CONSTRAINT [DF__Tagor__IgnoreCol__60E75331]
GO
ALTER TABLE [dbo].[Tagor] DROP CONSTRAINT [DF__Tagor__EngagedSp__5FF32EF8]
GO
ALTER TABLE [dbo].[Tagor] DROP CONSTRAINT [DF__Tagor__MovementS__5EFF0ABF]
GO
ALTER TABLE [dbo].[Tagor] DROP CONSTRAINT [DF__Tagor__SpawnRate__5E0AE686]
GO
ALTER TABLE [dbo].[Tagor] DROP CONSTRAINT [DF__Tagor__SpawnMax__5D16C24D]
GO
ALTER TABLE [dbo].[Tagor] DROP CONSTRAINT [DF__Tagor__SpawnSize__5C229E14]
GO
ALTER TABLE [dbo].[Tagor] DROP CONSTRAINT [DF__Tagor__DefenseEl__5B2E79DB]
GO
ALTER TABLE [dbo].[Tagor] DROP CONSTRAINT [DF__Tagor__OffenseEl__5A3A55A2]
GO
ALTER TABLE [dbo].[Tagor] DROP CONSTRAINT [DF__Tagor__DefinedY__59463169]
GO
ALTER TABLE [dbo].[Tagor] DROP CONSTRAINT [DF__Tagor__DefinedX__58520D30]
GO
ALTER TABLE [dbo].[Tagor] DROP CONSTRAINT [DF__Tagor__ImageVari__575DE8F7]
GO
ALTER TABLE [dbo].[Tagor] DROP CONSTRAINT [DF__Tagor__Image__5669C4BE]
GO
ALTER TABLE [dbo].[Piet] DROP CONSTRAINT [DF__Piet__Level__511AFFBC]
GO
ALTER TABLE [dbo].[Piet] DROP CONSTRAINT [DF__Piet__CastSpeed__4E3E9311]
GO
ALTER TABLE [dbo].[Piet] DROP CONSTRAINT [DF__Piet__AttackSpee__4D4A6ED8]
GO
ALTER TABLE [dbo].[Piet] DROP CONSTRAINT [DF__Piet__IgnoreColl__4A6E022D]
GO
ALTER TABLE [dbo].[Piet] DROP CONSTRAINT [DF__Piet__EngagedSpe__4C564A9F]
GO
ALTER TABLE [dbo].[Piet] DROP CONSTRAINT [DF__Piet__MovementSp__4B622666]
GO
ALTER TABLE [dbo].[Piet] DROP CONSTRAINT [DF__Piet__SpawnRate__4979DDF4]
GO
ALTER TABLE [dbo].[Piet] DROP CONSTRAINT [DF__Piet__SpawnMax__4885B9BB]
GO
ALTER TABLE [dbo].[Piet] DROP CONSTRAINT [DF__Piet__SpawnSize__47919582]
GO
ALTER TABLE [dbo].[Piet] DROP CONSTRAINT [DF__Piet__DefenseEle__5026DB83]
GO
ALTER TABLE [dbo].[Piet] DROP CONSTRAINT [DF__Piet__OffenseEle__4F32B74A]
GO
ALTER TABLE [dbo].[Piet] DROP CONSTRAINT [DF__Piet__DefinedY__469D7149]
GO
ALTER TABLE [dbo].[Piet] DROP CONSTRAINT [DF__Piet__DefinedX__45A94D10]
GO
ALTER TABLE [dbo].[Piet] DROP CONSTRAINT [DF__Piet__ImageVaria__44B528D7]
GO
ALTER TABLE [dbo].[Piet] DROP CONSTRAINT [DF__Piet__Image__43C1049E]
GO
ALTER TABLE [dbo].[Mileth] DROP CONSTRAINT [DF__Mileth__Level__0E04126B]
GO
ALTER TABLE [dbo].[Mileth] DROP CONSTRAINT [DF__Mileth__CastSpee__0A338187]
GO
ALTER TABLE [dbo].[Mileth] DROP CONSTRAINT [DF__Mileth__AttackSp__093F5D4E]
GO
ALTER TABLE [dbo].[Mileth] DROP CONSTRAINT [DF__Mileth__IgnoreCo__0662F0A3]
GO
ALTER TABLE [dbo].[Mileth] DROP CONSTRAINT [DF__Mileth__EngagedS__084B3915]
GO
ALTER TABLE [dbo].[Mileth] DROP CONSTRAINT [DF__Mileth__Movement__075714DC]
GO
ALTER TABLE [dbo].[Mileth] DROP CONSTRAINT [DF__Mileth__SpawnRat__056ECC6A]
GO
ALTER TABLE [dbo].[Mileth] DROP CONSTRAINT [DF__Mileth__SpawnMax__047AA831]
GO
ALTER TABLE [dbo].[Mileth] DROP CONSTRAINT [DF__Mileth__SpawnSiz__038683F8]
GO
ALTER TABLE [dbo].[Mileth] DROP CONSTRAINT [DF__Mileth__DefenseE__0C1BC9F9]
GO
ALTER TABLE [dbo].[Mileth] DROP CONSTRAINT [DF__Mileth__OffenseE__0B27A5C0]
GO
ALTER TABLE [dbo].[Mileth] DROP CONSTRAINT [DF__Mileth__DefinedY__02925FBF]
GO
ALTER TABLE [dbo].[Mileth] DROP CONSTRAINT [DF__Mileth__DefinedX__019E3B86]
GO
ALTER TABLE [dbo].[Mileth] DROP CONSTRAINT [DF__Mileth__ImageVar__00AA174D]
GO
ALTER TABLE [dbo].[Mileth] DROP CONSTRAINT [DF__Mileth__Image__7FB5F314]
GO
ALTER TABLE [dbo].[GMIsland] DROP CONSTRAINT [DF__GMIsland__Level__4BAC3F29]
GO
ALTER TABLE [dbo].[GMIsland] DROP CONSTRAINT [DF__GMIsland__CastSp__47DBAE45]
GO
ALTER TABLE [dbo].[GMIsland] DROP CONSTRAINT [DF__GMIsland__Attack__46E78A0C]
GO
ALTER TABLE [dbo].[GMIsland] DROP CONSTRAINT [DF__GMIsland__Ignore__440B1D61]
GO
ALTER TABLE [dbo].[GMIsland] DROP CONSTRAINT [DF__GMIsland__Engage__45F365D3]
GO
ALTER TABLE [dbo].[GMIsland] DROP CONSTRAINT [DF__GMIsland__Moveme__44FF419A]
GO
ALTER TABLE [dbo].[GMIsland] DROP CONSTRAINT [DF__GMIsland__SpawnR__4316F928]
GO
ALTER TABLE [dbo].[GMIsland] DROP CONSTRAINT [DF__GMIsland__SpawnM__4222D4EF]
GO
ALTER TABLE [dbo].[GMIsland] DROP CONSTRAINT [DF__GMIsland__SpawnS__412EB0B6]
GO
ALTER TABLE [dbo].[GMIsland] DROP CONSTRAINT [DF__GMIsland__Defens__49C3F6B7]
GO
ALTER TABLE [dbo].[GMIsland] DROP CONSTRAINT [DF__GMIsland__Offens__48CFD27E]
GO
ALTER TABLE [dbo].[GMIsland] DROP CONSTRAINT [DF__GMIsland__Define__403A8C7D]
GO
ALTER TABLE [dbo].[GMIsland] DROP CONSTRAINT [DF__GMIsland__Define__3F466844]
GO
ALTER TABLE [dbo].[GMIsland] DROP CONSTRAINT [DF__GMIsland__ImageV__3E52440B]
GO
ALTER TABLE [dbo].[GMIsland] DROP CONSTRAINT [DF__GMIsland__Image__3D5E1FD2]
GO
ALTER TABLE [dbo].[EnchantedGarden] DROP CONSTRAINT [DF__Enchanted__Level__7D439ABD]
GO
ALTER TABLE [dbo].[EnchantedGarden] DROP CONSTRAINT [DF__Enchanted__CastS__797309D9]
GO
ALTER TABLE [dbo].[EnchantedGarden] DROP CONSTRAINT [DF__Enchanted__Attac__787EE5A0]
GO
ALTER TABLE [dbo].[EnchantedGarden] DROP CONSTRAINT [DF__Enchanted__Ignor__75A278F5]
GO
ALTER TABLE [dbo].[EnchantedGarden] DROP CONSTRAINT [DF__Enchanted__Engag__778AC167]
GO
ALTER TABLE [dbo].[EnchantedGarden] DROP CONSTRAINT [DF__Enchanted__Movem__76969D2E]
GO
ALTER TABLE [dbo].[EnchantedGarden] DROP CONSTRAINT [DF__Enchanted__Spawn__74AE54BC]
GO
ALTER TABLE [dbo].[EnchantedGarden] DROP CONSTRAINT [DF__Enchanted__Spawn__73BA3083]
GO
ALTER TABLE [dbo].[EnchantedGarden] DROP CONSTRAINT [DF__Enchanted__Spawn__72C60C4A]
GO
ALTER TABLE [dbo].[EnchantedGarden] DROP CONSTRAINT [DF__Enchanted__Defen__7B5B524B]
GO
ALTER TABLE [dbo].[EnchantedGarden] DROP CONSTRAINT [DF__Enchanted__Offen__7A672E12]
GO
ALTER TABLE [dbo].[EnchantedGarden] DROP CONSTRAINT [DF__Enchanted__Defin__71D1E811]
GO
ALTER TABLE [dbo].[EnchantedGarden] DROP CONSTRAINT [DF__Enchanted__Defin__70DDC3D8]
GO
ALTER TABLE [dbo].[EnchantedGarden] DROP CONSTRAINT [DF__Enchanted__Image__6FE99F9F]
GO
ALTER TABLE [dbo].[EnchantedGarden] DROP CONSTRAINT [DF__Enchanted__Image__6EF57B66]
GO
ALTER TABLE [dbo].[EasternWoods] DROP CONSTRAINT [DF__EasternWo__Level__4830B400]
GO
ALTER TABLE [dbo].[EasternWoods] DROP CONSTRAINT [DF__EasternWo__CastS__4460231C]
GO
ALTER TABLE [dbo].[EasternWoods] DROP CONSTRAINT [DF__EasternWo__Attac__436BFEE3]
GO
ALTER TABLE [dbo].[EasternWoods] DROP CONSTRAINT [DF__EasternWo__Ignor__408F9238]
GO
ALTER TABLE [dbo].[EasternWoods] DROP CONSTRAINT [DF__EasternWo__Engag__4277DAAA]
GO
ALTER TABLE [dbo].[EasternWoods] DROP CONSTRAINT [DF__EasternWo__Movem__4183B671]
GO
ALTER TABLE [dbo].[EasternWoods] DROP CONSTRAINT [DF__EasternWo__Spawn__3F9B6DFF]
GO
ALTER TABLE [dbo].[EasternWoods] DROP CONSTRAINT [DF__EasternWo__Spawn__3EA749C6]
GO
ALTER TABLE [dbo].[EasternWoods] DROP CONSTRAINT [DF__EasternWo__Spawn__3DB3258D]
GO
ALTER TABLE [dbo].[EasternWoods] DROP CONSTRAINT [DF__EasternWo__Defen__46486B8E]
GO
ALTER TABLE [dbo].[EasternWoods] DROP CONSTRAINT [DF__EasternWo__Offen__45544755]
GO
ALTER TABLE [dbo].[EasternWoods] DROP CONSTRAINT [DF__EasternWo__Defin__3CBF0154]
GO
ALTER TABLE [dbo].[EasternWoods] DROP CONSTRAINT [DF__EasternWo__Defin__3BCADD1B]
GO
ALTER TABLE [dbo].[EasternWoods] DROP CONSTRAINT [DF__EasternWo__Image__3AD6B8E2]
GO
ALTER TABLE [dbo].[EasternWoods] DROP CONSTRAINT [DF__EasternWo__Image__39E294A9]
GO
ALTER TABLE [dbo].[Abel] DROP CONSTRAINT [DF__Abel__Level__75586032]
GO
ALTER TABLE [dbo].[Abel] DROP CONSTRAINT [DF__Abel__CastSpeed__727BF387]
GO
ALTER TABLE [dbo].[Abel] DROP CONSTRAINT [DF__Abel__AttackSpee__7187CF4E]
GO
ALTER TABLE [dbo].[Abel] DROP CONSTRAINT [DF__Abel__IgnoreColl__6EAB62A3]
GO
ALTER TABLE [dbo].[Abel] DROP CONSTRAINT [DF__Abel__EngagedSpe__7093AB15]
GO
ALTER TABLE [dbo].[Abel] DROP CONSTRAINT [DF__Abel__MovementSp__6F9F86DC]
GO
ALTER TABLE [dbo].[Abel] DROP CONSTRAINT [DF__Abel__SpawnRate__6DB73E6A]
GO
ALTER TABLE [dbo].[Abel] DROP CONSTRAINT [DF__Abel__SpawnMax__6CC31A31]
GO
ALTER TABLE [dbo].[Abel] DROP CONSTRAINT [DF__Abel__SpawnSize__6BCEF5F8]
GO
ALTER TABLE [dbo].[Abel] DROP CONSTRAINT [DF__Abel__DefenseEle__74643BF9]
GO
ALTER TABLE [dbo].[Abel] DROP CONSTRAINT [DF__Abel__OffenseEle__737017C0]
GO
ALTER TABLE [dbo].[Abel] DROP CONSTRAINT [DF__Abel__DefinedY__6ADAD1BF]
GO
ALTER TABLE [dbo].[Abel] DROP CONSTRAINT [DF__Abel__DefinedX__69E6AD86]
GO
ALTER TABLE [dbo].[Abel] DROP CONSTRAINT [DF__Abel__ImageVaria__68F2894D]
GO
ALTER TABLE [dbo].[Abel] DROP CONSTRAINT [DF__Abel__Image__67FE6514]
GO
/****** Object:  Table [dbo].[WesternWoodlands]    Script Date: 6/2/2023 12:09:20 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WesternWoodlands]') AND type in (N'U'))
DROP TABLE [dbo].[WesternWoodlands]
GO
/****** Object:  Table [dbo].[Wastelands]    Script Date: 6/2/2023 12:09:20 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Wastelands]') AND type in (N'U'))
DROP TABLE [dbo].[Wastelands]
GO
/****** Object:  Table [dbo].[Tutorial]    Script Date: 6/2/2023 12:09:20 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Tutorial]') AND type in (N'U'))
DROP TABLE [dbo].[Tutorial]
GO
/****** Object:  Table [dbo].[Tagor]    Script Date: 6/2/2023 12:09:20 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Tagor]') AND type in (N'U'))
DROP TABLE [dbo].[Tagor]
GO
/****** Object:  Table [dbo].[Piet]    Script Date: 6/2/2023 12:09:20 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Piet]') AND type in (N'U'))
DROP TABLE [dbo].[Piet]
GO
/****** Object:  Table [dbo].[Mileth]    Script Date: 6/2/2023 12:09:20 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Mileth]') AND type in (N'U'))
DROP TABLE [dbo].[Mileth]
GO
/****** Object:  Table [dbo].[GMIsland]    Script Date: 6/2/2023 12:09:20 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GMIsland]') AND type in (N'U'))
DROP TABLE [dbo].[GMIsland]
GO
/****** Object:  Table [dbo].[EnchantedGarden]    Script Date: 6/2/2023 12:09:20 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EnchantedGarden]') AND type in (N'U'))
DROP TABLE [dbo].[EnchantedGarden]
GO
/****** Object:  Table [dbo].[EasternWoods]    Script Date: 6/2/2023 12:09:20 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EasternWoods]') AND type in (N'U'))
DROP TABLE [dbo].[EasternWoods]
GO
/****** Object:  Table [dbo].[Abel]    Script Date: 6/2/2023 12:09:20 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Abel]') AND type in (N'U'))
DROP TABLE [dbo].[Abel]
GO
/****** Object:  Table [dbo].[Abel]    Script Date: 6/2/2023 12:09:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Abel](
	[MonsterId] [int] NOT NULL,
	[DropOne] [varchar](20) NULL,
	[DropTwo] [varchar](20) NULL,
	[DropThree] [varchar](20) NULL,
	[DropFour] [varchar](20) NULL,
	[ScriptName] [varchar](20) NOT NULL,
	[BaseName] [varchar](30) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[Type] [varchar](8) NOT NULL,
	[MonType] [varchar](20) NULL,
	[AreaId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ImageVariance] [int] NOT NULL,
	[SpawnType] [varchar](10) NOT NULL,
	[DefinedX] [int] NOT NULL,
	[DefinedY] [int] NOT NULL,
	[ElementType] [varchar](10) NOT NULL,
	[OffenseElement] [varchar](8) NOT NULL,
	[DefenseElement] [varchar](8) NOT NULL,
	[SpawnSize] [int] NOT NULL,
	[SpawnMax] [int] NOT NULL,
	[SpawnRate] [int] NOT NULL,
	[Mood] [varchar](15) NOT NULL,
	[MovementSpeed] [int] NOT NULL,
	[EngagedSpeed] [int] NOT NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[IgnoreCollision] [bit] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[AttackSpeed] [int] NOT NULL,
	[CastSpeed] [int] NOT NULL,
	[LootType] [varchar](15) NOT NULL,
	[Level] [int] NOT NULL,
	[SpecialSkill] [varchar](20) NULL,
	[SpecialAbility] [varchar](20) NULL,
	[SpecialSpell] [varchar](20) NULL,
 CONSTRAINT [PK__Abel__DC154026C8657769] PRIMARY KEY CLUSTERED 
(
	[MonsterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EasternWoods]    Script Date: 6/2/2023 12:09:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EasternWoods](
	[MonsterId] [int] NOT NULL,
	[DropOne] [varchar](20) NULL,
	[DropTwo] [varchar](20) NULL,
	[DropThree] [varchar](20) NULL,
	[DropFour] [varchar](20) NULL,
	[ScriptName] [varchar](20) NOT NULL,
	[BaseName] [varchar](30) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[Type] [varchar](8) NOT NULL,
	[MonType] [varchar](20) NULL,
	[AreaId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ImageVariance] [int] NOT NULL,
	[SpawnType] [varchar](10) NOT NULL,
	[DefinedX] [int] NOT NULL,
	[DefinedY] [int] NOT NULL,
	[ElementType] [varchar](10) NOT NULL,
	[OffenseElement] [varchar](8) NOT NULL,
	[DefenseElement] [varchar](8) NOT NULL,
	[SpawnSize] [int] NOT NULL,
	[SpawnMax] [int] NOT NULL,
	[SpawnRate] [int] NOT NULL,
	[Mood] [varchar](15) NOT NULL,
	[MovementSpeed] [int] NOT NULL,
	[EngagedSpeed] [int] NOT NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[IgnoreCollision] [bit] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[AttackSpeed] [int] NOT NULL,
	[CastSpeed] [int] NOT NULL,
	[LootType] [varchar](15) NOT NULL,
	[Level] [int] NOT NULL,
	[SpecialSkill] [varchar](20) NULL,
	[SpecialAbility] [varchar](20) NULL,
	[SpecialSpell] [varchar](20) NULL,
 CONSTRAINT [PK__EasternW__DC154026E6D9E83D] PRIMARY KEY CLUSTERED 
(
	[MonsterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EasternWoods] SET (LOCK_ESCALATION = AUTO)
GO
/****** Object:  Table [dbo].[EnchantedGarden]    Script Date: 6/2/2023 12:09:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnchantedGarden](
	[MonsterId] [int] NOT NULL,
	[DropOne] [varchar](20) NULL,
	[DropTwo] [varchar](20) NULL,
	[DropThree] [varchar](20) NULL,
	[DropFour] [varchar](20) NULL,
	[ScriptName] [varchar](20) NOT NULL,
	[BaseName] [varchar](30) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[Type] [varchar](8) NOT NULL,
	[MonType] [varchar](20) NULL,
	[AreaId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ImageVariance] [int] NOT NULL,
	[SpawnType] [varchar](10) NOT NULL,
	[DefinedX] [int] NOT NULL,
	[DefinedY] [int] NOT NULL,
	[ElementType] [varchar](10) NOT NULL,
	[OffenseElement] [varchar](8) NOT NULL,
	[DefenseElement] [varchar](8) NOT NULL,
	[SpawnSize] [int] NOT NULL,
	[SpawnMax] [int] NOT NULL,
	[SpawnRate] [int] NOT NULL,
	[Mood] [varchar](15) NOT NULL,
	[MovementSpeed] [int] NOT NULL,
	[EngagedSpeed] [int] NOT NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[IgnoreCollision] [bit] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[AttackSpeed] [int] NOT NULL,
	[CastSpeed] [int] NOT NULL,
	[LootType] [varchar](15) NOT NULL,
	[Level] [int] NOT NULL,
	[SpecialSkill] [varchar](20) NULL,
	[SpecialAbility] [varchar](20) NULL,
	[SpecialSpell] [varchar](20) NULL,
 CONSTRAINT [PK__Enchante__DC1540268B897A12] PRIMARY KEY CLUSTERED 
(
	[MonsterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EnchantedGarden] SET (LOCK_ESCALATION = AUTO)
GO
/****** Object:  Table [dbo].[GMIsland]    Script Date: 6/2/2023 12:09:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GMIsland](
	[MonsterId] [int] NOT NULL,
	[DropOne] [varchar](20) NULL,
	[DropTwo] [varchar](20) NULL,
	[DropThree] [varchar](20) NULL,
	[DropFour] [varchar](20) NULL,
	[ScriptName] [varchar](20) NOT NULL,
	[BaseName] [varchar](30) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[Type] [varchar](8) NOT NULL,
	[MonType] [varchar](20) NULL,
	[AreaId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ImageVariance] [int] NOT NULL,
	[SpawnType] [varchar](10) NOT NULL,
	[DefinedX] [int] NOT NULL,
	[DefinedY] [int] NOT NULL,
	[ElementType] [varchar](10) NOT NULL,
	[OffenseElement] [varchar](8) NOT NULL,
	[DefenseElement] [varchar](8) NOT NULL,
	[SpawnSize] [int] NOT NULL,
	[SpawnMax] [int] NOT NULL,
	[SpawnRate] [int] NOT NULL,
	[Mood] [varchar](15) NOT NULL,
	[MovementSpeed] [int] NOT NULL,
	[EngagedSpeed] [int] NOT NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[IgnoreCollision] [bit] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[AttackSpeed] [int] NOT NULL,
	[CastSpeed] [int] NOT NULL,
	[LootType] [varchar](15) NOT NULL,
	[Level] [int] NOT NULL,
	[SpecialSkill] [varchar](20) NULL,
	[SpecialAbility] [varchar](20) NULL,
	[SpecialSpell] [varchar](20) NULL,
 CONSTRAINT [PK__GMIsland__DC15402617C41F10] PRIMARY KEY CLUSTERED 
(
	[MonsterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GMIsland] SET (LOCK_ESCALATION = AUTO)
GO
/****** Object:  Table [dbo].[Mileth]    Script Date: 6/2/2023 12:09:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mileth](
	[MonsterId] [int] NOT NULL,
	[DropOne] [varchar](20) NULL,
	[DropTwo] [varchar](20) NULL,
	[DropThree] [varchar](20) NULL,
	[DropFour] [varchar](20) NULL,
	[ScriptName] [varchar](20) NOT NULL,
	[BaseName] [varchar](30) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[Type] [varchar](8) NOT NULL,
	[MonType] [varchar](20) NULL,
	[AreaId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ImageVariance] [int] NOT NULL,
	[SpawnType] [varchar](10) NOT NULL,
	[DefinedX] [int] NOT NULL,
	[DefinedY] [int] NOT NULL,
	[ElementType] [varchar](10) NOT NULL,
	[OffenseElement] [varchar](8) NOT NULL,
	[DefenseElement] [varchar](8) NOT NULL,
	[SpawnSize] [int] NOT NULL,
	[SpawnMax] [int] NOT NULL,
	[SpawnRate] [int] NOT NULL,
	[Mood] [varchar](15) NOT NULL,
	[MovementSpeed] [int] NOT NULL,
	[EngagedSpeed] [int] NOT NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[IgnoreCollision] [bit] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[AttackSpeed] [int] NOT NULL,
	[CastSpeed] [int] NOT NULL,
	[LootType] [varchar](15) NOT NULL,
	[Level] [int] NOT NULL,
	[SpecialSkill] [varchar](20) NULL,
	[SpecialAbility] [varchar](20) NULL,
	[SpecialSpell] [varchar](20) NULL,
 CONSTRAINT [PK__Mileth__DC154026FD6521FC] PRIMARY KEY CLUSTERED 
(
	[MonsterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Mileth] SET (LOCK_ESCALATION = AUTO)
GO
/****** Object:  Table [dbo].[Piet]    Script Date: 6/2/2023 12:09:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Piet](
	[MonsterId] [int] NOT NULL,
	[DropOne] [varchar](20) NULL,
	[DropTwo] [varchar](20) NULL,
	[DropThree] [varchar](20) NULL,
	[DropFour] [varchar](20) NULL,
	[ScriptName] [varchar](20) NOT NULL,
	[BaseName] [varchar](30) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[Type] [varchar](8) NOT NULL,
	[MonType] [varchar](20) NULL,
	[AreaId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ImageVariance] [int] NOT NULL,
	[SpawnType] [varchar](10) NOT NULL,
	[DefinedX] [int] NOT NULL,
	[DefinedY] [int] NOT NULL,
	[ElementType] [varchar](10) NOT NULL,
	[OffenseElement] [varchar](8) NOT NULL,
	[DefenseElement] [varchar](8) NOT NULL,
	[SpawnSize] [int] NOT NULL,
	[SpawnMax] [int] NOT NULL,
	[SpawnRate] [int] NOT NULL,
	[Mood] [varchar](15) NOT NULL,
	[MovementSpeed] [int] NOT NULL,
	[EngagedSpeed] [int] NOT NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[IgnoreCollision] [bit] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[AttackSpeed] [int] NOT NULL,
	[CastSpeed] [int] NOT NULL,
	[LootType] [varchar](15) NOT NULL,
	[Level] [int] NOT NULL,
	[SpecialSkill] [varchar](20) NULL,
	[SpecialAbility] [varchar](20) NULL,
	[SpecialSpell] [varchar](20) NULL,
 CONSTRAINT [PK__Piet__DC15402631BB3C56] PRIMARY KEY CLUSTERED 
(
	[MonsterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tagor]    Script Date: 6/2/2023 12:09:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tagor](
	[MonsterId] [int] NOT NULL,
	[DropOne] [varchar](20) NULL,
	[DropTwo] [varchar](20) NULL,
	[DropThree] [varchar](20) NULL,
	[DropFour] [varchar](20) NULL,
	[ScriptName] [varchar](20) NOT NULL,
	[BaseName] [varchar](30) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[Type] [varchar](8) NOT NULL,
	[MonType] [varchar](20) NULL,
	[AreaId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ImageVariance] [int] NOT NULL,
	[SpawnType] [varchar](10) NOT NULL,
	[DefinedX] [int] NOT NULL,
	[DefinedY] [int] NOT NULL,
	[ElementType] [varchar](10) NOT NULL,
	[OffenseElement] [varchar](8) NOT NULL,
	[DefenseElement] [varchar](8) NOT NULL,
	[SpawnSize] [int] NOT NULL,
	[SpawnMax] [int] NOT NULL,
	[SpawnRate] [int] NOT NULL,
	[Mood] [varchar](15) NOT NULL,
	[MovementSpeed] [int] NOT NULL,
	[EngagedSpeed] [int] NOT NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[IgnoreCollision] [bit] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[AttackSpeed] [int] NOT NULL,
	[CastSpeed] [int] NOT NULL,
	[LootType] [varchar](15) NOT NULL,
	[Level] [int] NOT NULL,
	[SpecialSkill] [varchar](20) NULL,
	[SpecialAbility] [varchar](20) NULL,
	[SpecialSpell] [varchar](20) NULL,
 CONSTRAINT [PK__Tagor__DC154026F61B3652] PRIMARY KEY CLUSTERED 
(
	[MonsterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tutorial]    Script Date: 6/2/2023 12:09:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tutorial](
	[MonsterId] [int] NOT NULL,
	[DropOne] [varchar](20) NULL,
	[DropTwo] [varchar](20) NULL,
	[DropThree] [varchar](20) NULL,
	[DropFour] [varchar](20) NULL,
	[ScriptName] [varchar](20) NOT NULL,
	[BaseName] [varchar](30) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[Type] [varchar](8) NOT NULL,
	[MonType] [varchar](20) NULL,
	[AreaId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ImageVariance] [int] NOT NULL,
	[SpawnType] [varchar](10) NOT NULL,
	[DefinedX] [int] NOT NULL,
	[DefinedY] [int] NOT NULL,
	[ElementType] [varchar](10) NOT NULL,
	[OffenseElement] [varchar](8) NOT NULL,
	[DefenseElement] [varchar](8) NOT NULL,
	[SpawnSize] [int] NOT NULL,
	[SpawnMax] [int] NOT NULL,
	[SpawnRate] [int] NOT NULL,
	[Mood] [varchar](15) NOT NULL,
	[MovementSpeed] [int] NOT NULL,
	[EngagedSpeed] [int] NOT NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[IgnoreCollision] [bit] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[AttackSpeed] [int] NOT NULL,
	[CastSpeed] [int] NOT NULL,
	[LootType] [varchar](15) NOT NULL,
	[Level] [int] NOT NULL,
	[SpecialSkill] [varchar](20) NULL,
	[SpecialAbility] [varchar](20) NULL,
	[SpecialSpell] [varchar](20) NULL,
 CONSTRAINT [PK__Tutorial__DC154026BAE0FADF] PRIMARY KEY CLUSTERED 
(
	[MonsterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tutorial] SET (LOCK_ESCALATION = AUTO)
GO
/****** Object:  Table [dbo].[Wastelands]    Script Date: 6/2/2023 12:09:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wastelands](
	[MonsterId] [int] NOT NULL,
	[DropOne] [varchar](20) NULL,
	[DropTwo] [varchar](20) NULL,
	[DropThree] [varchar](20) NULL,
	[DropFour] [varchar](20) NULL,
	[ScriptName] [varchar](20) NOT NULL,
	[BaseName] [varchar](30) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[Type] [varchar](8) NOT NULL,
	[MonType] [varchar](20) NULL,
	[AreaId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ImageVariance] [int] NOT NULL,
	[SpawnType] [varchar](10) NOT NULL,
	[DefinedX] [int] NOT NULL,
	[DefinedY] [int] NOT NULL,
	[ElementType] [varchar](10) NOT NULL,
	[OffenseElement] [varchar](8) NOT NULL,
	[DefenseElement] [varchar](8) NOT NULL,
	[SpawnSize] [int] NOT NULL,
	[SpawnMax] [int] NOT NULL,
	[SpawnRate] [int] NOT NULL,
	[Mood] [varchar](15) NOT NULL,
	[MovementSpeed] [int] NOT NULL,
	[EngagedSpeed] [int] NOT NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[IgnoreCollision] [bit] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[AttackSpeed] [int] NOT NULL,
	[CastSpeed] [int] NOT NULL,
	[LootType] [varchar](15) NOT NULL,
	[Level] [int] NOT NULL,
	[SpecialSkill] [varchar](20) NULL,
	[SpecialAbility] [varchar](20) NULL,
	[SpecialSpell] [varchar](20) NULL,
 CONSTRAINT [PK__Wastelan__DC154026D5874981] PRIMARY KEY CLUSTERED 
(
	[MonsterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Wastelands] SET (LOCK_ESCALATION = AUTO)
GO
/****** Object:  Table [dbo].[WesternWoodlands]    Script Date: 6/2/2023 12:09:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WesternWoodlands](
	[MonsterId] [int] NOT NULL,
	[DropOne] [varchar](20) NULL,
	[DropTwo] [varchar](20) NULL,
	[DropThree] [varchar](20) NULL,
	[DropFour] [varchar](20) NULL,
	[ScriptName] [varchar](20) NOT NULL,
	[BaseName] [varchar](30) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[Type] [varchar](8) NOT NULL,
	[MonType] [varchar](20) NULL,
	[AreaId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ImageVariance] [int] NOT NULL,
	[SpawnType] [varchar](10) NOT NULL,
	[DefinedX] [int] NOT NULL,
	[DefinedY] [int] NOT NULL,
	[ElementType] [varchar](10) NOT NULL,
	[OffenseElement] [varchar](8) NOT NULL,
	[DefenseElement] [varchar](8) NOT NULL,
	[SpawnSize] [int] NOT NULL,
	[SpawnMax] [int] NOT NULL,
	[SpawnRate] [int] NOT NULL,
	[Mood] [varchar](15) NOT NULL,
	[MovementSpeed] [int] NOT NULL,
	[EngagedSpeed] [int] NOT NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[IgnoreCollision] [bit] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[AttackSpeed] [int] NOT NULL,
	[CastSpeed] [int] NOT NULL,
	[LootType] [varchar](15) NOT NULL,
	[Level] [int] NOT NULL,
	[SpecialSkill] [varchar](20) NULL,
	[SpecialAbility] [varchar](20) NULL,
	[SpecialSpell] [varchar](20) NULL,
 CONSTRAINT [PK__WesternW__DC1540268935CC11] PRIMARY KEY CLUSTERED 
(
	[MonsterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Abel] ADD  CONSTRAINT [DF__Abel__Image__67FE6514]  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[Abel] ADD  CONSTRAINT [DF__Abel__ImageVaria__68F2894D]  DEFAULT ((0)) FOR [ImageVariance]
GO
ALTER TABLE [dbo].[Abel] ADD  CONSTRAINT [DF__Abel__DefinedX__69E6AD86]  DEFAULT ((0)) FOR [DefinedX]
GO
ALTER TABLE [dbo].[Abel] ADD  CONSTRAINT [DF__Abel__DefinedY__6ADAD1BF]  DEFAULT ((0)) FOR [DefinedY]
GO
ALTER TABLE [dbo].[Abel] ADD  CONSTRAINT [DF__Abel__OffenseEle__737017C0]  DEFAULT ('None') FOR [OffenseElement]
GO
ALTER TABLE [dbo].[Abel] ADD  CONSTRAINT [DF__Abel__DefenseEle__74643BF9]  DEFAULT ('None') FOR [DefenseElement]
GO
ALTER TABLE [dbo].[Abel] ADD  CONSTRAINT [DF__Abel__SpawnSize__6BCEF5F8]  DEFAULT ((0)) FOR [SpawnSize]
GO
ALTER TABLE [dbo].[Abel] ADD  CONSTRAINT [DF__Abel__SpawnMax__6CC31A31]  DEFAULT ((20)) FOR [SpawnMax]
GO
ALTER TABLE [dbo].[Abel] ADD  CONSTRAINT [DF__Abel__SpawnRate__6DB73E6A]  DEFAULT ((1)) FOR [SpawnRate]
GO
ALTER TABLE [dbo].[Abel] ADD  CONSTRAINT [DF__Abel__MovementSp__6F9F86DC]  DEFAULT ((2000)) FOR [MovementSpeed]
GO
ALTER TABLE [dbo].[Abel] ADD  CONSTRAINT [DF__Abel__EngagedSpe__7093AB15]  DEFAULT ((1500)) FOR [EngagedSpeed]
GO
ALTER TABLE [dbo].[Abel] ADD  CONSTRAINT [DF__Abel__IgnoreColl__6EAB62A3]  DEFAULT ((0)) FOR [IgnoreCollision]
GO
ALTER TABLE [dbo].[Abel] ADD  CONSTRAINT [DF__Abel__AttackSpee__7187CF4E]  DEFAULT ((1000)) FOR [AttackSpeed]
GO
ALTER TABLE [dbo].[Abel] ADD  CONSTRAINT [DF__Abel__CastSpeed__727BF387]  DEFAULT ((10000)) FOR [CastSpeed]
GO
ALTER TABLE [dbo].[Abel] ADD  CONSTRAINT [DF__Abel__Level__75586032]  DEFAULT ((1)) FOR [Level]
GO
ALTER TABLE [dbo].[EasternWoods] ADD  CONSTRAINT [DF__EasternWo__Image__39E294A9]  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[EasternWoods] ADD  CONSTRAINT [DF__EasternWo__Image__3AD6B8E2]  DEFAULT ((0)) FOR [ImageVariance]
GO
ALTER TABLE [dbo].[EasternWoods] ADD  CONSTRAINT [DF__EasternWo__Defin__3BCADD1B]  DEFAULT ((0)) FOR [DefinedX]
GO
ALTER TABLE [dbo].[EasternWoods] ADD  CONSTRAINT [DF__EasternWo__Defin__3CBF0154]  DEFAULT ((0)) FOR [DefinedY]
GO
ALTER TABLE [dbo].[EasternWoods] ADD  CONSTRAINT [DF__EasternWo__Offen__45544755]  DEFAULT ((0)) FOR [OffenseElement]
GO
ALTER TABLE [dbo].[EasternWoods] ADD  CONSTRAINT [DF__EasternWo__Defen__46486B8E]  DEFAULT ((0)) FOR [DefenseElement]
GO
ALTER TABLE [dbo].[EasternWoods] ADD  CONSTRAINT [DF__EasternWo__Spawn__3DB3258D]  DEFAULT ((0)) FOR [SpawnSize]
GO
ALTER TABLE [dbo].[EasternWoods] ADD  CONSTRAINT [DF__EasternWo__Spawn__3EA749C6]  DEFAULT ((20)) FOR [SpawnMax]
GO
ALTER TABLE [dbo].[EasternWoods] ADD  CONSTRAINT [DF__EasternWo__Spawn__3F9B6DFF]  DEFAULT ((1)) FOR [SpawnRate]
GO
ALTER TABLE [dbo].[EasternWoods] ADD  CONSTRAINT [DF__EasternWo__Movem__4183B671]  DEFAULT ((1800)) FOR [MovementSpeed]
GO
ALTER TABLE [dbo].[EasternWoods] ADD  CONSTRAINT [DF__EasternWo__Engag__4277DAAA]  DEFAULT ((900)) FOR [EngagedSpeed]
GO
ALTER TABLE [dbo].[EasternWoods] ADD  CONSTRAINT [DF__EasternWo__Ignor__408F9238]  DEFAULT ((0)) FOR [IgnoreCollision]
GO
ALTER TABLE [dbo].[EasternWoods] ADD  CONSTRAINT [DF__EasternWo__Attac__436BFEE3]  DEFAULT ((1000)) FOR [AttackSpeed]
GO
ALTER TABLE [dbo].[EasternWoods] ADD  CONSTRAINT [DF__EasternWo__CastS__4460231C]  DEFAULT ((5000)) FOR [CastSpeed]
GO
ALTER TABLE [dbo].[EasternWoods] ADD  CONSTRAINT [DF__EasternWo__Level__4830B400]  DEFAULT ((1)) FOR [Level]
GO
ALTER TABLE [dbo].[EnchantedGarden] ADD  CONSTRAINT [DF__Enchanted__Image__6EF57B66]  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[EnchantedGarden] ADD  CONSTRAINT [DF__Enchanted__Image__6FE99F9F]  DEFAULT ((0)) FOR [ImageVariance]
GO
ALTER TABLE [dbo].[EnchantedGarden] ADD  CONSTRAINT [DF__Enchanted__Defin__70DDC3D8]  DEFAULT ((0)) FOR [DefinedX]
GO
ALTER TABLE [dbo].[EnchantedGarden] ADD  CONSTRAINT [DF__Enchanted__Defin__71D1E811]  DEFAULT ((0)) FOR [DefinedY]
GO
ALTER TABLE [dbo].[EnchantedGarden] ADD  CONSTRAINT [DF__Enchanted__Offen__7A672E12]  DEFAULT ((0)) FOR [OffenseElement]
GO
ALTER TABLE [dbo].[EnchantedGarden] ADD  CONSTRAINT [DF__Enchanted__Defen__7B5B524B]  DEFAULT ((0)) FOR [DefenseElement]
GO
ALTER TABLE [dbo].[EnchantedGarden] ADD  CONSTRAINT [DF__Enchanted__Spawn__72C60C4A]  DEFAULT ((0)) FOR [SpawnSize]
GO
ALTER TABLE [dbo].[EnchantedGarden] ADD  CONSTRAINT [DF__Enchanted__Spawn__73BA3083]  DEFAULT ((20)) FOR [SpawnMax]
GO
ALTER TABLE [dbo].[EnchantedGarden] ADD  CONSTRAINT [DF__Enchanted__Spawn__74AE54BC]  DEFAULT ((1)) FOR [SpawnRate]
GO
ALTER TABLE [dbo].[EnchantedGarden] ADD  CONSTRAINT [DF__Enchanted__Movem__76969D2E]  DEFAULT ((1800)) FOR [MovementSpeed]
GO
ALTER TABLE [dbo].[EnchantedGarden] ADD  CONSTRAINT [DF__Enchanted__Engag__778AC167]  DEFAULT ((900)) FOR [EngagedSpeed]
GO
ALTER TABLE [dbo].[EnchantedGarden] ADD  CONSTRAINT [DF__Enchanted__Ignor__75A278F5]  DEFAULT ((0)) FOR [IgnoreCollision]
GO
ALTER TABLE [dbo].[EnchantedGarden] ADD  CONSTRAINT [DF__Enchanted__Attac__787EE5A0]  DEFAULT ((1000)) FOR [AttackSpeed]
GO
ALTER TABLE [dbo].[EnchantedGarden] ADD  CONSTRAINT [DF__Enchanted__CastS__797309D9]  DEFAULT ((5000)) FOR [CastSpeed]
GO
ALTER TABLE [dbo].[EnchantedGarden] ADD  CONSTRAINT [DF__Enchanted__Level__7D439ABD]  DEFAULT ((1)) FOR [Level]
GO
ALTER TABLE [dbo].[GMIsland] ADD  CONSTRAINT [DF__GMIsland__Image__3D5E1FD2]  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[GMIsland] ADD  CONSTRAINT [DF__GMIsland__ImageV__3E52440B]  DEFAULT ((0)) FOR [ImageVariance]
GO
ALTER TABLE [dbo].[GMIsland] ADD  CONSTRAINT [DF__GMIsland__Define__3F466844]  DEFAULT ((0)) FOR [DefinedX]
GO
ALTER TABLE [dbo].[GMIsland] ADD  CONSTRAINT [DF__GMIsland__Define__403A8C7D]  DEFAULT ((0)) FOR [DefinedY]
GO
ALTER TABLE [dbo].[GMIsland] ADD  CONSTRAINT [DF__GMIsland__Offens__48CFD27E]  DEFAULT ((0)) FOR [OffenseElement]
GO
ALTER TABLE [dbo].[GMIsland] ADD  CONSTRAINT [DF__GMIsland__Defens__49C3F6B7]  DEFAULT ((0)) FOR [DefenseElement]
GO
ALTER TABLE [dbo].[GMIsland] ADD  CONSTRAINT [DF__GMIsland__SpawnS__412EB0B6]  DEFAULT ((0)) FOR [SpawnSize]
GO
ALTER TABLE [dbo].[GMIsland] ADD  CONSTRAINT [DF__GMIsland__SpawnM__4222D4EF]  DEFAULT ((20)) FOR [SpawnMax]
GO
ALTER TABLE [dbo].[GMIsland] ADD  CONSTRAINT [DF__GMIsland__SpawnR__4316F928]  DEFAULT ((1)) FOR [SpawnRate]
GO
ALTER TABLE [dbo].[GMIsland] ADD  CONSTRAINT [DF__GMIsland__Moveme__44FF419A]  DEFAULT ((1800)) FOR [MovementSpeed]
GO
ALTER TABLE [dbo].[GMIsland] ADD  CONSTRAINT [DF__GMIsland__Engage__45F365D3]  DEFAULT ((900)) FOR [EngagedSpeed]
GO
ALTER TABLE [dbo].[GMIsland] ADD  CONSTRAINT [DF__GMIsland__Ignore__440B1D61]  DEFAULT ((0)) FOR [IgnoreCollision]
GO
ALTER TABLE [dbo].[GMIsland] ADD  CONSTRAINT [DF__GMIsland__Attack__46E78A0C]  DEFAULT ((1000)) FOR [AttackSpeed]
GO
ALTER TABLE [dbo].[GMIsland] ADD  CONSTRAINT [DF__GMIsland__CastSp__47DBAE45]  DEFAULT ((5000)) FOR [CastSpeed]
GO
ALTER TABLE [dbo].[GMIsland] ADD  CONSTRAINT [DF__GMIsland__Level__4BAC3F29]  DEFAULT ((1)) FOR [Level]
GO
ALTER TABLE [dbo].[Mileth] ADD  CONSTRAINT [DF__Mileth__Image__7FB5F314]  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[Mileth] ADD  CONSTRAINT [DF__Mileth__ImageVar__00AA174D]  DEFAULT ((0)) FOR [ImageVariance]
GO
ALTER TABLE [dbo].[Mileth] ADD  CONSTRAINT [DF__Mileth__DefinedX__019E3B86]  DEFAULT ((0)) FOR [DefinedX]
GO
ALTER TABLE [dbo].[Mileth] ADD  CONSTRAINT [DF__Mileth__DefinedY__02925FBF]  DEFAULT ((0)) FOR [DefinedY]
GO
ALTER TABLE [dbo].[Mileth] ADD  CONSTRAINT [DF__Mileth__OffenseE__0B27A5C0]  DEFAULT ((0)) FOR [OffenseElement]
GO
ALTER TABLE [dbo].[Mileth] ADD  CONSTRAINT [DF__Mileth__DefenseE__0C1BC9F9]  DEFAULT ((0)) FOR [DefenseElement]
GO
ALTER TABLE [dbo].[Mileth] ADD  CONSTRAINT [DF__Mileth__SpawnSiz__038683F8]  DEFAULT ((0)) FOR [SpawnSize]
GO
ALTER TABLE [dbo].[Mileth] ADD  CONSTRAINT [DF__Mileth__SpawnMax__047AA831]  DEFAULT ((20)) FOR [SpawnMax]
GO
ALTER TABLE [dbo].[Mileth] ADD  CONSTRAINT [DF__Mileth__SpawnRat__056ECC6A]  DEFAULT ((1)) FOR [SpawnRate]
GO
ALTER TABLE [dbo].[Mileth] ADD  CONSTRAINT [DF__Mileth__Movement__075714DC]  DEFAULT ((1800)) FOR [MovementSpeed]
GO
ALTER TABLE [dbo].[Mileth] ADD  CONSTRAINT [DF__Mileth__EngagedS__084B3915]  DEFAULT ((900)) FOR [EngagedSpeed]
GO
ALTER TABLE [dbo].[Mileth] ADD  CONSTRAINT [DF__Mileth__IgnoreCo__0662F0A3]  DEFAULT ((0)) FOR [IgnoreCollision]
GO
ALTER TABLE [dbo].[Mileth] ADD  CONSTRAINT [DF__Mileth__AttackSp__093F5D4E]  DEFAULT ((1000)) FOR [AttackSpeed]
GO
ALTER TABLE [dbo].[Mileth] ADD  CONSTRAINT [DF__Mileth__CastSpee__0A338187]  DEFAULT ((5000)) FOR [CastSpeed]
GO
ALTER TABLE [dbo].[Mileth] ADD  CONSTRAINT [DF__Mileth__Level__0E04126B]  DEFAULT ((1)) FOR [Level]
GO
ALTER TABLE [dbo].[Piet] ADD  CONSTRAINT [DF__Piet__Image__43C1049E]  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[Piet] ADD  CONSTRAINT [DF__Piet__ImageVaria__44B528D7]  DEFAULT ((0)) FOR [ImageVariance]
GO
ALTER TABLE [dbo].[Piet] ADD  CONSTRAINT [DF__Piet__DefinedX__45A94D10]  DEFAULT ((0)) FOR [DefinedX]
GO
ALTER TABLE [dbo].[Piet] ADD  CONSTRAINT [DF__Piet__DefinedY__469D7149]  DEFAULT ((0)) FOR [DefinedY]
GO
ALTER TABLE [dbo].[Piet] ADD  CONSTRAINT [DF__Piet__OffenseEle__4F32B74A]  DEFAULT ('None') FOR [OffenseElement]
GO
ALTER TABLE [dbo].[Piet] ADD  CONSTRAINT [DF__Piet__DefenseEle__5026DB83]  DEFAULT ('None') FOR [DefenseElement]
GO
ALTER TABLE [dbo].[Piet] ADD  CONSTRAINT [DF__Piet__SpawnSize__47919582]  DEFAULT ((0)) FOR [SpawnSize]
GO
ALTER TABLE [dbo].[Piet] ADD  CONSTRAINT [DF__Piet__SpawnMax__4885B9BB]  DEFAULT ((20)) FOR [SpawnMax]
GO
ALTER TABLE [dbo].[Piet] ADD  CONSTRAINT [DF__Piet__SpawnRate__4979DDF4]  DEFAULT ((1)) FOR [SpawnRate]
GO
ALTER TABLE [dbo].[Piet] ADD  CONSTRAINT [DF__Piet__MovementSp__4B622666]  DEFAULT ((2000)) FOR [MovementSpeed]
GO
ALTER TABLE [dbo].[Piet] ADD  CONSTRAINT [DF__Piet__EngagedSpe__4C564A9F]  DEFAULT ((1500)) FOR [EngagedSpeed]
GO
ALTER TABLE [dbo].[Piet] ADD  CONSTRAINT [DF__Piet__IgnoreColl__4A6E022D]  DEFAULT ((0)) FOR [IgnoreCollision]
GO
ALTER TABLE [dbo].[Piet] ADD  CONSTRAINT [DF__Piet__AttackSpee__4D4A6ED8]  DEFAULT ((1000)) FOR [AttackSpeed]
GO
ALTER TABLE [dbo].[Piet] ADD  CONSTRAINT [DF__Piet__CastSpeed__4E3E9311]  DEFAULT ((10000)) FOR [CastSpeed]
GO
ALTER TABLE [dbo].[Piet] ADD  CONSTRAINT [DF__Piet__Level__511AFFBC]  DEFAULT ((1)) FOR [Level]
GO
ALTER TABLE [dbo].[Tagor] ADD  CONSTRAINT [DF__Tagor__Image__5669C4BE]  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[Tagor] ADD  CONSTRAINT [DF__Tagor__ImageVari__575DE8F7]  DEFAULT ((0)) FOR [ImageVariance]
GO
ALTER TABLE [dbo].[Tagor] ADD  CONSTRAINT [DF__Tagor__DefinedX__58520D30]  DEFAULT ((0)) FOR [DefinedX]
GO
ALTER TABLE [dbo].[Tagor] ADD  CONSTRAINT [DF__Tagor__DefinedY__59463169]  DEFAULT ((0)) FOR [DefinedY]
GO
ALTER TABLE [dbo].[Tagor] ADD  CONSTRAINT [DF__Tagor__OffenseEl__5A3A55A2]  DEFAULT ('None') FOR [OffenseElement]
GO
ALTER TABLE [dbo].[Tagor] ADD  CONSTRAINT [DF__Tagor__DefenseEl__5B2E79DB]  DEFAULT ('None') FOR [DefenseElement]
GO
ALTER TABLE [dbo].[Tagor] ADD  CONSTRAINT [DF__Tagor__SpawnSize__5C229E14]  DEFAULT ((0)) FOR [SpawnSize]
GO
ALTER TABLE [dbo].[Tagor] ADD  CONSTRAINT [DF__Tagor__SpawnMax__5D16C24D]  DEFAULT ((20)) FOR [SpawnMax]
GO
ALTER TABLE [dbo].[Tagor] ADD  CONSTRAINT [DF__Tagor__SpawnRate__5E0AE686]  DEFAULT ((1)) FOR [SpawnRate]
GO
ALTER TABLE [dbo].[Tagor] ADD  CONSTRAINT [DF__Tagor__MovementS__5EFF0ABF]  DEFAULT ((2000)) FOR [MovementSpeed]
GO
ALTER TABLE [dbo].[Tagor] ADD  CONSTRAINT [DF__Tagor__EngagedSp__5FF32EF8]  DEFAULT ((1500)) FOR [EngagedSpeed]
GO
ALTER TABLE [dbo].[Tagor] ADD  CONSTRAINT [DF__Tagor__IgnoreCol__60E75331]  DEFAULT ((0)) FOR [IgnoreCollision]
GO
ALTER TABLE [dbo].[Tagor] ADD  CONSTRAINT [DF__Tagor__AttackSpe__61DB776A]  DEFAULT ((1000)) FOR [AttackSpeed]
GO
ALTER TABLE [dbo].[Tagor] ADD  CONSTRAINT [DF__Tagor__CastSpeed__62CF9BA3]  DEFAULT ((10000)) FOR [CastSpeed]
GO
ALTER TABLE [dbo].[Tagor] ADD  CONSTRAINT [DF__Tagor__Level__63C3BFDC]  DEFAULT ((1)) FOR [Level]
GO
ALTER TABLE [dbo].[Tutorial] ADD  CONSTRAINT [DF__Tutorial__Image__1C873BEC]  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[Tutorial] ADD  CONSTRAINT [DF__Tutorial__ImageV__1D7B6025]  DEFAULT ((0)) FOR [ImageVariance]
GO
ALTER TABLE [dbo].[Tutorial] ADD  CONSTRAINT [DF__Tutorial__Define__1E6F845E]  DEFAULT ((0)) FOR [DefinedX]
GO
ALTER TABLE [dbo].[Tutorial] ADD  CONSTRAINT [DF__Tutorial__Define__1F63A897]  DEFAULT ((0)) FOR [DefinedY]
GO
ALTER TABLE [dbo].[Tutorial] ADD  CONSTRAINT [DF__Tutorial__Offens__27F8EE98]  DEFAULT ((0)) FOR [OffenseElement]
GO
ALTER TABLE [dbo].[Tutorial] ADD  CONSTRAINT [DF__Tutorial__Defens__28ED12D1]  DEFAULT ((0)) FOR [DefenseElement]
GO
ALTER TABLE [dbo].[Tutorial] ADD  CONSTRAINT [DF__Tutorial__SpawnS__2057CCD0]  DEFAULT ((0)) FOR [SpawnSize]
GO
ALTER TABLE [dbo].[Tutorial] ADD  CONSTRAINT [DF__Tutorial__SpawnM__214BF109]  DEFAULT ((20)) FOR [SpawnMax]
GO
ALTER TABLE [dbo].[Tutorial] ADD  CONSTRAINT [DF__Tutorial__SpawnR__22401542]  DEFAULT ((1)) FOR [SpawnRate]
GO
ALTER TABLE [dbo].[Tutorial] ADD  CONSTRAINT [DF__Tutorial__Moveme__24285DB4]  DEFAULT ((1800)) FOR [MovementSpeed]
GO
ALTER TABLE [dbo].[Tutorial] ADD  CONSTRAINT [DF__Tutorial__Engage__251C81ED]  DEFAULT ((900)) FOR [EngagedSpeed]
GO
ALTER TABLE [dbo].[Tutorial] ADD  CONSTRAINT [DF__Tutorial__Ignore__2334397B]  DEFAULT ((0)) FOR [IgnoreCollision]
GO
ALTER TABLE [dbo].[Tutorial] ADD  CONSTRAINT [DF__Tutorial__Attack__2610A626]  DEFAULT ((1000)) FOR [AttackSpeed]
GO
ALTER TABLE [dbo].[Tutorial] ADD  CONSTRAINT [DF__Tutorial__CastSp__2704CA5F]  DEFAULT ((5000)) FOR [CastSpeed]
GO
ALTER TABLE [dbo].[Tutorial] ADD  CONSTRAINT [DF__Tutorial__Level__2AD55B43]  DEFAULT ((1)) FOR [Level]
GO
ALTER TABLE [dbo].[Wastelands] ADD  CONSTRAINT [DF__Wasteland__Image__6AEFE058]  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[Wastelands] ADD  CONSTRAINT [DF__Wasteland__Image__6BE40491]  DEFAULT ((0)) FOR [ImageVariance]
GO
ALTER TABLE [dbo].[Wastelands] ADD  CONSTRAINT [DF__Wasteland__Defin__6CD828CA]  DEFAULT ((0)) FOR [DefinedX]
GO
ALTER TABLE [dbo].[Wastelands] ADD  CONSTRAINT [DF__Wasteland__Defin__6DCC4D03]  DEFAULT ((0)) FOR [DefinedY]
GO
ALTER TABLE [dbo].[Wastelands] ADD  CONSTRAINT [DF__Wasteland__Offen__76619304]  DEFAULT ((0)) FOR [OffenseElement]
GO
ALTER TABLE [dbo].[Wastelands] ADD  CONSTRAINT [DF__Wasteland__Defen__7755B73D]  DEFAULT ((0)) FOR [DefenseElement]
GO
ALTER TABLE [dbo].[Wastelands] ADD  CONSTRAINT [DF__Wasteland__Spawn__6EC0713C]  DEFAULT ((0)) FOR [SpawnSize]
GO
ALTER TABLE [dbo].[Wastelands] ADD  CONSTRAINT [DF__Wasteland__Spawn__6FB49575]  DEFAULT ((20)) FOR [SpawnMax]
GO
ALTER TABLE [dbo].[Wastelands] ADD  CONSTRAINT [DF__Wasteland__Spawn__70A8B9AE]  DEFAULT ((1)) FOR [SpawnRate]
GO
ALTER TABLE [dbo].[Wastelands] ADD  CONSTRAINT [DF__Wasteland__Movem__72910220]  DEFAULT ((1800)) FOR [MovementSpeed]
GO
ALTER TABLE [dbo].[Wastelands] ADD  CONSTRAINT [DF__Wasteland__Engag__73852659]  DEFAULT ((900)) FOR [EngagedSpeed]
GO
ALTER TABLE [dbo].[Wastelands] ADD  CONSTRAINT [DF__Wasteland__Ignor__719CDDE7]  DEFAULT ((0)) FOR [IgnoreCollision]
GO
ALTER TABLE [dbo].[Wastelands] ADD  CONSTRAINT [DF__Wasteland__Attac__74794A92]  DEFAULT ((1000)) FOR [AttackSpeed]
GO
ALTER TABLE [dbo].[Wastelands] ADD  CONSTRAINT [DF__Wasteland__CastS__756D6ECB]  DEFAULT ((5000)) FOR [CastSpeed]
GO
ALTER TABLE [dbo].[Wastelands] ADD  CONSTRAINT [DF__Wasteland__Level__793DFFAF]  DEFAULT ((1)) FOR [Level]
GO
ALTER TABLE [dbo].[WesternWoodlands] ADD  CONSTRAINT [DF__WesternWo__Image__0618D7E0]  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[WesternWoodlands] ADD  CONSTRAINT [DF__WesternWo__Image__070CFC19]  DEFAULT ((0)) FOR [ImageVariance]
GO
ALTER TABLE [dbo].[WesternWoodlands] ADD  CONSTRAINT [DF__WesternWo__Defin__08012052]  DEFAULT ((0)) FOR [DefinedX]
GO
ALTER TABLE [dbo].[WesternWoodlands] ADD  CONSTRAINT [DF__WesternWo__Defin__08F5448B]  DEFAULT ((0)) FOR [DefinedY]
GO
ALTER TABLE [dbo].[WesternWoodlands] ADD  CONSTRAINT [DF__WesternWo__Offen__09E968C4]  DEFAULT ('None') FOR [OffenseElement]
GO
ALTER TABLE [dbo].[WesternWoodlands] ADD  CONSTRAINT [DF__WesternWo__Defen__0ADD8CFD]  DEFAULT ('None') FOR [DefenseElement]
GO
ALTER TABLE [dbo].[WesternWoodlands] ADD  CONSTRAINT [DF__WesternWo__Spawn__0BD1B136]  DEFAULT ((0)) FOR [SpawnSize]
GO
ALTER TABLE [dbo].[WesternWoodlands] ADD  CONSTRAINT [DF__WesternWo__Spawn__0CC5D56F]  DEFAULT ((20)) FOR [SpawnMax]
GO
ALTER TABLE [dbo].[WesternWoodlands] ADD  CONSTRAINT [DF__WesternWo__Spawn__0DB9F9A8]  DEFAULT ((1)) FOR [SpawnRate]
GO
ALTER TABLE [dbo].[WesternWoodlands] ADD  CONSTRAINT [DF__WesternWo__Movem__0EAE1DE1]  DEFAULT ((2000)) FOR [MovementSpeed]
GO
ALTER TABLE [dbo].[WesternWoodlands] ADD  CONSTRAINT [DF__WesternWo__Engag__0FA2421A]  DEFAULT ((1500)) FOR [EngagedSpeed]
GO
ALTER TABLE [dbo].[WesternWoodlands] ADD  CONSTRAINT [DF__WesternWo__Ignor__10966653]  DEFAULT ((0)) FOR [IgnoreCollision]
GO
ALTER TABLE [dbo].[WesternWoodlands] ADD  CONSTRAINT [DF__WesternWo__Attac__118A8A8C]  DEFAULT ((1000)) FOR [AttackSpeed]
GO
ALTER TABLE [dbo].[WesternWoodlands] ADD  CONSTRAINT [DF__WesternWo__CastS__127EAEC5]  DEFAULT ((10000)) FOR [CastSpeed]
GO
ALTER TABLE [dbo].[WesternWoodlands] ADD  CONSTRAINT [DF__WesternWo__Level__1372D2FE]  DEFAULT ((1)) FOR [Level]
GO
