USE [ZolianAbilities]
GO
ALTER TABLE [dbo].[Spells] DROP CONSTRAINT [FK__Spells__Predicat__2E26C93A]
GO
ALTER TABLE [dbo].[Skills] DROP CONSTRAINT [FK__Skills__Predicat__20ACD28B]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] DROP CONSTRAINT [DF__SpellsPre__Dexte__1CFC3D38]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] DROP CONSTRAINT [DF__SpellsPre__Const__1C0818FF]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] DROP CONSTRAINT [DF__SpellsPre__Wisdo__1B13F4C6]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] DROP CONSTRAINT [DF__SpellsPre__Intel__1A1FD08D]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] DROP CONSTRAINT [DF__SpellsPre__Stren__192BAC54]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] DROP CONSTRAINT [DF__SpellsPre__Exper__1DF06171]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] DROP CONSTRAINT [DF__SpellsPre__Stage__21C0F255]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] DROP CONSTRAINT [DF__SpellsPre__Spell__20CCCE1C]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] DROP CONSTRAINT [DF__SpellsPre__Skill__1FD8A9E3]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] DROP CONSTRAINT [DF__SpellsPrer__Gold__1EE485AA]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] DROP CONSTRAINT [DF__SpellsPre__Item5__1837881B]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] DROP CONSTRAINT [DF__SpellsPre__Item4__174363E2]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] DROP CONSTRAINT [DF__SpellsPre__Item3__164F3FA9]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] DROP CONSTRAINT [DF__SpellsPre__Item2__155B1B70]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] DROP CONSTRAINT [DF__SpellsPre__Item1__1466F737]
GO
ALTER TABLE [dbo].[Spells] DROP CONSTRAINT [DF__Spells__ManaCost__35C7EB02]
GO
ALTER TABLE [dbo].[Spells] DROP CONSTRAINT [DF__Spells__MaxLevel__34D3C6C9]
GO
ALTER TABLE [dbo].[Spells] DROP CONSTRAINT [DF__Spells__Animatio__33DFA290]
GO
ALTER TABLE [dbo].[Spells] DROP CONSTRAINT [DF__Spells__TargetAn__32EB7E57]
GO
ALTER TABLE [dbo].[Spells] DROP CONSTRAINT [DF__Spells__MaxLines__31F75A1E]
GO
ALTER TABLE [dbo].[Spells] DROP CONSTRAINT [DF__Spells__MinLines__310335E5]
GO
ALTER TABLE [dbo].[Spells] DROP CONSTRAINT [DF__Spells__BaseLine__300F11AC]
GO
ALTER TABLE [dbo].[Spells] DROP CONSTRAINT [DF__Spells__Element__2F1AED73]
GO
ALTER TABLE [dbo].[Spells] DROP CONSTRAINT [DF__Spells__Sound__2C3E80C8]
GO
ALTER TABLE [dbo].[Spells] DROP CONSTRAINT [DF__Spells__Cooldown__2B4A5C8F]
GO
ALTER TABLE [dbo].[Spells] DROP CONSTRAINT [DF__Spells__Icon__2A563856]
GO
ALTER TABLE [dbo].[SkillsPrerequisites] DROP CONSTRAINT [DF__SkillsPre__Dexte__0F824689]
GO
ALTER TABLE [dbo].[SkillsPrerequisites] DROP CONSTRAINT [DF__SkillsPre__Const__0E8E2250]
GO
ALTER TABLE [dbo].[SkillsPrerequisites] DROP CONSTRAINT [DF__SkillsPre__Wisdo__0D99FE17]
GO
ALTER TABLE [dbo].[SkillsPrerequisites] DROP CONSTRAINT [DF__SkillsPre__Intel__0CA5D9DE]
GO
ALTER TABLE [dbo].[SkillsPrerequisites] DROP CONSTRAINT [DF__SkillsPre__Stren__0BB1B5A5]
GO
ALTER TABLE [dbo].[SkillsPrerequisites] DROP CONSTRAINT [DF__SkillsPre__Exper__10766AC2]
GO
ALTER TABLE [dbo].[SkillsPrerequisites] DROP CONSTRAINT [DF__SkillsPre__Stage__1446FBA6]
GO
ALTER TABLE [dbo].[SkillsPrerequisites] DROP CONSTRAINT [DF__SkillsPre__Spell__1352D76D]
GO
ALTER TABLE [dbo].[SkillsPrerequisites] DROP CONSTRAINT [DF__SkillsPre__Skill__125EB334]
GO
ALTER TABLE [dbo].[SkillsPrerequisites] DROP CONSTRAINT [DF__SkillsPrer__Gold__116A8EFB]
GO
ALTER TABLE [dbo].[SkillsPrerequisites] DROP CONSTRAINT [DF__SkillsPre__Item5__0ABD916C]
GO
ALTER TABLE [dbo].[SkillsPrerequisites] DROP CONSTRAINT [DF__SkillsPre__Item4__09C96D33]
GO
ALTER TABLE [dbo].[SkillsPrerequisites] DROP CONSTRAINT [DF__SkillsPre__Item3__08D548FA]
GO
ALTER TABLE [dbo].[SkillsPrerequisites] DROP CONSTRAINT [DF__SkillsPre__Item2__07E124C1]
GO
ALTER TABLE [dbo].[SkillsPrerequisites] DROP CONSTRAINT [DF__SkillsPre__Item1__06ED0088]
GO
ALTER TABLE [dbo].[Skills] DROP CONSTRAINT [DF__Skills__MaxLevel__23893F36]
GO
ALTER TABLE [dbo].[Skills] DROP CONSTRAINT [DF__Skills__MissAnim__22951AFD]
GO
ALTER TABLE [dbo].[Skills] DROP CONSTRAINT [DF__Skills__TargetAn__21A0F6C4]
GO
ALTER TABLE [dbo].[Skills] DROP CONSTRAINT [DF__Skills__Sound__1EC48A19]
GO
ALTER TABLE [dbo].[Skills] DROP CONSTRAINT [DF__Skills__Cooldown__1DD065E0]
GO
ALTER TABLE [dbo].[Skills] DROP CONSTRAINT [DF__Skills__Icon__1CDC41A7]
GO
/****** Object:  Table [dbo].[SpellsPrerequisites]    Script Date: 3/22/2026 11:56:46 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SpellsPrerequisites]') AND type in (N'U'))
DROP TABLE [dbo].[SpellsPrerequisites]
GO
/****** Object:  Table [dbo].[Spells]    Script Date: 3/22/2026 11:56:46 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Spells]') AND type in (N'U'))
DROP TABLE [dbo].[Spells]
GO
/****** Object:  Table [dbo].[SkillsPrerequisites]    Script Date: 3/22/2026 11:56:46 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SkillsPrerequisites]') AND type in (N'U'))
DROP TABLE [dbo].[SkillsPrerequisites]
GO
/****** Object:  Table [dbo].[Skills]    Script Date: 3/22/2026 11:56:46 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Skills]') AND type in (N'U'))
DROP TABLE [dbo].[Skills]
GO
/****** Object:  Table [dbo].[Skills]    Script Date: 3/22/2026 11:56:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skills](
	[SkillId] [int] NOT NULL,
	[Icon] [int] NOT NULL,
	[ScriptName] [varchar](20) NOT NULL,
	[Pane] [varchar](10) NOT NULL,
	[Cooldown] [int] NOT NULL,
	[Sound] [int] NOT NULL,
	[PostAttribute] [varchar](15) NOT NULL,
	[PredicateId] [int] NULL,
	[TargetAnimation] [int] NOT NULL,
	[MissAnimation] [int] NOT NULL,
	[MaxLevel] [int] NOT NULL,
	[FailMsg] [varchar](40) NULL,
	[NpcKey] [varchar](30) NULL,
	[SkillScope] [varchar](10) NOT NULL,
	[Description] [varchar](100) NULL,
	[DamageMod] [varchar](20) NULL,
 CONSTRAINT [PK__Skills__DFA091877C16AC27] PRIMARY KEY CLUSTERED 
(
	[SkillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Skills] SET (LOCK_ESCALATION = AUTO)
GO
/****** Object:  Table [dbo].[SkillsPrerequisites]    Script Date: 3/22/2026 11:56:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SkillsPrerequisites](
	[PredicateId] [int] NOT NULL,
	[Item1Name] [varchar](30) NULL,
	[Item1Qty] [int] NOT NULL,
	[Item2Name] [varchar](30) NULL,
	[Item2Qty] [int] NOT NULL,
	[Item3Name] [varchar](30) NULL,
	[Item3Qty] [int] NOT NULL,
	[Item4Name] [varchar](30) NULL,
	[Item4Qty] [int] NOT NULL,
	[Item5Name] [varchar](30) NULL,
	[Item5Qty] [int] NOT NULL,
	[Experience] [bigint] NOT NULL,
	[Gold] [int] NOT NULL,
	[SkillLevel] [int] NOT NULL,
	[SkillRequired] [varchar](30) NULL,
	[SpellLevel] [int] NOT NULL,
	[SpellRequired] [varchar](30) NULL,
	[DisplayName] [varchar](30) NOT NULL,
	[PrimaryClass] [varchar](10) NOT NULL,
	[SecondaryClass] [varchar](10) NOT NULL,
	[Race] [varchar](9) NULL,
	[Stage] [varchar](10) NOT NULL,
	[Job] [varchar](30) NULL,
	[Level] [int] NOT NULL,
	[Strength] [int] NOT NULL,
	[Intelligence] [int] NOT NULL,
	[Wisdom] [int] NOT NULL,
	[Constitution] [int] NOT NULL,
	[Dexterity] [int] NOT NULL,
 CONSTRAINT [PK__SkillsPr__A98E6BBF21C85F05] PRIMARY KEY CLUSTERED 
(
	[PredicateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SkillsPrerequisites] SET (LOCK_ESCALATION = AUTO)
GO
/****** Object:  Table [dbo].[Spells]    Script Date: 3/22/2026 11:56:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Spells](
	[SpellId] [int] NOT NULL,
	[Icon] [int] NOT NULL,
	[ScriptName] [varchar](20) NOT NULL,
	[Pane] [varchar](10) NOT NULL,
	[Cooldown] [int] NOT NULL,
	[Sound] [int] NOT NULL,
	[PostAttribute] [varchar](15) NOT NULL,
	[PredicateId] [int] NULL,
	[Element] [varchar](7) NOT NULL,
	[BaseLines] [int] NOT NULL,
	[MinLines] [int] NOT NULL,
	[MaxLines] [int] NOT NULL,
	[TargetAnimation] [int] NOT NULL,
	[Animation] [int] NOT NULL,
	[MaxLevel] [int] NOT NULL,
	[ManaCost] [int] NOT NULL,
	[NpcKey] [varchar](30) NULL,
	[SpellScope] [varchar](15) NOT NULL,
	[Description] [varchar](100) NULL,
	[DamageMod] [varchar](40) NULL,
 CONSTRAINT [PK__Spells__52BE41BEDFF35065] PRIMARY KEY CLUSTERED 
(
	[SpellId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Spells] SET (LOCK_ESCALATION = AUTO)
GO
/****** Object:  Table [dbo].[SpellsPrerequisites]    Script Date: 3/22/2026 11:56:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpellsPrerequisites](
	[PredicateId] [int] NOT NULL,
	[Item1Name] [varchar](30) NULL,
	[Item1Qty] [int] NOT NULL,
	[Item2Name] [varchar](30) NULL,
	[Item2Qty] [int] NOT NULL,
	[Item3Name] [varchar](30) NULL,
	[Item3Qty] [int] NOT NULL,
	[Item4Name] [varchar](30) NULL,
	[Item4Qty] [int] NOT NULL,
	[Item5Name] [varchar](30) NULL,
	[Item5Qty] [int] NOT NULL,
	[Experience] [bigint] NOT NULL,
	[Gold] [int] NOT NULL,
	[SkillLevel] [int] NOT NULL,
	[SkillRequired] [varchar](30) NULL,
	[SpellLevel] [int] NOT NULL,
	[SpellRequired] [varchar](30) NULL,
	[DisplayName] [varchar](30) NOT NULL,
	[PrimaryClass] [varchar](10) NOT NULL,
	[SecondaryClass] [varchar](10) NOT NULL,
	[Race] [varchar](9) NULL,
	[Stage] [varchar](10) NOT NULL,
	[Job] [varchar](30) NULL,
	[Level] [int] NOT NULL,
	[Strength] [int] NOT NULL,
	[Intelligence] [int] NOT NULL,
	[Wisdom] [int] NOT NULL,
	[Constitution] [int] NOT NULL,
	[Dexterity] [int] NOT NULL,
 CONSTRAINT [PK__SpellsPr__A98E6BBF34560FC8] PRIMARY KEY CLUSTERED 
(
	[PredicateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] SET (LOCK_ESCALATION = AUTO)
GO
INSERT [dbo].[Skills] ([SkillId], [Icon], [ScriptName], [Pane], [Cooldown], [Sound], [PostAttribute], [PredicateId], [TargetAnimation], [MissAnimation], [MaxLevel], [FailMsg], [NpcKey], [SkillScope], [Description], [DamageMod]) VALUES (1, 1, N'Assail', N'Tools', 1, 1, N'BreakInvisible', 1, 0, 337, 350, N'', N'Neal', N'Assail', N'Basic attack, hitting 1 tile in front of you (Spacebar)', N'STR')
INSERT [dbo].[Skills] ([SkillId], [Icon], [ScriptName], [Pane], [Cooldown], [Sound], [PostAttribute], [PredicateId], [TargetAnimation], [MissAnimation], [MaxLevel], [FailMsg], [NpcKey], [SkillScope], [Description], [DamageMod]) VALUES (2, 42, N'Ambush', N'Skills', 8, 126, N'BreakInvisible', 2, 252, 337, 500, N'You can''t do that', N'Dredrick', N'Ability', N'Maneuver around your target and attack from behind', N'STR, DEX')
INSERT [dbo].[Skills] ([SkillId], [Icon], [ScriptName], [Pane], [Cooldown], [Sound], [PostAttribute], [PredicateId], [TargetAnimation], [MissAnimation], [MaxLevel], [FailMsg], [NpcKey], [SkillScope], [Description], [DamageMod]) VALUES (3, 59, N'Claw Fist', N'Skills', 20, 21, N'None', 3, 0, 337, 500, N'Failed', N'Dredrick', N'Ability', N'Concentrating Chi in your fists, it enhances your attacks by 1.3x', N'None')
GO
INSERT [dbo].[SkillsPrerequisites] ([PredicateId], [Item1Name], [Item1Qty], [Item2Name], [Item2Qty], [Item3Name], [Item3Qty], [Item4Name], [Item4Qty], [Item5Name], [Item5Qty], [Experience], [Gold], [SkillLevel], [SkillRequired], [SpellLevel], [SpellRequired], [DisplayName], [PrimaryClass], [SecondaryClass], [Race], [Stage], [Job], [Level], [Strength], [Intelligence], [Wisdom], [Constitution], [Dexterity]) VALUES (1, N'', 0, N'', 0, N'', 0, N'', 0, N'', 0, 0, 0, 0, N'', 0, N'', N'Assail', N'Peasant', N'Peasant', N'UnDecided', N'Class', N'None', 1, 3, 3, 3, 3, 3)
INSERT [dbo].[SkillsPrerequisites] ([PredicateId], [Item1Name], [Item1Qty], [Item2Name], [Item2Qty], [Item3Name], [Item3Qty], [Item4Name], [Item4Qty], [Item5Name], [Item5Qty], [Experience], [Gold], [SkillLevel], [SkillRequired], [SpellLevel], [SpellRequired], [DisplayName], [PrimaryClass], [SecondaryClass], [Race], [Stage], [Job], [Level], [Strength], [Intelligence], [Wisdom], [Constitution], [Dexterity]) VALUES (2, N'Killer Bee Corpse', 1, N'', 0, N'', 0, N'', 0, N'', 0, 0, 300000, 30, N'Assail', 0, N'', N'Ambush', N'Monk', N'Monk', N'UnDecided', N'Class', N'None', 20, 10, 5, 5, 20, 25)
INSERT [dbo].[SkillsPrerequisites] ([PredicateId], [Item1Name], [Item1Qty], [Item2Name], [Item2Qty], [Item3Name], [Item3Qty], [Item4Name], [Item4Qty], [Item5Name], [Item5Qty], [Experience], [Gold], [SkillLevel], [SkillRequired], [SpellLevel], [SpellRequired], [DisplayName], [PrimaryClass], [SecondaryClass], [Race], [Stage], [Job], [Level], [Strength], [Intelligence], [Wisdom], [Constitution], [Dexterity]) VALUES (3, N'', 0, N'', 0, N'', 0, N'', 0, N'', 0, 0, 200000, 3, N'Wolf Fang Fist', 0, N'', N'Claw Fist', N'Monk', N'Monk', N'UnDecided', N'Class', N'None', 33, 11, 20, 15, 30, 15)
GO
INSERT [dbo].[Spells] ([SpellId], [Icon], [ScriptName], [Pane], [Cooldown], [Sound], [PostAttribute], [PredicateId], [Element], [BaseLines], [MinLines], [MaxLines], [TargetAnimation], [Animation], [MaxLevel], [ManaCost], [NpcKey], [SpellScope], [Description], [DamageMod]) VALUES (1, 40, N'Beag Srad', N'Spells', 1, 79, N'BreakInvisible', 49, N'Fire', 0, 0, 9, 12, 0, 100, 75, N'Dar', N'ChooseTarget', N'Minor single target fire based spell', N'Exponent: 40 Mana: 75')
INSERT [dbo].[Spells] ([SpellId], [Icon], [ScriptName], [Pane], [Cooldown], [Sound], [PostAttribute], [PredicateId], [Element], [BaseLines], [MinLines], [MaxLines], [TargetAnimation], [Animation], [MaxLevel], [ManaCost], [NpcKey], [SpellScope], [Description], [DamageMod]) VALUES (2, 46, N'Beag Sal', N'Spells', 1, 79, N'BreakInvisible', 48, N'Water', 0, 0, 9, 9, 0, 100, 75, N'Dar', N'ChooseTarget', N'Minor single target water based spell', N'Exponent: 40 Mana: 75')
INSERT [dbo].[Spells] ([SpellId], [Icon], [ScriptName], [Pane], [Cooldown], [Sound], [PostAttribute], [PredicateId], [Element], [BaseLines], [MinLines], [MaxLines], [TargetAnimation], [Animation], [MaxLevel], [ManaCost], [NpcKey], [SpellScope], [Description], [DamageMod]) VALUES (3, 43, N'Beag Athar', N'Spells', 1, 93, N'BreakInvisible', 44, N'Wind', 0, 0, 9, 15, 0, 100, 75, N'Dar', N'ChooseTarget', N'Minor single target wind based spell', N'Exponent: 40 Mana: 75')
GO
INSERT [dbo].[SpellsPrerequisites] ([PredicateId], [Item1Name], [Item1Qty], [Item2Name], [Item2Qty], [Item3Name], [Item3Qty], [Item4Name], [Item4Qty], [Item5Name], [Item5Qty], [Experience], [Gold], [SkillLevel], [SkillRequired], [SpellLevel], [SpellRequired], [DisplayName], [PrimaryClass], [SecondaryClass], [Race], [Stage], [Job], [Level], [Strength], [Intelligence], [Wisdom], [Constitution], [Dexterity]) VALUES (1, N'', 0, N'', 0, N'', 0, N'', 0, N'', 0, 0, 5000, 0, N'', 0, N'', N'Dion', N'Monk', N'Monk', N'UnDecided', N'Class', N'None', 11, 0, 25, 8, 0, 0)
INSERT [dbo].[SpellsPrerequisites] ([PredicateId], [Item1Name], [Item1Qty], [Item2Name], [Item2Qty], [Item3Name], [Item3Qty], [Item4Name], [Item4Qty], [Item5Name], [Item5Qty], [Experience], [Gold], [SkillLevel], [SkillRequired], [SpellLevel], [SpellRequired], [DisplayName], [PrimaryClass], [SecondaryClass], [Race], [Stage], [Job], [Level], [Strength], [Intelligence], [Wisdom], [Constitution], [Dexterity]) VALUES (3, N'', 0, N'', 0, N'', 0, N'', 0, N'', 0, 0, 500000, 0, N'', 60, N'Ao Mor Cradh', N'Ao Ard Cradh', N'Cleric', N'Cleric', N'UnDecided', N'Class', N'None', 89, 37, 52, 60, 17, 37)
GO
ALTER TABLE [dbo].[Skills] ADD  CONSTRAINT [DF__Skills__Icon__1CDC41A7]  DEFAULT ((0)) FOR [Icon]
GO
ALTER TABLE [dbo].[Skills] ADD  CONSTRAINT [DF__Skills__Cooldown__1DD065E0]  DEFAULT ((0)) FOR [Cooldown]
GO
ALTER TABLE [dbo].[Skills] ADD  CONSTRAINT [DF__Skills__Sound__1EC48A19]  DEFAULT ((0)) FOR [Sound]
GO
ALTER TABLE [dbo].[Skills] ADD  CONSTRAINT [DF__Skills__TargetAn__21A0F6C4]  DEFAULT ((0)) FOR [TargetAnimation]
GO
ALTER TABLE [dbo].[Skills] ADD  CONSTRAINT [DF__Skills__MissAnim__22951AFD]  DEFAULT ((337)) FOR [MissAnimation]
GO
ALTER TABLE [dbo].[Skills] ADD  CONSTRAINT [DF__Skills__MaxLevel__23893F36]  DEFAULT ((100)) FOR [MaxLevel]
GO
ALTER TABLE [dbo].[SkillsPrerequisites] ADD  CONSTRAINT [DF__SkillsPre__Item1__06ED0088]  DEFAULT ((0)) FOR [Item1Qty]
GO
ALTER TABLE [dbo].[SkillsPrerequisites] ADD  CONSTRAINT [DF__SkillsPre__Item2__07E124C1]  DEFAULT ((0)) FOR [Item2Qty]
GO
ALTER TABLE [dbo].[SkillsPrerequisites] ADD  CONSTRAINT [DF__SkillsPre__Item3__08D548FA]  DEFAULT ((0)) FOR [Item3Qty]
GO
ALTER TABLE [dbo].[SkillsPrerequisites] ADD  CONSTRAINT [DF__SkillsPre__Item4__09C96D33]  DEFAULT ((0)) FOR [Item4Qty]
GO
ALTER TABLE [dbo].[SkillsPrerequisites] ADD  CONSTRAINT [DF__SkillsPre__Item5__0ABD916C]  DEFAULT ((0)) FOR [Item5Qty]
GO
ALTER TABLE [dbo].[SkillsPrerequisites] ADD  CONSTRAINT [DF__SkillsPrer__Gold__116A8EFB]  DEFAULT ((0)) FOR [Gold]
GO
ALTER TABLE [dbo].[SkillsPrerequisites] ADD  CONSTRAINT [DF__SkillsPre__Skill__125EB334]  DEFAULT ((0)) FOR [SkillLevel]
GO
ALTER TABLE [dbo].[SkillsPrerequisites] ADD  CONSTRAINT [DF__SkillsPre__Spell__1352D76D]  DEFAULT ((0)) FOR [SpellLevel]
GO
ALTER TABLE [dbo].[SkillsPrerequisites] ADD  CONSTRAINT [DF__SkillsPre__Stage__1446FBA6]  DEFAULT ((0)) FOR [Stage]
GO
ALTER TABLE [dbo].[SkillsPrerequisites] ADD  CONSTRAINT [DF__SkillsPre__Exper__10766AC2]  DEFAULT ((0)) FOR [Level]
GO
ALTER TABLE [dbo].[SkillsPrerequisites] ADD  CONSTRAINT [DF__SkillsPre__Stren__0BB1B5A5]  DEFAULT ((0)) FOR [Strength]
GO
ALTER TABLE [dbo].[SkillsPrerequisites] ADD  CONSTRAINT [DF__SkillsPre__Intel__0CA5D9DE]  DEFAULT ((0)) FOR [Intelligence]
GO
ALTER TABLE [dbo].[SkillsPrerequisites] ADD  CONSTRAINT [DF__SkillsPre__Wisdo__0D99FE17]  DEFAULT ((0)) FOR [Wisdom]
GO
ALTER TABLE [dbo].[SkillsPrerequisites] ADD  CONSTRAINT [DF__SkillsPre__Const__0E8E2250]  DEFAULT ((0)) FOR [Constitution]
GO
ALTER TABLE [dbo].[SkillsPrerequisites] ADD  CONSTRAINT [DF__SkillsPre__Dexte__0F824689]  DEFAULT ((0)) FOR [Dexterity]
GO
ALTER TABLE [dbo].[Spells] ADD  CONSTRAINT [DF__Spells__Icon__2A563856]  DEFAULT ((0)) FOR [Icon]
GO
ALTER TABLE [dbo].[Spells] ADD  CONSTRAINT [DF__Spells__Cooldown__2B4A5C8F]  DEFAULT ((0)) FOR [Cooldown]
GO
ALTER TABLE [dbo].[Spells] ADD  CONSTRAINT [DF__Spells__Sound__2C3E80C8]  DEFAULT ((0)) FOR [Sound]
GO
ALTER TABLE [dbo].[Spells] ADD  CONSTRAINT [DF__Spells__Element__2F1AED73]  DEFAULT ('None') FOR [Element]
GO
ALTER TABLE [dbo].[Spells] ADD  CONSTRAINT [DF__Spells__BaseLine__300F11AC]  DEFAULT ((1)) FOR [BaseLines]
GO
ALTER TABLE [dbo].[Spells] ADD  CONSTRAINT [DF__Spells__MinLines__310335E5]  DEFAULT ((0)) FOR [MinLines]
GO
ALTER TABLE [dbo].[Spells] ADD  CONSTRAINT [DF__Spells__MaxLines__31F75A1E]  DEFAULT ((9)) FOR [MaxLines]
GO
ALTER TABLE [dbo].[Spells] ADD  CONSTRAINT [DF__Spells__TargetAn__32EB7E57]  DEFAULT ((0)) FOR [TargetAnimation]
GO
ALTER TABLE [dbo].[Spells] ADD  CONSTRAINT [DF__Spells__Animatio__33DFA290]  DEFAULT ((337)) FOR [Animation]
GO
ALTER TABLE [dbo].[Spells] ADD  CONSTRAINT [DF__Spells__MaxLevel__34D3C6C9]  DEFAULT ((100)) FOR [MaxLevel]
GO
ALTER TABLE [dbo].[Spells] ADD  CONSTRAINT [DF__Spells__ManaCost__35C7EB02]  DEFAULT ((250)) FOR [ManaCost]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] ADD  CONSTRAINT [DF__SpellsPre__Item1__1466F737]  DEFAULT ((0)) FOR [Item1Qty]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] ADD  CONSTRAINT [DF__SpellsPre__Item2__155B1B70]  DEFAULT ((0)) FOR [Item2Qty]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] ADD  CONSTRAINT [DF__SpellsPre__Item3__164F3FA9]  DEFAULT ((0)) FOR [Item3Qty]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] ADD  CONSTRAINT [DF__SpellsPre__Item4__174363E2]  DEFAULT ((0)) FOR [Item4Qty]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] ADD  CONSTRAINT [DF__SpellsPre__Item5__1837881B]  DEFAULT ((0)) FOR [Item5Qty]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] ADD  CONSTRAINT [DF__SpellsPrer__Gold__1EE485AA]  DEFAULT ((0)) FOR [Gold]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] ADD  CONSTRAINT [DF__SpellsPre__Skill__1FD8A9E3]  DEFAULT ((0)) FOR [SkillLevel]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] ADD  CONSTRAINT [DF__SpellsPre__Spell__20CCCE1C]  DEFAULT ((0)) FOR [SpellLevel]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] ADD  CONSTRAINT [DF__SpellsPre__Stage__21C0F255]  DEFAULT ((0)) FOR [Stage]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] ADD  CONSTRAINT [DF__SpellsPre__Exper__1DF06171]  DEFAULT ((0)) FOR [Level]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] ADD  CONSTRAINT [DF__SpellsPre__Stren__192BAC54]  DEFAULT ((0)) FOR [Strength]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] ADD  CONSTRAINT [DF__SpellsPre__Intel__1A1FD08D]  DEFAULT ((0)) FOR [Intelligence]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] ADD  CONSTRAINT [DF__SpellsPre__Wisdo__1B13F4C6]  DEFAULT ((0)) FOR [Wisdom]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] ADD  CONSTRAINT [DF__SpellsPre__Const__1C0818FF]  DEFAULT ((0)) FOR [Constitution]
GO
ALTER TABLE [dbo].[SpellsPrerequisites] ADD  CONSTRAINT [DF__SpellsPre__Dexte__1CFC3D38]  DEFAULT ((0)) FOR [Dexterity]
GO
ALTER TABLE [dbo].[Skills]  WITH CHECK ADD  CONSTRAINT [FK__Skills__Predicat__20ACD28B] FOREIGN KEY([PredicateId])
REFERENCES [dbo].[SkillsPrerequisites] ([PredicateId])
GO
ALTER TABLE [dbo].[Skills] CHECK CONSTRAINT [FK__Skills__Predicat__20ACD28B]
GO
ALTER TABLE [dbo].[Spells]  WITH CHECK ADD  CONSTRAINT [FK__Spells__Predicat__2E26C93A] FOREIGN KEY([PredicateId])
REFERENCES [dbo].[SpellsPrerequisites] ([PredicateId])
GO
ALTER TABLE [dbo].[Spells] CHECK CONSTRAINT [FK__Spells__Predicat__2E26C93A]
GO
