USE [ZolianMonsters]
GO
ALTER TABLE [dbo].[WesternWoodlands] DROP CONSTRAINT [DF__WesternWo__Level__1372D2FE]
GO
ALTER TABLE [dbo].[WesternWoodlands] DROP CONSTRAINT [DF__WesternWo__CastS__127EAEC5]
GO
ALTER TABLE [dbo].[WesternWoodlands] DROP CONSTRAINT [DF__WesternWo__Attac__118A8A8C]
GO
ALTER TABLE [dbo].[WesternWoodlands] DROP CONSTRAINT [DF__WesternWo__Ignor__10966653]
GO
ALTER TABLE [dbo].[WesternWoodlands] DROP CONSTRAINT [DF__WesternWo__Engag__0FA2421A]
GO
ALTER TABLE [dbo].[WesternWoodlands] DROP CONSTRAINT [DF__WesternWo__Movem__0EAE1DE1]
GO
ALTER TABLE [dbo].[WesternWoodlands] DROP CONSTRAINT [DF__WesternWo__Spawn__0DB9F9A8]
GO
ALTER TABLE [dbo].[WesternWoodlands] DROP CONSTRAINT [DF__WesternWo__Spawn__0CC5D56F]
GO
ALTER TABLE [dbo].[WesternWoodlands] DROP CONSTRAINT [DF__WesternWo__Spawn__0BD1B136]
GO
ALTER TABLE [dbo].[WesternWoodlands] DROP CONSTRAINT [DF__WesternWo__Defen__0ADD8CFD]
GO
ALTER TABLE [dbo].[WesternWoodlands] DROP CONSTRAINT [DF__WesternWo__Offen__09E968C4]
GO
ALTER TABLE [dbo].[WesternWoodlands] DROP CONSTRAINT [DF__WesternWo__Defin__08F5448B]
GO
ALTER TABLE [dbo].[WesternWoodlands] DROP CONSTRAINT [DF__WesternWo__Defin__08012052]
GO
ALTER TABLE [dbo].[WesternWoodlands] DROP CONSTRAINT [DF__WesternWo__Image__070CFC19]
GO
ALTER TABLE [dbo].[WesternWoodlands] DROP CONSTRAINT [DF__WesternWo__Image__0618D7E0]
GO
ALTER TABLE [dbo].[Wastelands] DROP CONSTRAINT [DF__Wasteland__Level__793DFFAF]
GO
ALTER TABLE [dbo].[Wastelands] DROP CONSTRAINT [DF__Wasteland__CastS__756D6ECB]
GO
ALTER TABLE [dbo].[Wastelands] DROP CONSTRAINT [DF__Wasteland__Attac__74794A92]
GO
ALTER TABLE [dbo].[Wastelands] DROP CONSTRAINT [DF__Wasteland__Ignor__719CDDE7]
GO
ALTER TABLE [dbo].[Wastelands] DROP CONSTRAINT [DF__Wasteland__Engag__73852659]
GO
ALTER TABLE [dbo].[Wastelands] DROP CONSTRAINT [DF__Wasteland__Movem__72910220]
GO
ALTER TABLE [dbo].[Wastelands] DROP CONSTRAINT [DF__Wasteland__Spawn__70A8B9AE]
GO
ALTER TABLE [dbo].[Wastelands] DROP CONSTRAINT [DF__Wasteland__Spawn__6FB49575]
GO
ALTER TABLE [dbo].[Wastelands] DROP CONSTRAINT [DF__Wasteland__Spawn__6EC0713C]
GO
ALTER TABLE [dbo].[Wastelands] DROP CONSTRAINT [DF__Wasteland__Defen__7755B73D]
GO
ALTER TABLE [dbo].[Wastelands] DROP CONSTRAINT [DF__Wasteland__Offen__76619304]
GO
ALTER TABLE [dbo].[Wastelands] DROP CONSTRAINT [DF__Wasteland__Defin__6DCC4D03]
GO
ALTER TABLE [dbo].[Wastelands] DROP CONSTRAINT [DF__Wasteland__Defin__6CD828CA]
GO
ALTER TABLE [dbo].[Wastelands] DROP CONSTRAINT [DF__Wasteland__Image__6BE40491]
GO
ALTER TABLE [dbo].[Wastelands] DROP CONSTRAINT [DF__Wasteland__Image__6AEFE058]
GO
ALTER TABLE [dbo].[Tutorial] DROP CONSTRAINT [DF__Tutorial__Level__2AD55B43]
GO
ALTER TABLE [dbo].[Tutorial] DROP CONSTRAINT [DF__Tutorial__CastSp__2704CA5F]
GO
ALTER TABLE [dbo].[Tutorial] DROP CONSTRAINT [DF__Tutorial__Attack__2610A626]
GO
ALTER TABLE [dbo].[Tutorial] DROP CONSTRAINT [DF__Tutorial__Ignore__2334397B]
GO
ALTER TABLE [dbo].[Tutorial] DROP CONSTRAINT [DF__Tutorial__Engage__251C81ED]
GO
ALTER TABLE [dbo].[Tutorial] DROP CONSTRAINT [DF__Tutorial__Moveme__24285DB4]
GO
ALTER TABLE [dbo].[Tutorial] DROP CONSTRAINT [DF__Tutorial__SpawnR__22401542]
GO
ALTER TABLE [dbo].[Tutorial] DROP CONSTRAINT [DF__Tutorial__SpawnM__214BF109]
GO
ALTER TABLE [dbo].[Tutorial] DROP CONSTRAINT [DF__Tutorial__SpawnS__2057CCD0]
GO
ALTER TABLE [dbo].[Tutorial] DROP CONSTRAINT [DF__Tutorial__Defens__28ED12D1]
GO
ALTER TABLE [dbo].[Tutorial] DROP CONSTRAINT [DF__Tutorial__Offens__27F8EE98]
GO
ALTER TABLE [dbo].[Tutorial] DROP CONSTRAINT [DF__Tutorial__Define__1F63A897]
GO
ALTER TABLE [dbo].[Tutorial] DROP CONSTRAINT [DF__Tutorial__Define__1E6F845E]
GO
ALTER TABLE [dbo].[Tutorial] DROP CONSTRAINT [DF__Tutorial__ImageV__1D7B6025]
GO
ALTER TABLE [dbo].[Tutorial] DROP CONSTRAINT [DF__Tutorial__Image__1C873BEC]
GO
ALTER TABLE [dbo].[TempleOfChaos] DROP CONSTRAINT [DF__TempleOfC__Level__479C827A]
GO
ALTER TABLE [dbo].[TempleOfChaos] DROP CONSTRAINT [DF__TempleOfC__CastS__46A85E41]
GO
ALTER TABLE [dbo].[TempleOfChaos] DROP CONSTRAINT [DF__TempleOfC__Attac__45B43A08]
GO
ALTER TABLE [dbo].[TempleOfChaos] DROP CONSTRAINT [DF__TempleOfC__Ignor__44C015CF]
GO
ALTER TABLE [dbo].[TempleOfChaos] DROP CONSTRAINT [DF__TempleOfC__Engag__43CBF196]
GO
ALTER TABLE [dbo].[TempleOfChaos] DROP CONSTRAINT [DF__TempleOfC__Movem__42D7CD5D]
GO
ALTER TABLE [dbo].[TempleOfChaos] DROP CONSTRAINT [DF__TempleOfC__Spawn__41E3A924]
GO
ALTER TABLE [dbo].[TempleOfChaos] DROP CONSTRAINT [DF__TempleOfC__Spawn__40EF84EB]
GO
ALTER TABLE [dbo].[TempleOfChaos] DROP CONSTRAINT [DF__TempleOfC__Spawn__3FFB60B2]
GO
ALTER TABLE [dbo].[TempleOfChaos] DROP CONSTRAINT [DF__TempleOfC__Defen__3F073C79]
GO
ALTER TABLE [dbo].[TempleOfChaos] DROP CONSTRAINT [DF__TempleOfC__Offen__3E131840]
GO
ALTER TABLE [dbo].[TempleOfChaos] DROP CONSTRAINT [DF__TempleOfC__Defin__3D1EF407]
GO
ALTER TABLE [dbo].[TempleOfChaos] DROP CONSTRAINT [DF__TempleOfC__Defin__3C2ACFCE]
GO
ALTER TABLE [dbo].[TempleOfChaos] DROP CONSTRAINT [DF__TempleOfC__Image__3B36AB95]
GO
ALTER TABLE [dbo].[TempleOfChaos] DROP CONSTRAINT [DF__TempleOfC__Image__3A42875C]
GO
ALTER TABLE [dbo].[Tagor] DROP CONSTRAINT [DF__Tagor__Level__63C3BFDC]
GO
ALTER TABLE [dbo].[Tagor] DROP CONSTRAINT [DF__Tagor__CastSpeed__62CF9BA3]
GO
ALTER TABLE [dbo].[Tagor] DROP CONSTRAINT [DF__Tagor__AttackSpe__61DB776A]
GO
ALTER TABLE [dbo].[Tagor] DROP CONSTRAINT [DF__Tagor__IgnoreCol__60E75331]
GO
ALTER TABLE [dbo].[Tagor] DROP CONSTRAINT [DF__Tagor__EngagedSp__5FF32EF8]
GO
ALTER TABLE [dbo].[Tagor] DROP CONSTRAINT [DF__Tagor__MovementS__5EFF0ABF]
GO
ALTER TABLE [dbo].[Tagor] DROP CONSTRAINT [DF__Tagor__SpawnRate__5E0AE686]
GO
ALTER TABLE [dbo].[Tagor] DROP CONSTRAINT [DF__Tagor__SpawnMax__5D16C24D]
GO
ALTER TABLE [dbo].[Tagor] DROP CONSTRAINT [DF__Tagor__SpawnSize__5C229E14]
GO
ALTER TABLE [dbo].[Tagor] DROP CONSTRAINT [DF__Tagor__DefenseEl__5B2E79DB]
GO
ALTER TABLE [dbo].[Tagor] DROP CONSTRAINT [DF__Tagor__OffenseEl__5A3A55A2]
GO
ALTER TABLE [dbo].[Tagor] DROP CONSTRAINT [DF__Tagor__DefinedY__59463169]
GO
ALTER TABLE [dbo].[Tagor] DROP CONSTRAINT [DF__Tagor__DefinedX__58520D30]
GO
ALTER TABLE [dbo].[Tagor] DROP CONSTRAINT [DF__Tagor__ImageVari__575DE8F7]
GO
ALTER TABLE [dbo].[Tagor] DROP CONSTRAINT [DF__Tagor__Image__5669C4BE]
GO
ALTER TABLE [dbo].[Pravat] DROP CONSTRAINT [DF__Pravat__Level__23FE4082]
GO
ALTER TABLE [dbo].[Pravat] DROP CONSTRAINT [DF__Pravat__CastSpee__230A1C49]
GO
ALTER TABLE [dbo].[Pravat] DROP CONSTRAINT [DF__Pravat__AttackSp__2215F810]
GO
ALTER TABLE [dbo].[Pravat] DROP CONSTRAINT [DF__Pravat__IgnoreCo__2121D3D7]
GO
ALTER TABLE [dbo].[Pravat] DROP CONSTRAINT [DF__Pravat__EngagedS__202DAF9E]
GO
ALTER TABLE [dbo].[Pravat] DROP CONSTRAINT [DF__Pravat__Movement__1F398B65]
GO
ALTER TABLE [dbo].[Pravat] DROP CONSTRAINT [DF__Pravat__SpawnRat__1E45672C]
GO
ALTER TABLE [dbo].[Pravat] DROP CONSTRAINT [DF__Pravat__SpawnMax__1D5142F3]
GO
ALTER TABLE [dbo].[Pravat] DROP CONSTRAINT [DF__Pravat__SpawnSiz__1C5D1EBA]
GO
ALTER TABLE [dbo].[Pravat] DROP CONSTRAINT [DF__Pravat__DefenseE__1B68FA81]
GO
ALTER TABLE [dbo].[Pravat] DROP CONSTRAINT [DF__Pravat__OffenseE__1A74D648]
GO
ALTER TABLE [dbo].[Pravat] DROP CONSTRAINT [DF__Pravat__DefinedY__1980B20F]
GO
ALTER TABLE [dbo].[Pravat] DROP CONSTRAINT [DF__Pravat__DefinedX__188C8DD6]
GO
ALTER TABLE [dbo].[Pravat] DROP CONSTRAINT [DF__Pravat__ImageVar__1798699D]
GO
ALTER TABLE [dbo].[Pravat] DROP CONSTRAINT [DF__Pravat__Image__16A44564]
GO
ALTER TABLE [dbo].[Piet] DROP CONSTRAINT [DF__Piet__Level__511AFFBC]
GO
ALTER TABLE [dbo].[Piet] DROP CONSTRAINT [DF__Piet__CastSpeed__4E3E9311]
GO
ALTER TABLE [dbo].[Piet] DROP CONSTRAINT [DF__Piet__AttackSpee__4D4A6ED8]
GO
ALTER TABLE [dbo].[Piet] DROP CONSTRAINT [DF__Piet__IgnoreColl__4A6E022D]
GO
ALTER TABLE [dbo].[Piet] DROP CONSTRAINT [DF__Piet__EngagedSpe__4C564A9F]
GO
ALTER TABLE [dbo].[Piet] DROP CONSTRAINT [DF__Piet__MovementSp__4B622666]
GO
ALTER TABLE [dbo].[Piet] DROP CONSTRAINT [DF__Piet__SpawnRate__4979DDF4]
GO
ALTER TABLE [dbo].[Piet] DROP CONSTRAINT [DF__Piet__SpawnMax__4885B9BB]
GO
ALTER TABLE [dbo].[Piet] DROP CONSTRAINT [DF__Piet__SpawnSize__47919582]
GO
ALTER TABLE [dbo].[Piet] DROP CONSTRAINT [DF__Piet__DefenseEle__5026DB83]
GO
ALTER TABLE [dbo].[Piet] DROP CONSTRAINT [DF__Piet__OffenseEle__4F32B74A]
GO
ALTER TABLE [dbo].[Piet] DROP CONSTRAINT [DF__Piet__DefinedY__469D7149]
GO
ALTER TABLE [dbo].[Piet] DROP CONSTRAINT [DF__Piet__DefinedX__45A94D10]
GO
ALTER TABLE [dbo].[Piet] DROP CONSTRAINT [DF__Piet__ImageVaria__44B528D7]
GO
ALTER TABLE [dbo].[Piet] DROP CONSTRAINT [DF__Piet__Image__43C1049E]
GO
ALTER TABLE [dbo].[OrenSewers] DROP CONSTRAINT [DF__OrenSewer__Level__0AFD888E]
GO
ALTER TABLE [dbo].[OrenSewers] DROP CONSTRAINT [DF__OrenSewer__CastS__0A096455]
GO
ALTER TABLE [dbo].[OrenSewers] DROP CONSTRAINT [DF__OrenSewer__Attac__0915401C]
GO
ALTER TABLE [dbo].[OrenSewers] DROP CONSTRAINT [DF__OrenSewer__Ignor__08211BE3]
GO
ALTER TABLE [dbo].[OrenSewers] DROP CONSTRAINT [DF__OrenSewer__Engag__072CF7AA]
GO
ALTER TABLE [dbo].[OrenSewers] DROP CONSTRAINT [DF__OrenSewer__Movem__0638D371]
GO
ALTER TABLE [dbo].[OrenSewers] DROP CONSTRAINT [DF__OrenSewer__Spawn__0544AF38]
GO
ALTER TABLE [dbo].[OrenSewers] DROP CONSTRAINT [DF__OrenSewer__Spawn__04508AFF]
GO
ALTER TABLE [dbo].[OrenSewers] DROP CONSTRAINT [DF__OrenSewer__Spawn__035C66C6]
GO
ALTER TABLE [dbo].[OrenSewers] DROP CONSTRAINT [DF__OrenSewer__Defen__0268428D]
GO
ALTER TABLE [dbo].[OrenSewers] DROP CONSTRAINT [DF__OrenSewer__Offen__01741E54]
GO
ALTER TABLE [dbo].[OrenSewers] DROP CONSTRAINT [DF__OrenSewer__Defin__007FFA1B]
GO
ALTER TABLE [dbo].[OrenSewers] DROP CONSTRAINT [DF__OrenSewer__Defin__7F8BD5E2]
GO
ALTER TABLE [dbo].[OrenSewers] DROP CONSTRAINT [DF__OrenSewer__Image__7E97B1A9]
GO
ALTER TABLE [dbo].[OrenSewers] DROP CONSTRAINT [DF__OrenSewer__Image__7DA38D70]
GO
ALTER TABLE [dbo].[OrenJungle] DROP CONSTRAINT [DF__OrenJungl__Level__4A23E96A]
GO
ALTER TABLE [dbo].[OrenJungle] DROP CONSTRAINT [DF__OrenJungl__CastS__492FC531]
GO
ALTER TABLE [dbo].[OrenJungle] DROP CONSTRAINT [DF__OrenJungl__Attac__483BA0F8]
GO
ALTER TABLE [dbo].[OrenJungle] DROP CONSTRAINT [DF__OrenJungl__Ignor__47477CBF]
GO
ALTER TABLE [dbo].[OrenJungle] DROP CONSTRAINT [DF__OrenJungl__Engag__46535886]
GO
ALTER TABLE [dbo].[OrenJungle] DROP CONSTRAINT [DF__OrenJungl__Movem__455F344D]
GO
ALTER TABLE [dbo].[OrenJungle] DROP CONSTRAINT [DF__OrenJungl__Spawn__446B1014]
GO
ALTER TABLE [dbo].[OrenJungle] DROP CONSTRAINT [DF__OrenJungl__Spawn__4376EBDB]
GO
ALTER TABLE [dbo].[OrenJungle] DROP CONSTRAINT [DF__OrenJungl__Spawn__4282C7A2]
GO
ALTER TABLE [dbo].[OrenJungle] DROP CONSTRAINT [DF__OrenJungl__Defen__418EA369]
GO
ALTER TABLE [dbo].[OrenJungle] DROP CONSTRAINT [DF__OrenJungl__Offen__409A7F30]
GO
ALTER TABLE [dbo].[OrenJungle] DROP CONSTRAINT [DF__OrenJungl__Defin__3FA65AF7]
GO
ALTER TABLE [dbo].[OrenJungle] DROP CONSTRAINT [DF__OrenJungl__Defin__3EB236BE]
GO
ALTER TABLE [dbo].[OrenJungle] DROP CONSTRAINT [DF__OrenJungl__Image__3DBE1285]
GO
ALTER TABLE [dbo].[OrenJungle] DROP CONSTRAINT [DF__OrenJungl__Image__3CC9EE4C]
GO
ALTER TABLE [dbo].[NobisRuins] DROP CONSTRAINT [DF__NobisRuin__Level__6A90B8FC]
GO
ALTER TABLE [dbo].[NobisRuins] DROP CONSTRAINT [DF__NobisRuin__CastS__699C94C3]
GO
ALTER TABLE [dbo].[NobisRuins] DROP CONSTRAINT [DF__NobisRuin__Attac__68A8708A]
GO
ALTER TABLE [dbo].[NobisRuins] DROP CONSTRAINT [DF__NobisRuin__Ignor__67B44C51]
GO
ALTER TABLE [dbo].[NobisRuins] DROP CONSTRAINT [DF__NobisRuin__Engag__66C02818]
GO
ALTER TABLE [dbo].[NobisRuins] DROP CONSTRAINT [DF__NobisRuin__Movem__65CC03DF]
GO
ALTER TABLE [dbo].[NobisRuins] DROP CONSTRAINT [DF__NobisRuin__Spawn__64D7DFA6]
GO
ALTER TABLE [dbo].[NobisRuins] DROP CONSTRAINT [DF__NobisRuin__Spawn__63E3BB6D]
GO
ALTER TABLE [dbo].[NobisRuins] DROP CONSTRAINT [DF__NobisRuin__Spawn__62EF9734]
GO
ALTER TABLE [dbo].[NobisRuins] DROP CONSTRAINT [DF__NobisRuin__Defen__61FB72FB]
GO
ALTER TABLE [dbo].[NobisRuins] DROP CONSTRAINT [DF__NobisRuin__Offen__61074EC2]
GO
ALTER TABLE [dbo].[NobisRuins] DROP CONSTRAINT [DF__NobisRuin__Defin__60132A89]
GO
ALTER TABLE [dbo].[NobisRuins] DROP CONSTRAINT [DF__NobisRuin__Defin__5F1F0650]
GO
ALTER TABLE [dbo].[NobisRuins] DROP CONSTRAINT [DF__NobisRuin__Image__5E2AE217]
GO
ALTER TABLE [dbo].[NobisRuins] DROP CONSTRAINT [DF__NobisRuin__Image__5D36BDDE]
GO
ALTER TABLE [dbo].[Mileth] DROP CONSTRAINT [DF__Mileth__Level__0E04126B]
GO
ALTER TABLE [dbo].[Mileth] DROP CONSTRAINT [DF__Mileth__CastSpee__0A338187]
GO
ALTER TABLE [dbo].[Mileth] DROP CONSTRAINT [DF__Mileth__AttackSp__093F5D4E]
GO
ALTER TABLE [dbo].[Mileth] DROP CONSTRAINT [DF__Mileth__IgnoreCo__0662F0A3]
GO
ALTER TABLE [dbo].[Mileth] DROP CONSTRAINT [DF__Mileth__EngagedS__084B3915]
GO
ALTER TABLE [dbo].[Mileth] DROP CONSTRAINT [DF__Mileth__Movement__075714DC]
GO
ALTER TABLE [dbo].[Mileth] DROP CONSTRAINT [DF__Mileth__SpawnRat__056ECC6A]
GO
ALTER TABLE [dbo].[Mileth] DROP CONSTRAINT [DF__Mileth__SpawnMax__047AA831]
GO
ALTER TABLE [dbo].[Mileth] DROP CONSTRAINT [DF__Mileth__SpawnSiz__038683F8]
GO
ALTER TABLE [dbo].[Mileth] DROP CONSTRAINT [DF__Mileth__DefenseE__0C1BC9F9]
GO
ALTER TABLE [dbo].[Mileth] DROP CONSTRAINT [DF__Mileth__OffenseE__0B27A5C0]
GO
ALTER TABLE [dbo].[Mileth] DROP CONSTRAINT [DF__Mileth__DefinedY__02925FBF]
GO
ALTER TABLE [dbo].[Mileth] DROP CONSTRAINT [DF__Mileth__DefinedX__019E3B86]
GO
ALTER TABLE [dbo].[Mileth] DROP CONSTRAINT [DF__Mileth__ImageVar__00AA174D]
GO
ALTER TABLE [dbo].[Mileth] DROP CONSTRAINT [DF__Mileth__Image__7FB5F314]
GO
ALTER TABLE [dbo].[LootGoblins] DROP CONSTRAINT [DF__LootGobli__Level__78C9C9BA]
GO
ALTER TABLE [dbo].[LootGoblins] DROP CONSTRAINT [DF__LootGobli__CastS__77D5A581]
GO
ALTER TABLE [dbo].[LootGoblins] DROP CONSTRAINT [DF__LootGobli__Attac__76E18148]
GO
ALTER TABLE [dbo].[LootGoblins] DROP CONSTRAINT [DF__LootGobli__Ignor__75ED5D0F]
GO
ALTER TABLE [dbo].[LootGoblins] DROP CONSTRAINT [DF__LootGobli__Engag__74F938D6]
GO
ALTER TABLE [dbo].[LootGoblins] DROP CONSTRAINT [DF__LootGobli__Movem__7405149D]
GO
ALTER TABLE [dbo].[LootGoblins] DROP CONSTRAINT [DF__LootGobli__Spawn__7310F064]
GO
ALTER TABLE [dbo].[LootGoblins] DROP CONSTRAINT [DF__LootGobli__Spawn__721CCC2B]
GO
ALTER TABLE [dbo].[LootGoblins] DROP CONSTRAINT [DF__LootGobli__Spawn__7128A7F2]
GO
ALTER TABLE [dbo].[LootGoblins] DROP CONSTRAINT [DF__LootGobli__Defen__703483B9]
GO
ALTER TABLE [dbo].[LootGoblins] DROP CONSTRAINT [DF__LootGobli__Offen__6F405F80]
GO
ALTER TABLE [dbo].[LootGoblins] DROP CONSTRAINT [DF__LootGobli__Defin__6E4C3B47]
GO
ALTER TABLE [dbo].[LootGoblins] DROP CONSTRAINT [DF__LootGobli__Defin__6D58170E]
GO
ALTER TABLE [dbo].[LootGoblins] DROP CONSTRAINT [DF__LootGobli__Image__6C63F2D5]
GO
ALTER TABLE [dbo].[LootGoblins] DROP CONSTRAINT [DF__LootGobli__Image__6B6FCE9C]
GO
ALTER TABLE [dbo].[GMIsland] DROP CONSTRAINT [DF__GMIsland__Level__4BAC3F29]
GO
ALTER TABLE [dbo].[GMIsland] DROP CONSTRAINT [DF__GMIsland__CastSp__47DBAE45]
GO
ALTER TABLE [dbo].[GMIsland] DROP CONSTRAINT [DF__GMIsland__Attack__46E78A0C]
GO
ALTER TABLE [dbo].[GMIsland] DROP CONSTRAINT [DF__GMIsland__Ignore__440B1D61]
GO
ALTER TABLE [dbo].[GMIsland] DROP CONSTRAINT [DF__GMIsland__Engage__45F365D3]
GO
ALTER TABLE [dbo].[GMIsland] DROP CONSTRAINT [DF__GMIsland__Moveme__44FF419A]
GO
ALTER TABLE [dbo].[GMIsland] DROP CONSTRAINT [DF__GMIsland__SpawnR__4316F928]
GO
ALTER TABLE [dbo].[GMIsland] DROP CONSTRAINT [DF__GMIsland__SpawnM__4222D4EF]
GO
ALTER TABLE [dbo].[GMIsland] DROP CONSTRAINT [DF__GMIsland__SpawnS__412EB0B6]
GO
ALTER TABLE [dbo].[GMIsland] DROP CONSTRAINT [DF__GMIsland__Defens__49C3F6B7]
GO
ALTER TABLE [dbo].[GMIsland] DROP CONSTRAINT [DF__GMIsland__Offens__48CFD27E]
GO
ALTER TABLE [dbo].[GMIsland] DROP CONSTRAINT [DF__GMIsland__Define__403A8C7D]
GO
ALTER TABLE [dbo].[GMIsland] DROP CONSTRAINT [DF__GMIsland__Define__3F466844]
GO
ALTER TABLE [dbo].[GMIsland] DROP CONSTRAINT [DF__GMIsland__ImageV__3E52440B]
GO
ALTER TABLE [dbo].[GMIsland] DROP CONSTRAINT [DF__GMIsland__Image__3D5E1FD2]
GO
ALTER TABLE [dbo].[EnchantedGarden] DROP CONSTRAINT [DF__Enchanted__Level__7D439ABD]
GO
ALTER TABLE [dbo].[EnchantedGarden] DROP CONSTRAINT [DF__Enchanted__CastS__797309D9]
GO
ALTER TABLE [dbo].[EnchantedGarden] DROP CONSTRAINT [DF__Enchanted__Attac__787EE5A0]
GO
ALTER TABLE [dbo].[EnchantedGarden] DROP CONSTRAINT [DF__Enchanted__Ignor__75A278F5]
GO
ALTER TABLE [dbo].[EnchantedGarden] DROP CONSTRAINT [DF__Enchanted__Engag__778AC167]
GO
ALTER TABLE [dbo].[EnchantedGarden] DROP CONSTRAINT [DF__Enchanted__Movem__76969D2E]
GO
ALTER TABLE [dbo].[EnchantedGarden] DROP CONSTRAINT [DF__Enchanted__Spawn__74AE54BC]
GO
ALTER TABLE [dbo].[EnchantedGarden] DROP CONSTRAINT [DF__Enchanted__Spawn__73BA3083]
GO
ALTER TABLE [dbo].[EnchantedGarden] DROP CONSTRAINT [DF__Enchanted__Spawn__72C60C4A]
GO
ALTER TABLE [dbo].[EnchantedGarden] DROP CONSTRAINT [DF__Enchanted__Defen__7B5B524B]
GO
ALTER TABLE [dbo].[EnchantedGarden] DROP CONSTRAINT [DF__Enchanted__Offen__7A672E12]
GO
ALTER TABLE [dbo].[EnchantedGarden] DROP CONSTRAINT [DF__Enchanted__Defin__71D1E811]
GO
ALTER TABLE [dbo].[EnchantedGarden] DROP CONSTRAINT [DF__Enchanted__Defin__70DDC3D8]
GO
ALTER TABLE [dbo].[EnchantedGarden] DROP CONSTRAINT [DF__Enchanted__Image__6FE99F9F]
GO
ALTER TABLE [dbo].[EnchantedGarden] DROP CONSTRAINT [DF__Enchanted__Image__6EF57B66]
GO
ALTER TABLE [dbo].[EasternWoods] DROP CONSTRAINT [DF__EasternWo__Level__4830B400]
GO
ALTER TABLE [dbo].[EasternWoods] DROP CONSTRAINT [DF__EasternWo__CastS__4460231C]
GO
ALTER TABLE [dbo].[EasternWoods] DROP CONSTRAINT [DF__EasternWo__Attac__436BFEE3]
GO
ALTER TABLE [dbo].[EasternWoods] DROP CONSTRAINT [DF__EasternWo__Ignor__408F9238]
GO
ALTER TABLE [dbo].[EasternWoods] DROP CONSTRAINT [DF__EasternWo__Engag__4277DAAA]
GO
ALTER TABLE [dbo].[EasternWoods] DROP CONSTRAINT [DF__EasternWo__Movem__4183B671]
GO
ALTER TABLE [dbo].[EasternWoods] DROP CONSTRAINT [DF__EasternWo__Spawn__3F9B6DFF]
GO
ALTER TABLE [dbo].[EasternWoods] DROP CONSTRAINT [DF__EasternWo__Spawn__3EA749C6]
GO
ALTER TABLE [dbo].[EasternWoods] DROP CONSTRAINT [DF__EasternWo__Spawn__3DB3258D]
GO
ALTER TABLE [dbo].[EasternWoods] DROP CONSTRAINT [DF__EasternWo__Defen__46486B8E]
GO
ALTER TABLE [dbo].[EasternWoods] DROP CONSTRAINT [DF__EasternWo__Offen__45544755]
GO
ALTER TABLE [dbo].[EasternWoods] DROP CONSTRAINT [DF__EasternWo__Defin__3CBF0154]
GO
ALTER TABLE [dbo].[EasternWoods] DROP CONSTRAINT [DF__EasternWo__Defin__3BCADD1B]
GO
ALTER TABLE [dbo].[EasternWoods] DROP CONSTRAINT [DF__EasternWo__Image__3AD6B8E2]
GO
ALTER TABLE [dbo].[EasternWoods] DROP CONSTRAINT [DF__EasternWo__Image__39E294A9]
GO
ALTER TABLE [dbo].[Abel] DROP CONSTRAINT [DF__Abel__Level__75586032]
GO
ALTER TABLE [dbo].[Abel] DROP CONSTRAINT [DF__Abel__CastSpeed__727BF387]
GO
ALTER TABLE [dbo].[Abel] DROP CONSTRAINT [DF__Abel__AttackSpee__7187CF4E]
GO
ALTER TABLE [dbo].[Abel] DROP CONSTRAINT [DF__Abel__IgnoreColl__6EAB62A3]
GO
ALTER TABLE [dbo].[Abel] DROP CONSTRAINT [DF__Abel__EngagedSpe__7093AB15]
GO
ALTER TABLE [dbo].[Abel] DROP CONSTRAINT [DF__Abel__MovementSp__6F9F86DC]
GO
ALTER TABLE [dbo].[Abel] DROP CONSTRAINT [DF__Abel__SpawnRate__6DB73E6A]
GO
ALTER TABLE [dbo].[Abel] DROP CONSTRAINT [DF__Abel__SpawnMax__6CC31A31]
GO
ALTER TABLE [dbo].[Abel] DROP CONSTRAINT [DF__Abel__SpawnSize__6BCEF5F8]
GO
ALTER TABLE [dbo].[Abel] DROP CONSTRAINT [DF__Abel__DefenseEle__74643BF9]
GO
ALTER TABLE [dbo].[Abel] DROP CONSTRAINT [DF__Abel__OffenseEle__737017C0]
GO
ALTER TABLE [dbo].[Abel] DROP CONSTRAINT [DF__Abel__DefinedY__6ADAD1BF]
GO
ALTER TABLE [dbo].[Abel] DROP CONSTRAINT [DF__Abel__DefinedX__69E6AD86]
GO
ALTER TABLE [dbo].[Abel] DROP CONSTRAINT [DF__Abel__ImageVaria__68F2894D]
GO
ALTER TABLE [dbo].[Abel] DROP CONSTRAINT [DF__Abel__Image__67FE6514]
GO
/****** Object:  Table [dbo].[WesternWoodlands]    Script Date: 12/18/2023 2:22:40 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WesternWoodlands]') AND type in (N'U'))
DROP TABLE [dbo].[WesternWoodlands]
GO
/****** Object:  Table [dbo].[Wastelands]    Script Date: 12/18/2023 2:22:40 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Wastelands]') AND type in (N'U'))
DROP TABLE [dbo].[Wastelands]
GO
/****** Object:  Table [dbo].[Tutorial]    Script Date: 12/18/2023 2:22:40 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Tutorial]') AND type in (N'U'))
DROP TABLE [dbo].[Tutorial]
GO
/****** Object:  Table [dbo].[TempleOfChaos]    Script Date: 12/18/2023 2:22:40 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TempleOfChaos]') AND type in (N'U'))
DROP TABLE [dbo].[TempleOfChaos]
GO
/****** Object:  Table [dbo].[Tagor]    Script Date: 12/18/2023 2:22:40 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Tagor]') AND type in (N'U'))
DROP TABLE [dbo].[Tagor]
GO
/****** Object:  Table [dbo].[Pravat]    Script Date: 12/18/2023 2:22:40 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Pravat]') AND type in (N'U'))
DROP TABLE [dbo].[Pravat]
GO
/****** Object:  Table [dbo].[Piet]    Script Date: 12/18/2023 2:22:40 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Piet]') AND type in (N'U'))
DROP TABLE [dbo].[Piet]
GO
/****** Object:  Table [dbo].[OrenSewers]    Script Date: 12/18/2023 2:22:40 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OrenSewers]') AND type in (N'U'))
DROP TABLE [dbo].[OrenSewers]
GO
/****** Object:  Table [dbo].[OrenJungle]    Script Date: 12/18/2023 2:22:40 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OrenJungle]') AND type in (N'U'))
DROP TABLE [dbo].[OrenJungle]
GO
/****** Object:  Table [dbo].[NorthPole]    Script Date: 12/18/2023 2:22:40 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NorthPole]') AND type in (N'U'))
DROP TABLE [dbo].[NorthPole]
GO
/****** Object:  Table [dbo].[NobisRuins]    Script Date: 12/18/2023 2:22:40 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NobisRuins]') AND type in (N'U'))
DROP TABLE [dbo].[NobisRuins]
GO
/****** Object:  Table [dbo].[Mileth]    Script Date: 12/18/2023 2:22:40 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Mileth]') AND type in (N'U'))
DROP TABLE [dbo].[Mileth]
GO
/****** Object:  Table [dbo].[LootGoblins]    Script Date: 12/18/2023 2:22:40 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LootGoblins]') AND type in (N'U'))
DROP TABLE [dbo].[LootGoblins]
GO
/****** Object:  Table [dbo].[GMIsland]    Script Date: 12/18/2023 2:22:40 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GMIsland]') AND type in (N'U'))
DROP TABLE [dbo].[GMIsland]
GO
/****** Object:  Table [dbo].[EnchantedGarden]    Script Date: 12/18/2023 2:22:40 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EnchantedGarden]') AND type in (N'U'))
DROP TABLE [dbo].[EnchantedGarden]
GO
/****** Object:  Table [dbo].[EasternWoods]    Script Date: 12/18/2023 2:22:40 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EasternWoods]') AND type in (N'U'))
DROP TABLE [dbo].[EasternWoods]
GO
/****** Object:  Table [dbo].[Abel]    Script Date: 12/18/2023 2:22:40 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Abel]') AND type in (N'U'))
DROP TABLE [dbo].[Abel]
GO
/****** Object:  Table [dbo].[Abel]    Script Date: 12/18/2023 2:22:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Abel](
	[MonsterId] [int] NOT NULL,
	[DropOne] [varchar](20) NULL,
	[DropTwo] [varchar](20) NULL,
	[DropThree] [varchar](20) NULL,
	[DropFour] [varchar](20) NULL,
	[ScriptName] [varchar](20) NOT NULL,
	[BaseName] [varchar](30) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[Type] [varchar](10) NOT NULL,
	[MonType] [varchar](20) NOT NULL,
	[ArmorType] [varchar](6) NULL,
	[AreaId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ImageVariance] [int] NOT NULL,
	[SpawnType] [varchar](10) NOT NULL,
	[DefinedX] [int] NOT NULL,
	[DefinedY] [int] NOT NULL,
	[ElementType] [varchar](10) NOT NULL,
	[OffenseElement] [varchar](8) NOT NULL,
	[DefenseElement] [varchar](8) NOT NULL,
	[SpawnSize] [int] NOT NULL,
	[SpawnMax] [int] NOT NULL,
	[SpawnRate] [int] NOT NULL,
	[Mood] [varchar](15) NOT NULL,
	[MovementSpeed] [int] NOT NULL,
	[EngagedSpeed] [int] NOT NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[IgnoreCollision] [bit] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[AttackSpeed] [int] NOT NULL,
	[CastSpeed] [int] NOT NULL,
	[LootType] [varchar](15) NOT NULL,
	[Level] [int] NOT NULL,
	[SpecialSkill] [varchar](20) NULL,
	[SpecialAbility] [varchar](20) NULL,
	[SpecialSpell] [varchar](20) NULL,
 CONSTRAINT [PK__Abel__DC154026C8657769] PRIMARY KEY CLUSTERED 
(
	[MonsterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EasternWoods]    Script Date: 12/18/2023 2:22:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EasternWoods](
	[MonsterId] [int] NOT NULL,
	[DropOne] [varchar](20) NULL,
	[DropTwo] [varchar](20) NULL,
	[DropThree] [varchar](20) NULL,
	[DropFour] [varchar](20) NULL,
	[ScriptName] [varchar](20) NOT NULL,
	[BaseName] [varchar](30) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[Type] [varchar](10) NOT NULL,
	[MonType] [varchar](20) NOT NULL,
	[ArmorType] [varchar](6) NULL,
	[AreaId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ImageVariance] [int] NOT NULL,
	[SpawnType] [varchar](10) NOT NULL,
	[DefinedX] [int] NOT NULL,
	[DefinedY] [int] NOT NULL,
	[ElementType] [varchar](10) NOT NULL,
	[OffenseElement] [varchar](8) NOT NULL,
	[DefenseElement] [varchar](8) NOT NULL,
	[SpawnSize] [int] NOT NULL,
	[SpawnMax] [int] NOT NULL,
	[SpawnRate] [int] NOT NULL,
	[Mood] [varchar](15) NOT NULL,
	[MovementSpeed] [int] NOT NULL,
	[EngagedSpeed] [int] NOT NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[IgnoreCollision] [bit] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[AttackSpeed] [int] NOT NULL,
	[CastSpeed] [int] NOT NULL,
	[LootType] [varchar](15) NOT NULL,
	[Level] [int] NOT NULL,
	[SpecialSkill] [varchar](20) NULL,
	[SpecialAbility] [varchar](20) NULL,
	[SpecialSpell] [varchar](20) NULL,
 CONSTRAINT [PK__EasternW__DC154026E6D9E83D] PRIMARY KEY CLUSTERED 
(
	[MonsterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EasternWoods] SET (LOCK_ESCALATION = AUTO)
GO
/****** Object:  Table [dbo].[EnchantedGarden]    Script Date: 12/18/2023 2:22:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnchantedGarden](
	[MonsterId] [int] NOT NULL,
	[DropOne] [varchar](20) NULL,
	[DropTwo] [varchar](20) NULL,
	[DropThree] [varchar](20) NULL,
	[DropFour] [varchar](20) NULL,
	[ScriptName] [varchar](20) NOT NULL,
	[BaseName] [varchar](30) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[Type] [varchar](10) NOT NULL,
	[MonType] [varchar](20) NOT NULL,
	[ArmorType] [varchar](6) NULL,
	[AreaId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ImageVariance] [int] NOT NULL,
	[SpawnType] [varchar](10) NOT NULL,
	[DefinedX] [int] NOT NULL,
	[DefinedY] [int] NOT NULL,
	[ElementType] [varchar](10) NOT NULL,
	[OffenseElement] [varchar](8) NOT NULL,
	[DefenseElement] [varchar](8) NOT NULL,
	[SpawnSize] [int] NOT NULL,
	[SpawnMax] [int] NOT NULL,
	[SpawnRate] [int] NOT NULL,
	[Mood] [varchar](15) NOT NULL,
	[MovementSpeed] [int] NOT NULL,
	[EngagedSpeed] [int] NOT NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[IgnoreCollision] [bit] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[AttackSpeed] [int] NOT NULL,
	[CastSpeed] [int] NOT NULL,
	[LootType] [varchar](15) NOT NULL,
	[Level] [int] NOT NULL,
	[SpecialSkill] [varchar](20) NULL,
	[SpecialAbility] [varchar](20) NULL,
	[SpecialSpell] [varchar](20) NULL,
 CONSTRAINT [PK__Enchante__DC1540268B897A12] PRIMARY KEY CLUSTERED 
(
	[MonsterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EnchantedGarden] SET (LOCK_ESCALATION = AUTO)
GO
/****** Object:  Table [dbo].[GMIsland]    Script Date: 12/18/2023 2:22:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GMIsland](
	[MonsterId] [int] NOT NULL,
	[DropOne] [varchar](20) NULL,
	[DropTwo] [varchar](20) NULL,
	[DropThree] [varchar](20) NULL,
	[DropFour] [varchar](20) NULL,
	[ScriptName] [varchar](20) NOT NULL,
	[BaseName] [varchar](30) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[Type] [varchar](10) NOT NULL,
	[MonType] [varchar](20) NOT NULL,
	[ArmorType] [varchar](6) NULL,
	[AreaId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ImageVariance] [int] NOT NULL,
	[SpawnType] [varchar](10) NOT NULL,
	[DefinedX] [int] NOT NULL,
	[DefinedY] [int] NOT NULL,
	[ElementType] [varchar](10) NOT NULL,
	[OffenseElement] [varchar](8) NOT NULL,
	[DefenseElement] [varchar](8) NOT NULL,
	[SpawnSize] [int] NOT NULL,
	[SpawnMax] [int] NOT NULL,
	[SpawnRate] [int] NOT NULL,
	[Mood] [varchar](15) NOT NULL,
	[MovementSpeed] [int] NOT NULL,
	[EngagedSpeed] [int] NOT NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[IgnoreCollision] [bit] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[AttackSpeed] [int] NOT NULL,
	[CastSpeed] [int] NOT NULL,
	[LootType] [varchar](15) NOT NULL,
	[Level] [int] NOT NULL,
	[SpecialSkill] [varchar](20) NULL,
	[SpecialAbility] [varchar](20) NULL,
	[SpecialSpell] [varchar](20) NULL,
 CONSTRAINT [PK__GMIsland__DC15402617C41F10] PRIMARY KEY CLUSTERED 
(
	[MonsterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GMIsland] SET (LOCK_ESCALATION = AUTO)
GO
/****** Object:  Table [dbo].[LootGoblins]    Script Date: 12/18/2023 2:22:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LootGoblins](
	[MonsterId] [int] NOT NULL,
	[DropOne] [varchar](20) NULL,
	[DropTwo] [varchar](20) NULL,
	[DropThree] [varchar](20) NULL,
	[DropFour] [varchar](20) NULL,
	[ScriptName] [varchar](20) NOT NULL,
	[BaseName] [varchar](30) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[Type] [varchar](10) NOT NULL,
	[MonType] [varchar](20) NOT NULL,
	[ArmorType] [varchar](6) NULL,
	[AreaId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ImageVariance] [int] NOT NULL,
	[SpawnType] [varchar](10) NOT NULL,
	[DefinedX] [int] NOT NULL,
	[DefinedY] [int] NOT NULL,
	[ElementType] [varchar](10) NOT NULL,
	[OffenseElement] [varchar](8) NOT NULL,
	[DefenseElement] [varchar](8) NOT NULL,
	[SpawnSize] [int] NOT NULL,
	[SpawnMax] [int] NOT NULL,
	[SpawnRate] [int] NOT NULL,
	[Mood] [varchar](15) NOT NULL,
	[MovementSpeed] [int] NOT NULL,
	[EngagedSpeed] [int] NOT NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[IgnoreCollision] [bit] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[AttackSpeed] [int] NOT NULL,
	[CastSpeed] [int] NOT NULL,
	[LootType] [varchar](15) NOT NULL,
	[Level] [int] NOT NULL,
	[SpecialSkill] [varchar](20) NULL,
	[SpecialAbility] [varchar](20) NULL,
	[SpecialSpell] [varchar](20) NULL,
 CONSTRAINT [PK__LootGobl__DC1540264184A882] PRIMARY KEY CLUSTERED 
(
	[MonsterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mileth]    Script Date: 12/18/2023 2:22:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mileth](
	[MonsterId] [int] NOT NULL,
	[DropOne] [varchar](20) NULL,
	[DropTwo] [varchar](20) NULL,
	[DropThree] [varchar](20) NULL,
	[DropFour] [varchar](20) NULL,
	[ScriptName] [varchar](20) NOT NULL,
	[BaseName] [varchar](30) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[Type] [varchar](10) NOT NULL,
	[MonType] [varchar](20) NOT NULL,
	[ArmorType] [varchar](6) NULL,
	[AreaId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ImageVariance] [int] NOT NULL,
	[SpawnType] [varchar](10) NOT NULL,
	[DefinedX] [int] NOT NULL,
	[DefinedY] [int] NOT NULL,
	[ElementType] [varchar](10) NOT NULL,
	[OffenseElement] [varchar](8) NOT NULL,
	[DefenseElement] [varchar](8) NOT NULL,
	[SpawnSize] [int] NOT NULL,
	[SpawnMax] [int] NOT NULL,
	[SpawnRate] [int] NOT NULL,
	[Mood] [varchar](15) NOT NULL,
	[MovementSpeed] [int] NOT NULL,
	[EngagedSpeed] [int] NOT NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[IgnoreCollision] [bit] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[AttackSpeed] [int] NOT NULL,
	[CastSpeed] [int] NOT NULL,
	[LootType] [varchar](15) NOT NULL,
	[Level] [int] NOT NULL,
	[SpecialSkill] [varchar](20) NULL,
	[SpecialAbility] [varchar](20) NULL,
	[SpecialSpell] [varchar](20) NULL,
 CONSTRAINT [PK__Mileth__DC154026FD6521FC] PRIMARY KEY CLUSTERED 
(
	[MonsterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Mileth] SET (LOCK_ESCALATION = AUTO)
GO
/****** Object:  Table [dbo].[NobisRuins]    Script Date: 12/18/2023 2:22:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NobisRuins](
	[MonsterId] [int] NOT NULL,
	[DropOne] [varchar](20) NULL,
	[DropTwo] [varchar](20) NULL,
	[DropThree] [varchar](20) NULL,
	[DropFour] [varchar](20) NULL,
	[ScriptName] [varchar](20) NOT NULL,
	[BaseName] [varchar](30) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[Type] [varchar](10) NOT NULL,
	[MonType] [varchar](20) NOT NULL,
	[ArmorType] [varchar](6) NULL,
	[AreaId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ImageVariance] [int] NOT NULL,
	[SpawnType] [varchar](10) NOT NULL,
	[DefinedX] [int] NOT NULL,
	[DefinedY] [int] NOT NULL,
	[ElementType] [varchar](10) NOT NULL,
	[OffenseElement] [varchar](8) NOT NULL,
	[DefenseElement] [varchar](8) NOT NULL,
	[SpawnSize] [int] NOT NULL,
	[SpawnMax] [int] NOT NULL,
	[SpawnRate] [int] NOT NULL,
	[Mood] [varchar](15) NOT NULL,
	[MovementSpeed] [int] NOT NULL,
	[EngagedSpeed] [int] NOT NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[IgnoreCollision] [bit] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[AttackSpeed] [int] NOT NULL,
	[CastSpeed] [int] NOT NULL,
	[LootType] [varchar](15) NOT NULL,
	[Level] [int] NOT NULL,
	[SpecialSkill] [varchar](20) NULL,
	[SpecialAbility] [varchar](20) NULL,
	[SpecialSpell] [varchar](20) NULL,
 CONSTRAINT [PK__NobisRui__DC154026EF7AA5EF] PRIMARY KEY CLUSTERED 
(
	[MonsterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NorthPole]    Script Date: 12/18/2023 2:22:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NorthPole](
	[MonsterId] [int] NOT NULL,
	[DropOne] [varchar](20) NULL,
	[DropTwo] [varchar](20) NULL,
	[DropThree] [varchar](20) NULL,
	[DropFour] [varchar](20) NULL,
	[ScriptName] [varchar](20) NOT NULL,
	[BaseName] [varchar](30) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[Type] [varchar](10) NOT NULL,
	[MonType] [varchar](20) NOT NULL,
	[ArmorType] [varchar](6) NULL,
	[AreaId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ImageVariance] [int] NOT NULL,
	[SpawnType] [varchar](10) NOT NULL,
	[DefinedX] [int] NOT NULL,
	[DefinedY] [int] NOT NULL,
	[ElementType] [varchar](10) NOT NULL,
	[OffenseElement] [varchar](8) NOT NULL,
	[DefenseElement] [varchar](8) NOT NULL,
	[SpawnSize] [int] NOT NULL,
	[SpawnMax] [int] NOT NULL,
	[SpawnRate] [int] NOT NULL,
	[Mood] [varchar](15) NOT NULL,
	[MovementSpeed] [int] NOT NULL,
	[EngagedSpeed] [int] NOT NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[IgnoreCollision] [bit] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[AttackSpeed] [int] NOT NULL,
	[CastSpeed] [int] NOT NULL,
	[LootType] [varchar](15) NOT NULL,
	[Level] [int] NOT NULL,
	[SpecialSkill] [varchar](20) NULL,
	[SpecialAbility] [varchar](20) NULL,
	[SpecialSpell] [varchar](20) NULL,
 CONSTRAINT [PK__NorthPole__DC154026FD6521FC] PRIMARY KEY CLUSTERED 
(
	[MonsterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NorthPole] SET (LOCK_ESCALATION = AUTO)
GO
/****** Object:  Table [dbo].[OrenJungle]    Script Date: 12/18/2023 2:22:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrenJungle](
	[MonsterId] [int] NOT NULL,
	[DropOne] [varchar](25) NULL,
	[DropTwo] [varchar](25) NULL,
	[DropThree] [varchar](25) NULL,
	[DropFour] [varchar](25) NULL,
	[ScriptName] [varchar](20) NOT NULL,
	[BaseName] [varchar](30) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[Type] [varchar](10) NOT NULL,
	[MonType] [varchar](20) NOT NULL,
	[ArmorType] [varchar](6) NULL,
	[AreaId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ImageVariance] [int] NOT NULL,
	[SpawnType] [varchar](10) NOT NULL,
	[DefinedX] [int] NOT NULL,
	[DefinedY] [int] NOT NULL,
	[ElementType] [varchar](10) NOT NULL,
	[OffenseElement] [varchar](8) NOT NULL,
	[DefenseElement] [varchar](8) NOT NULL,
	[SpawnSize] [int] NOT NULL,
	[SpawnMax] [int] NOT NULL,
	[SpawnRate] [int] NOT NULL,
	[Mood] [varchar](15) NOT NULL,
	[MovementSpeed] [int] NOT NULL,
	[EngagedSpeed] [int] NOT NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[IgnoreCollision] [bit] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[AttackSpeed] [int] NOT NULL,
	[CastSpeed] [int] NOT NULL,
	[LootType] [varchar](15) NOT NULL,
	[Level] [int] NOT NULL,
	[SpecialSkill] [varchar](20) NULL,
	[SpecialAbility] [varchar](20) NULL,
	[SpecialSpell] [varchar](20) NULL,
 CONSTRAINT [PK__OrenJung__DC154026FAD15181] PRIMARY KEY CLUSTERED 
(
	[MonsterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrenSewers]    Script Date: 12/18/2023 2:22:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrenSewers](
	[MonsterId] [int] NOT NULL,
	[DropOne] [varchar](20) NULL,
	[DropTwo] [varchar](20) NULL,
	[DropThree] [varchar](20) NULL,
	[DropFour] [varchar](20) NULL,
	[ScriptName] [varchar](20) NOT NULL,
	[BaseName] [varchar](30) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[Type] [varchar](10) NOT NULL,
	[MonType] [varchar](20) NOT NULL,
	[ArmorType] [varchar](6) NULL,
	[AreaId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ImageVariance] [int] NOT NULL,
	[SpawnType] [varchar](10) NOT NULL,
	[DefinedX] [int] NOT NULL,
	[DefinedY] [int] NOT NULL,
	[ElementType] [varchar](10) NOT NULL,
	[OffenseElement] [varchar](8) NOT NULL,
	[DefenseElement] [varchar](8) NOT NULL,
	[SpawnSize] [int] NOT NULL,
	[SpawnMax] [int] NOT NULL,
	[SpawnRate] [int] NOT NULL,
	[Mood] [varchar](15) NOT NULL,
	[MovementSpeed] [int] NOT NULL,
	[EngagedSpeed] [int] NOT NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[IgnoreCollision] [bit] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[AttackSpeed] [int] NOT NULL,
	[CastSpeed] [int] NOT NULL,
	[LootType] [varchar](15) NOT NULL,
	[Level] [int] NOT NULL,
	[SpecialSkill] [varchar](20) NULL,
	[SpecialAbility] [varchar](20) NULL,
	[SpecialSpell] [varchar](20) NULL,
 CONSTRAINT [PK__OrenSewe__DC154026EB48D48A] PRIMARY KEY CLUSTERED 
(
	[MonsterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Piet]    Script Date: 12/18/2023 2:22:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Piet](
	[MonsterId] [int] NOT NULL,
	[DropOne] [varchar](20) NULL,
	[DropTwo] [varchar](20) NULL,
	[DropThree] [varchar](20) NULL,
	[DropFour] [varchar](20) NULL,
	[ScriptName] [varchar](20) NOT NULL,
	[BaseName] [varchar](30) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[Type] [varchar](10) NOT NULL,
	[MonType] [varchar](20) NOT NULL,
	[ArmorType] [varchar](6) NULL,
	[AreaId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ImageVariance] [int] NOT NULL,
	[SpawnType] [varchar](10) NOT NULL,
	[DefinedX] [int] NOT NULL,
	[DefinedY] [int] NOT NULL,
	[ElementType] [varchar](10) NOT NULL,
	[OffenseElement] [varchar](8) NOT NULL,
	[DefenseElement] [varchar](8) NOT NULL,
	[SpawnSize] [int] NOT NULL,
	[SpawnMax] [int] NOT NULL,
	[SpawnRate] [int] NOT NULL,
	[Mood] [varchar](15) NOT NULL,
	[MovementSpeed] [int] NOT NULL,
	[EngagedSpeed] [int] NOT NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[IgnoreCollision] [bit] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[AttackSpeed] [int] NOT NULL,
	[CastSpeed] [int] NOT NULL,
	[LootType] [varchar](15) NOT NULL,
	[Level] [int] NOT NULL,
	[SpecialSkill] [varchar](20) NULL,
	[SpecialAbility] [varchar](20) NULL,
	[SpecialSpell] [varchar](20) NULL,
 CONSTRAINT [PK__Piet__DC15402631BB3C56] PRIMARY KEY CLUSTERED 
(
	[MonsterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pravat]    Script Date: 12/18/2023 2:22:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pravat](
	[MonsterId] [int] NOT NULL,
	[DropOne] [varchar](20) NULL,
	[DropTwo] [varchar](20) NULL,
	[DropThree] [varchar](20) NULL,
	[DropFour] [varchar](20) NULL,
	[ScriptName] [varchar](20) NOT NULL,
	[BaseName] [varchar](30) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[Type] [varchar](10) NOT NULL,
	[MonType] [varchar](20) NOT NULL,
	[ArmorType] [varchar](6) NULL,
	[AreaId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ImageVariance] [int] NOT NULL,
	[SpawnType] [varchar](10) NOT NULL,
	[DefinedX] [int] NOT NULL,
	[DefinedY] [int] NOT NULL,
	[ElementType] [varchar](10) NOT NULL,
	[OffenseElement] [varchar](8) NOT NULL,
	[DefenseElement] [varchar](8) NOT NULL,
	[SpawnSize] [int] NOT NULL,
	[SpawnMax] [int] NOT NULL,
	[SpawnRate] [int] NOT NULL,
	[Mood] [varchar](15) NOT NULL,
	[MovementSpeed] [int] NOT NULL,
	[EngagedSpeed] [int] NOT NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[IgnoreCollision] [bit] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[AttackSpeed] [int] NOT NULL,
	[CastSpeed] [int] NOT NULL,
	[LootType] [varchar](15) NOT NULL,
	[Level] [int] NOT NULL,
	[SpecialSkill] [varchar](20) NULL,
	[SpecialAbility] [varchar](20) NULL,
	[SpecialSpell] [varchar](20) NULL,
 CONSTRAINT [PK__Pravat__DC15402692A457D6] PRIMARY KEY CLUSTERED 
(
	[MonsterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tagor]    Script Date: 12/18/2023 2:22:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tagor](
	[MonsterId] [int] NOT NULL,
	[DropOne] [varchar](30) NULL,
	[DropTwo] [varchar](30) NULL,
	[DropThree] [varchar](30) NULL,
	[DropFour] [varchar](20) NULL,
	[ScriptName] [varchar](20) NOT NULL,
	[BaseName] [varchar](30) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[Type] [varchar](10) NOT NULL,
	[MonType] [varchar](20) NOT NULL,
	[ArmorType] [varchar](6) NULL,
	[AreaId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ImageVariance] [int] NOT NULL,
	[SpawnType] [varchar](10) NOT NULL,
	[DefinedX] [int] NOT NULL,
	[DefinedY] [int] NOT NULL,
	[ElementType] [varchar](10) NOT NULL,
	[OffenseElement] [varchar](8) NOT NULL,
	[DefenseElement] [varchar](8) NOT NULL,
	[SpawnSize] [int] NOT NULL,
	[SpawnMax] [int] NOT NULL,
	[SpawnRate] [int] NOT NULL,
	[Mood] [varchar](15) NOT NULL,
	[MovementSpeed] [int] NOT NULL,
	[EngagedSpeed] [int] NOT NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[IgnoreCollision] [bit] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[AttackSpeed] [int] NOT NULL,
	[CastSpeed] [int] NOT NULL,
	[LootType] [varchar](15) NOT NULL,
	[Level] [int] NOT NULL,
	[SpecialSkill] [varchar](20) NULL,
	[SpecialAbility] [varchar](20) NULL,
	[SpecialSpell] [varchar](20) NULL,
 CONSTRAINT [PK__Tagor__DC154026F61B3652] PRIMARY KEY CLUSTERED 
(
	[MonsterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TempleOfChaos]    Script Date: 12/18/2023 2:22:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TempleOfChaos](
	[MonsterId] [int] NOT NULL,
	[DropOne] [varchar](20) NULL,
	[DropTwo] [varchar](20) NULL,
	[DropThree] [varchar](20) NULL,
	[DropFour] [varchar](20) NULL,
	[ScriptName] [varchar](20) NOT NULL,
	[BaseName] [varchar](30) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[Type] [varchar](10) NOT NULL,
	[MonType] [varchar](20) NOT NULL,
	[ArmorType] [varchar](6) NULL,
	[AreaId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ImageVariance] [int] NOT NULL,
	[SpawnType] [varchar](10) NOT NULL,
	[DefinedX] [int] NOT NULL,
	[DefinedY] [int] NOT NULL,
	[ElementType] [varchar](10) NOT NULL,
	[OffenseElement] [varchar](8) NOT NULL,
	[DefenseElement] [varchar](8) NOT NULL,
	[SpawnSize] [int] NOT NULL,
	[SpawnMax] [int] NOT NULL,
	[SpawnRate] [int] NOT NULL,
	[Mood] [varchar](15) NOT NULL,
	[MovementSpeed] [int] NOT NULL,
	[EngagedSpeed] [int] NOT NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[IgnoreCollision] [bit] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[AttackSpeed] [int] NOT NULL,
	[CastSpeed] [int] NOT NULL,
	[LootType] [varchar](15) NOT NULL,
	[Level] [int] NOT NULL,
	[SpecialSkill] [varchar](20) NULL,
	[SpecialAbility] [varchar](20) NULL,
	[SpecialSpell] [varchar](20) NULL,
 CONSTRAINT [PK__TempleOf__DC154026D9207446] PRIMARY KEY CLUSTERED 
(
	[MonsterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tutorial]    Script Date: 12/18/2023 2:22:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tutorial](
	[MonsterId] [int] NOT NULL,
	[DropOne] [varchar](20) NULL,
	[DropTwo] [varchar](20) NULL,
	[DropThree] [varchar](20) NULL,
	[DropFour] [varchar](20) NULL,
	[ScriptName] [varchar](20) NOT NULL,
	[BaseName] [varchar](30) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[Type] [varchar](10) NOT NULL,
	[MonType] [varchar](20) NOT NULL,
	[ArmorType] [varchar](6) NULL,
	[AreaId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ImageVariance] [int] NOT NULL,
	[SpawnType] [varchar](10) NOT NULL,
	[DefinedX] [int] NOT NULL,
	[DefinedY] [int] NOT NULL,
	[ElementType] [varchar](10) NOT NULL,
	[OffenseElement] [varchar](8) NOT NULL,
	[DefenseElement] [varchar](8) NOT NULL,
	[SpawnSize] [int] NOT NULL,
	[SpawnMax] [int] NOT NULL,
	[SpawnRate] [int] NOT NULL,
	[Mood] [varchar](15) NOT NULL,
	[MovementSpeed] [int] NOT NULL,
	[EngagedSpeed] [int] NOT NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[IgnoreCollision] [bit] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[AttackSpeed] [int] NOT NULL,
	[CastSpeed] [int] NOT NULL,
	[LootType] [varchar](15) NOT NULL,
	[Level] [int] NOT NULL,
	[SpecialSkill] [varchar](20) NULL,
	[SpecialAbility] [varchar](20) NULL,
	[SpecialSpell] [varchar](20) NULL,
 CONSTRAINT [PK__Tutorial__DC154026BAE0FADF] PRIMARY KEY CLUSTERED 
(
	[MonsterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tutorial] SET (LOCK_ESCALATION = AUTO)
GO
/****** Object:  Table [dbo].[Wastelands]    Script Date: 12/18/2023 2:22:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wastelands](
	[MonsterId] [int] NOT NULL,
	[DropOne] [varchar](20) NULL,
	[DropTwo] [varchar](20) NULL,
	[DropThree] [varchar](20) NULL,
	[DropFour] [varchar](20) NULL,
	[ScriptName] [varchar](20) NOT NULL,
	[BaseName] [varchar](30) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[Type] [varchar](10) NOT NULL,
	[MonType] [varchar](20) NOT NULL,
	[ArmorType] [varchar](6) NULL,
	[AreaId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ImageVariance] [int] NOT NULL,
	[SpawnType] [varchar](10) NOT NULL,
	[DefinedX] [int] NOT NULL,
	[DefinedY] [int] NOT NULL,
	[ElementType] [varchar](10) NOT NULL,
	[OffenseElement] [varchar](8) NOT NULL,
	[DefenseElement] [varchar](8) NOT NULL,
	[SpawnSize] [int] NOT NULL,
	[SpawnMax] [int] NOT NULL,
	[SpawnRate] [int] NOT NULL,
	[Mood] [varchar](15) NOT NULL,
	[MovementSpeed] [int] NOT NULL,
	[EngagedSpeed] [int] NOT NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[IgnoreCollision] [bit] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[AttackSpeed] [int] NOT NULL,
	[CastSpeed] [int] NOT NULL,
	[LootType] [varchar](15) NOT NULL,
	[Level] [int] NOT NULL,
	[SpecialSkill] [varchar](20) NULL,
	[SpecialAbility] [varchar](20) NULL,
	[SpecialSpell] [varchar](20) NULL,
 CONSTRAINT [PK__Wastelan__DC154026D5874981] PRIMARY KEY CLUSTERED 
(
	[MonsterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Wastelands] SET (LOCK_ESCALATION = AUTO)
GO
/****** Object:  Table [dbo].[WesternWoodlands]    Script Date: 12/18/2023 2:22:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WesternWoodlands](
	[MonsterId] [int] NOT NULL,
	[DropOne] [varchar](20) NULL,
	[DropTwo] [varchar](20) NULL,
	[DropThree] [varchar](20) NULL,
	[DropFour] [varchar](20) NULL,
	[ScriptName] [varchar](20) NOT NULL,
	[BaseName] [varchar](30) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[Type] [varchar](10) NOT NULL,
	[MonType] [varchar](20) NOT NULL,
	[ArmorType] [varchar](6) NULL,
	[AreaId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ImageVariance] [int] NOT NULL,
	[SpawnType] [varchar](10) NOT NULL,
	[DefinedX] [int] NOT NULL,
	[DefinedY] [int] NOT NULL,
	[ElementType] [varchar](10) NOT NULL,
	[OffenseElement] [varchar](8) NOT NULL,
	[DefenseElement] [varchar](8) NOT NULL,
	[SpawnSize] [int] NOT NULL,
	[SpawnMax] [int] NOT NULL,
	[SpawnRate] [int] NOT NULL,
	[Mood] [varchar](15) NOT NULL,
	[MovementSpeed] [int] NOT NULL,
	[EngagedSpeed] [int] NOT NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[IgnoreCollision] [bit] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[AttackSpeed] [int] NOT NULL,
	[CastSpeed] [int] NOT NULL,
	[LootType] [varchar](15) NOT NULL,
	[Level] [int] NOT NULL,
	[SpecialSkill] [varchar](20) NULL,
	[SpecialAbility] [varchar](20) NULL,
	[SpecialSpell] [varchar](20) NULL,
 CONSTRAINT [PK__WesternW__DC1540268935CC11] PRIMARY KEY CLUSTERED 
(
	[MonsterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Abel] ADD  CONSTRAINT [DF__Abel__Image__67FE6514]  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[Abel] ADD  CONSTRAINT [DF__Abel__ImageVaria__68F2894D]  DEFAULT ((0)) FOR [ImageVariance]
GO
ALTER TABLE [dbo].[Abel] ADD  CONSTRAINT [DF__Abel__DefinedX__69E6AD86]  DEFAULT ((0)) FOR [DefinedX]
GO
ALTER TABLE [dbo].[Abel] ADD  CONSTRAINT [DF__Abel__DefinedY__6ADAD1BF]  DEFAULT ((0)) FOR [DefinedY]
GO
ALTER TABLE [dbo].[Abel] ADD  CONSTRAINT [DF__Abel__OffenseEle__737017C0]  DEFAULT ('None') FOR [OffenseElement]
GO
ALTER TABLE [dbo].[Abel] ADD  CONSTRAINT [DF__Abel__DefenseEle__74643BF9]  DEFAULT ('None') FOR [DefenseElement]
GO
ALTER TABLE [dbo].[Abel] ADD  CONSTRAINT [DF__Abel__SpawnSize__6BCEF5F8]  DEFAULT ((0)) FOR [SpawnSize]
GO
ALTER TABLE [dbo].[Abel] ADD  CONSTRAINT [DF__Abel__SpawnMax__6CC31A31]  DEFAULT ((20)) FOR [SpawnMax]
GO
ALTER TABLE [dbo].[Abel] ADD  CONSTRAINT [DF__Abel__SpawnRate__6DB73E6A]  DEFAULT ((1)) FOR [SpawnRate]
GO
ALTER TABLE [dbo].[Abel] ADD  CONSTRAINT [DF__Abel__MovementSp__6F9F86DC]  DEFAULT ((2000)) FOR [MovementSpeed]
GO
ALTER TABLE [dbo].[Abel] ADD  CONSTRAINT [DF__Abel__EngagedSpe__7093AB15]  DEFAULT ((1500)) FOR [EngagedSpeed]
GO
ALTER TABLE [dbo].[Abel] ADD  CONSTRAINT [DF__Abel__IgnoreColl__6EAB62A3]  DEFAULT ((0)) FOR [IgnoreCollision]
GO
ALTER TABLE [dbo].[Abel] ADD  CONSTRAINT [DF__Abel__AttackSpee__7187CF4E]  DEFAULT ((1000)) FOR [AttackSpeed]
GO
ALTER TABLE [dbo].[Abel] ADD  CONSTRAINT [DF__Abel__CastSpeed__727BF387]  DEFAULT ((10000)) FOR [CastSpeed]
GO
ALTER TABLE [dbo].[Abel] ADD  CONSTRAINT [DF__Abel__Level__75586032]  DEFAULT ((1)) FOR [Level]
GO
ALTER TABLE [dbo].[EasternWoods] ADD  CONSTRAINT [DF__EasternWo__Image__39E294A9]  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[EasternWoods] ADD  CONSTRAINT [DF__EasternWo__Image__3AD6B8E2]  DEFAULT ((0)) FOR [ImageVariance]
GO
ALTER TABLE [dbo].[EasternWoods] ADD  CONSTRAINT [DF__EasternWo__Defin__3BCADD1B]  DEFAULT ((0)) FOR [DefinedX]
GO
ALTER TABLE [dbo].[EasternWoods] ADD  CONSTRAINT [DF__EasternWo__Defin__3CBF0154]  DEFAULT ((0)) FOR [DefinedY]
GO
ALTER TABLE [dbo].[EasternWoods] ADD  CONSTRAINT [DF__EasternWo__Offen__45544755]  DEFAULT ((0)) FOR [OffenseElement]
GO
ALTER TABLE [dbo].[EasternWoods] ADD  CONSTRAINT [DF__EasternWo__Defen__46486B8E]  DEFAULT ((0)) FOR [DefenseElement]
GO
ALTER TABLE [dbo].[EasternWoods] ADD  CONSTRAINT [DF__EasternWo__Spawn__3DB3258D]  DEFAULT ((0)) FOR [SpawnSize]
GO
ALTER TABLE [dbo].[EasternWoods] ADD  CONSTRAINT [DF__EasternWo__Spawn__3EA749C6]  DEFAULT ((20)) FOR [SpawnMax]
GO
ALTER TABLE [dbo].[EasternWoods] ADD  CONSTRAINT [DF__EasternWo__Spawn__3F9B6DFF]  DEFAULT ((1)) FOR [SpawnRate]
GO
ALTER TABLE [dbo].[EasternWoods] ADD  CONSTRAINT [DF__EasternWo__Movem__4183B671]  DEFAULT ((1800)) FOR [MovementSpeed]
GO
ALTER TABLE [dbo].[EasternWoods] ADD  CONSTRAINT [DF__EasternWo__Engag__4277DAAA]  DEFAULT ((900)) FOR [EngagedSpeed]
GO
ALTER TABLE [dbo].[EasternWoods] ADD  CONSTRAINT [DF__EasternWo__Ignor__408F9238]  DEFAULT ((0)) FOR [IgnoreCollision]
GO
ALTER TABLE [dbo].[EasternWoods] ADD  CONSTRAINT [DF__EasternWo__Attac__436BFEE3]  DEFAULT ((1000)) FOR [AttackSpeed]
GO
ALTER TABLE [dbo].[EasternWoods] ADD  CONSTRAINT [DF__EasternWo__CastS__4460231C]  DEFAULT ((5000)) FOR [CastSpeed]
GO
ALTER TABLE [dbo].[EasternWoods] ADD  CONSTRAINT [DF__EasternWo__Level__4830B400]  DEFAULT ((1)) FOR [Level]
GO
ALTER TABLE [dbo].[EnchantedGarden] ADD  CONSTRAINT [DF__Enchanted__Image__6EF57B66]  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[EnchantedGarden] ADD  CONSTRAINT [DF__Enchanted__Image__6FE99F9F]  DEFAULT ((0)) FOR [ImageVariance]
GO
ALTER TABLE [dbo].[EnchantedGarden] ADD  CONSTRAINT [DF__Enchanted__Defin__70DDC3D8]  DEFAULT ((0)) FOR [DefinedX]
GO
ALTER TABLE [dbo].[EnchantedGarden] ADD  CONSTRAINT [DF__Enchanted__Defin__71D1E811]  DEFAULT ((0)) FOR [DefinedY]
GO
ALTER TABLE [dbo].[EnchantedGarden] ADD  CONSTRAINT [DF__Enchanted__Offen__7A672E12]  DEFAULT ((0)) FOR [OffenseElement]
GO
ALTER TABLE [dbo].[EnchantedGarden] ADD  CONSTRAINT [DF__Enchanted__Defen__7B5B524B]  DEFAULT ((0)) FOR [DefenseElement]
GO
ALTER TABLE [dbo].[EnchantedGarden] ADD  CONSTRAINT [DF__Enchanted__Spawn__72C60C4A]  DEFAULT ((0)) FOR [SpawnSize]
GO
ALTER TABLE [dbo].[EnchantedGarden] ADD  CONSTRAINT [DF__Enchanted__Spawn__73BA3083]  DEFAULT ((20)) FOR [SpawnMax]
GO
ALTER TABLE [dbo].[EnchantedGarden] ADD  CONSTRAINT [DF__Enchanted__Spawn__74AE54BC]  DEFAULT ((1)) FOR [SpawnRate]
GO
ALTER TABLE [dbo].[EnchantedGarden] ADD  CONSTRAINT [DF__Enchanted__Movem__76969D2E]  DEFAULT ((1800)) FOR [MovementSpeed]
GO
ALTER TABLE [dbo].[EnchantedGarden] ADD  CONSTRAINT [DF__Enchanted__Engag__778AC167]  DEFAULT ((900)) FOR [EngagedSpeed]
GO
ALTER TABLE [dbo].[EnchantedGarden] ADD  CONSTRAINT [DF__Enchanted__Ignor__75A278F5]  DEFAULT ((0)) FOR [IgnoreCollision]
GO
ALTER TABLE [dbo].[EnchantedGarden] ADD  CONSTRAINT [DF__Enchanted__Attac__787EE5A0]  DEFAULT ((1000)) FOR [AttackSpeed]
GO
ALTER TABLE [dbo].[EnchantedGarden] ADD  CONSTRAINT [DF__Enchanted__CastS__797309D9]  DEFAULT ((5000)) FOR [CastSpeed]
GO
ALTER TABLE [dbo].[EnchantedGarden] ADD  CONSTRAINT [DF__Enchanted__Level__7D439ABD]  DEFAULT ((1)) FOR [Level]
GO
ALTER TABLE [dbo].[GMIsland] ADD  CONSTRAINT [DF__GMIsland__Image__3D5E1FD2]  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[GMIsland] ADD  CONSTRAINT [DF__GMIsland__ImageV__3E52440B]  DEFAULT ((0)) FOR [ImageVariance]
GO
ALTER TABLE [dbo].[GMIsland] ADD  CONSTRAINT [DF__GMIsland__Define__3F466844]  DEFAULT ((0)) FOR [DefinedX]
GO
ALTER TABLE [dbo].[GMIsland] ADD  CONSTRAINT [DF__GMIsland__Define__403A8C7D]  DEFAULT ((0)) FOR [DefinedY]
GO
ALTER TABLE [dbo].[GMIsland] ADD  CONSTRAINT [DF__GMIsland__Offens__48CFD27E]  DEFAULT ((0)) FOR [OffenseElement]
GO
ALTER TABLE [dbo].[GMIsland] ADD  CONSTRAINT [DF__GMIsland__Defens__49C3F6B7]  DEFAULT ((0)) FOR [DefenseElement]
GO
ALTER TABLE [dbo].[GMIsland] ADD  CONSTRAINT [DF__GMIsland__SpawnS__412EB0B6]  DEFAULT ((0)) FOR [SpawnSize]
GO
ALTER TABLE [dbo].[GMIsland] ADD  CONSTRAINT [DF__GMIsland__SpawnM__4222D4EF]  DEFAULT ((20)) FOR [SpawnMax]
GO
ALTER TABLE [dbo].[GMIsland] ADD  CONSTRAINT [DF__GMIsland__SpawnR__4316F928]  DEFAULT ((1)) FOR [SpawnRate]
GO
ALTER TABLE [dbo].[GMIsland] ADD  CONSTRAINT [DF__GMIsland__Moveme__44FF419A]  DEFAULT ((1800)) FOR [MovementSpeed]
GO
ALTER TABLE [dbo].[GMIsland] ADD  CONSTRAINT [DF__GMIsland__Engage__45F365D3]  DEFAULT ((900)) FOR [EngagedSpeed]
GO
ALTER TABLE [dbo].[GMIsland] ADD  CONSTRAINT [DF__GMIsland__Ignore__440B1D61]  DEFAULT ((0)) FOR [IgnoreCollision]
GO
ALTER TABLE [dbo].[GMIsland] ADD  CONSTRAINT [DF__GMIsland__Attack__46E78A0C]  DEFAULT ((1000)) FOR [AttackSpeed]
GO
ALTER TABLE [dbo].[GMIsland] ADD  CONSTRAINT [DF__GMIsland__CastSp__47DBAE45]  DEFAULT ((5000)) FOR [CastSpeed]
GO
ALTER TABLE [dbo].[GMIsland] ADD  CONSTRAINT [DF__GMIsland__Level__4BAC3F29]  DEFAULT ((1)) FOR [Level]
GO
ALTER TABLE [dbo].[LootGoblins] ADD  CONSTRAINT [DF__LootGobli__Image__6B6FCE9C]  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[LootGoblins] ADD  CONSTRAINT [DF__LootGobli__Image__6C63F2D5]  DEFAULT ((0)) FOR [ImageVariance]
GO
ALTER TABLE [dbo].[LootGoblins] ADD  CONSTRAINT [DF__LootGobli__Defin__6D58170E]  DEFAULT ((0)) FOR [DefinedX]
GO
ALTER TABLE [dbo].[LootGoblins] ADD  CONSTRAINT [DF__LootGobli__Defin__6E4C3B47]  DEFAULT ((0)) FOR [DefinedY]
GO
ALTER TABLE [dbo].[LootGoblins] ADD  CONSTRAINT [DF__LootGobli__Offen__6F405F80]  DEFAULT ('None') FOR [OffenseElement]
GO
ALTER TABLE [dbo].[LootGoblins] ADD  CONSTRAINT [DF__LootGobli__Defen__703483B9]  DEFAULT ('None') FOR [DefenseElement]
GO
ALTER TABLE [dbo].[LootGoblins] ADD  CONSTRAINT [DF__LootGobli__Spawn__7128A7F2]  DEFAULT ((0)) FOR [SpawnSize]
GO
ALTER TABLE [dbo].[LootGoblins] ADD  CONSTRAINT [DF__LootGobli__Spawn__721CCC2B]  DEFAULT ((20)) FOR [SpawnMax]
GO
ALTER TABLE [dbo].[LootGoblins] ADD  CONSTRAINT [DF__LootGobli__Spawn__7310F064]  DEFAULT ((1)) FOR [SpawnRate]
GO
ALTER TABLE [dbo].[LootGoblins] ADD  CONSTRAINT [DF__LootGobli__Movem__7405149D]  DEFAULT ((2000)) FOR [MovementSpeed]
GO
ALTER TABLE [dbo].[LootGoblins] ADD  CONSTRAINT [DF__LootGobli__Engag__74F938D6]  DEFAULT ((1500)) FOR [EngagedSpeed]
GO
ALTER TABLE [dbo].[LootGoblins] ADD  CONSTRAINT [DF__LootGobli__Ignor__75ED5D0F]  DEFAULT ((0)) FOR [IgnoreCollision]
GO
ALTER TABLE [dbo].[LootGoblins] ADD  CONSTRAINT [DF__LootGobli__Attac__76E18148]  DEFAULT ((1000)) FOR [AttackSpeed]
GO
ALTER TABLE [dbo].[LootGoblins] ADD  CONSTRAINT [DF__LootGobli__CastS__77D5A581]  DEFAULT ((10000)) FOR [CastSpeed]
GO
ALTER TABLE [dbo].[LootGoblins] ADD  CONSTRAINT [DF__LootGobli__Level__78C9C9BA]  DEFAULT ((1)) FOR [Level]
GO
ALTER TABLE [dbo].[Mileth] ADD  CONSTRAINT [DF__Mileth__Image__7FB5F314]  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[Mileth] ADD  CONSTRAINT [DF__Mileth__ImageVar__00AA174D]  DEFAULT ((0)) FOR [ImageVariance]
GO
ALTER TABLE [dbo].[Mileth] ADD  CONSTRAINT [DF__Mileth__DefinedX__019E3B86]  DEFAULT ((0)) FOR [DefinedX]
GO
ALTER TABLE [dbo].[Mileth] ADD  CONSTRAINT [DF__Mileth__DefinedY__02925FBF]  DEFAULT ((0)) FOR [DefinedY]
GO
ALTER TABLE [dbo].[Mileth] ADD  CONSTRAINT [DF__Mileth__OffenseE__0B27A5C0]  DEFAULT ((0)) FOR [OffenseElement]
GO
ALTER TABLE [dbo].[Mileth] ADD  CONSTRAINT [DF__Mileth__DefenseE__0C1BC9F9]  DEFAULT ((0)) FOR [DefenseElement]
GO
ALTER TABLE [dbo].[Mileth] ADD  CONSTRAINT [DF__Mileth__SpawnSiz__038683F8]  DEFAULT ((0)) FOR [SpawnSize]
GO
ALTER TABLE [dbo].[Mileth] ADD  CONSTRAINT [DF__Mileth__SpawnMax__047AA831]  DEFAULT ((20)) FOR [SpawnMax]
GO
ALTER TABLE [dbo].[Mileth] ADD  CONSTRAINT [DF__Mileth__SpawnRat__056ECC6A]  DEFAULT ((1)) FOR [SpawnRate]
GO
ALTER TABLE [dbo].[Mileth] ADD  CONSTRAINT [DF__Mileth__Movement__075714DC]  DEFAULT ((1800)) FOR [MovementSpeed]
GO
ALTER TABLE [dbo].[Mileth] ADD  CONSTRAINT [DF__Mileth__EngagedS__084B3915]  DEFAULT ((900)) FOR [EngagedSpeed]
GO
ALTER TABLE [dbo].[Mileth] ADD  CONSTRAINT [DF__Mileth__IgnoreCo__0662F0A3]  DEFAULT ((0)) FOR [IgnoreCollision]
GO
ALTER TABLE [dbo].[Mileth] ADD  CONSTRAINT [DF__Mileth__AttackSp__093F5D4E]  DEFAULT ((1000)) FOR [AttackSpeed]
GO
ALTER TABLE [dbo].[Mileth] ADD  CONSTRAINT [DF__Mileth__CastSpee__0A338187]  DEFAULT ((5000)) FOR [CastSpeed]
GO
ALTER TABLE [dbo].[Mileth] ADD  CONSTRAINT [DF__Mileth__Level__0E04126B]  DEFAULT ((1)) FOR [Level]
GO
ALTER TABLE [dbo].[NobisRuins] ADD  CONSTRAINT [DF__NobisRuin__Image__5D36BDDE]  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[NobisRuins] ADD  CONSTRAINT [DF__NobisRuin__Image__5E2AE217]  DEFAULT ((0)) FOR [ImageVariance]
GO
ALTER TABLE [dbo].[NobisRuins] ADD  CONSTRAINT [DF__NobisRuin__Defin__5F1F0650]  DEFAULT ((0)) FOR [DefinedX]
GO
ALTER TABLE [dbo].[NobisRuins] ADD  CONSTRAINT [DF__NobisRuin__Defin__60132A89]  DEFAULT ((0)) FOR [DefinedY]
GO
ALTER TABLE [dbo].[NobisRuins] ADD  CONSTRAINT [DF__NobisRuin__Offen__61074EC2]  DEFAULT ('None') FOR [OffenseElement]
GO
ALTER TABLE [dbo].[NobisRuins] ADD  CONSTRAINT [DF__NobisRuin__Defen__61FB72FB]  DEFAULT ('None') FOR [DefenseElement]
GO
ALTER TABLE [dbo].[NobisRuins] ADD  CONSTRAINT [DF__NobisRuin__Spawn__62EF9734]  DEFAULT ((0)) FOR [SpawnSize]
GO
ALTER TABLE [dbo].[NobisRuins] ADD  CONSTRAINT [DF__NobisRuin__Spawn__63E3BB6D]  DEFAULT ((20)) FOR [SpawnMax]
GO
ALTER TABLE [dbo].[NobisRuins] ADD  CONSTRAINT [DF__NobisRuin__Spawn__64D7DFA6]  DEFAULT ((1)) FOR [SpawnRate]
GO
ALTER TABLE [dbo].[NobisRuins] ADD  CONSTRAINT [DF__NobisRuin__Movem__65CC03DF]  DEFAULT ((2000)) FOR [MovementSpeed]
GO
ALTER TABLE [dbo].[NobisRuins] ADD  CONSTRAINT [DF__NobisRuin__Engag__66C02818]  DEFAULT ((1500)) FOR [EngagedSpeed]
GO
ALTER TABLE [dbo].[NobisRuins] ADD  CONSTRAINT [DF__NobisRuin__Ignor__67B44C51]  DEFAULT ((0)) FOR [IgnoreCollision]
GO
ALTER TABLE [dbo].[NobisRuins] ADD  CONSTRAINT [DF__NobisRuin__Attac__68A8708A]  DEFAULT ((1000)) FOR [AttackSpeed]
GO
ALTER TABLE [dbo].[NobisRuins] ADD  CONSTRAINT [DF__NobisRuin__CastS__699C94C3]  DEFAULT ((10000)) FOR [CastSpeed]
GO
ALTER TABLE [dbo].[NobisRuins] ADD  CONSTRAINT [DF__NobisRuin__Level__6A90B8FC]  DEFAULT ((1)) FOR [Level]
GO
ALTER TABLE [dbo].[OrenJungle] ADD  CONSTRAINT [DF__OrenJungl__Image__3CC9EE4C]  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[OrenJungle] ADD  CONSTRAINT [DF__OrenJungl__Image__3DBE1285]  DEFAULT ((0)) FOR [ImageVariance]
GO
ALTER TABLE [dbo].[OrenJungle] ADD  CONSTRAINT [DF__OrenJungl__Defin__3EB236BE]  DEFAULT ((0)) FOR [DefinedX]
GO
ALTER TABLE [dbo].[OrenJungle] ADD  CONSTRAINT [DF__OrenJungl__Defin__3FA65AF7]  DEFAULT ((0)) FOR [DefinedY]
GO
ALTER TABLE [dbo].[OrenJungle] ADD  CONSTRAINT [DF__OrenJungl__Offen__409A7F30]  DEFAULT ('None') FOR [OffenseElement]
GO
ALTER TABLE [dbo].[OrenJungle] ADD  CONSTRAINT [DF__OrenJungl__Defen__418EA369]  DEFAULT ('None') FOR [DefenseElement]
GO
ALTER TABLE [dbo].[OrenJungle] ADD  CONSTRAINT [DF__OrenJungl__Spawn__4282C7A2]  DEFAULT ((0)) FOR [SpawnSize]
GO
ALTER TABLE [dbo].[OrenJungle] ADD  CONSTRAINT [DF__OrenJungl__Spawn__4376EBDB]  DEFAULT ((20)) FOR [SpawnMax]
GO
ALTER TABLE [dbo].[OrenJungle] ADD  CONSTRAINT [DF__OrenJungl__Spawn__446B1014]  DEFAULT ((1)) FOR [SpawnRate]
GO
ALTER TABLE [dbo].[OrenJungle] ADD  CONSTRAINT [DF__OrenJungl__Movem__455F344D]  DEFAULT ((2000)) FOR [MovementSpeed]
GO
ALTER TABLE [dbo].[OrenJungle] ADD  CONSTRAINT [DF__OrenJungl__Engag__46535886]  DEFAULT ((1500)) FOR [EngagedSpeed]
GO
ALTER TABLE [dbo].[OrenJungle] ADD  CONSTRAINT [DF__OrenJungl__Ignor__47477CBF]  DEFAULT ((0)) FOR [IgnoreCollision]
GO
ALTER TABLE [dbo].[OrenJungle] ADD  CONSTRAINT [DF__OrenJungl__Attac__483BA0F8]  DEFAULT ((1000)) FOR [AttackSpeed]
GO
ALTER TABLE [dbo].[OrenJungle] ADD  CONSTRAINT [DF__OrenJungl__CastS__492FC531]  DEFAULT ((10000)) FOR [CastSpeed]
GO
ALTER TABLE [dbo].[OrenJungle] ADD  CONSTRAINT [DF__OrenJungl__Level__4A23E96A]  DEFAULT ((1)) FOR [Level]
GO
ALTER TABLE [dbo].[OrenSewers] ADD  CONSTRAINT [DF__OrenSewer__Image__7DA38D70]  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[OrenSewers] ADD  CONSTRAINT [DF__OrenSewer__Image__7E97B1A9]  DEFAULT ((0)) FOR [ImageVariance]
GO
ALTER TABLE [dbo].[OrenSewers] ADD  CONSTRAINT [DF__OrenSewer__Defin__7F8BD5E2]  DEFAULT ((0)) FOR [DefinedX]
GO
ALTER TABLE [dbo].[OrenSewers] ADD  CONSTRAINT [DF__OrenSewer__Defin__007FFA1B]  DEFAULT ((0)) FOR [DefinedY]
GO
ALTER TABLE [dbo].[OrenSewers] ADD  CONSTRAINT [DF__OrenSewer__Offen__01741E54]  DEFAULT ('None') FOR [OffenseElement]
GO
ALTER TABLE [dbo].[OrenSewers] ADD  CONSTRAINT [DF__OrenSewer__Defen__0268428D]  DEFAULT ('None') FOR [DefenseElement]
GO
ALTER TABLE [dbo].[OrenSewers] ADD  CONSTRAINT [DF__OrenSewer__Spawn__035C66C6]  DEFAULT ((0)) FOR [SpawnSize]
GO
ALTER TABLE [dbo].[OrenSewers] ADD  CONSTRAINT [DF__OrenSewer__Spawn__04508AFF]  DEFAULT ((20)) FOR [SpawnMax]
GO
ALTER TABLE [dbo].[OrenSewers] ADD  CONSTRAINT [DF__OrenSewer__Spawn__0544AF38]  DEFAULT ((1)) FOR [SpawnRate]
GO
ALTER TABLE [dbo].[OrenSewers] ADD  CONSTRAINT [DF__OrenSewer__Movem__0638D371]  DEFAULT ((2000)) FOR [MovementSpeed]
GO
ALTER TABLE [dbo].[OrenSewers] ADD  CONSTRAINT [DF__OrenSewer__Engag__072CF7AA]  DEFAULT ((1500)) FOR [EngagedSpeed]
GO
ALTER TABLE [dbo].[OrenSewers] ADD  CONSTRAINT [DF__OrenSewer__Ignor__08211BE3]  DEFAULT ((0)) FOR [IgnoreCollision]
GO
ALTER TABLE [dbo].[OrenSewers] ADD  CONSTRAINT [DF__OrenSewer__Attac__0915401C]  DEFAULT ((1000)) FOR [AttackSpeed]
GO
ALTER TABLE [dbo].[OrenSewers] ADD  CONSTRAINT [DF__OrenSewer__CastS__0A096455]  DEFAULT ((10000)) FOR [CastSpeed]
GO
ALTER TABLE [dbo].[OrenSewers] ADD  CONSTRAINT [DF__OrenSewer__Level__0AFD888E]  DEFAULT ((1)) FOR [Level]
GO
ALTER TABLE [dbo].[Piet] ADD  CONSTRAINT [DF__Piet__Image__43C1049E]  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[Piet] ADD  CONSTRAINT [DF__Piet__ImageVaria__44B528D7]  DEFAULT ((0)) FOR [ImageVariance]
GO
ALTER TABLE [dbo].[Piet] ADD  CONSTRAINT [DF__Piet__DefinedX__45A94D10]  DEFAULT ((0)) FOR [DefinedX]
GO
ALTER TABLE [dbo].[Piet] ADD  CONSTRAINT [DF__Piet__DefinedY__469D7149]  DEFAULT ((0)) FOR [DefinedY]
GO
ALTER TABLE [dbo].[Piet] ADD  CONSTRAINT [DF__Piet__OffenseEle__4F32B74A]  DEFAULT ('None') FOR [OffenseElement]
GO
ALTER TABLE [dbo].[Piet] ADD  CONSTRAINT [DF__Piet__DefenseEle__5026DB83]  DEFAULT ('None') FOR [DefenseElement]
GO
ALTER TABLE [dbo].[Piet] ADD  CONSTRAINT [DF__Piet__SpawnSize__47919582]  DEFAULT ((0)) FOR [SpawnSize]
GO
ALTER TABLE [dbo].[Piet] ADD  CONSTRAINT [DF__Piet__SpawnMax__4885B9BB]  DEFAULT ((20)) FOR [SpawnMax]
GO
ALTER TABLE [dbo].[Piet] ADD  CONSTRAINT [DF__Piet__SpawnRate__4979DDF4]  DEFAULT ((1)) FOR [SpawnRate]
GO
ALTER TABLE [dbo].[Piet] ADD  CONSTRAINT [DF__Piet__MovementSp__4B622666]  DEFAULT ((2000)) FOR [MovementSpeed]
GO
ALTER TABLE [dbo].[Piet] ADD  CONSTRAINT [DF__Piet__EngagedSpe__4C564A9F]  DEFAULT ((1500)) FOR [EngagedSpeed]
GO
ALTER TABLE [dbo].[Piet] ADD  CONSTRAINT [DF__Piet__IgnoreColl__4A6E022D]  DEFAULT ((0)) FOR [IgnoreCollision]
GO
ALTER TABLE [dbo].[Piet] ADD  CONSTRAINT [DF__Piet__AttackSpee__4D4A6ED8]  DEFAULT ((1000)) FOR [AttackSpeed]
GO
ALTER TABLE [dbo].[Piet] ADD  CONSTRAINT [DF__Piet__CastSpeed__4E3E9311]  DEFAULT ((10000)) FOR [CastSpeed]
GO
ALTER TABLE [dbo].[Piet] ADD  CONSTRAINT [DF__Piet__Level__511AFFBC]  DEFAULT ((1)) FOR [Level]
GO
ALTER TABLE [dbo].[Pravat] ADD  CONSTRAINT [DF__Pravat__Image__16A44564]  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[Pravat] ADD  CONSTRAINT [DF__Pravat__ImageVar__1798699D]  DEFAULT ((0)) FOR [ImageVariance]
GO
ALTER TABLE [dbo].[Pravat] ADD  CONSTRAINT [DF__Pravat__DefinedX__188C8DD6]  DEFAULT ((0)) FOR [DefinedX]
GO
ALTER TABLE [dbo].[Pravat] ADD  CONSTRAINT [DF__Pravat__DefinedY__1980B20F]  DEFAULT ((0)) FOR [DefinedY]
GO
ALTER TABLE [dbo].[Pravat] ADD  CONSTRAINT [DF__Pravat__OffenseE__1A74D648]  DEFAULT ('None') FOR [OffenseElement]
GO
ALTER TABLE [dbo].[Pravat] ADD  CONSTRAINT [DF__Pravat__DefenseE__1B68FA81]  DEFAULT ('None') FOR [DefenseElement]
GO
ALTER TABLE [dbo].[Pravat] ADD  CONSTRAINT [DF__Pravat__SpawnSiz__1C5D1EBA]  DEFAULT ((0)) FOR [SpawnSize]
GO
ALTER TABLE [dbo].[Pravat] ADD  CONSTRAINT [DF__Pravat__SpawnMax__1D5142F3]  DEFAULT ((20)) FOR [SpawnMax]
GO
ALTER TABLE [dbo].[Pravat] ADD  CONSTRAINT [DF__Pravat__SpawnRat__1E45672C]  DEFAULT ((1)) FOR [SpawnRate]
GO
ALTER TABLE [dbo].[Pravat] ADD  CONSTRAINT [DF__Pravat__Movement__1F398B65]  DEFAULT ((2000)) FOR [MovementSpeed]
GO
ALTER TABLE [dbo].[Pravat] ADD  CONSTRAINT [DF__Pravat__EngagedS__202DAF9E]  DEFAULT ((1500)) FOR [EngagedSpeed]
GO
ALTER TABLE [dbo].[Pravat] ADD  CONSTRAINT [DF__Pravat__IgnoreCo__2121D3D7]  DEFAULT ((0)) FOR [IgnoreCollision]
GO
ALTER TABLE [dbo].[Pravat] ADD  CONSTRAINT [DF__Pravat__AttackSp__2215F810]  DEFAULT ((1000)) FOR [AttackSpeed]
GO
ALTER TABLE [dbo].[Pravat] ADD  CONSTRAINT [DF__Pravat__CastSpee__230A1C49]  DEFAULT ((10000)) FOR [CastSpeed]
GO
ALTER TABLE [dbo].[Pravat] ADD  CONSTRAINT [DF__Pravat__Level__23FE4082]  DEFAULT ((1)) FOR [Level]
GO
ALTER TABLE [dbo].[Tagor] ADD  CONSTRAINT [DF__Tagor__Image__5669C4BE]  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[Tagor] ADD  CONSTRAINT [DF__Tagor__ImageVari__575DE8F7]  DEFAULT ((0)) FOR [ImageVariance]
GO
ALTER TABLE [dbo].[Tagor] ADD  CONSTRAINT [DF__Tagor__DefinedX__58520D30]  DEFAULT ((0)) FOR [DefinedX]
GO
ALTER TABLE [dbo].[Tagor] ADD  CONSTRAINT [DF__Tagor__DefinedY__59463169]  DEFAULT ((0)) FOR [DefinedY]
GO
ALTER TABLE [dbo].[Tagor] ADD  CONSTRAINT [DF__Tagor__OffenseEl__5A3A55A2]  DEFAULT ('None') FOR [OffenseElement]
GO
ALTER TABLE [dbo].[Tagor] ADD  CONSTRAINT [DF__Tagor__DefenseEl__5B2E79DB]  DEFAULT ('None') FOR [DefenseElement]
GO
ALTER TABLE [dbo].[Tagor] ADD  CONSTRAINT [DF__Tagor__SpawnSize__5C229E14]  DEFAULT ((0)) FOR [SpawnSize]
GO
ALTER TABLE [dbo].[Tagor] ADD  CONSTRAINT [DF__Tagor__SpawnMax__5D16C24D]  DEFAULT ((20)) FOR [SpawnMax]
GO
ALTER TABLE [dbo].[Tagor] ADD  CONSTRAINT [DF__Tagor__SpawnRate__5E0AE686]  DEFAULT ((1)) FOR [SpawnRate]
GO
ALTER TABLE [dbo].[Tagor] ADD  CONSTRAINT [DF__Tagor__MovementS__5EFF0ABF]  DEFAULT ((2000)) FOR [MovementSpeed]
GO
ALTER TABLE [dbo].[Tagor] ADD  CONSTRAINT [DF__Tagor__EngagedSp__5FF32EF8]  DEFAULT ((1500)) FOR [EngagedSpeed]
GO
ALTER TABLE [dbo].[Tagor] ADD  CONSTRAINT [DF__Tagor__IgnoreCol__60E75331]  DEFAULT ((0)) FOR [IgnoreCollision]
GO
ALTER TABLE [dbo].[Tagor] ADD  CONSTRAINT [DF__Tagor__AttackSpe__61DB776A]  DEFAULT ((1000)) FOR [AttackSpeed]
GO
ALTER TABLE [dbo].[Tagor] ADD  CONSTRAINT [DF__Tagor__CastSpeed__62CF9BA3]  DEFAULT ((10000)) FOR [CastSpeed]
GO
ALTER TABLE [dbo].[Tagor] ADD  CONSTRAINT [DF__Tagor__Level__63C3BFDC]  DEFAULT ((1)) FOR [Level]
GO
ALTER TABLE [dbo].[TempleOfChaos] ADD  CONSTRAINT [DF__TempleOfC__Image__3A42875C]  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[TempleOfChaos] ADD  CONSTRAINT [DF__TempleOfC__Image__3B36AB95]  DEFAULT ((0)) FOR [ImageVariance]
GO
ALTER TABLE [dbo].[TempleOfChaos] ADD  CONSTRAINT [DF__TempleOfC__Defin__3C2ACFCE]  DEFAULT ((0)) FOR [DefinedX]
GO
ALTER TABLE [dbo].[TempleOfChaos] ADD  CONSTRAINT [DF__TempleOfC__Defin__3D1EF407]  DEFAULT ((0)) FOR [DefinedY]
GO
ALTER TABLE [dbo].[TempleOfChaos] ADD  CONSTRAINT [DF__TempleOfC__Offen__3E131840]  DEFAULT ('None') FOR [OffenseElement]
GO
ALTER TABLE [dbo].[TempleOfChaos] ADD  CONSTRAINT [DF__TempleOfC__Defen__3F073C79]  DEFAULT ('None') FOR [DefenseElement]
GO
ALTER TABLE [dbo].[TempleOfChaos] ADD  CONSTRAINT [DF__TempleOfC__Spawn__3FFB60B2]  DEFAULT ((0)) FOR [SpawnSize]
GO
ALTER TABLE [dbo].[TempleOfChaos] ADD  CONSTRAINT [DF__TempleOfC__Spawn__40EF84EB]  DEFAULT ((20)) FOR [SpawnMax]
GO
ALTER TABLE [dbo].[TempleOfChaos] ADD  CONSTRAINT [DF__TempleOfC__Spawn__41E3A924]  DEFAULT ((1)) FOR [SpawnRate]
GO
ALTER TABLE [dbo].[TempleOfChaos] ADD  CONSTRAINT [DF__TempleOfC__Movem__42D7CD5D]  DEFAULT ((2000)) FOR [MovementSpeed]
GO
ALTER TABLE [dbo].[TempleOfChaos] ADD  CONSTRAINT [DF__TempleOfC__Engag__43CBF196]  DEFAULT ((1500)) FOR [EngagedSpeed]
GO
ALTER TABLE [dbo].[TempleOfChaos] ADD  CONSTRAINT [DF__TempleOfC__Ignor__44C015CF]  DEFAULT ((0)) FOR [IgnoreCollision]
GO
ALTER TABLE [dbo].[TempleOfChaos] ADD  CONSTRAINT [DF__TempleOfC__Attac__45B43A08]  DEFAULT ((1000)) FOR [AttackSpeed]
GO
ALTER TABLE [dbo].[TempleOfChaos] ADD  CONSTRAINT [DF__TempleOfC__CastS__46A85E41]  DEFAULT ((10000)) FOR [CastSpeed]
GO
ALTER TABLE [dbo].[TempleOfChaos] ADD  CONSTRAINT [DF__TempleOfC__Level__479C827A]  DEFAULT ((1)) FOR [Level]
GO
ALTER TABLE [dbo].[Tutorial] ADD  CONSTRAINT [DF__Tutorial__Image__1C873BEC]  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[Tutorial] ADD  CONSTRAINT [DF__Tutorial__ImageV__1D7B6025]  DEFAULT ((0)) FOR [ImageVariance]
GO
ALTER TABLE [dbo].[Tutorial] ADD  CONSTRAINT [DF__Tutorial__Define__1E6F845E]  DEFAULT ((0)) FOR [DefinedX]
GO
ALTER TABLE [dbo].[Tutorial] ADD  CONSTRAINT [DF__Tutorial__Define__1F63A897]  DEFAULT ((0)) FOR [DefinedY]
GO
ALTER TABLE [dbo].[Tutorial] ADD  CONSTRAINT [DF__Tutorial__Offens__27F8EE98]  DEFAULT ((0)) FOR [OffenseElement]
GO
ALTER TABLE [dbo].[Tutorial] ADD  CONSTRAINT [DF__Tutorial__Defens__28ED12D1]  DEFAULT ((0)) FOR [DefenseElement]
GO
ALTER TABLE [dbo].[Tutorial] ADD  CONSTRAINT [DF__Tutorial__SpawnS__2057CCD0]  DEFAULT ((0)) FOR [SpawnSize]
GO
ALTER TABLE [dbo].[Tutorial] ADD  CONSTRAINT [DF__Tutorial__SpawnM__214BF109]  DEFAULT ((20)) FOR [SpawnMax]
GO
ALTER TABLE [dbo].[Tutorial] ADD  CONSTRAINT [DF__Tutorial__SpawnR__22401542]  DEFAULT ((1)) FOR [SpawnRate]
GO
ALTER TABLE [dbo].[Tutorial] ADD  CONSTRAINT [DF__Tutorial__Moveme__24285DB4]  DEFAULT ((1800)) FOR [MovementSpeed]
GO
ALTER TABLE [dbo].[Tutorial] ADD  CONSTRAINT [DF__Tutorial__Engage__251C81ED]  DEFAULT ((900)) FOR [EngagedSpeed]
GO
ALTER TABLE [dbo].[Tutorial] ADD  CONSTRAINT [DF__Tutorial__Ignore__2334397B]  DEFAULT ((0)) FOR [IgnoreCollision]
GO
ALTER TABLE [dbo].[Tutorial] ADD  CONSTRAINT [DF__Tutorial__Attack__2610A626]  DEFAULT ((1000)) FOR [AttackSpeed]
GO
ALTER TABLE [dbo].[Tutorial] ADD  CONSTRAINT [DF__Tutorial__CastSp__2704CA5F]  DEFAULT ((5000)) FOR [CastSpeed]
GO
ALTER TABLE [dbo].[Tutorial] ADD  CONSTRAINT [DF__Tutorial__Level__2AD55B43]  DEFAULT ((1)) FOR [Level]
GO
ALTER TABLE [dbo].[Wastelands] ADD  CONSTRAINT [DF__Wasteland__Image__6AEFE058]  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[Wastelands] ADD  CONSTRAINT [DF__Wasteland__Image__6BE40491]  DEFAULT ((0)) FOR [ImageVariance]
GO
ALTER TABLE [dbo].[Wastelands] ADD  CONSTRAINT [DF__Wasteland__Defin__6CD828CA]  DEFAULT ((0)) FOR [DefinedX]
GO
ALTER TABLE [dbo].[Wastelands] ADD  CONSTRAINT [DF__Wasteland__Defin__6DCC4D03]  DEFAULT ((0)) FOR [DefinedY]
GO
ALTER TABLE [dbo].[Wastelands] ADD  CONSTRAINT [DF__Wasteland__Offen__76619304]  DEFAULT ((0)) FOR [OffenseElement]
GO
ALTER TABLE [dbo].[Wastelands] ADD  CONSTRAINT [DF__Wasteland__Defen__7755B73D]  DEFAULT ((0)) FOR [DefenseElement]
GO
ALTER TABLE [dbo].[Wastelands] ADD  CONSTRAINT [DF__Wasteland__Spawn__6EC0713C]  DEFAULT ((0)) FOR [SpawnSize]
GO
ALTER TABLE [dbo].[Wastelands] ADD  CONSTRAINT [DF__Wasteland__Spawn__6FB49575]  DEFAULT ((20)) FOR [SpawnMax]
GO
ALTER TABLE [dbo].[Wastelands] ADD  CONSTRAINT [DF__Wasteland__Spawn__70A8B9AE]  DEFAULT ((1)) FOR [SpawnRate]
GO
ALTER TABLE [dbo].[Wastelands] ADD  CONSTRAINT [DF__Wasteland__Movem__72910220]  DEFAULT ((1800)) FOR [MovementSpeed]
GO
ALTER TABLE [dbo].[Wastelands] ADD  CONSTRAINT [DF__Wasteland__Engag__73852659]  DEFAULT ((900)) FOR [EngagedSpeed]
GO
ALTER TABLE [dbo].[Wastelands] ADD  CONSTRAINT [DF__Wasteland__Ignor__719CDDE7]  DEFAULT ((0)) FOR [IgnoreCollision]
GO
ALTER TABLE [dbo].[Wastelands] ADD  CONSTRAINT [DF__Wasteland__Attac__74794A92]  DEFAULT ((1000)) FOR [AttackSpeed]
GO
ALTER TABLE [dbo].[Wastelands] ADD  CONSTRAINT [DF__Wasteland__CastS__756D6ECB]  DEFAULT ((5000)) FOR [CastSpeed]
GO
ALTER TABLE [dbo].[Wastelands] ADD  CONSTRAINT [DF__Wasteland__Level__793DFFAF]  DEFAULT ((1)) FOR [Level]
GO
ALTER TABLE [dbo].[WesternWoodlands] ADD  CONSTRAINT [DF__WesternWo__Image__0618D7E0]  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[WesternWoodlands] ADD  CONSTRAINT [DF__WesternWo__Image__070CFC19]  DEFAULT ((0)) FOR [ImageVariance]
GO
ALTER TABLE [dbo].[WesternWoodlands] ADD  CONSTRAINT [DF__WesternWo__Defin__08012052]  DEFAULT ((0)) FOR [DefinedX]
GO
ALTER TABLE [dbo].[WesternWoodlands] ADD  CONSTRAINT [DF__WesternWo__Defin__08F5448B]  DEFAULT ((0)) FOR [DefinedY]
GO
ALTER TABLE [dbo].[WesternWoodlands] ADD  CONSTRAINT [DF__WesternWo__Offen__09E968C4]  DEFAULT ('None') FOR [OffenseElement]
GO
ALTER TABLE [dbo].[WesternWoodlands] ADD  CONSTRAINT [DF__WesternWo__Defen__0ADD8CFD]  DEFAULT ('None') FOR [DefenseElement]
GO
ALTER TABLE [dbo].[WesternWoodlands] ADD  CONSTRAINT [DF__WesternWo__Spawn__0BD1B136]  DEFAULT ((0)) FOR [SpawnSize]
GO
ALTER TABLE [dbo].[WesternWoodlands] ADD  CONSTRAINT [DF__WesternWo__Spawn__0CC5D56F]  DEFAULT ((20)) FOR [SpawnMax]
GO
ALTER TABLE [dbo].[WesternWoodlands] ADD  CONSTRAINT [DF__WesternWo__Spawn__0DB9F9A8]  DEFAULT ((1)) FOR [SpawnRate]
GO
ALTER TABLE [dbo].[WesternWoodlands] ADD  CONSTRAINT [DF__WesternWo__Movem__0EAE1DE1]  DEFAULT ((2000)) FOR [MovementSpeed]
GO
ALTER TABLE [dbo].[WesternWoodlands] ADD  CONSTRAINT [DF__WesternWo__Engag__0FA2421A]  DEFAULT ((1500)) FOR [EngagedSpeed]
GO
ALTER TABLE [dbo].[WesternWoodlands] ADD  CONSTRAINT [DF__WesternWo__Ignor__10966653]  DEFAULT ((0)) FOR [IgnoreCollision]
GO
ALTER TABLE [dbo].[WesternWoodlands] ADD  CONSTRAINT [DF__WesternWo__Attac__118A8A8C]  DEFAULT ((1000)) FOR [AttackSpeed]
GO
ALTER TABLE [dbo].[WesternWoodlands] ADD  CONSTRAINT [DF__WesternWo__CastS__127EAEC5]  DEFAULT ((10000)) FOR [CastSpeed]
GO
ALTER TABLE [dbo].[WesternWoodlands] ADD  CONSTRAINT [DF__WesternWo__Level__1372D2FE]  DEFAULT ((1)) FOR [Level]
GO
