USE [ZolianMaps]
GO
ALTER TABLE [dbo].[Warps] DROP CONSTRAINT [DF_Warps_PortalKey]
GO
/****** Object:  Table [dbo].[Warps]    Script Date: 6/18/2023 4:15:13 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Warps]') AND type in (N'U'))
DROP TABLE [dbo].[Warps]
GO
/****** Object:  Table [dbo].[Nations]    Script Date: 6/18/2023 4:15:13 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Nations]') AND type in (N'U'))
DROP TABLE [dbo].[Nations]
GO
/****** Object:  Table [dbo].[Maps]    Script Date: 6/18/2023 4:15:13 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Maps]') AND type in (N'U'))
DROP TABLE [dbo].[Maps]
GO
/****** Object:  Table [dbo].[Maps]    Script Date: 6/18/2023 4:15:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Maps](
	[Id] [int] NOT NULL,
	[MapId] [int] NOT NULL,
	[Flags] [varchar](20) NOT NULL,
	[Music] [int] NOT NULL,
	[mRows] [int] NOT NULL,
	[mCols] [int] NOT NULL,
	[ScriptKey] [varchar](20) NULL,
	[Name] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Maps] SET (LOCK_ESCALATION = AUTO)
GO
/****** Object:  Table [dbo].[Nations]    Script Date: 6/18/2023 4:15:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nations](
	[Id] [int] NOT NULL,
	[AreaId] [int] NOT NULL,
	[MapPositionX] [int] NOT NULL,
	[MapPositionY] [int] NOT NULL,
	[NationId] [int] NOT NULL,
	[Name] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Nations] SET (LOCK_ESCALATION = AUTO)
GO
/****** Object:  Table [dbo].[Warps]    Script Date: 6/18/2023 4:15:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Warps](
	[Id] [int] NOT NULL,
	[CurrentArea] [int] NOT NULL,
	[NextArea] [int] NOT NULL,
	[CALocationX_1] [int] NOT NULL,
	[CALocationY_1] [int] NOT NULL,
	[CALocationX_2] [int] NULL,
	[CALocationY_2] [int] NULL,
	[CALocationX_3] [int] NULL,
	[CALocationY_3] [int] NULL,
	[CALocationX_4] [int] NULL,
	[CALocationY_4] [int] NULL,
	[CALocationX_5] [int] NULL,
	[CALocationY_5] [int] NULL,
	[CALocationX_6] [int] NULL,
	[CALocationY_6] [int] NULL,
	[CALocationX_7] [int] NULL,
	[CALocationY_7] [int] NULL,
	[NALocationX_1] [int] NULL,
	[NALocationY_1] [int] NULL,
	[LevelRequired] [int] NOT NULL,
	[WarpType] [varchar](5) NOT NULL,
	[PortalKey] [int] NOT NULL,
 CONSTRAINT [PK_Warps] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Warps] SET (LOCK_ESCALATION = AUTO)
GO
INSERT [dbo].[Maps] ([Id], [MapId], [Flags], [Music], [mRows], [mCols], [ScriptKey], [Name]) VALUES (0, 0, N'Default', 4, 20, 20, N'Generic Area', N'Crypt Chief Room')
INSERT [dbo].[Maps] ([Id], [MapId], [Flags], [Music], [mRows], [mCols], [ScriptKey], [Name]) VALUES (1, 1, N'Default', 2, 50, 50, N'Generic Area', N'Mileth Crypt 1')
INSERT [dbo].[Maps] ([Id], [MapId], [Flags], [Music], [mRows], [mCols], [ScriptKey], [Name]) VALUES (2, 2, N'Default', 2, 50, 50, N'Generic Area', N'Mileth Crypt 2-1')
GO
INSERT [dbo].[Nations] ([Id], [AreaId], [MapPositionX], [MapPositionY], [NationId], [Name]) VALUES (1, 1003, 5, 8, 1, N'Suomi')
INSERT [dbo].[Nations] ([Id], [AreaId], [MapPositionX], [MapPositionY], [NationId], [Name]) VALUES (2, 169, 4, 7, 2, N'Abel')
INSERT [dbo].[Nations] ([Id], [AreaId], [MapPositionX], [MapPositionY], [NationId], [Name]) VALUES (3, 3052, 41, 14, 3, N'Knights')
GO
INSERT [dbo].[Warps] ([Id], [CurrentArea], [NextArea], [CALocationX_1], [CALocationY_1], [CALocationX_2], [CALocationY_2], [CALocationX_3], [CALocationY_3], [CALocationX_4], [CALocationY_4], [CALocationX_5], [CALocationY_5], [CALocationX_6], [CALocationY_6], [CALocationX_7], [CALocationY_7], [NALocationX_1], [NALocationY_1], [LevelRequired], [WarpType], [PortalKey]) VALUES (1, 3014, 502, 9, 21, 10, 21, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 28, 2, 1, N'Map', 0)
INSERT [dbo].[Warps] ([Id], [CurrentArea], [NextArea], [CALocationX_1], [CALocationY_1], [CALocationX_2], [CALocationY_2], [CALocationX_3], [CALocationY_3], [CALocationX_4], [CALocationY_4], [CALocationX_5], [CALocationY_5], [CALocationX_6], [CALocationY_6], [CALocationX_7], [CALocationY_7], [NALocationX_1], [NALocationY_1], [LevelRequired], [WarpType], [PortalKey]) VALUES (2, 502, 3014, 28, 0, 29, 0, 30, 0, 0, 0, 0, 0, 0, 0, 0, 0, 10, 20, 1, N'Map', 0)
INSERT [dbo].[Warps] ([Id], [CurrentArea], [NextArea], [CALocationX_1], [CALocationY_1], [CALocationX_2], [CALocationY_2], [CALocationX_3], [CALocationY_3], [CALocationX_4], [CALocationY_4], [CALocationX_5], [CALocationY_5], [CALocationX_6], [CALocationY_6], [CALocationX_7], [CALocationY_7], [NALocationX_1], [NALocationY_1], [LevelRequired], [WarpType], [PortalKey]) VALUES (3, 502, 183, 24, 8, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 6, 13, 1, N'Map', 0)
GO
ALTER TABLE [dbo].[Warps] ADD  CONSTRAINT [DF_Warps_PortalKey]  DEFAULT ((0)) FOR [PortalKey]
GO
