USE [ZolianMundanes]
GO
ALTER TABLE [dbo].[WesternWoodlands] DROP CONSTRAINT [DF__WesternWo__Direc__73852659]
GO
ALTER TABLE [dbo].[WesternWoodlands] DROP CONSTRAINT [DF__WesternWoodla__Y__72910220]
GO
ALTER TABLE [dbo].[WesternWoodlands] DROP CONSTRAINT [DF__WesternWoodla__X__719CDDE7]
GO
ALTER TABLE [dbo].[WesternWoodlands] DROP CONSTRAINT [DF__WesternWo__Enabl__70A8B9AE]
GO
ALTER TABLE [dbo].[WesternWoodlands] DROP CONSTRAINT [DF__WesternWo__Enabl__6FB49575]
GO
ALTER TABLE [dbo].[WesternWoodlands] DROP CONSTRAINT [DF__WesternWo__Enabl__6EC0713C]
GO
ALTER TABLE [dbo].[WesternWoodlands] DROP CONSTRAINT [DF__WesternWo__Image__6DCC4D03]
GO
ALTER TABLE [dbo].[Undine] DROP CONSTRAINT [DF__Undine__Directio__6CD828CA]
GO
ALTER TABLE [dbo].[Undine] DROP CONSTRAINT [DF__Undine__Y__6BE40491]
GO
ALTER TABLE [dbo].[Undine] DROP CONSTRAINT [DF__Undine__X__6AEFE058]
GO
ALTER TABLE [dbo].[Undine] DROP CONSTRAINT [DF__Undine__EnableSp__69FBBC1F]
GO
ALTER TABLE [dbo].[Undine] DROP CONSTRAINT [DF__Undine__EnableTu__690797E6]
GO
ALTER TABLE [dbo].[Undine] DROP CONSTRAINT [DF__Undine__EnableWa__681373AD]
GO
ALTER TABLE [dbo].[Undine] DROP CONSTRAINT [DF__Undine__Image__671F4F74]
GO
ALTER TABLE [dbo].[Tutorial] DROP CONSTRAINT [DF__Tutorial__Direct__662B2B3B]
GO
ALTER TABLE [dbo].[Tutorial] DROP CONSTRAINT [DF__Tutorial__Y__65370702]
GO
ALTER TABLE [dbo].[Tutorial] DROP CONSTRAINT [DF__Tutorial__X__6442E2C9]
GO
ALTER TABLE [dbo].[Tutorial] DROP CONSTRAINT [DF__Tutorial__Enable__634EBE90]
GO
ALTER TABLE [dbo].[Tutorial] DROP CONSTRAINT [DF__Tutorial__Enable__625A9A57]
GO
ALTER TABLE [dbo].[Tutorial] DROP CONSTRAINT [DF__Tutorial__Enable__6166761E]
GO
ALTER TABLE [dbo].[Tutorial] DROP CONSTRAINT [DF__Tutorial__Image__607251E5]
GO
ALTER TABLE [dbo].[TempleofVoid] DROP CONSTRAINT [DF__TempleofV__Direc__5F7E2DAC]
GO
ALTER TABLE [dbo].[TempleofVoid] DROP CONSTRAINT [DF__TempleofVoid__Y__5E8A0973]
GO
ALTER TABLE [dbo].[TempleofVoid] DROP CONSTRAINT [DF__TempleofVoid__X__5D95E53A]
GO
ALTER TABLE [dbo].[TempleofVoid] DROP CONSTRAINT [DF__TempleofV__Enabl__5CA1C101]
GO
ALTER TABLE [dbo].[TempleofVoid] DROP CONSTRAINT [DF__TempleofV__Enabl__5BAD9CC8]
GO
ALTER TABLE [dbo].[TempleofVoid] DROP CONSTRAINT [DF__TempleofV__Enabl__5AB9788F]
GO
ALTER TABLE [dbo].[TempleofVoid] DROP CONSTRAINT [DF__TempleofV__Image__59C55456]
GO
ALTER TABLE [dbo].[TempleofLight] DROP CONSTRAINT [DF__TempleofL__Direc__58D1301D]
GO
ALTER TABLE [dbo].[TempleofLight] DROP CONSTRAINT [DF__TempleofLight__Y__57DD0BE4]
GO
ALTER TABLE [dbo].[TempleofLight] DROP CONSTRAINT [DF__TempleofLight__X__56E8E7AB]
GO
ALTER TABLE [dbo].[TempleofLight] DROP CONSTRAINT [DF__TempleofL__Enabl__55F4C372]
GO
ALTER TABLE [dbo].[TempleofLight] DROP CONSTRAINT [DF__TempleofL__Enabl__55009F39]
GO
ALTER TABLE [dbo].[TempleofLight] DROP CONSTRAINT [DF__TempleofL__Enabl__540C7B00]
GO
ALTER TABLE [dbo].[TempleofLight] DROP CONSTRAINT [DF__TempleofL__Image__531856C7]
GO
ALTER TABLE [dbo].[Tagor] DROP CONSTRAINT [DF__Tagor__Direction__5224328E]
GO
ALTER TABLE [dbo].[Tagor] DROP CONSTRAINT [DF__Tagor__Y__51300E55]
GO
ALTER TABLE [dbo].[Tagor] DROP CONSTRAINT [DF__Tagor__X__503BEA1C]
GO
ALTER TABLE [dbo].[Tagor] DROP CONSTRAINT [DF__Tagor__EnableSpe__4F47C5E3]
GO
ALTER TABLE [dbo].[Tagor] DROP CONSTRAINT [DF__Tagor__EnableTur__4E53A1AA]
GO
ALTER TABLE [dbo].[Tagor] DROP CONSTRAINT [DF__Tagor__EnableWal__4D5F7D71]
GO
ALTER TABLE [dbo].[Tagor] DROP CONSTRAINT [DF__Tagor__Image__4C6B5938]
GO
ALTER TABLE [dbo].[Suomi] DROP CONSTRAINT [DF__Suomi__Direction__4B7734FF]
GO
ALTER TABLE [dbo].[Suomi] DROP CONSTRAINT [DF__Suomi__Y__4A8310C6]
GO
ALTER TABLE [dbo].[Suomi] DROP CONSTRAINT [DF__Suomi__X__498EEC8D]
GO
ALTER TABLE [dbo].[Suomi] DROP CONSTRAINT [DF__Suomi__EnableSpe__489AC854]
GO
ALTER TABLE [dbo].[Suomi] DROP CONSTRAINT [DF__Suomi__EnableTur__47A6A41B]
GO
ALTER TABLE [dbo].[Suomi] DROP CONSTRAINT [DF__Suomi__EnableWal__46B27FE2]
GO
ALTER TABLE [dbo].[Suomi] DROP CONSTRAINT [DF__Suomi__Image__45BE5BA9]
GO
ALTER TABLE [dbo].[Rucesion] DROP CONSTRAINT [DF__Rucesion__Direct__44CA3770]
GO
ALTER TABLE [dbo].[Rucesion] DROP CONSTRAINT [DF__Rucesion__Y__43D61337]
GO
ALTER TABLE [dbo].[Rucesion] DROP CONSTRAINT [DF__Rucesion__X__42E1EEFE]
GO
ALTER TABLE [dbo].[Rucesion] DROP CONSTRAINT [DF__Rucesion__Enable__41EDCAC5]
GO
ALTER TABLE [dbo].[Rucesion] DROP CONSTRAINT [DF__Rucesion__Enable__40F9A68C]
GO
ALTER TABLE [dbo].[Rucesion] DROP CONSTRAINT [DF__Rucesion__Enable__40058253]
GO
ALTER TABLE [dbo].[Rucesion] DROP CONSTRAINT [DF__Rucesion__Image__3F115E1A]
GO
ALTER TABLE [dbo].[Rionnag] DROP CONSTRAINT [DF__Rionnag__Directi__3E1D39E1]
GO
ALTER TABLE [dbo].[Rionnag] DROP CONSTRAINT [DF__Rionnag__Y__3D2915A8]
GO
ALTER TABLE [dbo].[Rionnag] DROP CONSTRAINT [DF__Rionnag__X__3C34F16F]
GO
ALTER TABLE [dbo].[Rionnag] DROP CONSTRAINT [DF__Rionnag__EnableS__3B40CD36]
GO
ALTER TABLE [dbo].[Rionnag] DROP CONSTRAINT [DF__Rionnag__EnableT__3A4CA8FD]
GO
ALTER TABLE [dbo].[Rionnag] DROP CONSTRAINT [DF__Rionnag__EnableW__395884C4]
GO
ALTER TABLE [dbo].[Rionnag] DROP CONSTRAINT [DF__Rionnag__Image__3864608B]
GO
ALTER TABLE [dbo].[Piet] DROP CONSTRAINT [DF__Piet__Direction__37703C52]
GO
ALTER TABLE [dbo].[Piet] DROP CONSTRAINT [DF__Piet__Y__367C1819]
GO
ALTER TABLE [dbo].[Piet] DROP CONSTRAINT [DF__Piet__X__3587F3E0]
GO
ALTER TABLE [dbo].[Piet] DROP CONSTRAINT [DF__Piet__EnableSpee__3493CFA7]
GO
ALTER TABLE [dbo].[Piet] DROP CONSTRAINT [DF__Piet__EnableTurn__339FAB6E]
GO
ALTER TABLE [dbo].[Piet] DROP CONSTRAINT [DF__Piet__EnableWalk__32AB8735]
GO
ALTER TABLE [dbo].[Piet] DROP CONSTRAINT [DF__Piet__Image__31B762FC]
GO
ALTER TABLE [dbo].[Oren] DROP CONSTRAINT [DF__Oren__Direction__30C33EC3]
GO
ALTER TABLE [dbo].[Oren] DROP CONSTRAINT [DF__Oren__Y__2FCF1A8A]
GO
ALTER TABLE [dbo].[Oren] DROP CONSTRAINT [DF__Oren__X__2EDAF651]
GO
ALTER TABLE [dbo].[Oren] DROP CONSTRAINT [DF__Oren__EnableSpee__2DE6D218]
GO
ALTER TABLE [dbo].[Oren] DROP CONSTRAINT [DF__Oren__EnableTurn__2CF2ADDF]
GO
ALTER TABLE [dbo].[Oren] DROP CONSTRAINT [DF__Oren__EnableWalk__2BFE89A6]
GO
ALTER TABLE [dbo].[Oren] DROP CONSTRAINT [DF__Oren__Image__2B0A656D]
GO
ALTER TABLE [dbo].[NorthPole] DROP CONSTRAINT [DF__NorthPole__Direc__5D95E53A]
GO
ALTER TABLE [dbo].[NorthPole] DROP CONSTRAINT [DF__NorthPole__Y__5CA1C101]
GO
ALTER TABLE [dbo].[NorthPole] DROP CONSTRAINT [DF__NorthPole__X__5BAD9CC8]
GO
ALTER TABLE [dbo].[NorthPole] DROP CONSTRAINT [DF__NorthPole__Enabl__5AB9788F]
GO
ALTER TABLE [dbo].[NorthPole] DROP CONSTRAINT [DF__NorthPole__Enabl__59C55456]
GO
ALTER TABLE [dbo].[NorthPole] DROP CONSTRAINT [DF__NorthPole__Enabl__58D1301D]
GO
ALTER TABLE [dbo].[NorthPole] DROP CONSTRAINT [DF__NorthPole__Image__57DD0BE4]
GO
ALTER TABLE [dbo].[Nobis] DROP CONSTRAINT [DF__Nobis__Direction__236943A5]
GO
ALTER TABLE [dbo].[Nobis] DROP CONSTRAINT [DF__Nobis__Y__22751F6C]
GO
ALTER TABLE [dbo].[Nobis] DROP CONSTRAINT [DF__Nobis__X__2180FB33]
GO
ALTER TABLE [dbo].[Nobis] DROP CONSTRAINT [DF__Nobis__EnableSpe__208CD6FA]
GO
ALTER TABLE [dbo].[Nobis] DROP CONSTRAINT [DF__Nobis__EnableTur__1F98B2C1]
GO
ALTER TABLE [dbo].[Nobis] DROP CONSTRAINT [DF__Nobis__EnableWal__1EA48E88]
GO
ALTER TABLE [dbo].[Nobis] DROP CONSTRAINT [DF__Nobis__Image__1DB06A4F]
GO
ALTER TABLE [dbo].[Mileth] DROP CONSTRAINT [DF__Mileth__Directio__1CBC4616]
GO
ALTER TABLE [dbo].[Mileth] DROP CONSTRAINT [DF__Mileth__Y__1BC821DD]
GO
ALTER TABLE [dbo].[Mileth] DROP CONSTRAINT [DF__Mileth__X__1AD3FDA4]
GO
ALTER TABLE [dbo].[Mileth] DROP CONSTRAINT [DF__Mileth__EnableSp__19DFD96B]
GO
ALTER TABLE [dbo].[Mileth] DROP CONSTRAINT [DF__Mileth__EnableTu__18EBB532]
GO
ALTER TABLE [dbo].[Mileth] DROP CONSTRAINT [DF__Mileth__EnableWa__17F790F9]
GO
ALTER TABLE [dbo].[Mileth] DROP CONSTRAINT [DF__Mileth__Image__17036CC0]
GO
ALTER TABLE [dbo].[Mehadi] DROP CONSTRAINT [DF__Mehadi__Directio__160F4887]
GO
ALTER TABLE [dbo].[Mehadi] DROP CONSTRAINT [DF__Mehadi__Y__151B244E]
GO
ALTER TABLE [dbo].[Mehadi] DROP CONSTRAINT [DF__Mehadi__X__14270015]
GO
ALTER TABLE [dbo].[Mehadi] DROP CONSTRAINT [DF__Mehadi__EnableSp__1332DBDC]
GO
ALTER TABLE [dbo].[Mehadi] DROP CONSTRAINT [DF__Mehadi__EnableTu__123EB7A3]
GO
ALTER TABLE [dbo].[Mehadi] DROP CONSTRAINT [DF__Mehadi__EnableWa__114A936A]
GO
ALTER TABLE [dbo].[Mehadi] DROP CONSTRAINT [DF__Mehadi__Image__10566F31]
GO
ALTER TABLE [dbo].[Lynith] DROP CONSTRAINT [DF__Lynith__Directio__0F624AF8]
GO
ALTER TABLE [dbo].[Lynith] DROP CONSTRAINT [DF__Lynith__Y__0E6E26BF]
GO
ALTER TABLE [dbo].[Lynith] DROP CONSTRAINT [DF__Lynith__X__0D7A0286]
GO
ALTER TABLE [dbo].[Lynith] DROP CONSTRAINT [DF__Lynith__EnableSp__0C85DE4D]
GO
ALTER TABLE [dbo].[Lynith] DROP CONSTRAINT [DF__Lynith__EnableTu__0B91BA14]
GO
ALTER TABLE [dbo].[Lynith] DROP CONSTRAINT [DF__Lynith__EnableWa__0A9D95DB]
GO
ALTER TABLE [dbo].[Lynith] DROP CONSTRAINT [DF__Lynith__Image__09A971A2]
GO
ALTER TABLE [dbo].[Loures] DROP CONSTRAINT [DF__Loures__Directio__08B54D69]
GO
ALTER TABLE [dbo].[Loures] DROP CONSTRAINT [DF__Loures__Y__07C12930]
GO
ALTER TABLE [dbo].[Loures] DROP CONSTRAINT [DF__Loures__X__06CD04F7]
GO
ALTER TABLE [dbo].[Loures] DROP CONSTRAINT [DF__Loures__EnableSp__05D8E0BE]
GO
ALTER TABLE [dbo].[Loures] DROP CONSTRAINT [DF__Loures__EnableTu__04E4BC85]
GO
ALTER TABLE [dbo].[Loures] DROP CONSTRAINT [DF__Loures__EnableWa__03F0984C]
GO
ALTER TABLE [dbo].[Loures] DROP CONSTRAINT [DF__Loures__Image__02FC7413]
GO
ALTER TABLE [dbo].[Generic] DROP CONSTRAINT [DF__Generic__Directi__02084FDA]
GO
ALTER TABLE [dbo].[Generic] DROP CONSTRAINT [DF__Generic__Y__01142BA1]
GO
ALTER TABLE [dbo].[Generic] DROP CONSTRAINT [DF__Generic__X__00200768]
GO
ALTER TABLE [dbo].[Generic] DROP CONSTRAINT [DF__Generic__EnableS__7F2BE32F]
GO
ALTER TABLE [dbo].[Generic] DROP CONSTRAINT [DF__Generic__EnableT__7E37BEF6]
GO
ALTER TABLE [dbo].[Generic] DROP CONSTRAINT [DF__Generic__EnableW__7D439ABD]
GO
ALTER TABLE [dbo].[Generic] DROP CONSTRAINT [DF__Generic__Image__7C4F7684]
GO
ALTER TABLE [dbo].[Evermore] DROP CONSTRAINT [DF__Evermore__Direct__7B5B524B]
GO
ALTER TABLE [dbo].[Evermore] DROP CONSTRAINT [DF__Evermore__Y__7A672E12]
GO
ALTER TABLE [dbo].[Evermore] DROP CONSTRAINT [DF__Evermore__X__797309D9]
GO
ALTER TABLE [dbo].[Evermore] DROP CONSTRAINT [DF__Evermore__Enable__787EE5A0]
GO
ALTER TABLE [dbo].[Evermore] DROP CONSTRAINT [DF__Evermore__Enable__778AC167]
GO
ALTER TABLE [dbo].[Evermore] DROP CONSTRAINT [DF__Evermore__Enable__76969D2E]
GO
ALTER TABLE [dbo].[Evermore] DROP CONSTRAINT [DF__Evermore__Image__75A278F5]
GO
ALTER TABLE [dbo].[CthonicRemains] DROP CONSTRAINT [DF__CthonicRe__Direc__74AE54BC]
GO
ALTER TABLE [dbo].[CthonicRemains] DROP CONSTRAINT [DF__CthonicRemain__Y__73BA3083]
GO
ALTER TABLE [dbo].[CthonicRemains] DROP CONSTRAINT [DF__CthonicRemain__X__72C60C4A]
GO
ALTER TABLE [dbo].[CthonicRemains] DROP CONSTRAINT [DF__CthonicRe__Enabl__71D1E811]
GO
ALTER TABLE [dbo].[CthonicRemains] DROP CONSTRAINT [DF__CthonicRe__Enabl__70DDC3D8]
GO
ALTER TABLE [dbo].[CthonicRemains] DROP CONSTRAINT [DF__CthonicRe__Enabl__6FE99F9F]
GO
ALTER TABLE [dbo].[CthonicRemains] DROP CONSTRAINT [DF__CthonicRe__Image__6EF57B66]
GO
ALTER TABLE [dbo].[Arena] DROP CONSTRAINT [DF__Arena__Direction__6E01572D]
GO
ALTER TABLE [dbo].[Arena] DROP CONSTRAINT [DF__Arena__Y__6D0D32F4]
GO
ALTER TABLE [dbo].[Arena] DROP CONSTRAINT [DF__Arena__X__6C190EBB]
GO
ALTER TABLE [dbo].[Arena] DROP CONSTRAINT [DF__Arena__EnableSpe__6B24EA82]
GO
ALTER TABLE [dbo].[Arena] DROP CONSTRAINT [DF__Arena__EnableTur__6A30C649]
GO
ALTER TABLE [dbo].[Arena] DROP CONSTRAINT [DF__Arena__EnableWal__693CA210]
GO
ALTER TABLE [dbo].[Arena] DROP CONSTRAINT [DF__Arena__Image__68487DD7]
GO
ALTER TABLE [dbo].[Abel] DROP CONSTRAINT [DF__Abel__Direction__6754599E]
GO
ALTER TABLE [dbo].[Abel] DROP CONSTRAINT [DF__Abel__Y__66603565]
GO
ALTER TABLE [dbo].[Abel] DROP CONSTRAINT [DF__Abel__X__656C112C]
GO
ALTER TABLE [dbo].[Abel] DROP CONSTRAINT [DF__Abel__EnableSpee__6477ECF3]
GO
ALTER TABLE [dbo].[Abel] DROP CONSTRAINT [DF__Abel__EnableTurn__6383C8BA]
GO
ALTER TABLE [dbo].[Abel] DROP CONSTRAINT [DF__Abel__EnableWalk__628FA481]
GO
ALTER TABLE [dbo].[Abel] DROP CONSTRAINT [DF__Abel__Image__619B8048]
GO
/****** Object:  Table [dbo].[WesternWoodlands]    Script Date: 3/13/2026 12:22:28 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WesternWoodlands]') AND type in (N'U'))
DROP TABLE [dbo].[WesternWoodlands]
GO
/****** Object:  Table [dbo].[Undine]    Script Date: 3/13/2026 12:22:28 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Undine]') AND type in (N'U'))
DROP TABLE [dbo].[Undine]
GO
/****** Object:  Table [dbo].[Tutorial]    Script Date: 3/13/2026 12:22:28 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Tutorial]') AND type in (N'U'))
DROP TABLE [dbo].[Tutorial]
GO
/****** Object:  Table [dbo].[TempleofVoid]    Script Date: 3/13/2026 12:22:28 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TempleofVoid]') AND type in (N'U'))
DROP TABLE [dbo].[TempleofVoid]
GO
/****** Object:  Table [dbo].[TempleofLight]    Script Date: 3/13/2026 12:22:28 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TempleofLight]') AND type in (N'U'))
DROP TABLE [dbo].[TempleofLight]
GO
/****** Object:  Table [dbo].[Tagor]    Script Date: 3/13/2026 12:22:28 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Tagor]') AND type in (N'U'))
DROP TABLE [dbo].[Tagor]
GO
/****** Object:  Table [dbo].[Suomi]    Script Date: 3/13/2026 12:22:28 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Suomi]') AND type in (N'U'))
DROP TABLE [dbo].[Suomi]
GO
/****** Object:  Table [dbo].[Rucesion]    Script Date: 3/13/2026 12:22:28 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Rucesion]') AND type in (N'U'))
DROP TABLE [dbo].[Rucesion]
GO
/****** Object:  Table [dbo].[Rionnag]    Script Date: 3/13/2026 12:22:28 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Rionnag]') AND type in (N'U'))
DROP TABLE [dbo].[Rionnag]
GO
/****** Object:  Table [dbo].[Piet]    Script Date: 3/13/2026 12:22:28 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Piet]') AND type in (N'U'))
DROP TABLE [dbo].[Piet]
GO
/****** Object:  Table [dbo].[Oren]    Script Date: 3/13/2026 12:22:28 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Oren]') AND type in (N'U'))
DROP TABLE [dbo].[Oren]
GO
/****** Object:  Table [dbo].[NorthPole]    Script Date: 3/13/2026 12:22:28 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NorthPole]') AND type in (N'U'))
DROP TABLE [dbo].[NorthPole]
GO
/****** Object:  Table [dbo].[Nobis]    Script Date: 3/13/2026 12:22:28 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Nobis]') AND type in (N'U'))
DROP TABLE [dbo].[Nobis]
GO
/****** Object:  Table [dbo].[Mileth]    Script Date: 3/13/2026 12:22:28 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Mileth]') AND type in (N'U'))
DROP TABLE [dbo].[Mileth]
GO
/****** Object:  Table [dbo].[Mehadi]    Script Date: 3/13/2026 12:22:28 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Mehadi]') AND type in (N'U'))
DROP TABLE [dbo].[Mehadi]
GO
/****** Object:  Table [dbo].[Lynith]    Script Date: 3/13/2026 12:22:28 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Lynith]') AND type in (N'U'))
DROP TABLE [dbo].[Lynith]
GO
/****** Object:  Table [dbo].[Loures]    Script Date: 3/13/2026 12:22:28 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Loures]') AND type in (N'U'))
DROP TABLE [dbo].[Loures]
GO
/****** Object:  Table [dbo].[Gobleregan]    Script Date: 3/13/2026 12:22:28 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Gobleregan]') AND type in (N'U'))
DROP TABLE [dbo].[Gobleregan]
GO
/****** Object:  Table [dbo].[Generic]    Script Date: 3/13/2026 12:22:28 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Generic]') AND type in (N'U'))
DROP TABLE [dbo].[Generic]
GO
/****** Object:  Table [dbo].[Evermore]    Script Date: 3/13/2026 12:22:28 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Evermore]') AND type in (N'U'))
DROP TABLE [dbo].[Evermore]
GO
/****** Object:  Table [dbo].[CthonicRemains]    Script Date: 3/13/2026 12:22:28 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CthonicRemains]') AND type in (N'U'))
DROP TABLE [dbo].[CthonicRemains]
GO
/****** Object:  Table [dbo].[Arena]    Script Date: 3/13/2026 12:22:28 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Arena]') AND type in (N'U'))
DROP TABLE [dbo].[Arena]
GO
/****** Object:  Table [dbo].[Abel]    Script Date: 3/13/2026 12:22:28 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Abel]') AND type in (N'U'))
DROP TABLE [dbo].[Abel]
GO
/****** Object:  Table [dbo].[Abel]    Script Date: 3/13/2026 12:22:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Abel](
	[MundaneId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ScriptKey] [varchar](20) NOT NULL,
	[EnableWalking] [bit] NOT NULL,
	[EnableTurning] [bit] NOT NULL,
	[EnableSpeech] [bit] NOT NULL,
	[SpeechOne] [varchar](80) NULL,
	[SpeechTwo] [varchar](80) NULL,
	[SpeechThree] [varchar](80) NULL,
	[SpeechFour] [varchar](80) NULL,
	[SpeechFive] [varchar](80) NULL,
	[X] [int] NOT NULL,
	[Y] [int] NOT NULL,
	[AreaId] [int] NOT NULL,
	[Direction] [int] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[DefaultStock1] [varchar](30) NULL,
	[DefaultStock2] [varchar](30) NULL,
	[DefaultStock3] [varchar](30) NULL,
	[DefaultStock4] [varchar](30) NULL,
	[DefaultStock5] [varchar](30) NULL,
	[DefaultStock6] [varchar](30) NULL,
	[DefaultStock7] [varchar](30) NULL,
	[DefaultStock8] [varchar](30) NULL,
	[DefaultStock9] [varchar](30) NULL,
	[DefaultStock10] [varchar](30) NULL,
	[DefaultStock11] [varchar](30) NULL,
	[DefaultStock12] [varchar](30) NULL,
	[DefaultStock13] [varchar](30) NULL,
	[DefaultStock14] [varchar](30) NULL,
	[DefaultStock15] [varchar](30) NULL,
	[DefaultStock16] [varchar](30) NULL,
	[DefaultStock17] [varchar](30) NULL,
	[DefaultStock18] [varchar](30) NULL,
	[DefaultStock19] [varchar](30) NULL,
	[DefaultStock20] [varchar](30) NULL,
	[DefaultStock21] [varchar](30) NULL,
	[DefaultStock22] [varchar](30) NULL,
	[DefaultStock23] [varchar](30) NULL,
	[DefaultStock24] [varchar](30) NULL,
	[DefaultStock25] [varchar](30) NULL,
	[DefaultStock26] [varchar](30) NULL,
	[DefaultStock27] [varchar](30) NULL,
	[DefaultStock28] [varchar](30) NULL,
	[DefaultStock29] [varchar](30) NULL,
	[DefaultStock30] [varchar](30) NULL,
 CONSTRAINT [PK__Abel] PRIMARY KEY CLUSTERED 
(
	[MundaneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Abel] SET (LOCK_ESCALATION = AUTO)
GO
/****** Object:  Table [dbo].[Arena]    Script Date: 3/13/2026 12:22:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Arena](
	[MundaneId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ScriptKey] [varchar](20) NOT NULL,
	[EnableWalking] [bit] NOT NULL,
	[EnableTurning] [bit] NOT NULL,
	[EnableSpeech] [bit] NOT NULL,
	[SpeechOne] [varchar](80) NULL,
	[SpeechTwo] [varchar](80) NULL,
	[SpeechThree] [varchar](80) NULL,
	[SpeechFour] [varchar](80) NULL,
	[SpeechFive] [varchar](80) NULL,
	[X] [int] NOT NULL,
	[Y] [int] NOT NULL,
	[AreaId] [int] NOT NULL,
	[Direction] [int] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[DefaultStock1] [varchar](30) NULL,
	[DefaultStock2] [varchar](30) NULL,
	[DefaultStock3] [varchar](30) NULL,
	[DefaultStock4] [varchar](30) NULL,
	[DefaultStock5] [varchar](30) NULL,
	[DefaultStock6] [varchar](30) NULL,
	[DefaultStock7] [varchar](30) NULL,
	[DefaultStock8] [varchar](30) NULL,
	[DefaultStock9] [varchar](30) NULL,
	[DefaultStock10] [varchar](30) NULL,
	[DefaultStock11] [varchar](30) NULL,
	[DefaultStock12] [varchar](30) NULL,
	[DefaultStock13] [varchar](30) NULL,
	[DefaultStock14] [varchar](30) NULL,
	[DefaultStock15] [varchar](30) NULL,
	[DefaultStock16] [varchar](30) NULL,
	[DefaultStock17] [varchar](30) NULL,
	[DefaultStock18] [varchar](30) NULL,
	[DefaultStock19] [varchar](30) NULL,
	[DefaultStock20] [varchar](30) NULL,
	[DefaultStock21] [varchar](30) NULL,
	[DefaultStock22] [varchar](30) NULL,
	[DefaultStock23] [varchar](30) NULL,
	[DefaultStock24] [varchar](30) NULL,
	[DefaultStock25] [varchar](30) NULL,
	[DefaultStock26] [varchar](30) NULL,
	[DefaultStock27] [varchar](30) NULL,
	[DefaultStock28] [varchar](30) NULL,
	[DefaultStock29] [varchar](30) NULL,
	[DefaultStock30] [varchar](30) NULL,
 CONSTRAINT [PK__Arena] PRIMARY KEY CLUSTERED 
(
	[MundaneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CthonicRemains]    Script Date: 3/13/2026 12:22:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CthonicRemains](
	[MundaneId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ScriptKey] [varchar](20) NOT NULL,
	[EnableWalking] [bit] NOT NULL,
	[EnableTurning] [bit] NOT NULL,
	[EnableSpeech] [bit] NOT NULL,
	[SpeechOne] [varchar](80) NULL,
	[SpeechTwo] [varchar](80) NULL,
	[SpeechThree] [varchar](80) NULL,
	[SpeechFour] [varchar](80) NULL,
	[SpeechFive] [varchar](80) NULL,
	[X] [int] NOT NULL,
	[Y] [int] NOT NULL,
	[AreaId] [int] NOT NULL,
	[Direction] [int] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[DefaultStock1] [varchar](30) NULL,
	[DefaultStock2] [varchar](30) NULL,
	[DefaultStock3] [varchar](30) NULL,
	[DefaultStock4] [varchar](30) NULL,
	[DefaultStock5] [varchar](30) NULL,
	[DefaultStock6] [varchar](30) NULL,
	[DefaultStock7] [varchar](30) NULL,
	[DefaultStock8] [varchar](30) NULL,
	[DefaultStock9] [varchar](30) NULL,
	[DefaultStock10] [varchar](30) NULL,
	[DefaultStock11] [varchar](30) NULL,
	[DefaultStock12] [varchar](30) NULL,
	[DefaultStock13] [varchar](30) NULL,
	[DefaultStock14] [varchar](30) NULL,
	[DefaultStock15] [varchar](30) NULL,
	[DefaultStock16] [varchar](30) NULL,
	[DefaultStock17] [varchar](30) NULL,
	[DefaultStock18] [varchar](30) NULL,
	[DefaultStock19] [varchar](30) NULL,
	[DefaultStock20] [varchar](30) NULL,
	[DefaultStock21] [varchar](30) NULL,
	[DefaultStock22] [varchar](30) NULL,
	[DefaultStock23] [varchar](30) NULL,
	[DefaultStock24] [varchar](30) NULL,
	[DefaultStock25] [varchar](30) NULL,
	[DefaultStock26] [varchar](30) NULL,
	[DefaultStock27] [varchar](30) NULL,
	[DefaultStock28] [varchar](30) NULL,
	[DefaultStock29] [varchar](30) NULL,
	[DefaultStock30] [varchar](30) NULL,
 CONSTRAINT [PK__CthonicRemains] PRIMARY KEY CLUSTERED 
(
	[MundaneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CthonicRemains] SET (LOCK_ESCALATION = AUTO)
GO
/****** Object:  Table [dbo].[Evermore]    Script Date: 3/13/2026 12:22:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evermore](
	[MundaneId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ScriptKey] [varchar](20) NOT NULL,
	[EnableWalking] [bit] NOT NULL,
	[EnableTurning] [bit] NOT NULL,
	[EnableSpeech] [bit] NOT NULL,
	[SpeechOne] [varchar](80) NULL,
	[SpeechTwo] [varchar](80) NULL,
	[SpeechThree] [varchar](80) NULL,
	[SpeechFour] [varchar](80) NULL,
	[SpeechFive] [varchar](80) NULL,
	[X] [int] NOT NULL,
	[Y] [int] NOT NULL,
	[AreaId] [int] NOT NULL,
	[Direction] [int] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[DefaultStock1] [varchar](30) NULL,
	[DefaultStock2] [varchar](30) NULL,
	[DefaultStock3] [varchar](30) NULL,
	[DefaultStock4] [varchar](30) NULL,
	[DefaultStock5] [varchar](30) NULL,
	[DefaultStock6] [varchar](30) NULL,
	[DefaultStock7] [varchar](30) NULL,
	[DefaultStock8] [varchar](30) NULL,
	[DefaultStock9] [varchar](30) NULL,
	[DefaultStock10] [varchar](30) NULL,
	[DefaultStock11] [varchar](30) NULL,
	[DefaultStock12] [varchar](30) NULL,
	[DefaultStock13] [varchar](30) NULL,
	[DefaultStock14] [varchar](30) NULL,
	[DefaultStock15] [varchar](30) NULL,
	[DefaultStock16] [varchar](30) NULL,
	[DefaultStock17] [varchar](30) NULL,
	[DefaultStock18] [varchar](30) NULL,
	[DefaultStock19] [varchar](30) NULL,
	[DefaultStock20] [varchar](30) NULL,
	[DefaultStock21] [varchar](30) NULL,
	[DefaultStock22] [varchar](30) NULL,
	[DefaultStock23] [varchar](30) NULL,
	[DefaultStock24] [varchar](30) NULL,
	[DefaultStock25] [varchar](30) NULL,
	[DefaultStock26] [varchar](30) NULL,
	[DefaultStock27] [varchar](30) NULL,
	[DefaultStock28] [varchar](30) NULL,
	[DefaultStock29] [varchar](30) NULL,
	[DefaultStock30] [varchar](30) NULL,
 CONSTRAINT [PK__Evermore] PRIMARY KEY CLUSTERED 
(
	[MundaneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Evermore] SET (LOCK_ESCALATION = AUTO)
GO
/****** Object:  Table [dbo].[Generic]    Script Date: 3/13/2026 12:22:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Generic](
	[MundaneId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ScriptKey] [varchar](20) NOT NULL,
	[EnableWalking] [bit] NOT NULL,
	[EnableTurning] [bit] NOT NULL,
	[EnableSpeech] [bit] NOT NULL,
	[SpeechOne] [varchar](80) NULL,
	[SpeechTwo] [varchar](80) NULL,
	[SpeechThree] [varchar](80) NULL,
	[SpeechFour] [varchar](80) NULL,
	[SpeechFive] [varchar](80) NULL,
	[X] [int] NOT NULL,
	[Y] [int] NOT NULL,
	[AreaId] [int] NOT NULL,
	[Direction] [int] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[DefaultStock1] [varchar](30) NULL,
	[DefaultStock2] [varchar](30) NULL,
	[DefaultStock3] [varchar](30) NULL,
	[DefaultStock4] [varchar](30) NULL,
	[DefaultStock5] [varchar](30) NULL,
	[DefaultStock6] [varchar](30) NULL,
	[DefaultStock7] [varchar](30) NULL,
	[DefaultStock8] [varchar](30) NULL,
	[DefaultStock9] [varchar](30) NULL,
	[DefaultStock10] [varchar](30) NULL,
	[DefaultStock11] [varchar](30) NULL,
	[DefaultStock12] [varchar](30) NULL,
	[DefaultStock13] [varchar](30) NULL,
	[DefaultStock14] [varchar](30) NULL,
	[DefaultStock15] [varchar](30) NULL,
	[DefaultStock16] [varchar](30) NULL,
	[DefaultStock17] [varchar](30) NULL,
	[DefaultStock18] [varchar](30) NULL,
	[DefaultStock19] [varchar](30) NULL,
	[DefaultStock20] [varchar](30) NULL,
	[DefaultStock21] [varchar](30) NULL,
	[DefaultStock22] [varchar](30) NULL,
	[DefaultStock23] [varchar](30) NULL,
	[DefaultStock24] [varchar](30) NULL,
	[DefaultStock25] [varchar](30) NULL,
	[DefaultStock26] [varchar](30) NULL,
	[DefaultStock27] [varchar](30) NULL,
	[DefaultStock28] [varchar](30) NULL,
	[DefaultStock29] [varchar](30) NULL,
	[DefaultStock30] [varchar](30) NULL,
 CONSTRAINT [PK__Generic] PRIMARY KEY CLUSTERED 
(
	[MundaneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Generic] SET (LOCK_ESCALATION = AUTO)
GO
/****** Object:  Table [dbo].[Gobleregan]    Script Date: 3/13/2026 12:22:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gobleregan](
	[MundaneId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ScriptKey] [varchar](20) NOT NULL,
	[EnableWalking] [bit] NOT NULL,
	[EnableTurning] [bit] NOT NULL,
	[EnableSpeech] [bit] NOT NULL,
	[SpeechOne] [varchar](80) NULL,
	[SpeechTwo] [varchar](80) NULL,
	[SpeechThree] [varchar](80) NULL,
	[SpeechFour] [varchar](80) NULL,
	[SpeechFive] [varchar](80) NULL,
	[X] [int] NOT NULL,
	[Y] [int] NOT NULL,
	[AreaId] [int] NOT NULL,
	[Direction] [int] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[DefaultStock1] [varchar](30) NULL,
	[DefaultStock2] [varchar](30) NULL,
	[DefaultStock3] [varchar](30) NULL,
	[DefaultStock4] [varchar](30) NULL,
	[DefaultStock5] [varchar](30) NULL,
	[DefaultStock6] [varchar](30) NULL,
	[DefaultStock7] [varchar](30) NULL,
	[DefaultStock8] [varchar](30) NULL,
	[DefaultStock9] [varchar](30) NULL,
	[DefaultStock10] [varchar](30) NULL,
	[DefaultStock11] [varchar](30) NULL,
	[DefaultStock12] [varchar](30) NULL,
	[DefaultStock13] [varchar](30) NULL,
	[DefaultStock14] [varchar](30) NULL,
	[DefaultStock15] [varchar](30) NULL,
	[DefaultStock16] [varchar](30) NULL,
	[DefaultStock17] [varchar](30) NULL,
	[DefaultStock18] [varchar](30) NULL,
	[DefaultStock19] [varchar](30) NULL,
	[DefaultStock20] [varchar](30) NULL,
	[DefaultStock21] [varchar](30) NULL,
	[DefaultStock22] [varchar](30) NULL,
	[DefaultStock23] [varchar](30) NULL,
	[DefaultStock24] [varchar](30) NULL,
	[DefaultStock25] [varchar](30) NULL,
	[DefaultStock26] [varchar](30) NULL,
	[DefaultStock27] [varchar](30) NULL,
	[DefaultStock28] [varchar](30) NULL,
	[DefaultStock29] [varchar](30) NULL,
	[DefaultStock30] [varchar](30) NULL,
 CONSTRAINT [PK__Gobleregan] PRIMARY KEY CLUSTERED 
(
	[MundaneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loures]    Script Date: 3/13/2026 12:22:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loures](
	[MundaneId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ScriptKey] [varchar](20) NOT NULL,
	[EnableWalking] [bit] NOT NULL,
	[EnableTurning] [bit] NOT NULL,
	[EnableSpeech] [bit] NOT NULL,
	[SpeechOne] [varchar](80) NULL,
	[SpeechTwo] [varchar](80) NULL,
	[SpeechThree] [varchar](80) NULL,
	[SpeechFour] [varchar](80) NULL,
	[SpeechFive] [varchar](80) NULL,
	[X] [int] NOT NULL,
	[Y] [int] NOT NULL,
	[AreaId] [int] NOT NULL,
	[Direction] [int] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[DefaultStock1] [varchar](30) NULL,
	[DefaultStock2] [varchar](30) NULL,
	[DefaultStock3] [varchar](30) NULL,
	[DefaultStock4] [varchar](30) NULL,
	[DefaultStock5] [varchar](30) NULL,
	[DefaultStock6] [varchar](30) NULL,
	[DefaultStock7] [varchar](30) NULL,
	[DefaultStock8] [varchar](30) NULL,
	[DefaultStock9] [varchar](30) NULL,
	[DefaultStock10] [varchar](30) NULL,
	[DefaultStock11] [varchar](30) NULL,
	[DefaultStock12] [varchar](30) NULL,
	[DefaultStock13] [varchar](30) NULL,
	[DefaultStock14] [varchar](30) NULL,
	[DefaultStock15] [varchar](30) NULL,
	[DefaultStock16] [varchar](30) NULL,
	[DefaultStock17] [varchar](30) NULL,
	[DefaultStock18] [varchar](30) NULL,
	[DefaultStock19] [varchar](30) NULL,
	[DefaultStock20] [varchar](30) NULL,
	[DefaultStock21] [varchar](30) NULL,
	[DefaultStock22] [varchar](30) NULL,
	[DefaultStock23] [varchar](30) NULL,
	[DefaultStock24] [varchar](30) NULL,
	[DefaultStock25] [varchar](30) NULL,
	[DefaultStock26] [varchar](30) NULL,
	[DefaultStock27] [varchar](30) NULL,
	[DefaultStock28] [varchar](30) NULL,
	[DefaultStock29] [varchar](30) NULL,
	[DefaultStock30] [varchar](30) NULL,
 CONSTRAINT [PK__Loures] PRIMARY KEY CLUSTERED 
(
	[MundaneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Loures] SET (LOCK_ESCALATION = AUTO)
GO
/****** Object:  Table [dbo].[Lynith]    Script Date: 3/13/2026 12:22:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lynith](
	[MundaneId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ScriptKey] [varchar](20) NOT NULL,
	[EnableWalking] [bit] NOT NULL,
	[EnableTurning] [bit] NOT NULL,
	[EnableSpeech] [bit] NOT NULL,
	[SpeechOne] [varchar](80) NULL,
	[SpeechTwo] [varchar](80) NULL,
	[SpeechThree] [varchar](80) NULL,
	[SpeechFour] [varchar](80) NULL,
	[SpeechFive] [varchar](80) NULL,
	[X] [int] NOT NULL,
	[Y] [int] NOT NULL,
	[AreaId] [int] NOT NULL,
	[Direction] [int] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[DefaultStock1] [varchar](30) NULL,
	[DefaultStock2] [varchar](30) NULL,
	[DefaultStock3] [varchar](30) NULL,
	[DefaultStock4] [varchar](30) NULL,
	[DefaultStock5] [varchar](30) NULL,
	[DefaultStock6] [varchar](30) NULL,
	[DefaultStock7] [varchar](30) NULL,
	[DefaultStock8] [varchar](30) NULL,
	[DefaultStock9] [varchar](30) NULL,
	[DefaultStock10] [varchar](30) NULL,
	[DefaultStock11] [varchar](30) NULL,
	[DefaultStock12] [varchar](30) NULL,
	[DefaultStock13] [varchar](30) NULL,
	[DefaultStock14] [varchar](30) NULL,
	[DefaultStock15] [varchar](30) NULL,
	[DefaultStock16] [varchar](30) NULL,
	[DefaultStock17] [varchar](30) NULL,
	[DefaultStock18] [varchar](30) NULL,
	[DefaultStock19] [varchar](30) NULL,
	[DefaultStock20] [varchar](30) NULL,
	[DefaultStock21] [varchar](30) NULL,
	[DefaultStock22] [varchar](30) NULL,
	[DefaultStock23] [varchar](30) NULL,
	[DefaultStock24] [varchar](30) NULL,
	[DefaultStock25] [varchar](30) NULL,
	[DefaultStock26] [varchar](30) NULL,
	[DefaultStock27] [varchar](30) NULL,
	[DefaultStock28] [varchar](30) NULL,
	[DefaultStock29] [varchar](30) NULL,
	[DefaultStock30] [varchar](30) NULL,
 CONSTRAINT [PK__Lynith] PRIMARY KEY CLUSTERED 
(
	[MundaneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Lynith] SET (LOCK_ESCALATION = AUTO)
GO
/****** Object:  Table [dbo].[Mehadi]    Script Date: 3/13/2026 12:22:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mehadi](
	[MundaneId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ScriptKey] [varchar](20) NOT NULL,
	[EnableWalking] [bit] NOT NULL,
	[EnableTurning] [bit] NOT NULL,
	[EnableSpeech] [bit] NOT NULL,
	[SpeechOne] [varchar](80) NULL,
	[SpeechTwo] [varchar](80) NULL,
	[SpeechThree] [varchar](80) NULL,
	[SpeechFour] [varchar](80) NULL,
	[SpeechFive] [varchar](80) NULL,
	[X] [int] NOT NULL,
	[Y] [int] NOT NULL,
	[AreaId] [int] NOT NULL,
	[Direction] [int] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[DefaultStock1] [varchar](30) NULL,
	[DefaultStock2] [varchar](30) NULL,
	[DefaultStock3] [varchar](30) NULL,
	[DefaultStock4] [varchar](30) NULL,
	[DefaultStock5] [varchar](30) NULL,
	[DefaultStock6] [varchar](30) NULL,
	[DefaultStock7] [varchar](30) NULL,
	[DefaultStock8] [varchar](30) NULL,
	[DefaultStock9] [varchar](30) NULL,
	[DefaultStock10] [varchar](30) NULL,
	[DefaultStock11] [varchar](30) NULL,
	[DefaultStock12] [varchar](30) NULL,
	[DefaultStock13] [varchar](30) NULL,
	[DefaultStock14] [varchar](30) NULL,
	[DefaultStock15] [varchar](30) NULL,
	[DefaultStock16] [varchar](30) NULL,
	[DefaultStock17] [varchar](30) NULL,
	[DefaultStock18] [varchar](30) NULL,
	[DefaultStock19] [varchar](30) NULL,
	[DefaultStock20] [varchar](30) NULL,
	[DefaultStock21] [varchar](30) NULL,
	[DefaultStock22] [varchar](30) NULL,
	[DefaultStock23] [varchar](30) NULL,
	[DefaultStock24] [varchar](30) NULL,
	[DefaultStock25] [varchar](30) NULL,
	[DefaultStock26] [varchar](30) NULL,
	[DefaultStock27] [varchar](30) NULL,
	[DefaultStock28] [varchar](30) NULL,
	[DefaultStock29] [varchar](30) NULL,
	[DefaultStock30] [varchar](30) NULL,
 CONSTRAINT [PK__Mehadi] PRIMARY KEY CLUSTERED 
(
	[MundaneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Mehadi] SET (LOCK_ESCALATION = AUTO)
GO
/****** Object:  Table [dbo].[Mileth]    Script Date: 3/13/2026 12:22:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mileth](
	[MundaneId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ScriptKey] [varchar](20) NOT NULL,
	[EnableWalking] [bit] NOT NULL,
	[EnableTurning] [bit] NOT NULL,
	[EnableSpeech] [bit] NOT NULL,
	[SpeechOne] [varchar](80) NULL,
	[SpeechTwo] [varchar](80) NULL,
	[SpeechThree] [varchar](80) NULL,
	[SpeechFour] [varchar](80) NULL,
	[SpeechFive] [varchar](80) NULL,
	[X] [int] NOT NULL,
	[Y] [int] NOT NULL,
	[AreaId] [int] NOT NULL,
	[Direction] [int] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[DefaultStock1] [varchar](30) NULL,
	[DefaultStock2] [varchar](30) NULL,
	[DefaultStock3] [varchar](30) NULL,
	[DefaultStock4] [varchar](30) NULL,
	[DefaultStock5] [varchar](30) NULL,
	[DefaultStock6] [varchar](30) NULL,
	[DefaultStock7] [varchar](30) NULL,
	[DefaultStock8] [varchar](30) NULL,
	[DefaultStock9] [varchar](30) NULL,
	[DefaultStock10] [varchar](30) NULL,
	[DefaultStock11] [varchar](30) NULL,
	[DefaultStock12] [varchar](30) NULL,
	[DefaultStock13] [varchar](30) NULL,
	[DefaultStock14] [varchar](30) NULL,
	[DefaultStock15] [varchar](30) NULL,
	[DefaultStock16] [varchar](30) NULL,
	[DefaultStock17] [varchar](30) NULL,
	[DefaultStock18] [varchar](30) NULL,
	[DefaultStock19] [varchar](30) NULL,
	[DefaultStock20] [varchar](30) NULL,
	[DefaultStock21] [varchar](30) NULL,
	[DefaultStock22] [varchar](30) NULL,
	[DefaultStock23] [varchar](30) NULL,
	[DefaultStock24] [varchar](30) NULL,
	[DefaultStock25] [varchar](30) NULL,
	[DefaultStock26] [varchar](30) NULL,
	[DefaultStock27] [varchar](30) NULL,
	[DefaultStock28] [varchar](30) NULL,
	[DefaultStock29] [varchar](30) NULL,
	[DefaultStock30] [varchar](30) NULL,
 CONSTRAINT [PK__Mileth] PRIMARY KEY CLUSTERED 
(
	[MundaneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Mileth] SET (LOCK_ESCALATION = AUTO)
GO
/****** Object:  Table [dbo].[Nobis]    Script Date: 3/13/2026 12:22:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nobis](
	[MundaneId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ScriptKey] [varchar](20) NOT NULL,
	[EnableWalking] [bit] NOT NULL,
	[EnableTurning] [bit] NOT NULL,
	[EnableSpeech] [bit] NOT NULL,
	[SpeechOne] [varchar](80) NULL,
	[SpeechTwo] [varchar](80) NULL,
	[SpeechThree] [varchar](80) NULL,
	[SpeechFour] [varchar](80) NULL,
	[SpeechFive] [varchar](80) NULL,
	[X] [int] NOT NULL,
	[Y] [int] NOT NULL,
	[AreaId] [int] NOT NULL,
	[Direction] [int] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[DefaultStock1] [varchar](30) NULL,
	[DefaultStock2] [varchar](30) NULL,
	[DefaultStock3] [varchar](30) NULL,
	[DefaultStock4] [varchar](30) NULL,
	[DefaultStock5] [varchar](30) NULL,
	[DefaultStock6] [varchar](30) NULL,
	[DefaultStock7] [varchar](30) NULL,
	[DefaultStock8] [varchar](30) NULL,
	[DefaultStock9] [varchar](30) NULL,
	[DefaultStock10] [varchar](30) NULL,
	[DefaultStock11] [varchar](30) NULL,
	[DefaultStock12] [varchar](30) NULL,
	[DefaultStock13] [varchar](30) NULL,
	[DefaultStock14] [varchar](30) NULL,
	[DefaultStock15] [varchar](30) NULL,
	[DefaultStock16] [varchar](30) NULL,
	[DefaultStock17] [varchar](30) NULL,
	[DefaultStock18] [varchar](30) NULL,
	[DefaultStock19] [varchar](30) NULL,
	[DefaultStock20] [varchar](30) NULL,
	[DefaultStock21] [varchar](30) NULL,
	[DefaultStock22] [varchar](30) NULL,
	[DefaultStock23] [varchar](30) NULL,
	[DefaultStock24] [varchar](30) NULL,
	[DefaultStock25] [varchar](30) NULL,
	[DefaultStock26] [varchar](30) NULL,
	[DefaultStock27] [varchar](30) NULL,
	[DefaultStock28] [varchar](30) NULL,
	[DefaultStock29] [varchar](30) NULL,
	[DefaultStock30] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MundaneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NorthPole]    Script Date: 3/13/2026 12:22:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NorthPole](
	[MundaneId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ScriptKey] [varchar](25) NOT NULL,
	[EnableWalking] [bit] NOT NULL,
	[EnableTurning] [bit] NOT NULL,
	[EnableSpeech] [bit] NOT NULL,
	[SpeechOne] [varchar](80) NULL,
	[SpeechTwo] [varchar](80) NULL,
	[SpeechThree] [varchar](80) NULL,
	[SpeechFour] [varchar](80) NULL,
	[SpeechFive] [varchar](80) NULL,
	[X] [int] NOT NULL,
	[Y] [int] NOT NULL,
	[AreaId] [int] NOT NULL,
	[Direction] [int] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[DefaultStock1] [varchar](30) NULL,
	[DefaultStock2] [varchar](30) NULL,
	[DefaultStock3] [varchar](30) NULL,
	[DefaultStock4] [varchar](30) NULL,
	[DefaultStock5] [varchar](30) NULL,
	[DefaultStock6] [varchar](30) NULL,
	[DefaultStock7] [varchar](30) NULL,
	[DefaultStock8] [varchar](30) NULL,
	[DefaultStock9] [varchar](30) NULL,
	[DefaultStock10] [varchar](30) NULL,
	[DefaultStock11] [varchar](30) NULL,
	[DefaultStock12] [varchar](30) NULL,
	[DefaultStock13] [varchar](30) NULL,
	[DefaultStock14] [varchar](30) NULL,
	[DefaultStock15] [varchar](30) NULL,
	[DefaultStock16] [varchar](30) NULL,
	[DefaultStock17] [varchar](30) NULL,
	[DefaultStock18] [varchar](30) NULL,
	[DefaultStock19] [varchar](30) NULL,
	[DefaultStock20] [varchar](30) NULL,
	[DefaultStock21] [varchar](30) NULL,
	[DefaultStock22] [varchar](30) NULL,
	[DefaultStock23] [varchar](30) NULL,
	[DefaultStock24] [varchar](30) NULL,
	[DefaultStock25] [varchar](30) NULL,
	[DefaultStock26] [varchar](30) NULL,
	[DefaultStock27] [varchar](30) NULL,
	[DefaultStock28] [varchar](30) NULL,
	[DefaultStock29] [varchar](30) NULL,
	[DefaultStock30] [varchar](30) NULL,
 CONSTRAINT [PK__NorthPole] PRIMARY KEY CLUSTERED 
(
	[MundaneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NorthPole] SET (LOCK_ESCALATION = AUTO)
GO
/****** Object:  Table [dbo].[Oren]    Script Date: 3/13/2026 12:22:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oren](
	[MundaneId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ScriptKey] [varchar](20) NOT NULL,
	[EnableWalking] [bit] NOT NULL,
	[EnableTurning] [bit] NOT NULL,
	[EnableSpeech] [bit] NOT NULL,
	[SpeechOne] [varchar](80) NULL,
	[SpeechTwo] [varchar](80) NULL,
	[SpeechThree] [varchar](80) NULL,
	[SpeechFour] [varchar](80) NULL,
	[SpeechFive] [varchar](80) NULL,
	[X] [int] NOT NULL,
	[Y] [int] NOT NULL,
	[AreaId] [int] NOT NULL,
	[Direction] [int] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[DefaultStock1] [varchar](30) NULL,
	[DefaultStock2] [varchar](30) NULL,
	[DefaultStock3] [varchar](30) NULL,
	[DefaultStock4] [varchar](30) NULL,
	[DefaultStock5] [varchar](30) NULL,
	[DefaultStock6] [varchar](30) NULL,
	[DefaultStock7] [varchar](30) NULL,
	[DefaultStock8] [varchar](30) NULL,
	[DefaultStock9] [varchar](30) NULL,
	[DefaultStock10] [varchar](30) NULL,
	[DefaultStock11] [varchar](30) NULL,
	[DefaultStock12] [varchar](30) NULL,
	[DefaultStock13] [varchar](30) NULL,
	[DefaultStock14] [varchar](30) NULL,
	[DefaultStock15] [varchar](30) NULL,
	[DefaultStock16] [varchar](30) NULL,
	[DefaultStock17] [varchar](30) NULL,
	[DefaultStock18] [varchar](30) NULL,
	[DefaultStock19] [varchar](30) NULL,
	[DefaultStock20] [varchar](30) NULL,
	[DefaultStock21] [varchar](30) NULL,
	[DefaultStock22] [varchar](30) NULL,
	[DefaultStock23] [varchar](30) NULL,
	[DefaultStock24] [varchar](30) NULL,
	[DefaultStock25] [varchar](30) NULL,
	[DefaultStock26] [varchar](30) NULL,
	[DefaultStock27] [varchar](30) NULL,
	[DefaultStock28] [varchar](30) NULL,
	[DefaultStock29] [varchar](30) NULL,
	[DefaultStock30] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MundaneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Piet]    Script Date: 3/13/2026 12:22:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Piet](
	[MundaneId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ScriptKey] [varchar](20) NOT NULL,
	[EnableWalking] [bit] NOT NULL,
	[EnableTurning] [bit] NOT NULL,
	[EnableSpeech] [bit] NOT NULL,
	[SpeechOne] [varchar](80) NULL,
	[SpeechTwo] [varchar](80) NULL,
	[SpeechThree] [varchar](80) NULL,
	[SpeechFour] [varchar](80) NULL,
	[SpeechFive] [varchar](80) NULL,
	[X] [int] NOT NULL,
	[Y] [int] NOT NULL,
	[AreaId] [int] NOT NULL,
	[Direction] [int] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[DefaultStock1] [varchar](30) NULL,
	[DefaultStock2] [varchar](30) NULL,
	[DefaultStock3] [varchar](30) NULL,
	[DefaultStock4] [varchar](30) NULL,
	[DefaultStock5] [varchar](30) NULL,
	[DefaultStock6] [varchar](30) NULL,
	[DefaultStock7] [varchar](30) NULL,
	[DefaultStock8] [varchar](30) NULL,
	[DefaultStock9] [varchar](30) NULL,
	[DefaultStock10] [varchar](30) NULL,
	[DefaultStock11] [varchar](30) NULL,
	[DefaultStock12] [varchar](30) NULL,
	[DefaultStock13] [varchar](30) NULL,
	[DefaultStock14] [varchar](30) NULL,
	[DefaultStock15] [varchar](30) NULL,
	[DefaultStock16] [varchar](30) NULL,
	[DefaultStock17] [varchar](30) NULL,
	[DefaultStock18] [varchar](30) NULL,
	[DefaultStock19] [varchar](30) NULL,
	[DefaultStock20] [varchar](30) NULL,
	[DefaultStock21] [varchar](30) NULL,
	[DefaultStock22] [varchar](30) NULL,
	[DefaultStock23] [varchar](30) NULL,
	[DefaultStock24] [varchar](30) NULL,
	[DefaultStock25] [varchar](30) NULL,
	[DefaultStock26] [varchar](30) NULL,
	[DefaultStock27] [varchar](30) NULL,
	[DefaultStock28] [varchar](30) NULL,
	[DefaultStock29] [varchar](30) NULL,
	[DefaultStock30] [varchar](30) NULL,
 CONSTRAINT [PK__Piet] PRIMARY KEY CLUSTERED 
(
	[MundaneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rionnag]    Script Date: 3/13/2026 12:22:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rionnag](
	[MundaneId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ScriptKey] [varchar](20) NOT NULL,
	[EnableWalking] [bit] NOT NULL,
	[EnableTurning] [bit] NOT NULL,
	[EnableSpeech] [bit] NOT NULL,
	[SpeechOne] [varchar](80) NULL,
	[SpeechTwo] [varchar](80) NULL,
	[SpeechThree] [varchar](80) NULL,
	[SpeechFour] [varchar](80) NULL,
	[SpeechFive] [varchar](80) NULL,
	[X] [int] NOT NULL,
	[Y] [int] NOT NULL,
	[AreaId] [int] NOT NULL,
	[Direction] [int] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[DefaultStock1] [varchar](30) NULL,
	[DefaultStock2] [varchar](30) NULL,
	[DefaultStock3] [varchar](30) NULL,
	[DefaultStock4] [varchar](30) NULL,
	[DefaultStock5] [varchar](30) NULL,
	[DefaultStock6] [varchar](30) NULL,
	[DefaultStock7] [varchar](30) NULL,
	[DefaultStock8] [varchar](30) NULL,
	[DefaultStock9] [varchar](30) NULL,
	[DefaultStock10] [varchar](30) NULL,
	[DefaultStock11] [varchar](30) NULL,
	[DefaultStock12] [varchar](30) NULL,
	[DefaultStock13] [varchar](30) NULL,
	[DefaultStock14] [varchar](30) NULL,
	[DefaultStock15] [varchar](30) NULL,
	[DefaultStock16] [varchar](30) NULL,
	[DefaultStock17] [varchar](30) NULL,
	[DefaultStock18] [varchar](30) NULL,
	[DefaultStock19] [varchar](30) NULL,
	[DefaultStock20] [varchar](30) NULL,
	[DefaultStock21] [varchar](30) NULL,
	[DefaultStock22] [varchar](30) NULL,
	[DefaultStock23] [varchar](30) NULL,
	[DefaultStock24] [varchar](30) NULL,
	[DefaultStock25] [varchar](30) NULL,
	[DefaultStock26] [varchar](30) NULL,
	[DefaultStock27] [varchar](30) NULL,
	[DefaultStock28] [varchar](30) NULL,
	[DefaultStock29] [varchar](30) NULL,
	[DefaultStock30] [varchar](30) NULL,
 CONSTRAINT [PK__Rionnag] PRIMARY KEY CLUSTERED 
(
	[MundaneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Rionnag] SET (LOCK_ESCALATION = AUTO)
GO
/****** Object:  Table [dbo].[Rucesion]    Script Date: 3/13/2026 12:22:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rucesion](
	[MundaneId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ScriptKey] [varchar](20) NOT NULL,
	[EnableWalking] [bit] NOT NULL,
	[EnableTurning] [bit] NOT NULL,
	[EnableSpeech] [bit] NOT NULL,
	[SpeechOne] [varchar](80) NULL,
	[SpeechTwo] [varchar](80) NULL,
	[SpeechThree] [varchar](80) NULL,
	[SpeechFour] [varchar](80) NULL,
	[SpeechFive] [varchar](80) NULL,
	[X] [int] NOT NULL,
	[Y] [int] NOT NULL,
	[AreaId] [int] NOT NULL,
	[Direction] [int] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[DefaultStock1] [varchar](30) NULL,
	[DefaultStock2] [varchar](30) NULL,
	[DefaultStock3] [varchar](30) NULL,
	[DefaultStock4] [varchar](30) NULL,
	[DefaultStock5] [varchar](30) NULL,
	[DefaultStock6] [varchar](30) NULL,
	[DefaultStock7] [varchar](30) NULL,
	[DefaultStock8] [varchar](30) NULL,
	[DefaultStock9] [varchar](30) NULL,
	[DefaultStock10] [varchar](30) NULL,
	[DefaultStock11] [varchar](30) NULL,
	[DefaultStock12] [varchar](30) NULL,
	[DefaultStock13] [varchar](30) NULL,
	[DefaultStock14] [varchar](30) NULL,
	[DefaultStock15] [varchar](30) NULL,
	[DefaultStock16] [varchar](30) NULL,
	[DefaultStock17] [varchar](30) NULL,
	[DefaultStock18] [varchar](30) NULL,
	[DefaultStock19] [varchar](30) NULL,
	[DefaultStock20] [varchar](30) NULL,
	[DefaultStock21] [varchar](30) NULL,
	[DefaultStock22] [varchar](30) NULL,
	[DefaultStock23] [varchar](30) NULL,
	[DefaultStock24] [varchar](30) NULL,
	[DefaultStock25] [varchar](30) NULL,
	[DefaultStock26] [varchar](30) NULL,
	[DefaultStock27] [varchar](30) NULL,
	[DefaultStock28] [varchar](30) NULL,
	[DefaultStock29] [varchar](30) NULL,
	[DefaultStock30] [varchar](30) NULL,
 CONSTRAINT [PK__Rucesion] PRIMARY KEY CLUSTERED 
(
	[MundaneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suomi]    Script Date: 3/13/2026 12:22:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suomi](
	[MundaneId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ScriptKey] [varchar](20) NOT NULL,
	[EnableWalking] [bit] NOT NULL,
	[EnableTurning] [bit] NOT NULL,
	[EnableSpeech] [bit] NOT NULL,
	[SpeechOne] [varchar](80) NULL,
	[SpeechTwo] [varchar](80) NULL,
	[SpeechThree] [varchar](80) NULL,
	[SpeechFour] [varchar](80) NULL,
	[SpeechFive] [varchar](80) NULL,
	[X] [int] NOT NULL,
	[Y] [int] NOT NULL,
	[AreaId] [int] NOT NULL,
	[Direction] [int] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[DefaultStock1] [varchar](30) NULL,
	[DefaultStock2] [varchar](30) NULL,
	[DefaultStock3] [varchar](30) NULL,
	[DefaultStock4] [varchar](30) NULL,
	[DefaultStock5] [varchar](30) NULL,
	[DefaultStock6] [varchar](30) NULL,
	[DefaultStock7] [varchar](30) NULL,
	[DefaultStock8] [varchar](30) NULL,
	[DefaultStock9] [varchar](30) NULL,
	[DefaultStock10] [varchar](30) NULL,
	[DefaultStock11] [varchar](30) NULL,
	[DefaultStock12] [varchar](30) NULL,
	[DefaultStock13] [varchar](30) NULL,
	[DefaultStock14] [varchar](30) NULL,
	[DefaultStock15] [varchar](30) NULL,
	[DefaultStock16] [varchar](30) NULL,
	[DefaultStock17] [varchar](30) NULL,
	[DefaultStock18] [varchar](30) NULL,
	[DefaultStock19] [varchar](30) NULL,
	[DefaultStock20] [varchar](30) NULL,
	[DefaultStock21] [varchar](30) NULL,
	[DefaultStock22] [varchar](30) NULL,
	[DefaultStock23] [varchar](30) NULL,
	[DefaultStock24] [varchar](30) NULL,
	[DefaultStock25] [varchar](30) NULL,
	[DefaultStock26] [varchar](30) NULL,
	[DefaultStock27] [varchar](30) NULL,
	[DefaultStock28] [varchar](30) NULL,
	[DefaultStock29] [varchar](30) NULL,
	[DefaultStock30] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MundaneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tagor]    Script Date: 3/13/2026 12:22:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tagor](
	[MundaneId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ScriptKey] [varchar](20) NOT NULL,
	[EnableWalking] [bit] NOT NULL,
	[EnableTurning] [bit] NOT NULL,
	[EnableSpeech] [bit] NOT NULL,
	[SpeechOne] [varchar](80) NULL,
	[SpeechTwo] [varchar](80) NULL,
	[SpeechThree] [varchar](80) NULL,
	[SpeechFour] [varchar](80) NULL,
	[SpeechFive] [varchar](80) NULL,
	[X] [int] NOT NULL,
	[Y] [int] NOT NULL,
	[AreaId] [int] NOT NULL,
	[Direction] [int] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[DefaultStock1] [varchar](30) NULL,
	[DefaultStock2] [varchar](30) NULL,
	[DefaultStock3] [varchar](30) NULL,
	[DefaultStock4] [varchar](30) NULL,
	[DefaultStock5] [varchar](30) NULL,
	[DefaultStock6] [varchar](30) NULL,
	[DefaultStock7] [varchar](30) NULL,
	[DefaultStock8] [varchar](30) NULL,
	[DefaultStock9] [varchar](30) NULL,
	[DefaultStock10] [varchar](30) NULL,
	[DefaultStock11] [varchar](30) NULL,
	[DefaultStock12] [varchar](30) NULL,
	[DefaultStock13] [varchar](30) NULL,
	[DefaultStock14] [varchar](30) NULL,
	[DefaultStock15] [varchar](30) NULL,
	[DefaultStock16] [varchar](30) NULL,
	[DefaultStock17] [varchar](30) NULL,
	[DefaultStock18] [varchar](30) NULL,
	[DefaultStock19] [varchar](30) NULL,
	[DefaultStock20] [varchar](30) NULL,
	[DefaultStock21] [varchar](30) NULL,
	[DefaultStock22] [varchar](30) NULL,
	[DefaultStock23] [varchar](30) NULL,
	[DefaultStock24] [varchar](30) NULL,
	[DefaultStock25] [varchar](30) NULL,
	[DefaultStock26] [varchar](30) NULL,
	[DefaultStock27] [varchar](30) NULL,
	[DefaultStock28] [varchar](30) NULL,
	[DefaultStock29] [varchar](30) NULL,
	[DefaultStock30] [varchar](30) NULL,
 CONSTRAINT [PK__Tagor] PRIMARY KEY CLUSTERED 
(
	[MundaneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TempleofLight]    Script Date: 3/13/2026 12:22:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TempleofLight](
	[MundaneId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ScriptKey] [varchar](20) NOT NULL,
	[EnableWalking] [bit] NOT NULL,
	[EnableTurning] [bit] NOT NULL,
	[EnableSpeech] [bit] NOT NULL,
	[SpeechOne] [varchar](80) NULL,
	[SpeechTwo] [varchar](80) NULL,
	[SpeechThree] [varchar](80) NULL,
	[SpeechFour] [varchar](80) NULL,
	[SpeechFive] [varchar](80) NULL,
	[X] [int] NOT NULL,
	[Y] [int] NOT NULL,
	[AreaId] [int] NOT NULL,
	[Direction] [int] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[DefaultStock1] [varchar](30) NULL,
	[DefaultStock2] [varchar](30) NULL,
	[DefaultStock3] [varchar](30) NULL,
	[DefaultStock4] [varchar](30) NULL,
	[DefaultStock5] [varchar](30) NULL,
	[DefaultStock6] [varchar](30) NULL,
	[DefaultStock7] [varchar](30) NULL,
	[DefaultStock8] [varchar](30) NULL,
	[DefaultStock9] [varchar](30) NULL,
	[DefaultStock10] [varchar](30) NULL,
	[DefaultStock11] [varchar](30) NULL,
	[DefaultStock12] [varchar](30) NULL,
	[DefaultStock13] [varchar](30) NULL,
	[DefaultStock14] [varchar](30) NULL,
	[DefaultStock15] [varchar](30) NULL,
	[DefaultStock16] [varchar](30) NULL,
	[DefaultStock17] [varchar](30) NULL,
	[DefaultStock18] [varchar](30) NULL,
	[DefaultStock19] [varchar](30) NULL,
	[DefaultStock20] [varchar](30) NULL,
	[DefaultStock21] [varchar](30) NULL,
	[DefaultStock22] [varchar](30) NULL,
	[DefaultStock23] [varchar](30) NULL,
	[DefaultStock24] [varchar](30) NULL,
	[DefaultStock25] [varchar](30) NULL,
	[DefaultStock26] [varchar](30) NULL,
	[DefaultStock27] [varchar](30) NULL,
	[DefaultStock28] [varchar](30) NULL,
	[DefaultStock29] [varchar](30) NULL,
	[DefaultStock30] [varchar](30) NULL,
 CONSTRAINT [PK__TempleofLight] PRIMARY KEY CLUSTERED 
(
	[MundaneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TempleofLight] SET (LOCK_ESCALATION = AUTO)
GO
/****** Object:  Table [dbo].[TempleofVoid]    Script Date: 3/13/2026 12:22:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TempleofVoid](
	[MundaneId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ScriptKey] [varchar](20) NOT NULL,
	[EnableWalking] [bit] NOT NULL,
	[EnableTurning] [bit] NOT NULL,
	[EnableSpeech] [bit] NOT NULL,
	[SpeechOne] [varchar](80) NULL,
	[SpeechTwo] [varchar](80) NULL,
	[SpeechThree] [varchar](80) NULL,
	[SpeechFour] [varchar](80) NULL,
	[SpeechFive] [varchar](80) NULL,
	[X] [int] NOT NULL,
	[Y] [int] NOT NULL,
	[AreaId] [int] NOT NULL,
	[Direction] [int] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[DefaultStock1] [varchar](30) NULL,
	[DefaultStock2] [varchar](30) NULL,
	[DefaultStock3] [varchar](30) NULL,
	[DefaultStock4] [varchar](30) NULL,
	[DefaultStock5] [varchar](30) NULL,
	[DefaultStock6] [varchar](30) NULL,
	[DefaultStock7] [varchar](30) NULL,
	[DefaultStock8] [varchar](30) NULL,
	[DefaultStock9] [varchar](30) NULL,
	[DefaultStock10] [varchar](30) NULL,
	[DefaultStock11] [varchar](30) NULL,
	[DefaultStock12] [varchar](30) NULL,
	[DefaultStock13] [varchar](30) NULL,
	[DefaultStock14] [varchar](30) NULL,
	[DefaultStock15] [varchar](30) NULL,
	[DefaultStock16] [varchar](30) NULL,
	[DefaultStock17] [varchar](30) NULL,
	[DefaultStock18] [varchar](30) NULL,
	[DefaultStock19] [varchar](30) NULL,
	[DefaultStock20] [varchar](30) NULL,
	[DefaultStock21] [varchar](30) NULL,
	[DefaultStock22] [varchar](30) NULL,
	[DefaultStock23] [varchar](30) NULL,
	[DefaultStock24] [varchar](30) NULL,
	[DefaultStock25] [varchar](30) NULL,
	[DefaultStock26] [varchar](30) NULL,
	[DefaultStock27] [varchar](30) NULL,
	[DefaultStock28] [varchar](30) NULL,
	[DefaultStock29] [varchar](30) NULL,
	[DefaultStock30] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MundaneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tutorial]    Script Date: 3/13/2026 12:22:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tutorial](
	[MundaneId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ScriptKey] [varchar](20) NOT NULL,
	[EnableWalking] [bit] NOT NULL,
	[EnableTurning] [bit] NOT NULL,
	[EnableSpeech] [bit] NOT NULL,
	[SpeechOne] [varchar](80) NULL,
	[SpeechTwo] [varchar](80) NULL,
	[SpeechThree] [varchar](80) NULL,
	[SpeechFour] [varchar](80) NULL,
	[SpeechFive] [varchar](80) NULL,
	[X] [int] NOT NULL,
	[Y] [int] NOT NULL,
	[AreaId] [int] NOT NULL,
	[Direction] [int] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[DefaultStock1] [varchar](30) NULL,
	[DefaultStock2] [varchar](30) NULL,
	[DefaultStock3] [varchar](30) NULL,
	[DefaultStock4] [varchar](30) NULL,
	[DefaultStock5] [varchar](30) NULL,
	[DefaultStock6] [varchar](30) NULL,
	[DefaultStock7] [varchar](30) NULL,
	[DefaultStock8] [varchar](30) NULL,
	[DefaultStock9] [varchar](30) NULL,
	[DefaultStock10] [varchar](30) NULL,
	[DefaultStock11] [varchar](30) NULL,
	[DefaultStock12] [varchar](30) NULL,
	[DefaultStock13] [varchar](30) NULL,
	[DefaultStock14] [varchar](30) NULL,
	[DefaultStock15] [varchar](30) NULL,
	[DefaultStock16] [varchar](30) NULL,
	[DefaultStock17] [varchar](30) NULL,
	[DefaultStock18] [varchar](30) NULL,
	[DefaultStock19] [varchar](30) NULL,
	[DefaultStock20] [varchar](30) NULL,
	[DefaultStock21] [varchar](30) NULL,
	[DefaultStock22] [varchar](30) NULL,
	[DefaultStock23] [varchar](30) NULL,
	[DefaultStock24] [varchar](30) NULL,
	[DefaultStock25] [varchar](30) NULL,
	[DefaultStock26] [varchar](30) NULL,
	[DefaultStock27] [varchar](30) NULL,
	[DefaultStock28] [varchar](30) NULL,
	[DefaultStock29] [varchar](30) NULL,
	[DefaultStock30] [varchar](30) NULL,
 CONSTRAINT [PK__Tutorial] PRIMARY KEY CLUSTERED 
(
	[MundaneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tutorial] SET (LOCK_ESCALATION = AUTO)
GO
/****** Object:  Table [dbo].[Undine]    Script Date: 3/13/2026 12:22:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Undine](
	[MundaneId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ScriptKey] [varchar](20) NOT NULL,
	[EnableWalking] [bit] NOT NULL,
	[EnableTurning] [bit] NOT NULL,
	[EnableSpeech] [bit] NOT NULL,
	[SpeechOne] [varchar](80) NULL,
	[SpeechTwo] [varchar](80) NULL,
	[SpeechThree] [varchar](80) NULL,
	[SpeechFour] [varchar](80) NULL,
	[SpeechFive] [varchar](80) NULL,
	[X] [int] NOT NULL,
	[Y] [int] NOT NULL,
	[AreaId] [int] NOT NULL,
	[Direction] [int] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[DefaultStock1] [varchar](30) NULL,
	[DefaultStock2] [varchar](30) NULL,
	[DefaultStock3] [varchar](30) NULL,
	[DefaultStock4] [varchar](30) NULL,
	[DefaultStock5] [varchar](30) NULL,
	[DefaultStock6] [varchar](30) NULL,
	[DefaultStock7] [varchar](30) NULL,
	[DefaultStock8] [varchar](30) NULL,
	[DefaultStock9] [varchar](30) NULL,
	[DefaultStock10] [varchar](30) NULL,
	[DefaultStock11] [varchar](30) NULL,
	[DefaultStock12] [varchar](30) NULL,
	[DefaultStock13] [varchar](30) NULL,
	[DefaultStock14] [varchar](30) NULL,
	[DefaultStock15] [varchar](30) NULL,
	[DefaultStock16] [varchar](30) NULL,
	[DefaultStock17] [varchar](30) NULL,
	[DefaultStock18] [varchar](30) NULL,
	[DefaultStock19] [varchar](30) NULL,
	[DefaultStock20] [varchar](30) NULL,
	[DefaultStock21] [varchar](30) NULL,
	[DefaultStock22] [varchar](30) NULL,
	[DefaultStock23] [varchar](30) NULL,
	[DefaultStock24] [varchar](30) NULL,
	[DefaultStock25] [varchar](30) NULL,
	[DefaultStock26] [varchar](30) NULL,
	[DefaultStock27] [varchar](30) NULL,
	[DefaultStock28] [varchar](30) NULL,
	[DefaultStock29] [varchar](30) NULL,
	[DefaultStock30] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MundaneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WesternWoodlands]    Script Date: 3/13/2026 12:22:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WesternWoodlands](
	[MundaneId] [int] NOT NULL,
	[Image] [int] NOT NULL,
	[ScriptKey] [varchar](20) NOT NULL,
	[EnableWalking] [bit] NOT NULL,
	[EnableTurning] [bit] NOT NULL,
	[EnableSpeech] [bit] NOT NULL,
	[SpeechOne] [varchar](80) NULL,
	[SpeechTwo] [varchar](80) NULL,
	[SpeechThree] [varchar](80) NULL,
	[SpeechFour] [varchar](80) NULL,
	[SpeechFive] [varchar](80) NULL,
	[X] [int] NOT NULL,
	[Y] [int] NOT NULL,
	[AreaId] [int] NOT NULL,
	[Direction] [int] NOT NULL,
	[WayPointOne] [varchar](7) NULL,
	[WayPointTwo] [varchar](7) NULL,
	[WayPointThree] [varchar](7) NULL,
	[WayPointFour] [varchar](7) NULL,
	[WayPointFive] [varchar](7) NULL,
	[PathFinder] [varchar](10) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[DefaultStock1] [varchar](30) NULL,
	[DefaultStock2] [varchar](30) NULL,
	[DefaultStock3] [varchar](30) NULL,
	[DefaultStock4] [varchar](30) NULL,
	[DefaultStock5] [varchar](30) NULL,
	[DefaultStock6] [varchar](30) NULL,
	[DefaultStock7] [varchar](30) NULL,
	[DefaultStock8] [varchar](30) NULL,
	[DefaultStock9] [varchar](30) NULL,
	[DefaultStock10] [varchar](30) NULL,
	[DefaultStock11] [varchar](30) NULL,
	[DefaultStock12] [varchar](30) NULL,
	[DefaultStock13] [varchar](30) NULL,
	[DefaultStock14] [varchar](30) NULL,
	[DefaultStock15] [varchar](30) NULL,
	[DefaultStock16] [varchar](30) NULL,
	[DefaultStock17] [varchar](30) NULL,
	[DefaultStock18] [varchar](30) NULL,
	[DefaultStock19] [varchar](30) NULL,
	[DefaultStock20] [varchar](30) NULL,
	[DefaultStock21] [varchar](30) NULL,
	[DefaultStock22] [varchar](30) NULL,
	[DefaultStock23] [varchar](30) NULL,
	[DefaultStock24] [varchar](30) NULL,
	[DefaultStock25] [varchar](30) NULL,
	[DefaultStock26] [varchar](30) NULL,
	[DefaultStock27] [varchar](30) NULL,
	[DefaultStock28] [varchar](30) NULL,
	[DefaultStock29] [varchar](30) NULL,
	[DefaultStock30] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MundaneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Abel] ADD  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[Abel] ADD  DEFAULT ((0)) FOR [EnableWalking]
GO
ALTER TABLE [dbo].[Abel] ADD  DEFAULT ((0)) FOR [EnableTurning]
GO
ALTER TABLE [dbo].[Abel] ADD  DEFAULT ((0)) FOR [EnableSpeech]
GO
ALTER TABLE [dbo].[Abel] ADD  DEFAULT ((0)) FOR [X]
GO
ALTER TABLE [dbo].[Abel] ADD  DEFAULT ((0)) FOR [Y]
GO
ALTER TABLE [dbo].[Abel] ADD  DEFAULT ((0)) FOR [Direction]
GO
ALTER TABLE [dbo].[Arena] ADD  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[Arena] ADD  DEFAULT ((0)) FOR [EnableWalking]
GO
ALTER TABLE [dbo].[Arena] ADD  DEFAULT ((0)) FOR [EnableTurning]
GO
ALTER TABLE [dbo].[Arena] ADD  DEFAULT ((0)) FOR [EnableSpeech]
GO
ALTER TABLE [dbo].[Arena] ADD  DEFAULT ((0)) FOR [X]
GO
ALTER TABLE [dbo].[Arena] ADD  DEFAULT ((0)) FOR [Y]
GO
ALTER TABLE [dbo].[Arena] ADD  DEFAULT ((0)) FOR [Direction]
GO
ALTER TABLE [dbo].[CthonicRemains] ADD  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[CthonicRemains] ADD  DEFAULT ((0)) FOR [EnableWalking]
GO
ALTER TABLE [dbo].[CthonicRemains] ADD  DEFAULT ((0)) FOR [EnableTurning]
GO
ALTER TABLE [dbo].[CthonicRemains] ADD  DEFAULT ((0)) FOR [EnableSpeech]
GO
ALTER TABLE [dbo].[CthonicRemains] ADD  DEFAULT ((0)) FOR [X]
GO
ALTER TABLE [dbo].[CthonicRemains] ADD  DEFAULT ((0)) FOR [Y]
GO
ALTER TABLE [dbo].[CthonicRemains] ADD  DEFAULT ((0)) FOR [Direction]
GO
ALTER TABLE [dbo].[Evermore] ADD  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[Evermore] ADD  DEFAULT ((0)) FOR [EnableWalking]
GO
ALTER TABLE [dbo].[Evermore] ADD  DEFAULT ((0)) FOR [EnableTurning]
GO
ALTER TABLE [dbo].[Evermore] ADD  DEFAULT ((0)) FOR [EnableSpeech]
GO
ALTER TABLE [dbo].[Evermore] ADD  DEFAULT ((0)) FOR [X]
GO
ALTER TABLE [dbo].[Evermore] ADD  DEFAULT ((0)) FOR [Y]
GO
ALTER TABLE [dbo].[Evermore] ADD  DEFAULT ((0)) FOR [Direction]
GO
ALTER TABLE [dbo].[Generic] ADD  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[Generic] ADD  DEFAULT ((0)) FOR [EnableWalking]
GO
ALTER TABLE [dbo].[Generic] ADD  DEFAULT ((0)) FOR [EnableTurning]
GO
ALTER TABLE [dbo].[Generic] ADD  DEFAULT ((0)) FOR [EnableSpeech]
GO
ALTER TABLE [dbo].[Generic] ADD  DEFAULT ((0)) FOR [X]
GO
ALTER TABLE [dbo].[Generic] ADD  DEFAULT ((0)) FOR [Y]
GO
ALTER TABLE [dbo].[Generic] ADD  DEFAULT ((0)) FOR [Direction]
GO
ALTER TABLE [dbo].[Loures] ADD  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[Loures] ADD  DEFAULT ((0)) FOR [EnableWalking]
GO
ALTER TABLE [dbo].[Loures] ADD  DEFAULT ((0)) FOR [EnableTurning]
GO
ALTER TABLE [dbo].[Loures] ADD  DEFAULT ((0)) FOR [EnableSpeech]
GO
ALTER TABLE [dbo].[Loures] ADD  DEFAULT ((0)) FOR [X]
GO
ALTER TABLE [dbo].[Loures] ADD  DEFAULT ((0)) FOR [Y]
GO
ALTER TABLE [dbo].[Loures] ADD  DEFAULT ((0)) FOR [Direction]
GO
ALTER TABLE [dbo].[Lynith] ADD  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[Lynith] ADD  DEFAULT ((0)) FOR [EnableWalking]
GO
ALTER TABLE [dbo].[Lynith] ADD  DEFAULT ((0)) FOR [EnableTurning]
GO
ALTER TABLE [dbo].[Lynith] ADD  DEFAULT ((0)) FOR [EnableSpeech]
GO
ALTER TABLE [dbo].[Lynith] ADD  DEFAULT ((0)) FOR [X]
GO
ALTER TABLE [dbo].[Lynith] ADD  DEFAULT ((0)) FOR [Y]
GO
ALTER TABLE [dbo].[Lynith] ADD  DEFAULT ((0)) FOR [Direction]
GO
ALTER TABLE [dbo].[Mehadi] ADD  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[Mehadi] ADD  DEFAULT ((0)) FOR [EnableWalking]
GO
ALTER TABLE [dbo].[Mehadi] ADD  DEFAULT ((0)) FOR [EnableTurning]
GO
ALTER TABLE [dbo].[Mehadi] ADD  DEFAULT ((0)) FOR [EnableSpeech]
GO
ALTER TABLE [dbo].[Mehadi] ADD  DEFAULT ((0)) FOR [X]
GO
ALTER TABLE [dbo].[Mehadi] ADD  DEFAULT ((0)) FOR [Y]
GO
ALTER TABLE [dbo].[Mehadi] ADD  DEFAULT ((0)) FOR [Direction]
GO
ALTER TABLE [dbo].[Mileth] ADD  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[Mileth] ADD  DEFAULT ((0)) FOR [EnableWalking]
GO
ALTER TABLE [dbo].[Mileth] ADD  DEFAULT ((0)) FOR [EnableTurning]
GO
ALTER TABLE [dbo].[Mileth] ADD  DEFAULT ((0)) FOR [EnableSpeech]
GO
ALTER TABLE [dbo].[Mileth] ADD  DEFAULT ((0)) FOR [X]
GO
ALTER TABLE [dbo].[Mileth] ADD  DEFAULT ((0)) FOR [Y]
GO
ALTER TABLE [dbo].[Mileth] ADD  DEFAULT ((0)) FOR [Direction]
GO
ALTER TABLE [dbo].[Nobis] ADD  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[Nobis] ADD  DEFAULT ((0)) FOR [EnableWalking]
GO
ALTER TABLE [dbo].[Nobis] ADD  DEFAULT ((0)) FOR [EnableTurning]
GO
ALTER TABLE [dbo].[Nobis] ADD  DEFAULT ((0)) FOR [EnableSpeech]
GO
ALTER TABLE [dbo].[Nobis] ADD  DEFAULT ((0)) FOR [X]
GO
ALTER TABLE [dbo].[Nobis] ADD  DEFAULT ((0)) FOR [Y]
GO
ALTER TABLE [dbo].[Nobis] ADD  DEFAULT ((0)) FOR [Direction]
GO
ALTER TABLE [dbo].[NorthPole] ADD  CONSTRAINT [DF__NorthPole__Image__57DD0BE4]  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[NorthPole] ADD  CONSTRAINT [DF__NorthPole__Enabl__58D1301D]  DEFAULT ((0)) FOR [EnableWalking]
GO
ALTER TABLE [dbo].[NorthPole] ADD  CONSTRAINT [DF__NorthPole__Enabl__59C55456]  DEFAULT ((0)) FOR [EnableTurning]
GO
ALTER TABLE [dbo].[NorthPole] ADD  CONSTRAINT [DF__NorthPole__Enabl__5AB9788F]  DEFAULT ((0)) FOR [EnableSpeech]
GO
ALTER TABLE [dbo].[NorthPole] ADD  CONSTRAINT [DF__NorthPole__X__5BAD9CC8]  DEFAULT ((0)) FOR [X]
GO
ALTER TABLE [dbo].[NorthPole] ADD  CONSTRAINT [DF__NorthPole__Y__5CA1C101]  DEFAULT ((0)) FOR [Y]
GO
ALTER TABLE [dbo].[NorthPole] ADD  CONSTRAINT [DF__NorthPole__Direc__5D95E53A]  DEFAULT ((0)) FOR [Direction]
GO
ALTER TABLE [dbo].[Oren] ADD  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[Oren] ADD  DEFAULT ((0)) FOR [EnableWalking]
GO
ALTER TABLE [dbo].[Oren] ADD  DEFAULT ((0)) FOR [EnableTurning]
GO
ALTER TABLE [dbo].[Oren] ADD  DEFAULT ((0)) FOR [EnableSpeech]
GO
ALTER TABLE [dbo].[Oren] ADD  DEFAULT ((0)) FOR [X]
GO
ALTER TABLE [dbo].[Oren] ADD  DEFAULT ((0)) FOR [Y]
GO
ALTER TABLE [dbo].[Oren] ADD  DEFAULT ((0)) FOR [Direction]
GO
ALTER TABLE [dbo].[Piet] ADD  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[Piet] ADD  DEFAULT ((0)) FOR [EnableWalking]
GO
ALTER TABLE [dbo].[Piet] ADD  DEFAULT ((0)) FOR [EnableTurning]
GO
ALTER TABLE [dbo].[Piet] ADD  DEFAULT ((0)) FOR [EnableSpeech]
GO
ALTER TABLE [dbo].[Piet] ADD  DEFAULT ((0)) FOR [X]
GO
ALTER TABLE [dbo].[Piet] ADD  DEFAULT ((0)) FOR [Y]
GO
ALTER TABLE [dbo].[Piet] ADD  DEFAULT ((0)) FOR [Direction]
GO
ALTER TABLE [dbo].[Rionnag] ADD  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[Rionnag] ADD  DEFAULT ((0)) FOR [EnableWalking]
GO
ALTER TABLE [dbo].[Rionnag] ADD  DEFAULT ((0)) FOR [EnableTurning]
GO
ALTER TABLE [dbo].[Rionnag] ADD  DEFAULT ((0)) FOR [EnableSpeech]
GO
ALTER TABLE [dbo].[Rionnag] ADD  DEFAULT ((0)) FOR [X]
GO
ALTER TABLE [dbo].[Rionnag] ADD  DEFAULT ((0)) FOR [Y]
GO
ALTER TABLE [dbo].[Rionnag] ADD  DEFAULT ((0)) FOR [Direction]
GO
ALTER TABLE [dbo].[Rucesion] ADD  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[Rucesion] ADD  DEFAULT ((0)) FOR [EnableWalking]
GO
ALTER TABLE [dbo].[Rucesion] ADD  DEFAULT ((0)) FOR [EnableTurning]
GO
ALTER TABLE [dbo].[Rucesion] ADD  DEFAULT ((0)) FOR [EnableSpeech]
GO
ALTER TABLE [dbo].[Rucesion] ADD  DEFAULT ((0)) FOR [X]
GO
ALTER TABLE [dbo].[Rucesion] ADD  DEFAULT ((0)) FOR [Y]
GO
ALTER TABLE [dbo].[Rucesion] ADD  DEFAULT ((0)) FOR [Direction]
GO
ALTER TABLE [dbo].[Suomi] ADD  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[Suomi] ADD  DEFAULT ((0)) FOR [EnableWalking]
GO
ALTER TABLE [dbo].[Suomi] ADD  DEFAULT ((0)) FOR [EnableTurning]
GO
ALTER TABLE [dbo].[Suomi] ADD  DEFAULT ((0)) FOR [EnableSpeech]
GO
ALTER TABLE [dbo].[Suomi] ADD  DEFAULT ((0)) FOR [X]
GO
ALTER TABLE [dbo].[Suomi] ADD  DEFAULT ((0)) FOR [Y]
GO
ALTER TABLE [dbo].[Suomi] ADD  DEFAULT ((0)) FOR [Direction]
GO
ALTER TABLE [dbo].[Tagor] ADD  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[Tagor] ADD  DEFAULT ((0)) FOR [EnableWalking]
GO
ALTER TABLE [dbo].[Tagor] ADD  DEFAULT ((0)) FOR [EnableTurning]
GO
ALTER TABLE [dbo].[Tagor] ADD  DEFAULT ((0)) FOR [EnableSpeech]
GO
ALTER TABLE [dbo].[Tagor] ADD  DEFAULT ((0)) FOR [X]
GO
ALTER TABLE [dbo].[Tagor] ADD  DEFAULT ((0)) FOR [Y]
GO
ALTER TABLE [dbo].[Tagor] ADD  DEFAULT ((0)) FOR [Direction]
GO
ALTER TABLE [dbo].[TempleofLight] ADD  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[TempleofLight] ADD  DEFAULT ((0)) FOR [EnableWalking]
GO
ALTER TABLE [dbo].[TempleofLight] ADD  DEFAULT ((0)) FOR [EnableTurning]
GO
ALTER TABLE [dbo].[TempleofLight] ADD  DEFAULT ((0)) FOR [EnableSpeech]
GO
ALTER TABLE [dbo].[TempleofLight] ADD  DEFAULT ((0)) FOR [X]
GO
ALTER TABLE [dbo].[TempleofLight] ADD  DEFAULT ((0)) FOR [Y]
GO
ALTER TABLE [dbo].[TempleofLight] ADD  DEFAULT ((0)) FOR [Direction]
GO
ALTER TABLE [dbo].[TempleofVoid] ADD  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[TempleofVoid] ADD  DEFAULT ((0)) FOR [EnableWalking]
GO
ALTER TABLE [dbo].[TempleofVoid] ADD  DEFAULT ((0)) FOR [EnableTurning]
GO
ALTER TABLE [dbo].[TempleofVoid] ADD  DEFAULT ((0)) FOR [EnableSpeech]
GO
ALTER TABLE [dbo].[TempleofVoid] ADD  DEFAULT ((0)) FOR [X]
GO
ALTER TABLE [dbo].[TempleofVoid] ADD  DEFAULT ((0)) FOR [Y]
GO
ALTER TABLE [dbo].[TempleofVoid] ADD  DEFAULT ((0)) FOR [Direction]
GO
ALTER TABLE [dbo].[Tutorial] ADD  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[Tutorial] ADD  DEFAULT ((0)) FOR [EnableWalking]
GO
ALTER TABLE [dbo].[Tutorial] ADD  DEFAULT ((0)) FOR [EnableTurning]
GO
ALTER TABLE [dbo].[Tutorial] ADD  DEFAULT ((0)) FOR [EnableSpeech]
GO
ALTER TABLE [dbo].[Tutorial] ADD  DEFAULT ((0)) FOR [X]
GO
ALTER TABLE [dbo].[Tutorial] ADD  DEFAULT ((0)) FOR [Y]
GO
ALTER TABLE [dbo].[Tutorial] ADD  DEFAULT ((0)) FOR [Direction]
GO
ALTER TABLE [dbo].[Undine] ADD  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[Undine] ADD  DEFAULT ((0)) FOR [EnableWalking]
GO
ALTER TABLE [dbo].[Undine] ADD  DEFAULT ((0)) FOR [EnableTurning]
GO
ALTER TABLE [dbo].[Undine] ADD  DEFAULT ((0)) FOR [EnableSpeech]
GO
ALTER TABLE [dbo].[Undine] ADD  DEFAULT ((0)) FOR [X]
GO
ALTER TABLE [dbo].[Undine] ADD  DEFAULT ((0)) FOR [Y]
GO
ALTER TABLE [dbo].[Undine] ADD  DEFAULT ((0)) FOR [Direction]
GO
ALTER TABLE [dbo].[WesternWoodlands] ADD  DEFAULT ((0)) FOR [Image]
GO
ALTER TABLE [dbo].[WesternWoodlands] ADD  DEFAULT ((0)) FOR [EnableWalking]
GO
ALTER TABLE [dbo].[WesternWoodlands] ADD  DEFAULT ((0)) FOR [EnableTurning]
GO
ALTER TABLE [dbo].[WesternWoodlands] ADD  DEFAULT ((0)) FOR [EnableSpeech]
GO
ALTER TABLE [dbo].[WesternWoodlands] ADD  DEFAULT ((0)) FOR [X]
GO
ALTER TABLE [dbo].[WesternWoodlands] ADD  DEFAULT ((0)) FOR [Y]
GO
ALTER TABLE [dbo].[WesternWoodlands] ADD  DEFAULT ((0)) FOR [Direction]
GO
